<p><label>受助学校编号</label><%= form.text_field :school_id, :size => 10, :class => "text" %></p>
<p><label>对应公益产品数量</label><%= form.text_field :quantity, :size => 10, :class => "text" %></p>
<p><label>状态</label><%= form.text_field :status ,:size => 1 %> ("0"=> 完成，"1"=> 正在接受捐赠，"3"候选)</p>
<p><label>&nbsp;</label><%= form.check_box :hidden %> 隐藏起来，不在网站上显示</p>
<p><label>&nbsp;</label><%= form.check_box :for_team %> 团队认领，声明：<%= form.text_field :for_team_tip, :size => 20 %></p>
<p><label>备注</label><%= fckeditor_textarea("requirement", "notes_html", :toolbarSet => 'Simple', :width => '90%', :height => '400px') %></p>