<% @page_title = "创建一个新需求" -%>

<% content_for :sidebar do -%>

  <%= render :partial => "/admin/public/operation_list" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>添加一所需要<%= h @type.title %> 的学校</h2>
      <div class="contents">
        <% form_for :requirement, :url => admin_requirement_type_requirements_url do |f| -%>
        <%= render :partial => "form", :object => f %>
        <p><label>&nbsp;</label><%= submit_tag "创建" %> 或 <%= link_to "返回", admin_requirement_type_requirements_url(@type) %></p>
        <% end -%>
      </div>
    </div>
  </div>
</div>