<div class="form_box">
  <span class="span_title2">一 团队基本信息</span>
  <div class="contents" style="padding-left:10px">    
    <p>
      <label class="label">团队名称<span style="color:red;">＊</span></label>
      <%= form.text_field :name, :size => 21, :class => "formText" %> <%= error_message_on @team, :name %> 12个字以内
    </p>
    
    <p>
      <label class="label">团队类型<span style="color:red;">＊</span></label>
      <%= form.select :category, [['请选择',''], '基金会','NGO','学生社团','志愿者团队','其他'] %> <%= error_message_on @team, :category %>
    </p>
    
    <p>
      <label class="label">所在位置<span style="color:red;">＊</span></label>
      <%= geo_select "team", "geo",nil,@team.geo_id %> <%= error_message_on @team, :geo_id%>
    </p>
    
    <p>
      <label class="label">团队人数　</label>
      <%= form.text_field :member_number, :size => 10, :class => "formText" %> <%= error_message_on @team, :member_number %>
    </p>
    
    <p>
      <label class="label">团队网站　</label>
      <%= form.text_field :website, :size => 20, :class => "formText" %> <%= error_message_on @team, :website %>
    </p>
      
    <p>
      <label class="label">标志(Logo)</label> <span class="gary_span">为了更好的显示效果，建议使用正方形图片<span>
      <br/><%= form.file_field :image,:style => "margin-left:70px" %> <%= error_message_on @team, :image%>
    </p>
    
    <p>
      <label class="label">团队介绍<span style="color:red;">＊</span></label>
      <span class="gary_span">团队介绍会显示在团队首页里。</span>  <%= error_message_on @team, :description %><br/>
      <%= form.text_area :"description", :style => 'width:360px;height:90px;margin-left:70px'  %>
    </p>
    
  </div>
</div>

<div class="form_box">
  <span class="span_title2">二 团队申请人信息</span>
  <div class="contents" style="padding-left:10px">    
    <p>
      <label class="label">真实姓名<span style="color:red;">＊</span></label>
      <%= form.text_field :applicant_name, :size => 20, :class => "formText" %> <%= error_message_on @team, :applicant_name %>
    </p>
    <p>
      <label class="label">联系电话<span style="color:red;">＊</span></label>
      <%= form.text_field :applicant_phone, :size => 20, :class => "formText" %> <%= error_message_on @team, :applicant_phone %>
    </p>
    <p>
      <label class="label">电子邮箱<span style="color:red;">＊</span></label>
      <%= form.text_field :applicant_email, :size => 20, :class => "formText" %> <%= error_message_on @team, :applicant_email %>
    </p>
    <p>
      <label class="label">团队职位<span style="color:red;">＊</span></label>
      <%= form.text_field :applicant_role, :size => 20, :class => "formText" %> <%= error_message_on @team, :applicant_role %>
    </p>
  </div>
</div>

<div class="form_box">
  <span class="span_title2">三 申请协议</span>
  <div class="contents" style="padding-left:10px">    
    <p>作为申请人，我承诺以上申请的为真实信息，且我是该团队的负责人或核心成员。
    <br/>团队页面需要通过多背一公斤网站的审核才可正式创建，多背一公斤网站有权力取消不符合上述要求团队的页面。
    </p>
    <p><%= form.check_box :agree_service_terms %> <span class="require">*</span> 我同意 <%= error_message_on @team, :agree_service_terms %></p>
  </div>
</div>