<% @page_title = "公益团队" -%>

<% content_for :sidebar do -%>
  
  <% if @myteams && !@myteams.empty?%>
  
  <div class="box">
    <h3>我管理的团队</h3>
      <%= render :partial => "/public/user_list", :locals => {:users => @myteams} %>
  </div>
  <% end %>

  <div class="box">
    <h3>我关注的团队</h3>
    <% if current_user%>
      <% if @followingteams.empty?%>
        暂无
      <%else%>
        <%= render :partial => "/public/user_list", :locals => {:users => @followingteams} %>
      <%end%>
    <%else%>
      请 <%= link_to "登录", login_path(:to => CGI.escape(request.request_uri)) %>  或 <%= link_to "注册", signup_path(:to => CGI.escape(request.request_uri)) %>
    <% end %>
  </div>
  
<%end%>

<div class="box">
  <div style="float:right;position:relative;top:2px"><%= link_to "创建团队", new_team_url,:class => "buttonjoin" %></div>
    <h3>全部团队</h3>
    <%= render :partial => "/public/team", :collection => @teams %>
</div>

<div class="box">
    <h3>团队活动</h3>
    <%= render :partial => "/public/activity", :collection => @activities%>
</div>

<div class="box">
  <h3>团队话题</h3>
  <table>
    <tr>
      <th style="width:35%;">话题</th>
      <th style="width:20%;">团队</th>
      <th style="width:15%">作者</th>
      <th style="width:7%;">回复</th>
      <th style="width:23%;">最后回复</th>
    </tr>
    <% @topics.each do |t| -%>
    <tr>
      <td><%= link_to t.title, t %></td>
      <td><%= link_to t.boardable.name,t.boardable %></td>
      <td><%= t.user.login %></td>
      <td><%= t.comments_count %></td>
      <td><%= link_to "#{ month_and_day t.last_replied_datetime} by #{t.last_replied_user.login}", "#{url_for(t)}##{(t.comments.last.id if t.comments.last)}", :class => "link" %></td>
    </tr>
    <% end -%>
  </table>
</div>
