<script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>
<%= javascript_include_tag 'jquery','application.js' %>
<h4>团队服务地图</span>

<div id="map_div" style="width: 530px; height: 350px;"></div>
<p style="color:#888;font-size:13px;margin:6px"><%= image_tag('/images/team.png') %> > 团队位置　 <%= image_tag('/images/m0.png') %> > 服务学校</p>
<% if @edit%><p style="font-size:13px;color:#444;margin:6px"><span>团队管理员注意：<br/> 你可以拖动团队图标修改团队位置,调整地图缩放级别。 修改后请<a id="ok" href="#" style="text-decoration:none;font-weight:bold;color:#569701" > 保存修改 </a></span></p><%end%>

<script type="text/javascript">
  var schools = <%= @json.to_json %>;
  var map;
  function initializeBig() {
    if (GBrowserIsCompatible()) {
      map = new GMap2(document.getElementById("map_div"));
      map.setCenter(new GLatLng(<%= @map_center[0].to_f %>, <%= @map_center[1].to_f %>), <%= @map_center[2] %>);
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());
      map.addControl(new GScaleControl());
      
      school_icon = new GIcon(); team_icon = new GIcon();
      school_icon.image = "/images/m0.png"; team_icon.image = "/images/team.png";
      school_icon.shadow = team_icon.shadow =null;
      school_icon.iconSize = team_icon.iconSize = new GSize(16, 20);
      school_icon.shadowSize = team_icon.shadowSize =null;
      school_icon.iconAnchor = team_icon.iconAnchor = new GPoint(8,10 );
      school_icon.infoWindowAnchor = new GPoint(8, 6);
        
      
      var point = new GLatLng(<%= @map_center[0].to_f %>, <%= @map_center[1].to_f %>);
      bigmarker = new GMarker(point,{icon:team_icon});
      greenmarker = new GMarker(point, {icon:team_icon,draggable: 'true'});
      
      <% if current_user && @team.leaders.include?(current_user)%>
      GEvent.addDomListener(document.getElementById("ok"), "click", function() {
        jQuery.ajax({
          type: 'PUT',
          url: '<%= team_path(@team) %>',
          data: 'longitude=' + greenmarker.getPoint().lng() + '&latitude=' + greenmarker.getPoint().lat() + '&zoom_level=' + map.getZoom(),
          dataType: "script",
        });
        alert("修改成功，刷新页面即可生效")
      });
      <% end %>

      map.addOverlay(bigmarker);
      
      
        var markers = [];
 
        for (var i = 0; i < schools.length; ++i) {
          var point = new GLatLng(schools[i].a, schools[i].o)
          var marker = new GMarker(point, {icon: school_icon, title: schools[i].n});
          GEvent.addListener(marker, "click", markerClickFn(point, schools[i].i)); 
          markers.push(marker);
          map.addOverlay(marker);
        }  
      
      
    }
  };
  function edit_position(){bigmarker.remove();map.addOverlay(greenmarker);$('#drag').hide();$('#sure').show(); }
  window.onload = function(){initializeBig(); bigmarker.disableDragging();<%= "edit_position();" if @edit%>}
</script>
