<% @page_title = @title = "#{h @team.name}的组织者管理" -%>

<% content_for :crumb do -%>
<li><%= link_to '团队', teams_path %></li>
<li><%= @team.name %></li>
<% end -%>


<% content_for :sidebar do -%>
<p>&raquo; <%= link_to "返回#{@team.name}", @team %></p>
<% end -%>

<div style="margin:0 10px 30px;color:#666;font-size:13px">注意：团队组织者可以以团队名义发起活动、编辑团队信息、添加其他组织者。<br/>　　　在添加后不能直接删除，添加新的组织者时请务必谨慎。</div>


<div class="newbox">
    <span class="span_title">添加组织者</span>
      <% form_tag search_user_team_path, :method => :get do -%>
      <div style="padding:3px 10px;background:#eee"><label>输入用户的登录邮箱: </label><%= text_field_tag 'email' %> <%= submit_tag "查 找" %></div>
      <% end -%>
      <% unless @user.nil? %>
      <p><h6>搜索结果：</h6>
        <dl class="user">
          <dt>
            <%= avatar_for(@user, "large") %>
          </dt>
          <dd>
            <%= link_to @user.login, user_url(@user) %><br/>
            <%= link_to '添加组织者',add_team_url(@team,:user_id => @user.id),:method => :post,:confirm => '您确定要添加他/她为团队组织者么?'%>
          </dd>
        <dl>
      </p>
                
      <% end %>
</div>

<div class="cleanfix" style="height:20px;clear:both"></div>

<div class="newbox">
  <span class="span_title">现有组织者</span>
  <div class="cleanfix" style="height:10px"></div>
  <% @team.allowed_leaders.each do |user| %>
       <dl class="user">
          <dt>
            <%= avatar_for(user, "large") %>
          </dt>
          <dd>
            <%= link_to user.login, user_url(user) %><br/>
            
          </dd>          
        </dl> 
    <% end -%>
</div>

<div class="cleanfix" style="height:20px;clear:both"></div>

<% unless @team.leaderships.not_validated.empty?%>
<div class="newbox">
  <span class="span_title">申请加入者</span>
  <div class="cleanfix" style="height:10px"></div>
  <% @team.leaderships.not_validated.each do |l| %>
        <dl class="user">
          <dt>
            <%= avatar_for(l.user, "large") %>
          </dt>
          <dd >
            <%= link_to l.user.login, user_url(l.user) %><br/>
            <%= link_to '通过',allow_team_url(@team,:leadership_id => l.id),:method => :put,:confirm => '您确定要通过他/她的申请么?'%> | <%= link_to '拒绝',refuse_team_url(@team,:leadership_id => l.id),:method => :delete,:confirm => '您确定要拒绝他/她的申请么?'%>            
          </dd>          
        </dl> 
    <% end -%>
</div>
<%end%>
<div class="cleanfix" style="height:20px;clear:both"></div>
