<% @page_title = "#{h @team.name}" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
<%end%>

<% content_for :crumb do -%>
<li><%= link_to '团队', teams_path %></li>
<li><%= @team.name %></li>
<% end %>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

<div class="newbox">
    <div style="height:160px;width:160px;overflow:hidden;text-align:center;float:left">
      <%= image_tag(@team.image.url(:team_logo), :alt => 'Logo',:class => "activity_main") %>
    </div>

    <div style="margin-left:170px">
        <div style="float:right;text-align:right" >
        <% if @team.leaders.include?(current_user) -%>  
        <% elsif !@team.followers.include?(current_user) -%>
            <%= link_to "我要关注", follow_team_url(@team), :method => :post,:class => "buttonjoin2"%>
        <% else %>
            <span class="gary_span"><%= "你已关注这个团队<br/>#{link_to "取消关注?",unfollow_team_url(@team), :method => :delete}" %></span>
        <% end %>   
        </div>
       <h3><%= @team.name %></h3>
        <div style="margin:4px 0">位置： <%= "#{link_to @team.geo.parent.name,@team.geo.parent} >" if @team.geo.parent%> <%= link_to @team.geo.name,@team.geo %><br/>
        类型： <%= @team.category%><br/>
        <%= "网站： #{link_to @team.website,@team.website}<br/>" unless @team.website.empty? %>
        <%= "人数： #{@team.member_number} 人" if @team.member_number %>
        </div>
        <p>
            <h5>团队介绍</h5>
        <div class="toggle"><%= summary(@team,110) %><%= "..." if @team.description[110] %> <%= link_to "[更多]",'#',:onclick => "javascript:$('.toggle').toggle();return false"%></div>
        <div class="toggle" style="display:none"><%= @team.description %> <%= link_to "[收起]",'#',:onclick => "javascript:$('.toggle').toggle();return false"%></div>
        </p>
    </div>
</div>

<div class="clearfix" style="height:20px;clear:both"></div>
<div class="newbox">
  <span style="float:right"><%= link_to "发起活动", new_activity_team_url(@team),:class => "buttonlink"  if current_user && @team.leaders.include?(current_user)%></span>
  <h4>团队活动</h4>
  <%= render :partial => "/public/activity", :collection => @team.activities %>
  <div class="cleanfix" style="height:20px;clear:both"></div>
</div>

<div class="newbox">
  <div class="title_line"><h4>团队相册</h4></div>
   <%= render :partial => "/public/photo", :collection => @photos %>
  <div class="cleanfix" style="height:20px;clear:both"></div>
</div>


<div class="newbox">
  <% if @team.followers.include?(current_user)%>
    <span style="float:right"><%= link_to "写新话题", new_topic_url(:boardable_id => @team.id,:boardable_type => 'Team'),:class => "buttonlink" %></span>
  <% end %>
  <div class="title_line"><h4>团队话题</h4></div>
  <div class="cleanfix" style="height:5px"></div>
  <div class="contents">
    <%= render :partial => "/topics/topics", :locals => {:topics => @team.topics} %>
  </div>  
</div> 
<div class="clearfix" style="height:30px;clear:both"></div>

<% content_for :sidebar do -%>
  
  <% if current_user && @team.leaders.include?(current_user) %>
    <div id="admins">
        你是<%= @team.name %>的管理员，可以：<br/>
       <%= link_to "更新信息", edit_team_url(@team),:class => "adminbutton" %>
       <%= link_to "管理成员", set_leaders_team_url(@team),:class => "adminbutton"%>
       
    </div>
  <% end %>
  
  <div class="newbox">
    <%= render :partial => "team_map" %>
  </div>
<div class="clearfix" style="height:20px;clear:both"></div>
<div class="newbox">
 <h3>关注者</h3>
  <div class="cleanfix" style="height:5px"></div>
  <div class="contents">
    <%= render :partial => "/public/user_list", :locals => {:users => @followers} %>
  </div>  
</div> 

<% end %>
