<% @page_title = "#{h @team.name}" -%>

<% content_for :crumb do -%>
<li><%= link_to '团队', teams_path %></li>
<li><%= @team.name %></li>
<% end -%>


<div class="newbox">
    <div style="height:160px;width:160px;overflow:hidden;text-align:center;float:left">
      <%= image_tag(@team.image.url(:team_logo), :alt => 'Logo',:class => "activity_main") %>
    </div>

    <div id="module_meta">
      <span class="span_title"><%= @team.name %></span>　<span>创建人：<%= link_to @team.user.login,@team.user%></span>
      <p><%= @team.description %></p>
    </div>
</div>

<div class="clearfix" style="height:20px;clear:both"></div>
<div class="newbox">  
  <div class="title_line"><span class="span_title2">团队活动</span></div>
</div>

<div class="newbox">
  <div class="title_line"><span class="span_title2">团队话题</span></div>
  <div class="cleanfix" style="height:5px"></div>
  <div class="contents">
    <%= render :partial => "/topics/topics", :locals => {:board => @team.board, :topics => @team.board.topics} %>
  </div>
  <p style="text-align:right">&raquo; <%= link_to "浏览全部话题", board_url(@team.board) %> <%= link_to "写新话题", new_board_topic_url(@board),:class => "buttonlink" %></p>
</div> 
<div class="clearfix" style="height:30px;clear:both"></div>


<% content_for :sidebar do -%>
<span class="span_title">团队组织者</span><%= link_to "申请加入",apply_team_url(@team),:method => :post,:class => "adminbutton" if current_user && !@team.allowed_leaders.include?(current_user)%>
<div class="cleanfix" style="height:10px"></div>
  <%= render :partial => "/shared/user_list", :locals => {:users => @team.allowed_leaders} %>
<% end %>