<div class="box" id="topicCommentsList">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <p>用户配对<%= donations.size %>张，系统自动配对<%= @auto_donation_count %>张</p>
      <ol class="clearfix">
        <% donations.each do |s| -%>
        <li>
          <div class="avatar"><%= postcard_avatar_for s.user, "large" if s && s.user %></div>
          <div class="content">
            <p class="meta">
              <%= link_to s.user.login, user_url(s.user) %> 写于 <%= s.matched_at.to_date %>
            </p>
            <%= s.comment_html %>
          </div>
        </li>
        <% end -%>
        <%= customize_paginate donations %>
      </ol>
    </div>
  </div>
</div>