<table>
  <tr>
    <th>学校</th>
    <th style="width:130px">计划捐赠(册)</th>
    <th style="width:170px">已捐赠(册)</th>
  </tr>
  <% requirements.each do |b| -%>
  <tr>
    <td>
      <%= link_to b.school.title, school_url(b.school), :target => "_blank" %>
      <% if b.for_team? -%><br /><span style="font-size:11px;"><%= b.for_team_tip %></span><% end -%>
    </td>
    <td><%= b.quantity %></td>
    <td><%= progressbar b.matched_percent, :generate_css => true %> <%= b.matched_count %> <%= link_to "名单", minisite_postcard_donors_url(b.school) %></td>
  </tr>
  <% end -%>
</table>