<table>
  <tr>
    <th>学校</th>
    <th style="width:130px;">已捐赠(册)</th>
    <th style="width:130px">&nbsp;</th>
  </tr>
  <% requirements.each do |b| -%>
  <tr>
    <td>
      <%= link_to b.school.title, school_url(b.school), :target => "_blank" %>
      <% if b.for_team? -%><br /><span style="font-size:11px"><%= b.for_team_tip %></span><% end -%>
    </td>
    <td><%= progressbar b.matched_percent, :generate_css => true %> <%= b.matched_count %></td>
    <td><%= link_to "送给这所学校", minisite_postcard_give_url(b, :token => @donation.code), :method => :put, :confirm => "确定送给这所学校么？送出后不能修改" %></td>
  </tr>
  <% end -%>
</table>