<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/postcard.css" media="screen, projection" />
<script type="text/javascript" src="/javascripts/builder.js"></script>
<script type="text/javascript" src="/javascripts/lightbox.js"></script>
<link rel="stylesheet" href="/stylesheets/lightbox.css" type="text/css" media="screen" />


<% end -%>

<% @page_title = "公益信卡" -%>

<% content_for :crumb do -%>
<li>公益信卡</li>
<% end -%>

<% content_for :fullsize do -%>
<div style="display:block; clear:both">
  <img src="/images/postcard/postcard1.png" class="pc-love" />
  <div class="pc-intro">
    <div style="text-align:center"><img src="/images/postcard/love.png" /></div>
    <p>“让爱继续”以邮政信卡为载体，每张信卡定价人民币10元（含邮资）。</p>
    <p>每购买一张信卡，由多背一公斤代购卡者向灾区学校、贫困地区学校捐赠一本图书。</p>
    <p>登录1KG.org网站，输入信卡上的爱心密码，就可在学校列表中指定图书捐赠学校。</p>
    <p style="margin-top:20px;"><img src="/images/postcard/flow.png" /></p>
  </div>
</div>

<div class="box pc-photos">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>爱心相册</h3>
      <div class="contents clearfix">
          <a href="/images/postcard/kid1.png" rel="lightbox"><img src="/images/postcard/kid1.png"  width="200" height="150" /></a>
          <a href="/images/postcard/kid2.png" rel="lightbox"><img src="/images/postcard/kid2.png" width="200" height="150" /></a>
          <a href="/images/postcard/kid3.png" rel="lightbox"><img src="/images/postcard/kid3.png" width="200" height="150" /></a>
          <a href="/images/postcard/kid4.png" rel="lightbox"><img src="/images/postcard/kid4.png" width="200" height="150" /></a>
      </div>
    </div>
  </div>
</div>


<div style="float:left; width:600px; clear:none;">
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>输入爱心密码</h3>
        <div class="contents">
          <% if flash[:postcard_notice] -%>
    					<div class="flashNotice notice"><%= flash[:postcard_notice] %></div>
    			<% end -%>
    			<p style="font-size:14px; text-align:center; color:orange">亲爱的朋友们，从5.10信卡发售之日起可以进行在线密码配对 ;)</p>
          <%# form_tag minisite_postcard_password_url do -%>
            <%#= text_field_tag "password" %> <%#= submit_tag "提 交" %>
          <%# end -%>
        </div>
      </div>
    </div>
  </div>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>可捐赠图书的学校</h3>
        <div class="contents">
          <table>
            <tr>
              <th>学校</th>
              <th>计划捐赠(册)</th>
              <th>已捐</th>
            </tr>
            <% @school_bucks.each do |b| -%>
            <tr>
              <td><%= link_to b.school.title, school_url(b.school), :target => "_blank" %></td>
              <td><%= b.quantity %></td>
              <td><%= progressbar b.matched_percent, :generate_css => true %> <%= b.matched_percent_str %></td>
            </tr>
            <% end -%>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="box" >
    <div class="boxOuter">
      <div class="boxInner">
        <h3>留言板</h3>
        <p class="postNew"><%= link_to image_tag("submit_topic.png"), new_board_topic_url(@board), :target => "_blank"  %></p>
        <div class="contents">
          <%= render :partial => "/topics/topics", :locals => {:board => @board, :topics => @topics} %>
        </div>
        <p class="remark">&raquo; <%= link_to "更多话题", board_topics_url(@board), :target => "_blank"  %></p>
      </div>
    </div>
  </div>
</div>

<div style="float:left; width:330px; clear:none; margin-left:15px;">

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>如何购买</h3>
        <div class="contents">
          <p>公益信卡自5.10日起在四川省内45个邮政网点销售，其它地区的朋友可以通过淘宝网店在线购买（网店地址5.8日前公布）</p>
          <p>&raquo; <a href="http://1kg.org/misc/postcard-retail" target="_blank">四川销售网点清单</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <%= render :partial => "book_list" %>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>信卡说明</h3>
        <div class="contents">
          <p>&raquo; <a href="http://1kg.org/misc/postcard-sale-process" target="_blank">公益信卡销售进度</a></p>
          <p>&raquo; <a href="http://1kg.org/misc/postcard-ad-cost" target="_blank">公益信卡宣传费使用说明</a></p>
          <p>&raquo; <a href="http://1kg.org/misc/postcard-book-deliver-process" target="_blank">图书配送进展</a></p>
          <p>&raquo; <a href="http://1kg.org/misc/postcard-school-confirm" target="_blank">学校图书受赠证明</a></p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="box cooperation">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <div class="contents clearfix">
        <div class="block">
          <p><strong>发起:</strong> <a href="http://1kg.org" target="_blank">多背一公斤公益网站</a></p>
          <p><strong>主办:</strong> <a href="/misc/about" target="_blank">爱聚(北京)咨询有限公司</a></p>
        </div>
        <div class="block">
          <p><strong>贺卡设计:</strong> <a href="http://storygarden.me" target="_blank">奇遇花园</a></p>
          <p><strong>专题设计:</strong> <a href="www.plidezus.net" target="_blank">Plidezus</a></p>
        </div>
        <div class="block">
          <p><strong>特别支持单位:</strong> 四川省成都市邮政局</p>
        </div>
        
      </div>
    </div>
  </div>
  
  <div>
    
  </div>
</div>
<% end -%>