<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/postcard.css" media="screen, projection" />
<script type="text/javascript" src="/javascripts/builder.js"></script>
<script type="text/javascript" src="/javascripts/lightbox.js"></script>
<link rel="stylesheet" href="/stylesheets/lightbox.css" type="text/css" media="screen" />


<% end -%>

<% @page_title = "公益贺卡" -%>

<% content_for :crumb do -%>
<li>公益贺卡</li>
<% end -%>

<% content_for :fullsize do -%>
<div style="display:block; clear:both">
  <img src="/images/postcard/love.png" class="pc-love" />
  <div class="pc-intro">
    <p>“让爱继续”以邮政贺卡为载体，每张贺卡定价人民币10元（含邮资）。</p>
    <p>每购买一张贺卡，由多背一公斤向四川省灾区学校、贫困地区学校捐赠一本图书。</p>
    <p>登录1KG.org网站，输入贺卡上的爱心密码，就可在学校列表中指定图书捐赠学校。</p>
    <p style="margin-top:20px;"><img src="/images/postcard/flow.png" /></p>
  </div>
</div>

<div class="box pc-photos">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <div class="contents clearfix">
          <a href="/images/postcard/kid1.png" rel="lightbox"><img src="/images/postcard/kid1.png"  width="200" height="150" /></a>
          <a href="/images/postcard/kid2.png" rel="lightbox"><img src="/images/postcard/kid2.png" width="200" height="150" /></a>
          <a href="/images/postcard/kid3.png" rel="lightbox"><img src="/images/postcard/kid3.png" width="200" height="150" /></a>
          <a href="/images/postcard/kid4.png" rel="lightbox"><img src="/images/postcard/kid4.png" width="200" height="150" /></a>
      </div>
    </div>
  </div>
</div>

<div style="float:left; width:600px; clear:none;">

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>可捐赠的学校</h3>
        <div class="contents">
          <table>
            <tr>
              <th>学校</th>
              <th>班级数</th>
              <th>认领情况</th>
            </tr>
            <tr>
              <td><%= link_to "绵阳市跃进北路学校", school_url(3739), :target => "_blank" %></td>
              <td>18</td>
              <td><%= progressbar 0, :generate_css => true %> 0%</td>
            </tr>
            <tr>
              <td><%= link_to "高新区永顺路小学", school_url(3829), :target => "_blank" %></td>
              <td>19</td>
              <td><%= progressbar 0 %> 0%</td>
            </tr>
            <tr>
              <td><%= link_to "江油市城东小学", school_url(3830), :target => "_blank" %></td>
              <td>12</td>
              <td><%= progressbar 0 %> 0%</td>
            </tr>
            <tr>
              <td><%= link_to "响岩镇清水小学", school_url(3851), :target => "_blank" %></td>
              <td>6</td>
              <td><%= progressbar 0 %> 0%</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="box" >
    <div class="boxOuter">
      <div class="boxInner">
        <h3>讨论区</h3>
        <p class="postNew"><%= link_to image_tag("submit_topic.png"), new_board_topic_url(@board), :target => "_blank"  %></p>
        <div class="contents">
          <%= render :partial => "/topics/topics", :locals => {:board => @board, :topics => @topics} %>
        </div>
        <p class="remark">&raquo; <%= link_to "更多话题", board_topics_url(@board), :target => "_blank"  %></p>
      </div>
    </div>
  </div>
</div>

<div class="box" style="float:left; width:330px; clear:none; margin-left:15px;">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>捐赠书目</h3>
      <div class="contents clearfix">
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442789/" target="_blank"><img src="http://otho.douban.com/mpic/s2118676.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442789/" target="_blank">小女巫</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442790/" target="_blank"><img src="http://otho.douban.com/mpic/s2110097.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442790/" target="_blank">小水精</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1442788/" target="_blank"><img src="http://otho.douban.com/mpic/s2084718.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1442788/" target="_blank">小鬼儿</a></dd>
        </dl>
        <dl class="book">
          <dt><a href="http://www.douban.com/subject/1486596/" target="_blank"><img src="http://otho.douban.com/mpic/s2110096.jpg" /></a></dt>
          <dd><a href="http://www.douban.com/subject/1486596/" target="_blank">香草女巫</a></dd>
        </dl>
      </div>
      <p class="remark">&raquo; <a href="http://spreadsheets.google.com/pub?key=pAQhfnGSEP8MP7NMkXxY8Ow" target="_blank">全部书目</a></p>
    </div>
  </div>
</div>


<div class="box cooperation">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <div class="contents clearfix">
        <p><strong>发起:</strong> <a href="http://1kg.org" target="_blank">多背一公斤公益网站</a></p>
        <p><strong>主办:</strong> <a href="/misc/about" target="_blank">爱聚(北京)咨询有限公司</a></p>
        <p><strong>协办:</strong> 四川省成都市邮政局</p>
      </div>
    </div>
  </div>
</div>
<% end -%>