<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/postcard.css" media="screen, projection" />
<% end -%>

<% @page_title = "公益贺卡" -%>

<% content_for :sidebar do -%>
  <%= render :partial => "book_list" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>您想把书送给哪所学校？</h3>
      <div class="contents">
        <table>
          <tr>
            <th>学校</th>
            <th>已捐赠</th>
            <th>&nbsp;</th>
          </tr>
          <% @bucks.each do |b| -%>
          <tr>
            <td><%= link_to b.school.title, school_url(b.school), :target => "_blank" %></td>
            <td><%= progressbar b.matched_percent, :generate_css => true %> <%= b.matched_percent_str %></td>
            <td><%= link_to "送给这所学校", minisite_postcard_give_url(b, :token => @stuff.code), :method => :put, :confirm => "确定送给这所学校么？送出后不能修改" %></td>
          </tr>
          <% end -%>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Google Code for Activated postcard password Conversion Page --> <script language="JavaScript" type="text/javascript"> <!-- var google_conversion_id = 1048548952; var google_conversion_language = "zh_CN"; var google_conversion_format = "3"; var google_conversion_color = "ffffff"; var google_conversion_label = "7AdmCMr8jwEQ2Kz-8wM"; //--> </script> <script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js"> </script> <noscript> <img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1048548952/?label=7AdmCMr8jwEQ2Kz-8wM&amp;guid=ON&amp;script=0"/> </noscript>