
<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/kuailebox.css" media="screen, projection" />
<style type="text/css"> 
</style>
<% end -%>

<% @page_title = "快乐盒子 爱心图书室"  -%>

<% content_for :crumb do -%>
<li>快乐盒子 爱心图书室</li>
<% end -%>

<% content_for :fullsize do -%>
<img src="/images/kuailebox/banner.jpg" alt="快乐盒子" style="margin:10px;" />
<div class="lcolumn">
   
   <div class="boxouter">
     <h3>活动简介</h3>
     <div class="boxinter">
     <p>“爱心图书室”是快乐盒子（<a href="http://www.kuailebox.com">www.kuailebox.com</a>）与多背一公斤网站（<a href="http://1kg.org">www.1kg.org</a>）合作发起的公益活动。我们鼓励快乐盒子网站的用户，将购物所得的积分兑换爱心图书、捐赠自己支持的偶像家乡学校，帮助那里的乡村孩子们快乐阅读。我们已通过1kg.org公开征集了10所乡村学校，分别来自2009快乐女声十强选手所在家乡（上海除外）。</p>
     
     <p>捐出你在快乐盒子的积分给所支持的快乐女声，你所喜爱的“女声”每获得500个爱心积分，快乐盒子就为其家乡乡村学校捐购一本爱心图书。</p>
     <p>活动结束时，积分最多的“女声”家乡学校，将得到快乐盒子捐建的爱心图书室（图书室配置：1500册以上的适宜图书）。而爱心图书室的名字，可由你喜爱的“女声”决定。</p>
     <p>其余九所学校，快乐盒子将根据其获得的爱心积分情况，按500个积分对应一本图书的标准，捐购爱心图书！</p>
     
     <p>活动的进行时间为 2009年10月 至 2010年2月（包括完成乡村学校赠书环节）。</p>

    </div>
  </div>
  
  <div class="boxouter">
    <h3>小组讨论</h3>
    <div class="boxinter">
      <%= render :partial => "/topics/topics", :locals => { :board => @board, 
                                                            :topics => @board.latest_topics } %>
      <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
    </div>
  </div>
</div>

<div class="rcolumn">
  
  <div class="boxouter">
    <h3>参与活动</h3>
    <div class="boxinter">
    <p>您可以：</p>
      <p> 到<a class="buttonlink" title="快乐盒子" href='http://www.kuailebox.com/index.php?main_page=love_lib'>快乐盒子</a>使用积分，为学校增加图书。</p>
      <p> 参加<a class="buttonlink" title="志愿送书" href='http://www.1kg.org/activities/100662'>志愿送书</a>活动，亲手把图书带给孩子们。</p>
      <p> 我们同样欢迎您去<%= link_to "活动小组",group_url(@group), :target => "_blank",:class => "buttonlink" %>留言。</p>
      
    </div>
  </div>

  <div class="boxouter">
    <h3>学校列表</h3>
    <div class="boxinter" style="height:530px">
      <% @page = Page.find_by_slug('kuailebox-schools-list') -%>
      <%= render :text => @page.body if @page %>

    </div>
  </div>
  
</div>

<div id="misc" >
  <%= link_to image_tag("kuailebox/kuaileboxlogo.png"), "http://kuailebox.com", :target => "_blank" %> <%= link_to image_tag("kuailebox/1kglogo.gif"), root_url %>
</div>
<h1></h1>
<% end -%>
