<table>
  <tr>
    <th style="width:60%">学校</th>
    <th style="width:12%">捐赠(册)</th>
    <th style="width:28%">已捐赠（册）</th>
  </tr>
  <% requirements.each do |b| -%>
  <tr>
    <td>
      <div class="school_list_photo">
      <%= main_photo_thumb(b.school)%>
      </div>
      <div class="school_list_meta">
      <h4 style="font-size:14px;margin-bottom:10px"><%= link_to b.school.title, school_url(b.school), :target => "_blank" %></h4>
      <p><% if b.school.geo.parent %><%= link_to b.school.geo.parent.name.to_s,'/geos/'+b.school.geo.parent.id.to_s %> > <% end %><%= link_to b.school.geo.name.to_s,'/geos/'+b.school.geo.id.to_s %> <%= h b.school.basic.address %></p>
      <p>学校有
      <%unless b.school.basic.class_amount.blank?%><%= h b.school.basic.class_amount %>个班，<%end-%>
      <%unless b.school.basic.student_amount.blank?%><%= h b.school.basic.student_amount %>名学生<%end-%>。
      </p>
      
      </div>
    </td>
    <td><%= b.quantity %></td>
    <td><%= progressbar b.matched_percent, :generate_css => true %> <%= b.matched_count %></td>
  </tr>
  <% end -%>
</table>