<% @page_title = "写爱心留言 - 公益贺卡节日版" %>

<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/mooncake.css" media="screen, projection" />
<%#= render :partial => "head" %>
<% end -%>

<div>
  <div class="contents">
    <% form_tag minisite_festcard09_comment_url(:token => @stuff.code) do -%>
    <%= hidden_field_tag :status, "login" %>
    
    <%= render :partial => "/minisite/mooncake/dashboard/signup_and_login" %>
    
    <div id="schoolbox">
      <h3>书想送给哪个学校？</h3>
      <div class="boxinter">
        <%= render :partial => "schools", :locals => {:bucks => @bucks} %>
      </div>
    </div>
    
    <div id="commendbox">
    <h3>写爱心留言</h3>
    <div class="boxinter">
      <p><label></label><%= text_area_tag "comment", nil, :cols => 40, :rows => 4 ,:style => "width:500px;"%></p>
      
      <% if group = Group.find_by_slug('postcard') %>
      <p class="rememberMe">
        <%= check_box_tag 'join', 1, true %> 
        <label for="join_group">加入“<%= link_to "公益贺卡小组", group_url(group), :target => "_blank",:tabindex  => -1 %>”。</label>
      </p>
      <% end %>
      <p><label>&nbsp;</label><%= submit_tag "写好了，保存" %></p>
      </div>
    </div>
    <% end -%>

  </div>
    
</div>