<% @page_title = "登 录" %>
<% @body_class = "signinup" %>

<div style="margin:20px 40px">
    <h3>用户登录</h3>

    <% form_tag session_path do -%>
    <%= hidden_field_tag :to, params[:to] if params[:to] %>
    <p><label for="email" class="label">邮件地址</label> <%= text_field_tag 'email' %></p>
    
    <p><label for="password" class="label">密码</label> <%= password_field_tag 'password' %></p>
    
    <p class="rememberMe"><%= check_box_tag 'remember_me' %> <label for="remember_me" class="label">记住我</label></p>
    
    <p class="submit" style="padding-left:30px">
      <%= submit_tag '登 录' %>
      <%= link_to "忘记密码了？点击这里找回", forget_password_path %>
    </p>
    <% end -%>
    
    <p class="login">&raquo; 我还没有注册，<%= link_to "10秒钟轻松注册", signup_url %></p>

</div>

