<% @page_title = "博客" -%>


  <div class="new_box">
    <% @blogs.each do |blog| -%>
      <div class="blog_list">
        <%= link_to blog.title, blog_url(blog),:style => "font-size:18px;font-weight:bold"%><br/>
        <div id="entry">
          <%= blog.body_html%>
        </div>
        <span class="gary_span"><%= "分类：#{blog.category}" %>  作者：<%= link_to blog.user.login,user_url(blog.user)%> 发布时间：<%= blog.created_at.to_date%></span>
      </div>  
    <% end %>
  </div>
