<% unless comments.blank? -%>
  <div class="newbox" id="topicCommentsList">
        <span class="span_title">留言</span>
        <div class="cleanfix" style="height:10px"></div>
        <ol class="clearfix">
          <% comments.each do |comment| -%>
          <li>
            <div class="avatar"><%= avatar_for comment.user, "large" %></div>
            <div class="content">
              <p class="meta">
                <%= link_to comment.user.login, user_url(comment.user) %><%= envoy_badge(comment.user)%> 写于 <%= comment.created_at.to_date %>
                
                <% if comment.editable_by?(current_user) -%>
                  (<%= link_to "编辑", edit_comment_path(comment) %> | <%= link_to "删除", comment_path(comment), :confirm => "确定删除么？", :method => :delete %>)
                <% end -%>
              </p>
              <%= comment.body_html %>
            </div>
          </li>
          <% end -%>
        </ol>
        <%= customize_paginate comments%>
  </div>
<% end %>