<% unless comments.blank? -%>
  <div class="box" id="topicCommentsList">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>留言</h3>
        <ol class="clearfix">
          <% comments.each do |p| -%>
          <li>
            <div class="avatar"><%= avatar_for p.user, "large" %></div>
            <div class="content">
              <p class="meta">
                <%= link_to p.user.login, user_url(p.user) %> 写于 <%= p.created_at.to_date %>
                
                <% if p.editable_by?(current_user) -%>
                  (<%= link_to "编辑", edit_comment_url(p) %> | <%= link_to "删除", comment_url(p), :confirm => "确定删除么？", :method => :delete %>)
                <% end -%>
              </p>
              <%= p.body_html %>
            </div>
          </li>
          <% end -%>
        </ol>
        <%= customize_paginate (comments,'#topicCommentsList')%>
      </div>
    </div>
  </div>
<% end %>