
  <div id="topicCommentsList">
        <div style="background-color:#eee;padding:2px 6px 3px"><span class="span_title2">留言版</span></div>
        <div style="clear:both;height:10px"></div>
        <% unless comments.empty? -%>
        <ol>
          <%page = params[:page].to_i==0 ? 0 :(params[:page].to_i - 1)%>
          <% comments.each_with_index do |comment,index| -%>
          <li>
            <div class="avatar"><%= avatar_for comment.user, "large" %></div>
            <div class="content">
              <p class="meta">
                <%= "##{index+1+((page)*15)}" %>
                <%= link_to comment.user.login, user_url(comment.user) %>写于 <%= comment.created_at.to_date %>
                <%= link_to "回复", '#', :onclick => 'reply_comment(this); return false;' if comment.repliable? %>
                <% if logged_in? && comment.editable_by?(current_user) -%>
                  | <%= link_to "编辑", edit_comment_path(comment) %> | <%= link_to "删除", comment_path(comment), :confirm => "确定删除么？", :method => :delete %>
                <% end -%>
              </p>
              <%= comment.body_html %>
            </div>
            <div style="clear:both;height:15px"></div>
            <% if comment.repliable?  %>
              <div class="reply" style="display:none">
              <%= render :partial => "/comments/form", :locals => {:commentable => comment,:cancal => true} %>
              </div>
            <% end %>
            <%= render :partial => "/comments/replys", :object => comment.comments.paginate(:page => 1, :per_page => 100) unless comment.comments.blank?%>
          </li>
          <% end -%>
        </ol>
        <%= customize_paginate comments%>
        <% end %>
  </div>
