<% unless comments.blank? -%>
  <div class="newbox" id="topicCommentsList">
        <span class="span_title">回复</span>
        <div class="cleanfix" style="height:10px"></div>
        <ol class="clearfix">
          <%page = params[:page].to_i==0 ? 0 :(params[:page].to_i - 1)%>
          <% comments.each_with_index do |comment,index| -%>
          <li>
            <div class="avatar"><%= avatar_for comment.user, "large" %></div>
            <div class="content">
              <p class="meta">
                <%= "##{index+1+((page)*15)}" %>
                <%= link_to comment.user.login, user_url(comment.user) %>写于 <%= comment.created_at.to_date %>
                <%= link_to "回复", '#', :onclick => 'reply_comment(this); return false;' if comment.repliable? %>
                <% if comment.editable_by?(current_user) -%>
                  | <%= link_to "编辑", edit_comment_path(comment) %> | <%= link_to "删除", comment_path(comment), :confirm => "确定删除么？", :method => :delete %>
                <% end -%>
              </p>
              <%= comment.body_html %>
            </div>
            <% if comment.repliable?  %>
              <li class="reply" style="display:none;">
              <%= render :partial => "/comments/form", :locals => {:commentable => comment,:cancal => true} %>
              </li>
            <% end %>
            <%= render :partial => "/comments/replys", :object => comment.comments.paginate(:page => 1, :per_page => 100) unless comment.comments.blank?%>
          </li>
          <% end -%>
        </ol>
        <%= customize_paginate comments%>
  </div>
<% end %>