<div class="box" id="topicCommentForm">
  <% if logged_in? -%>
    <% form_for @comment do |f| -%>
      <%= f.hidden_field :commentable_type,:value => commentable.class.name %>
      <%= f.hidden_field :commentable_id,:value => commentable.id %>
      <p><%= f.text_area :body, :cols => 54, :rows => 6 %></p>
      <p class="submit"><%= submit_tag "回 复" %> <%if (cancal rescue false)%><input type="submit" value="取消" onclick="$(this).parent().parent().parent().parent().hide();return false"/><%end%>
      </p>
    <% end -%>
  <% else -%>
    <div class="contents"><%= link_to "登录", login_url(:to => CGI.escape(request.request_uri)) %>以后可以留言</div>
  <% end -%>
</div>
