<% @page_title = "权限管理" -%>

<% content_for :sidebar do -%>
  <p>> <%= link_to "返回管理后台", admin_url %></p>
  <%= render :partial => "/admin/shared/operation_list" %>
<% end -%>

<p><h4>> <%= link_to "创建新权限", new_admin_permission_path %></span></p>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>权限</th>
    <th>描述</th>
    <th>操作</th>
  </tr>
  <% @permissions.each do |permission| -%>
  <tr>
    <td><%= permission.identifier %></td>
    <td><%= permission.description %></td>
    <td><%= link_to "编辑", edit_admin_permission_path(permission) %> | <%= link_to "删除", admin_permission_path(permission), :confirm => "相关角色会自动删除这个权限，确认？", :method => :delete %></td>
  </tr>
  <% end -%>
</table>