<% 
activities = @share.new_record? ? current_user.participated_activities : (@share.user.participated_activities)
schools = @share.new_record? ? current_user.visited_schools : (@share.user.visited_schools)
%>


<p><label class="label">分享标题<span style="color:red;">＊</span></label>
<%= form.text_field :title, :size => 40, :class => "formText" %> <%= error_message_on @share, :title %>
</p>

<%if @geo.nil?%>
  <input style="display:none" type="text" name="share[geo_id]" value="<%= @share.geo_id ? @share.geo_id.to_s : 0%>"/>
<%else%>
  <input style="display:none" type="text" name="share[geo_id]" value="<%=@geo.id%>"/>
<%end%>

<p><label class="label">相关活动　</label>
<%if @activity.nil?%>
  <%= form.select :activity_id, activities.find(:all, :select => "activities.id, activities.title").collect{|a| [a.title, a.id]} + (@share.activity.nil? ? [] : [[@share.activity.title,@share.activity.id]] ), {:include_blank => true}  %>
<%else%>
  <%=@activity.title%>
  <input style="display:none" type="text" name="share[activity_id]" value="<%=@activity.id%>"/>
<%end%>
</p>

<p><label class="label">相关学校　</label>
<%if @school.nil?%>
  <%= form.select :school_id, schools.find(:all, :select => "schools.id, schools.title").collect{|s| [s.title, s.id]} + (@share.school.nil? ? [] : [[@share.school.title,@share.school.id]] ), {:include_blank => true} %>
<%else%>
  <%=@school.title%>
  <input style="display:none" type="text" name="share[school_id]" value="<%=@school.id%>"/>
<%end%>
</p>

<%unless @execution.nil?%>
<p><label class="label">相关项目　</label>
  <%="#{@execution.project.title} [#{@execution.community.title}]"%>
  <input style="display:none" type="text" name="share[execution_id]" value="<%=@execution.id%>"/>
</p>
<%end%>

<p>
  <%= form.text_area :body_html, :style => 'width:640px;height:480px;', :class => "mceEditor" %>
</p>

<p><label class="label" >附加标签</label>
<%= form.text_field :tag_list, :size => 40, :class => "formText" %>
<span>（以空格分隔不同标签）</span>
</p>