<% @page_title = @title = "全部分享" %>

<% content_for :sidebar do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>谁的分享最多?</h3>
      <div class="contents">
        <% @hot_users.each_with_index do |u,i| -%>
        <div class="clearfix">
          <div style="float:left; margin:5px 20px 5px 10px;">
            <%= link_to avatar_for(u, "medium"), user_url(u) %>
          </div>
          <div style="margin-top:5px;">
            <%= link_to u.login, user_url(u) %> &middot;&middot;&middot;&middot;&middot;&middot; <%= u.count %> 篇
          </div>          
        </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <div class="contents">
        <%= render :partial => "shared/share", :collection => @shares %>
        <%= customize_paginate @shares %>
      </div>
    </div>
  </div>
</div>