<% @page_title = "#{h @share.title} - 活动分享" -%>

<% content_for :sidebar do -%>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>Tags</h3>
        <div class="contents">
          <p>目的地城市 &raquo; <%= link_to @share.geo.name, geo_url(@share.geo) if @share.geo %></p>
          <p>分享的活动 &raquo; <%= link_to @share.activity.title, activity_url(@share.activity) if @share.activity %></p>
          <p>探访学校 &raquo; <%= link_to @share.school.title, school_url(@share.school) if @share.school %></p>
        </div>
      </div>
    </div>
  </div>
  
  <p>&raquo; <%= link_to "去#{@share.user.login}的空间", user_url(@share.user) %></p>
  <%= render :partial => '/shared/voters', :object => @voters %>
<% end -%>

<div class="box shareEntry">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= h @share.title %></h2>
      <small style="margin-left:26px" >标签：
          <% @share.tags.each do |tag| %>
            <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
          <% end %>
      </small>
      <div class="metadata">
        <div class="avatar"><%= link_to avatar_for(@share.user, "large"), user_url(@share.user) %></div>
        <p>
          <%= link_to @share.user.login, user_url(@share.user) %> 写于 <%= @share.created_at.to_date %> ...
          <%= @share.hits %> 浏览 / <%= @share.comments_count %> 回复
        </p>
      </div>
      
      <div class="entry">
        <%= @share.body_html %>
        <p style="text-align:right;margin:7px 0;padding-right:5px">
          <%= link_to @share.user.login, user_url(@share.user) %> 写于 <%= @share.created_at.to_date %>
        </p>
        <p id ="voting" style="text-align:right;margin:7px 0;">
        <span>已有 <%= @share.votes.count -%> 人推荐这篇分享 </span>
        <% if logged_in? -%>
          <% if current_user.voted?(@share) -%>
                        您已推荐了
          <% else -%>
            <%= link_to '我要推荐', vote_share_path(@share), :method => 'post', :class => 'buttonlink' %>
          <% end -%>
        <% else -%>
            <%= link_to "我要推荐", new_session_path(:to => share_path(@share)) ,:class => "buttonlink" -%>
        <% end -%>
        </p>
      </div>
      
      <% if @share.moderated_by?(current_user) -%>
      <p class="remark">&raquo; <%= link_to "编辑", edit_share_url(@share) %> | <%= link_to "删除", share_url(@share), :confirm => "确定删除么?", :method => :delete %></p>
      <% end -%>
    </div>
  </div>
</div>

<%= render :partial => "/comments/comments", :object => @comments %>

<%= render :partial => "/comments/write", :locals => {:type => "share", :value => @share.id} %>