<% @page_title = "#{h @share.title} - 活动分享" -%>

<% content_for :heads do -%>  
  <style type="text/css">
  .school_list_meta{width:160px;}
  </style>
<% end %>

<% content_for :sidebar do -%>

  <% if @share.activity_id %>
  <div class="newbox">
        <span class="span_title2">分享的活动</span>
        <div class="clearfix" style="height:10px"></div>
        <div class="contents">
           <%= render :partial => '/shared/activity', :object => @share.activity %>
           <div class="clearfix"></div>
        </div>
  </div>
  <% end %>
  
  <%if @share.school_id%>
    <div class="newbox">
        <span class="span_title2">相关学校</span>
        <div class="clearfix" style="height:10px"></div>
        <div class="contents">
          <%= render :partial => '/shared/school', :object => @share.school %>
          <div class="clearfix"></div>
        </div>
    </div>
  <%end%>
  
  <p>&raquo; <%= link_to "去#{@share.user.login}的空间", user_url(@share.user) %></p>
  <%= render :partial => '/shared/voters', :object => @voters %>
<% end -%>

<div class="box shareEntry">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= h @share.title %></h2>
      <small style="margin-left:26px" >标签：
          <% @share.tags.each do |tag| %>
            <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
          <% end %>
      </small>
      <div class="metadata">
        <div class="avatar"><%= link_to avatar_for(@share.user, "large"), user_url(@share.user) %></div>
        <p>
          <%= link_to @share.user.login, user_url(@share.user) %> 写于 <%= @share.created_at.to_date %> ...
          <%= @share.hits %> 浏览 / <%= @share.comments_count %> 回复
        </p>
      </div>
      
      <div class="entry">
        <%= @share.html %>
        <p style="text-align:right;margin:7px 0;padding-right:5px">
          <%= link_to @share.user.login, user_url(@share.user) %> 写于 <%= @share.created_at.to_date %>
        </p>
        <p id ="voting" style="text-align:right;margin:7px 0;">
        <span>已有 <%= @share.votes.count -%> 人推荐这篇分享 </span>
        <% if logged_in? -%>
          <% if current_user.voted?(@share) -%>
                        您已推荐了
          <% else -%>
            <%= link_to '我要推荐', vote_share_path(@share), :method => 'post', :class => 'buttonlink' %>
          <% end -%>
        <% else -%>
            <%= link_to "我要推荐", new_session_path(:to => share_path(@share)) ,:class => "buttonlink" -%>
        <% end -%>
        </p>
      </div>
      
      <% if @share.moderated_by?(current_user) -%>
      <p class="remark">&raquo; <%= link_to "编辑", edit_share_url(@share) %> | <%= link_to "删除", share_url(@share), :confirm => "确定删除么?", :method => :delete %></p>
      <% end -%>
    </div>
  </div>
</div>

<%= render :partial => "/comments/comments", :object => @comments %>

<%= render :partial => "/comments/form", :locals => {:commentable => @share} %>