<% @page_title = "#{h @share.title} - 论坛帖子" -%>
<% @title = h @share.title %>
<% content_for :heads do -%>  
    <style type="text/css">.school_list_photo{width:80px;height:60px;margin-top:4px}
         .school_list_photo img{width:80px;height:60px}
         .school_list_meta{width:170px;padding:4px 0}
  </style>
  <meta name="description" content="来自多背一公斤的帖子： <%= summary(@share ,60)%>...">
<% end %>


<% content_for :crumb do -%>
  <p style="display:none"><%= summary(@share ,60)%></p>
  <li><%= link_to '论坛',shares_url %></li>
  <p style="display:none">来自多背一公斤的帖子： <%= summary(@share ,60)-%>...</p>
<% end -%>
  
<% content_for :sidebar do -%>
  <% if @share.moderated_by?(current_user) -%>
  <div id="admins">
      <% if current_user.admin?%>
      你是管理员，可以:<br/>
      <% else %>
      你是作者，可以:<br/>
      <%end%>
      <%= link_to "编辑帖子", edit_share_url(@share),:class => "adminbutton"%> <%= link_to "删除帖子", share_url(@share), :confirm => "确定删除么?", :method => :delete ,:class => "adminbutton"%></p> 
  </div>
  <% end -%>
  <%if @share.school_id%>
    <div class="newbox">
        <h4>相关学校</h4>
        <div class="clearfix" style="height:5px"></div>
        <div class="contents">
          <%= render :partial => '/shared/school', :object => @share.school %>
          <div class="clearfix"></div>
        </div>
    </div>
  <%end%>
  
    <%if @share.execution.project.present? %>
    <div class="newbox">
        <h4>相关公益项目</h4>
        <div class="clearfix" style="height:5px"></div>
        <div class="contents">
          <%= render :partial => '/shared/execution', :object => @share.execution %>
          <div class="clearfix" style="clear:both;height:10px"></div>
        </div>
    </div>
  <%end%>

  
  <% if @share.activity_id %>
  <div class="newbox">
        <h4>相关的活动</h4>
        <div class="clearfix" style="height:5px"></div>
        <div class="contents">
           <%= render :partial => '/shared/activity', :object => @share.activity %>
        </div>
        <div class="clearfix" style="clear:both;height:10px"></div>
  </div>
  <% end %>
  <%= render :partial => '/shared/voters', :object => @voters %>
<% end -%>

<div class="newbox shareEntry">
      <div style="width:100%;height:60px">
        <%= link_to avatar_for(@share.user, "large"), user_url(@share.user) %>
        <div style="float:left;padding-left:6px">
          <%= link_to @share.user.login, user_url(@share.user) %> 写于 <%= @share.created_at.to_date %> ...
          <%= @share.hits %> 浏览 / <%= @share.comments_count %> 回复
          <br/>
        <small>标签：
          <% @share.tags.each do |tag| %>
            <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
          <% end %>
        </small>
        </div>
      </div>
        
        <div id="entry">
        <%= @share.html %>
        </div>
        <div style="text-align:right">
        <p style="margin:23px 0 7px;padding-right:5px">
          <%= link_to @share.user.login, user_url(@share.user) %> 写于 <%= @share.created_at.to_date %>
        </p>
        <p id ="voting" style="margin:7px 0;">
        <span>已有 <%= @share.votes.count -%> 人推荐这篇帖子 </span>
        <% if logged_in? -%>
          <% if current_user.voted?(@share) -%>
            您已推荐了
          <% else -%>
            <%= link_to '我要推荐', vote_share_path(@share), :method => 'post', :class => 'buttonlink' %>
          <% end -%>
        <% else -%>
            <%= link_to "我要推荐", new_session_path(:to => share_path(@share)) ,:class => "buttonlink" -%>
        <% end -%>
        </p>
        </div>
        <%= render :partial => "/shared/share_to", :locals => {:text => summary(@share ,60),:title => (@page_title.to_s + " - 多背一公斤")} %>
</div>

<%= render :partial => "/comments/comments", :object => @comments %>

<%= render :partial => "/comments/form", :locals => {:commentable => @share} %>
