<div class="box">
  <% if @objects['School'] %>
 <h3>学校</h3>
  <div class="contents">
    <%= render :partial => '/schools/schools', :object => @objects['School'] %>
  </div>
  <% end %>
  
  <% if @objects['Activity'] %>
  <div class="cleanfix" style="clear:both;height:10px"></div>
 <h3>活动</h3>
  <div class="contents">
    <%= render :partial => "/public/activity", :collection => @objects['Activity'].compact %>
  </div>
  <% end %>
  
  <% if @objects['Topic'] %>
  <div class="cleanfix" style="clear:both;height:10px"></div>
 <h3>论坛</h3>
  <div class="contents">
    <%= render :partial => "/public/share", :collection => @objects['Topic'].compact %>
  </div>
  <% end %>

  <% if @objects['Group'] %>
  <div class="cleanfix" style="clear:both;height:10px"></div>
 <h3>小组</h3>
  <div class="contents">
    <%= render :partial => '/groups/groups', :object => @objects['Group'].compact %>
  </div>
  <% end %>

  <% if @objects['Topic'] %>
  <div class="cleanfix" style="clear:both;height:10px"></div>
 <h3>主题</h3>
  <div class="contents">
    <%= render :partial => '/topics/topics', :object => @objects['Topic'].compact %>
  </div>
  <% end %>
  
  <% if @objects['User'] %>
  <div class="cleanfix" style="clear:both;height:10px"></div>
 <h3>用户</h3>
  <div class="contents">
    <%= render :partial => "/public/user_list", :locals => {:users => @objects['User'].compact} %>
  </div>
  <% end %>
  <div class="remark"><%= customize_paginate(@records) %></div>
</div>
