<p><label class="label">标题</label>
  <%= form.text_field :title, :size => 40, :class => "formText" %> <%= error_message_on @bulletin, :title %>
</p>

<p><label class="label">转向URL</label>
  <%= form.text_field :redirect_url, :size => 40, :class => "formText" %>(注意啊，要包含协议，比如 http://)
</p>

<p><label class="label"><%= avatar_for current_user, "large" %></label>
<%= form.text_area :body, :style => 'width:640px;height:400px;', :class => "mceEditor" %>
</p>

<p><label class="label">标签</label>
<%= form.text_field :tag_list, :size => 40, :class => "formText" %>
<span>（以空格分隔不同标签）</span>
</p>