<% @page_title = "信号满格，爱心满格"  -%>

<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/kuailebox.css" media="screen, projection" />
<style>
#logos{text-align:center}
#logos img{margin:10px 12px;}
</style>
<% end -%>

<% content_for :fullsize do -%>
<img src="/images/mangexingdong/banner.jpg" alt="<%= @page_title%>" />

<div class="lcolumn">
   
  <div class="newbox" style="font-size:13px">
    <div class="title_line"><h5>活动介绍</h5></div>
    <p>
    “多背一公斤，爱心满格，信号满格“，是由中国移动四川公司联合华西都市报、新浪四川、四川交通广播101.7，及“多背一公斤”公益网站，共同开展的爱心公益活动。
    </p>
    <p>
    三家媒体各自选择的出行线路，招募志愿者，通过“多背一公斤”的形式，给沿途偏远地区的孩子带去书籍和学习用品等爱心捐赠，传递爱心和关怀。
    </p>
  </div>
  
  <div class="newbox" style="font-size:13px">
    <div class="title_line"><h5>活动报导</h5></div>
    <p>来自一线的原味报导和志愿者的亲身体会：</p>
    <p style="padding:2px 0">
      <b><a href="http://1kg.org/misc/mangexingdong_1">10名爱心背包客 给山里孩子背去新书包</a></b>
    </p>
    <p style="padding:2px;border-top:1px dashed #eee">
      <b><a href="http://1kg.org/misc/mangexingdong_2">往返800公里 “爱心、信号”的满格之旅</a></b>
    </p>
  </div>
  
  <div class="newbox">
    <div class="title_line"><h5>讨论区</h5></div>
      <%= render :partial => "/topics/topics", :locals => { :board => @board, 
                                                          :topics => @board.latest_topics } %>
      <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
    </div>

</div>  
<div class="rcolumn">
    <div class="title_line"><h5>参与方式</h5></div>
    <p>
    <b>【华西都市报参与方式】</b><br/>
    方式一：拨打该报新闻热线：028-86969110参与志愿者报名；<br/>
    方式二：通过新浪微博关注<a href="http://weibo.com/hxhudong" target='_blank'>@华西都市报互动新闻</a>，并私信参与志愿者报名；<br/>
    方式三：登陆华西都市网《多背一公斤，爱心满格，信号满格》<a target='_blank' href="http://www.huaxi100.com/topic-1kg.html">专题页面</a>参与志愿者报名。
    </p>
    <p>
    <b>【新浪四川参与方式】</b><br/>
    进入新浪四川<a href='http://sc.sina.com.cn/z/dbygj/index.shtml' target='_blank'>《多背一公斤，爱心满格，信号满格》</a>活动专题，填写报名资料参与志愿者报名。
    </p>
    <p>
    <b>【四川交通广播参与方式】</b><br/>
    登陆四川电台交通广播FM101.7<a href="http://weibo.com/sc1017" target='_blank'>官方新浪微博</a>，在《多背一公斤，爱心满格，信号满格》活动专区留下您的姓名，年龄、联系方式参与志愿者报名。
    </p>
    <p>
    更多详情，我们会即时向各位志愿者提供，请大家保持关注。
    </p>

    <%= link_to image_tag("/images/mangexingdong/sidebar.png",:style => "margin:20px 0"),'/images/mangexingdong/detail.jpg',:target => '_blank' %>
</div>  
  
  <div class="clear" id="logos" >
    <%= link_to image_tag('/images/mangexingdong/mobile.png'),'http://10086.cn',:title => '中国移动通信',:target => '_blank'%>
    <%= link_to image_tag('/images/mangexingdong/dushibao.png'),'http://www.wccdaily.com.cn',:title => '华西都市报',:target => '_blank' %>
    <%= link_to image_tag('/images/mangexingdong/fm1017.png'),'http://www.fm1017.cn',:title => '四川交通广播',:target => '_blank' %>
    <%= link_to image_tag('/images/mangexingdong/sina.png'),'http://sc.sina.com.cn',:title => '四川新浪',:target => '_blank' %>
    <%= link_to image_tag('/images/mangexingdong/1kg.png'),'http://www.1kg.org',:title => '多背一公斤',:target => '_blank' %>
  </div>
  <br/>
<% end %>
