<% @page_title = "信号满格，爱心满格"  -%>

<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/kuailebox.css" media="screen, projection" />
<style>
#logos{text-align:center}
#logos img{margin:10px;}
</style>
<% end -%>

<% content_for :fullsize do -%>
<img src="/images/mangexingdong/banner.jpg" alt="<%= @page_title%>" />

<div class="lcolumn">
   
  <div class="newbox" style="font-size:13px">
    <div class="title_line"><h5>活动介绍</h5></div>
      <p>用责任丈量四川每一寸土地，让信号覆盖四川每一个角落！移动网络有您更精彩！中国移动四川公司诚邀全川客户参与“满格行动”百万大礼活动，找盲点，获奖励，共享移动好网络！</p>
      <p>
        活动时间：2011年9月—2011年11月
        <br/>
        活动对象：中国移动四川公司所有客户
        <br/>
        活动内容：只要您发现区域网络盲点或区域网络单通、掉话等现象，并发送短信至10086111反映现象，经核实确认后，即有机会获得活动奖励。
      </p>
  </div>
  
  <div class="newbox">
    <div class="title_line"><h5>讨论区</h5></div>
      <%= render :partial => "/topics/topics", :locals => { :board => @board, 
                                                          :topics => @board.latest_topics } %>
      <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
    </div>

</div>  
<div class="rcolumn">
    <div class="title_line"><h5>参与方式&奖品设置</h5></div>
    <p><b>短信编辑格式：</b> 
    <br/>城市地区：编辑“市州名称*区县名称*街道*标志性建筑物*具体网络问题*”发送至10086111；
    <br/>农村地区：编辑“市州名称*区县名称*乡镇名称*标志性建筑物（或村庄名称或其他可资标志的具体地理性名称）*具体网络问题*”发送至10086111；
    <br/>具体网络问题包括：无信号、单通、掉话、GPRS不能正常上网。
    <br/>例：编辑“成都市*武侯区*XX路*XX大厦*GPRS不能正常上网*”发送至10086111。
    </p>
    <p><b>奖项设置：</b>
      <br/>
      感谢礼：只要成功参与网络扫盲活动的客户均可获赠2元话费。
      <br/>
      感恩礼：每月还将抽取2000名参与活动的客户获得100元电子购物券，可在省内红旗、互惠、舞东风等连锁超市或其他联盟商家使用。
      <br/>
      感激礼：热心参与并协助成功解决网络选址的客户，将有机会获得价值3000元的礼品！
    </p>

    <%= link_to image_tag("/images/mangexingdong/sidebar.png",:style => "margin:20px 0"),''%>
</div>  
  
  <div class="clear" id="logos" >
    <%= link_to image_tag('/images/mangexingdong/mobile.png'),'http://10086.cn',:title => '中国移动通信' %>
    <%= link_to image_tag('/images/mangexingdong/fm1017.png'),'http://www.fm1017.cn',:title => '四川交通广播' %>
    <%= link_to image_tag('/images/mangexingdong/sina.png'),'http://sc.sina.com.cn',:title => '四川新浪' %>
    <%= link_to image_tag('/images/mangexingdong/dushibao.png'),'http://www.wccdaily.com.cn',:title => '华西都市报' %>
    <%= link_to image_tag('/images/mangexingdong/1kg.png'),'http://www.1kg.org',:title => '多背一公斤' %>
  </div>
  <br/>
<% end %>
