<% @page_title = "信号满格，爱心满格"  -%>

<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/kuailebox.css" media="screen, projection" />
<style>
#logos{text-align:center}
#logos img{margin:10px 12px;}
</style>
<% end -%>

<% content_for :fullsize do -%>
<img src="/images/mangexingdong/banner.jpg" alt="<%= @page_title%>" />

<div class="lcolumn">
   
  <div class="newbox" style="font-size:13px">
    <h5>活动介绍</h5>
    <p>
    “多背一公斤，爱心满格，信号满格“，是由中国移动四川公司联合华西都市报、新浪四川、四川交通广播101.7，及“多背一公斤”公益网站，共同开展的爱心公益活动。
    </p>
    <p>
    三家媒体各自选择的出行线路，招募志愿者，通过“多背一公斤”的形式，给沿途偏远地区的孩子带去书籍和学习用品等爱心捐赠，传递爱心和关怀。
    </p>
  </div>
  
  <div class="newbox" style="font-size:12px;clear:both">
    <h5>活动报导</h5>
    <p>来自一线的原味报导和志愿者的亲身体会：</p>
    <p>
    <a href="http://www.1kg.org/topics/1044428" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback9.jpg' />
      <br/>安曲县小学一节手工课<span style='color:red'>[新]</span>
    </a>
    <a href="http://www.1kg.org/topics/1042428" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback8.jpg' />
      <br/>暴雨冲不垮的满格信号<span style='color:red'>[新]</span>
    </a>
    <a href="http://www.1kg.org/topics/1042382" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback7.jpg' />
      <br/>微博接力信号满格
    </a>
    <a href="http://www.1kg.org/topics/1042381" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback6.jpg' />
      <br/>重返汶川 爱心接力
    </a>
    <a href="http://www.1kg.org/topics/1042368" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback1.jpg' />
      <br/>背包客给孩子背去新书包
    </a>
    <a href="http://www.1kg.org/topics/1042367" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback2.jpg' />
      <br/>往返800公里的满格之旅
    </a>
    <a href="http://www.1kg.org/topics/1042366" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback3.jpg' />
      <br/>映秀小学活动花絮
    </a>
    <a href="http://www.1kg.org/topics/1042365" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback4.jpg' />
      <br/>高卓营乡中心校活动花絮
    </a>
    <a href="http://www.1kg.org/topics/1042246" style="display:block;padding:5px;width:150px;float:left;text-align:center">
      <img src='/images/mangexingdong/feedback5.jpg' />
      <br/>第一站广元市青川凉水中学
    </a>
    </p>
  </div>
  
  <div class="newbox clear" >
    <h5>讨论区</h5>
      <%= render :partial => "/topics/topics", :locals => {:topics => @group.topics } %>
      <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
  </div>
</div>  

<div class="rcolumn">
    <h5>第二阶段活动参与方式</h5>
    <p>
    ☆1. 提供行动方案，你将怎样利用一公斤盒子，带给孩子们怎样的课堂？
    </p>
    <p>
    ☆2. 新浪微博#四川移动·多背一公斤# @多背一公斤成都团队，告诉我们队伍里必须有你的理由。
    </p>
    <p>
    ☆3. 提供详细的个人信息(真实姓名、住址、身份证编号、微博ID)等，以便核实。
    </p>
    <p>
    ☆4. 方案及信息以邮件主题为“行囊20111028+姓名”发送至 1kg.volunteers@gmail.com 。
    </p>
    <p>
    我们将根据以上内容信息，综合筛选出2~4名队友完成此行。
    <br/>
    详情请阅：<%= link_to '[爱心满格]活动','http://www.1kg.org/activities/103830' %>
    </p>

    <%= link_to image_tag("/images/mangexingdong/sidebar.gif",:style => "margin:20px 0"),'/minisite/mangexingdong/poster',:target => '_blank' %>
</div>  
  
  <div class="clear" id="logos" >
    <%= link_to image_tag('/images/mangexingdong/mobile.png'),'http://10086.cn',:title => '中国移动通信',:target => '_blank'%>
    <%= link_to image_tag('/images/mangexingdong/dushibao.png'),'http://www.wccdaily.com.cn',:title => '华西都市报',:target => '_blank' %>
    <%= link_to image_tag('/images/mangexingdong/fm1017.png'),'http://www.fm1017.cn',:title => '四川交通广播',:target => '_blank' %>
    <%= link_to image_tag('/images/mangexingdong/sina.png'),'http://sc.sina.com.cn',:title => '四川新浪',:target => '_blank' %>
    <%= link_to image_tag('/images/mangexingdong/1kg.png'),'http://www.1kg.org',:title => '多背一公斤',:target => '_blank' %>
  </div>
  <br/>
  <p style="text-align:center;margin-bottom:20px"><%= @total_count %> 次页面访问</p>
<% end %>
