<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/lightenschool.css" media="screen, projection" />
<style type="text/css">
body {background:white;}
</style>

<% end -%>

<% @page_title = "“点亮学校” 公益旅行攻略征集大赛" -%>

<% content_for :crumb do -%>
<li>点亮学校</li>
<% end -%>

<% content_for :fullsize do -%>

<div class="lcolumn">
  <img src="/images/lightenschool/banner.jpg" alt="点亮学校" style="margin:10px;border:1px #666 solid" />
  <div class="boxouter">
    <h3>活动简介</h3>
    <div class="boxinter">
      <p>旅行是体验美好世界的有效方式，我们也希望透过行走的力量，传达向上的意念——旅行改变世界。</p>
      <p>多背一公斤邀您一起启动“做公益旅行家,点亮乡村学校”公益出游攻略征集活动。我们可以通过您提供的乡村学校信息,更及时准确的为乡村学校提供持续服务。</p>
      <p>我们将对所征集公益旅行线路进行公正、公开评比，根据学校资料的完整度为学校提供解决需求(学校奖),并对获奖者提供旅行用品(旅行家奖)。最终入围的线路也将收录到《公益旅行全地图攻略》结集出版 </p>
      <p>通过简单的行动，每个人都可以把自己的旅程变成公益之旅。</p>
    </div>
  </div>
  <div class="boxouter">
    <h3> 参加活动</h3>
    <div class="boxinter">
      <p>攻略将于9月20日正式开始征集。</p>
      <p>在出行前,您可以先了解“点亮学校”活动的攻略<a class="buttonlink" href="/docs/lightenschool.pdf" target="_blank">征集要求</a>。</p>
      <p>如果您没有出行计划，同样可以通过推荐其他用户攻略的方式来参与这次活动。</p>
    </div>
  </div>
  
  <div class="boxouter">
  <div class="h2bar">
    <h2><a href="<%= group_url(@group) -%>"><%= @group.title -%>小组</a></h2>
    <span>
    <% if not @group.joined?(current_user) -%>
    <%= link_to "加入小组", join_group_url(@group, :to => CGI.escape(request.request_uri)),:class => "buttonlink" %>
    <% end %>
    <%= link_to "写新话题", new_topic_group_url(@group, :to => CGI.escape(request.request_uri)), :target => "_blank",:class => "buttonlink" %>
    </span>
    </div>
   
    <div class="boxinter">
  
  <%= render :partial => "/topics/topics", :locals => {:board => @board, :topics => @board.latest_topics} %>
  <p style="text-align:right"><%= link_to "所有话题", board_url(@board), :target => "_blank",:class => "buttonlink" %></p>
    </div>
  </div>
  
  
</div>


<div class="rcolumn">
  
  <div class="boxouter">
    <h3>活动时间表</h3>
    <div class="boxinter">
    <table id="timeline">
      <tbody>
        <tr>
        <th class="lefttable" >9月7日</th>
        <th>活动正式发布</th>
        </tr>
        <tr>
        <th class="lefttable">9月20日</th>
        <th>接受攻略提交</th>
        </tr>
        <tr>
        <th class="lefttable">11月20日</th>
        <th>开始评选</th>
        </tr>
        <tr>
        <th class="lefttable">12月15日</th>
        <th>颁发奖项</th>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  
  <div class="boxouter">
    <h3>奖品设置</h3>
    <div class="boxinter">
      <div class="category">
        <h4>学校奖</h4>
        <p>根据攻略中的学校信息部分评选</p>
        
        <div class="prize">
	<img src="/images/lightenschool/fund.jpg">
        <div class="info">
	  <h5>大奖</h5><span>2名</span>
          <p>为学校提供5000元公益基金</p>
        </div>
	</div>
        <div class="prize">
	<img src="/images/lightenschool/bookscorner.jpg">
	<div class="info">
          <h5>图书奖</h5><span>5名</span>
          <p>为学校配备图书角</p>
	</div>
	</div>
      </div>
      <div class="category">
        <h4>旅行家奖</h4><p>根据攻略中的旅行攻略部分评选</p>
        <div class="prize">
        <img src="/images/lightenschool/shoes.jpg">
	<div class="info">
     	  <h5>优秀奖</h5><span>3名</span>
          <p>价值800元的户外徒步鞋</p>
        </div>
        </div>
        <div class="prize">
        <img src="/images/lightenschool/bag.jpg">
	<div class="info">
	  <h5>攻略奖</h5><span>30名</span>
	  <p>价值500元的户外背包</p>
        </div>
	</div>
        <div class="prize">
	<img src="/images/lightenschool/tee.jpg">
        <div class="info">
	  <h5>参与奖</h5><span>100名</span>
	  <p>价值100元的户外T恤衫</p>
        </div>
	</div>
      </div>
      
      <div class="boxouter">
        <h3>Q&A</h3>
        <div class="boxinter">
          <p>Q：关联学校时没有我要写的学校怎么办？
          <br/>A：先到学校页面，点击“我去过”<br/>
          <br/>Q：网站上没有我要写的学校怎么办？<br/>A：先提交学校信息，等验证通过以后再提交攻略<br/>
          <br/>Q：我想提交两篇攻略怎么办？<br/>A：提交两次</p>
        </div>
      </div>
      
    </div>
  </div>
 
</div>

<div id="misc">
  <p><span>活动奖品提供 :</span><a href="http://www.toread.com"target="_blank" title="toread"><img src="/images/lightenschool/toread.png"></a></p>
  <p>特别感谢:　世界银行驻中国代表处　　热心网友素梅 </p>
  <p>发起方：多背一公斤公益网站　　主办方：爱聚（北京）咨询有限公司 </p>
</div>
<% end -%>
