
<% content_for :heads do -%>
<%= render :partial => "head" %>
<style type="text/css"> 
body {background: #ececec url(/images/lightenschool/background.png)no-repeat center top;}
</style>
<% end -%>

<% @page_title = "“点亮学校” 公益旅行攻略征集大赛" -%>

<% content_for :crumb do -%>
<li>点亮学校</li>
<% end -%>

<% content_for :fullsize do -%>

<div class="lcolumn">
  <img src="/images/lightenschool/banner.jpg" alt="点亮学校" style="margin:20px;border:1px #aaa solid" />
  <div class="boxouter">
    <h3>活动简介</h3>
    <div class="boxinter">
      <p>十一长假即将来临，多背一公斤网站邀您一起参与“做公益旅行家，点亮乡村学校”公益旅行攻略征集活动。您的简单行动，有机会为乡村学校解决实实在在的需求，同时为自己赢取丰富的户外旅行装备！</p>
      <p>多背一公斤鼓励每个人在旅途中探访乡村学校，在学校中与孩子们共同游戏和活动，传播知识，分享快乐。您只需将参与多背一公斤探访乡村学校活动的经历写成公益旅行攻略，提交到多背一公斤网站1KG.org上，就可以参与公益旅行攻略评选活动。</p>
 <p>我们将对所征集公益旅行线路进行公正、公开的评比，攻略获奖者将获得由探路者送出的丰富户外旅行用品，同时攻略所对应的乡村学校也将有机会获得公益基金和图书室建设的服务。最终入围的线路将收录到《公益旅行全地图攻略》结集出版。</p>
      <p>通过简单的行动，每个人都可以把自己的旅程变成公益之旅，让自己的旅行更有意义！</p>
    </div>
  </div>
  

  <div class="boxouter" id="topicCommentsList">
    <h3>参赛攻略</h3>
    <div class="boxinter">
      <div class="contents">
      <% unless @guides.empty? %>
        <%= render :partial => '/schools/guides', :object => @guides %>
      <% end %>
        <%= customize_paginate(@guides, :param_name => 'guide_page') %>
      </div>

    </div>
  </div>


  <div class="boxouter">
    <h3>讨论组</h3>
    <div class="boxinter">
  
  <%= render :partial => "/topics/topics", :locals => {:board => @board, :topics => @board.latest_topics} %>
  <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
    </div>
  </div>

  
</div>


<div class="rcolumn">
<div class="boxouter">
    <h3> 参加活动</h3>
    <div class="boxinter">
     <div id="warning" style="text-align:center;height:80px">“点亮学校公益旅行攻略大赛”<br/>
     旅行家奖的获奖攻略已经揭晓啦<br/>
     <button class="bigbutton" style="margin-left:65px;margin-top:5px" onclick="window.location='/minisite/lightenschool/winners';return false">快去看看</button>
   </div>
    </div>
  </div>
  
  <div class="boxouter">
    <h3>活动时间表</h3>
    <div class="boxinter">
    <table id="timeline">
      <tbody>
        <tr>
        <th class="lefttable">9月20日</th>
        <th>接受攻略提交</th>
        </tr>
        <tr>
        <th class="lefttable">11月20日</th>
        <th>开始评选</th>
        </tr>
        <tr>
        <th class="lefttable">12月15日</th>
        <th>颁发奖项</th>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  
  <div class="boxouter">
    <h3>奖品设置</h3>
    <div class="boxinter">
      <div class="category">
        <h4>学校奖</h4>
        <p>根据攻略中的学校信息部分评选</p>
        
        <div class="prize">
	<img src="/images/lightenschool/fund.jpg">
        <div class="info">
	  <h5>大奖</h5><span>2名</span>
          <p>为学校提供5000元公益基金</p>
        </div>
	</div>
        <div class="prize">
	<img src="/images/lightenschool/bookscorner.jpg">
	<div class="info">
          <h5>图书奖</h5><span>5名</span>
          <p>为学校配备图书角</p>
	</div>
	</div>
      </div>
      <div class="category">
        <h4>旅行家奖</h4><p>根据攻略中的旅行攻略部分评选</p>
        
        <div class="prize">
        <img src="/images/lightenschool/shoes.jpg">
	      <div class="info">
     	  <h5>优秀奖</h5><span>3名</span>
        <p>价值800元的户外徒步鞋</p>
        </div>
        </div> 
        <div class="prize">
        <img src="/images/lightenschool/bag.jpg">
	      <div class="info">
	        <h5>攻略奖</h5><span>30名</span>
	        <p>价值500元的户外背包</p>
        </div>
	      </div>
        <div class="prize">
	      <img src="/images/lightenschool/tee.jpg">
        <div class="info">
	        <h5>参与奖</h5><span>100名</span>
	        <p>价值100元的户外T恤衫</p>
        </div>
	      </div>
	<p style="text-align:right;margin-right:10px">"旅行家奖"奖品由探路者提供</p>
      </div>
      </div>
    </div>
  </div> 
</div>

<div id="misc">
  <p><span>活动奖品提供 :</span> <a href="http://www.toread.com.cn"target="_blank" title="toread"><img src="/images/lightenschool/toread.png"></a></p>
  <p>特别感谢:　世界银行驻中国代表处　　热心网友素梅 </p>
  <p>发起方：多背一公斤公益网站　　主办方：爱聚（北京）咨询有限公司 </p>
</div>
<h1></h1>
<% end -%>
