<% content_for :heads do -%>
<%= render :partial => "head" %>
<% end -%>

<% content_for :crumb do -%>
<li>点亮学校</li>
<% end -%>

<% @page_title = "提交攻略 - “点亮学校” 公益旅行攻略征集大赛" -%>

<% @title = "提交攻略" %>
<% content_for :fullsize do -%>
<% 
schools = @school_guide.new_record? ? current_user.visited_schools : @school_guide.user.visited_schools
%>


<% form_for :school_guide, :url => minisite_lightenschool_processing_url,:html => {:id => "form_guide"} do |f| %>
  <div class="formbox" >

    <h3>攻略信息</h3>
    <%= error_message_on @school_guide, :title %>
    <p><label class="label">标题</label>
    <%= f.text_field :title, :size => 40, :class => "formText" %> 
    *</p>
  
    <p><label class="label">标签 </label>
    <%= f.text_field :tag_list, :value => "", :size => 40, :class => "formText" %><span>（用空格分隔不同标签， 例如：自驾游   武当山 )</span></p>
    <p> <span>注： 系统会给攻略自动加上 <a href="/minisite/lightenschool" tabindex="-1">点亮学校</a> 的标签 。</span></p>
     <%= error_message_on @school_guide, :school_id %>
    <p><label class="label">学校</label>
    <%= f.select :school_id, [['从你去过的学校里，选择攻略的目标学校','']]+schools.find(:all, :select => "schools.id, schools.title").collect{|s| [s.title, s.id]}, {:include_blank => false} %> 
   *</p>
  <p><span>没有您想要的学校?　可以到<a href="/geos" tabindex="-1"> 地图页面 </a>，找到您去过学校，在该学校页面里点击“我去过”。</span></p>
  <p><span>如果地图里没有您去过学校，可能是您帮助大家发现了未收录的学校， 请 <a href="/schools/new" tabindex="-1">提交学校</a>  收录这所学校。</span></p>
  </div>
  <div class="formbox" >  
    <h3>攻略正文</h3>
    <%= error_message_on @school_guide, :content %>
    <%= fckeditor_textarea("school_guide", "content", :toolbarSet => 'OneLine', :width => '90%', :height => '400px') %>
    </p>
  </div>
  <div class="formbox" >
    <h3>个人资料</h3>
      <span>请填写真实信息，我们会以此对获奖情况进行核对</span>
      <p><label class="label">真实姓名</label>姓
      <%= text_field_tag "last_name", @profile.last_name, :size => 4 %> * 名<%= text_field_tag "first_name", @profile.first_name, :size => 4  %>*
      </p>
      
      <p><label class="label">联系电话</label>
      <%= text_field_tag "telephone", @profile.phone,:style => "width:140px"%>*
      </p>
       <p><span> * 号为必填项<span></p>
  </div>
  <div class="formbox" >
       
    <p class="submit clearfix">
      <%= submit_tag "提交" ,:class => "bigbutton"%>
      <button class="bigbutton" onclick="window.location='/minisite/lightenschool';return false"> 取 消</button>
    </p>
  </div>    
<% end %>
<div id="writeguide" class="formbox" >
    <h3>攻略编写指南</h3>
  <p><span>请在攻略中包含以下信息</sapn></p>
  <ol class="required">
    <li>线路背景情况说明、相关背景图片 </li>
    <li>线路形成安排与时间安排 </li>
    <li>景点到学校的主要交通方式、附线路地图示意图 </li>
    <li>最佳旅行时间、装备推荐 </li>
    <li>学校主要情况介绍（师生人数、班级设置情况、教舍用具情况、师资情况、软硬件需求) </li>
    <li>学校公益活动类型推荐 </li>
    <li>学校周边主要景点、住宿、餐食推荐 </li>
    <li>费用预算清单 </li>
  </ol>
  </div>
<% end -%>