<%= javascript_include_tag 'jQuery/jquery-1.2.6.pack' %>
<script type="text/javascript" charset="utf-8">
  jQuery.noConflict();
</script>

<script src="http://ditu.google.com/maps?file=api&amp;v=2&amp;key=abcdefg"
            type="text/javascript"></script>
<script type="text/javascript">
  function initialize() {
    if (GBrowserIsCompatible()) {
      var map = new GMap2(document.getElementById("map_canvas"));
      map.setCenter(new GLatLng(<%= @city.latitude.to_f %>, <%= @city.longitude.to_f %>), 6);
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());

      <% @schools.each do |school| %>
        var point<%= school.id %> = new GLatLng(<%= school.basic.latitude.to_f %>, <%= school.basic.longitude.to_f %>);
        marker = new GMarker(point<%= school.id %>);

        GEvent.addListener(marker, "click", function() {
            map.openInfoWindowHtml(point<%= school.id %>, '<%= render :partial => 'info_window', :locals => {:school => school} %>');
          });
          
        map.addOverlay(marker);
      <% end %>
    }
  }
  jQuery(function(){
    initialize();
  })
</script>

<div id="map_canvas" style="width: 600px; height: 500px"></div>

