<% content_for :tail do -%>
  <script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>

  <% # 如果提供城市，则只显示此城市的学校 %>
  <% if @city %>
    <script type="text/javascript" src="/geos/<%= @city.id %>/schools.json"></script>
  <% elsif @search %>
    <script type="text/javascript">
      var schools = <%= @json.to_json %>;
    </script>
  <% else %>
    <script type="text/javascript" src="/schools.json"></script>
  <% end %>
  
  <%= javascript_include_tag 'markerclusterer_packed' %>

  <script type="text/javascript">
    var map;
  
    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_div"));
        map.setCenter(new GLatLng(<%= @map_center[0].to_f %>, <%= @map_center[1].to_f %>), <%= @map_center[2] %>);
        map.addControl(new GLargeMapControl());
        map.addControl(new GMapTypeControl());
        map.addControl(new GScaleControl());
        var icons = new Array
        icons[0] = new GIcon(G_DEFAULT_ICON);
        icons[0].image = "/images/invalid.png";
        icons[1] = new GIcon(G_DEFAULT_ICON);
        icons[1].image = "/images/valid.png";
        icons[2] = new GIcon(G_DEFAULT_ICON);
        icons[2].image = "/images/meta.png";
      
        var markers = [];
 
        for (var i = 0; i < schools.length; ++i) {
          var point = new GLatLng(schools[i].a, schools[i].o)
          var marker = new GMarker(point, {icon: icons[schools[i].t]});

          GEvent.addListener(marker, "click", markerClickFn(point, schools[i].i));
          
          markers.push(marker);
        }

        var markerCluster = new MarkerClusterer(map, markers, {maxZoom: 7});
      
        <% if @school %>
          schoolClickFn(new GLatLng(<%= @school.basic.latitude.to_f %>, <%= @school.basic.longitude.to_f %>), <%= @school.id %>, 9)
        <% end %>
        //var markerCluster = new MarkerClusterer(map, markers);
      }
    }
    window.onload = initialize;
  </script>
<% end %>

<div id="map_div"></div>