<% @page_title = "查找城市" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery-1.2.6.pack' %>
  <script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
  </script>
<% end %>

<% content_for :sidebar do -%>
  <%= render :partial => "/schools/submit" %>
  <%= render :partial => "/schools/map_provinces", :locals => {:provinces => @cities} %>
  <%= render :partial => "/schools/schools", :object => @schools %>
  
  <p>&raquo; <%= link_to "浏览待验证学校信息", unconfirm_schools_url %></p>
<% end -%>

<% content_for :crumb do -%>
  <li>目的地查询</li>
  <ul>
    <li>全国</li>
  </ul>
<% end -%>

<div class="box" id="cityList">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>全国</h2>
      <div class="contents">
        <div class="tips">
          <p class="tip">请选择你要去的地方</p>
        </div>
        
        <%= render :partial => 'all_schools' %>
      </div>
    </div>
  </div>
</div>