<% @page_title = "按城市查找" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery-1.2.6.pack' %>
  <script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
  </script>
<% end %>

<% content_for :sidebar do -%>
  <%= render :partial => "/schools/submit" %>
  <div id="geobox"><%= render :partial => "geo_box", :locals => {:geos => @cities} %></div>
  <p>&raquo; <%= link_to "浏览待验证学校信息", unconfirm_schools_url %></p>
  <%= render :partial => "school_box", :locals => {:provinces => @cities} %>
<% end -%>

<% content_for :crumb do -%>
  <li>目的地查询</li>
  <ul>
    <li>全国</li>
  </ul>
<% end -%>

<div class="box" id="cityList">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>全国</h2>
      <div class="contents">
        <%= render :partial => 'school_maps' %>
      </div>
    </div>
  </div>
</div>