<% @page_title = "按城市查找" -%>

<% content_for :sidebar do -%>
  <%= render :partial => "/schools/submit" %>
  <div id="geobox"><%= render :partial => "geo_box", :locals => {:geos => @cities} %></div>
  <%= render :partial => "school_box", :locals => {:provinces => @cities} %>
<% end -%>

<% content_for :crumb do -%>
  <li>目的地查询</li>
  <ul>
    <li><%= @province ?  @province.name : "全国"%></li>
  </ul>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= @province ?  @province.name : "全国"%></h2>
      <div class="contents">
        <%= render :partial => 'school_maps' %>
      </div>
    </div>
  </div>
</div>

<%if @province %>
<script type="text/javascript" charset="utf-8">
  $(document).ready(function()
  {
    jQuery.get('/geos/' + <%=@province.id.to_s%> + '/schools', {}, function(data){
      jQuery('#schools').html(data);
    });
    jQuery.get('/geos/box/' + <%=@province.id.to_s%>, {}, function(data){
      jQuery('#geobox').html(data);
    });
  })
</script>
<%end%>