<% @page_title = "按城市查找" -%>
<% content_for :sidebar do -%>
   <style type＝"text/css">#map_div{height:360px}</style>
<% end -%>

<% content_for :sidebar do -%>
  <span class="span_title">学校列表</span><br/>
  <div id="loading" style="position:absolute;margin:160px 100px;padding:3px 12px;background-color:#333;color:#fff;display:none">读取中...</div>
  <div id="schools" class="contents">
     <%= render :partial => "school_box", :locals => {:provinces => @cities} %>
  </div>
<% end -%>

<% content_for :crumb do -%>
  <li>目的地查询</li>
  <ul>
    <li><%= @province ?  @province.name : "全国"%></li>
  </ul>
<% end -%>

<div class="newbox">
    
    <span class="span_title"><%= @province ?  @province.name : "全国" %></span> <%=link_to "全国",geos_url if @province%><br/>
    <div id="geobox"><%= render :partial => "geo_box", :locals => {:geos => @province.children} if @province%></div>
      
    <%= render :partial => 'school_maps' %>  
    <%= render :partial => 'provinces' %>
    <div class="clearfix" style="height:10px;clear:both"> </div>
    
</div>
