<% @page_title = "按城市查找" -%>

<% content_for :sidebar do -%>
  <%= render :partial => "/schools/submit" %>
  <div id="geobox"><%= render :partial => "geo_box", :locals => {:geos => @cities} %></div>
  <%= render :partial => "school_box", :locals => {:provinces => @cities} %>
<% end -%>

<% content_for :crumb do -%>
  <li>目的地查询</li>
  <ul>
    <li>全国</li>
  </ul>
<% end -%>

<p class="caution">
  <%= image_tag(image_path('valid.png')) %> 已验证学校
  <%= image_tag(image_path('invalid.png')) %>未验证学校
  <%= image_tag(image_path('meta.png')) %>信息不完整学校</p>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>全国</h2>
      <div class="contents">
        <%= render :partial => 'school_maps' %>
      </div>
    </div>
  </div>
</div>