<% content_for :crumb do -%>
  <ul>
    <li><%= link_to "全国", geos_url %></li>
    <li><%= link_to @city.name, geo_url(@city) %></li>
    <li>所有居民帖子</li>
  </ul>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>所有<%= @city.name %>居民帖子</h3>
      <span class="postNew"><%= link_to image_tag("submit_share.png"), new_share_url %></span>
      <div class="contents">
        <% @shares.each do |s| -%>
        <div style="clear:both;margin-bottom:1em;min-height:50px">
          <div style="float:left">
            <%= image_tag(s.user.avatar.url,:alt => s.user.login) %>
          </div>
          <div style="margin-left:60px;">
            <div><%= link_to s.user.login, user_url(s.user) %> 写了 <%= link_to h(s.title), share_url(s) %></div>
            <div style="color:#999; text-align:right">
              <%= s.hits %> 浏览/<%= s.comments_count %> 回复
            </div>
          </div>
        </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>