<% @page_title = "按城市查找" -%>

<% content_for :sidebar do -%>
  <div id="geobox"><%= render :partial => "geo_box", :locals => {:geos => @cities} %></div>
  <%= render :partial => "school_box", :locals => {:provinces => @cities} %>
<% end -%>

<% content_for :crumb do -%>
  <li>目的地查询</li>
  <ul>
    <li><%= @province ?  @province.name : "全国"%></li>
  </ul>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= @province ?  @province.name : "全国"%></h2>
      <div class="contents">
        <%= render :partial => 'school_maps' %>
      </div>
    </div>
  </div>
</div>

<div class="newbox">
  <div class="clearfix" style="height:10px"></div>
  <div id="schools" class="contents">
    <h3>来自Google的学校</h3>
    <div id="searchControl"></div>
  </div>
</div>