<% if not logged_in? %>
  <div id="login">
    <h3>填写用户信息</h3>
    <div class="boxinter">
    <p><label for="email" class="label">邮箱</label> <%= text_field_tag 'login_email', "", :onfocus => "$('status').value='login'" %> <span class="require">*</span></p>
    <p><label for="password" class="label">密码</label> <%= password_field_tag 'login_password' %> <span class="require">*</span></p>        
    </div>  
 </div>

<div id="signup">
  <h3>快速注册新用户</h3>
  <div class="boxinter">
  <p><label for="email" class="label">邮箱</label> <%= text_field_tag :email, "", :onfocus => "alert($('status').value());$('status').value='signup'" %> <span class="require">*</span> <%= error_message_on(:user, :email, :tag => 'span') %></p>
  <div style="color:#555;text-align:center">只需填入您的邮箱即可完成注册</div>
  <div style="color:#555;text-align:center">我们会给您发送一份确认邮件</div>
  <%= hidden_field_tag :login, "匿名用户" %>
  <%= hidden_field_tag :password, "12345" %>
  <%= hidden_field_tag :password_confirmation, "12345" %>
  </div>
</div>
<img src="/images/mooncake/flow.png" alt="flow" style="margin-left:268px;"/>
<% end %>
<script type="text/javascript">
jQuery(document).ready(function() {
  jQuery("form").submit(function () {
    if(jQuery('#email').val()!='' ){jQuery('#status').val('signup')} else{jQuery('#status').val('login')};});})
</script>