<% @page_title = "时光之秋公益月饼" %>

<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/mooncake.css" media="screen, projection" />
<style type="text/css">
body {background:white;}
</style>
<% end -%>


<% content_for :fullsize do -%>
<div class="lcolumn">
  <div><%= image_tag("mooncake/1-1.jpg") %></div>
  <div class="clearfix info">
    <div class="img"><%= image_tag("mooncake/1-chuandi.jpg") %></div>
    <div class="text">
    点击复制本页地址给<span>QQ/Msn/Gtalk</span>好友<br />
    <input type="text" id="shareurl" value="<%= get_current_page_link %>" onclick="$(this).select(); copy_clip($(this).getValue());" style="backgroud:#F8F8F8; border:1px solid #D9D9D9; font-size:11px; padding:3px; width:240px;" /><br />
    <%= render :partial => "/shared/share_by_widget" %>
    </div>
  </div>
  <div class="clearfix info">
    <div class="img"><%= image_tag("mooncake/1-xuexiao.jpg") %></div>
    <div class="text">
      雀儿寨小学是一座乡村小学，有四十多个三年级以下的孩子，目前他们特别缺乏体育设施，而竹制的旗杆也经常破损。<br />
      详情请参阅：<a href="http://www.1kg.org/schools/3603" target="_blank" title="点击查看">http://www.1kg.org/schools/3603</a>
      <div style="margin-top:10px;">
    <% @school.photos.each do |p| -%>
      <%= link_to image_tag(p.public_filename(:thumb), :style => "padding:2px; border: 2px solid #CCC; margin-right:5px;"), photo_url(p), :target => "_blank" %>
    <% end -%>
      </div>
    </div>
  </div>
</div>

<div class="rcolumn">
  <div><%= image_tag("mooncake/1-2.jpg") %></div>
  <div><%= image_tag("mooncake/1-3.jpg") %></div>
  <div>
    <p>
      <%= link_to "查看学校情况", "http://www.1kg.org/schools/3603", :target => "_blank" %>, 
      <%= link_to "公益方案详情", "http://www.1kg.org/boards/3603/topics/1001716", :target => "_blank" %>
    </p>
  </div>
  <div id="reserve-form">
    <div class="require">前100位预定的用户可得到纪念徽章一枚</div>
    <% form_for :reserve, :url => minisite_mooncake_reserve_url do |f| -%>
    
    <p><label><%= image_tag "mooncake/1-name.jpg" %></label><%= f.text_field :name, :size => 25, :class => "text", :value => (current_user.login if logged_in?) %> <%= error_message_on @reserve, :name %></p>
    <p><label><%= image_tag "mooncake/1-email.jpg" %></label><%= f.text_field :email, :size => 25, :class => "text", :value => (current_user.email if logged_in?) %></p>
    <p><label><%= image_tag "mooncake/1-cellphone.jpg" %></label><%= f.text_field :cellphone, :size => 25, :class => "text" %></p>
    <p><label><%= image_tag "mooncake/1-quantity.jpg" %></label><%= f.text_field :quantity, :size => 15, :class => "text" %> <%= image_tag "mooncake/1-he.jpg", :style => "vertical-align:middle" %> <%= error_message_on @reserve, :quantity %></p>
    <p><label>&nbsp;</label><%= submit_tag "", :class => "sbtn" %></p>
    <% end -%>
  </div>
</div>

<div class="clearfix center" id="misc">
  <%= link_to image_tag("mooncake/sitlogo.jpg", :height => 65), "http://www.sitcoffee.com", :target => "_blank" %> <%= link_to image_tag("logo.gif"), root_url %>
</div>
<% end %>