<% @page_title = "时光之秋公益月饼" %>

<% content_for :heads do -%>
<%= render :partial => "head" %>
<% end -%>


<% content_for :fullsize do -%>
<div>
<div class="lcolumn">
  <div><%= image_tag("mooncake/1-1-text.jpg") %></div><!-- picture -->
  <%= render :partial => "intro" %>
  <div class="h2bar">
  <h2>小组话题</h2>
  <span>
    &raquo; 
    <% if not @group.joined?(current_user) -%>
      <%= link_to "加入小组", join_group_url(@group, :to => CGI.escape(request.request_uri)) %> | 
    <% end %>
    <%= link_to "写新话题", new_topic_group_url(@group, :to => CGI.escape(request.request_uri)), :target => "_blank" %>
  </span>
  </div>
  <%= render :partial => "/topics/topics", :locals => {:board => @board, :topics => @board.latest_topics} %>
  <p style="text-align:right"><%= link_to "&raquo; 更多话题", group_url(@group), :target => "_blank" %></p>
</div>

<div class="rcolumn">
  <div id="slogan"><%= image_tag("mooncake/slogan_mooncake.png") %></div>
  <div id="buy" class="center">
    <%= link_to image_tag("mooncake/buy_mooncake.png"), "http://item.taobao.com/auction/item_detail-0db1-20154c9afa360f98f7a09c065d864b92.jhtml?cm_cat=0", :target => "_blank" %>
  </div>
  <div class="passwordInput">
    <% form_tag minisite_mooncake_password_url do -%>
      输入爱心密码    <%= text_field_tag "password" %> <%= submit_tag "提 交", :class => "submit" %>
    <% end -%>
  </div>
  
  <div class="info">
    <div class="h2bar">
    <h2>进度</h2>
    </div>
    <table>
      <tr>
        <th>学校</th>
        <th>已完成</th>
      </tr>
      <% @bucks.each do |b| -%>
      <tr>
        <td>
          <%= link_to b.school.title, school_url(b.school), :target => "_blank" %>
          <% if b.for_team? -%><br /><span style="font-size:11px;"><%= b.for_team_tip %></span><% end -%>
        </td>
        <td><%= progressbar b.matched_percent, :generate_css => true %> <%= b.matched_count %>/<%= b.quantity %> <%= link_to "名单", minisite_mooncake_donors_url(b.school) %></td>
      </tr>
      <% end -%>
    </table>
  </div>
  
    <div id="topicCommentsList">
    <div  class="h2bar">
      <h2>爱心寄语</h2>
      <span class="postNew"><%= link_to "全部", minisite_mooncake_messages_url, :target => "_blank" %></span>

    </div>
        <ol class="contents clearfix">
          <li id="message">
            <%= render :partial => "message", :locals => {:stuff => @stuff} %>
          </li>
        </ol>
        <%= periodically_call_remote :url => minisite_postcard_love_message_url, 
                                     :frequency => 10, 
                                     :update => "message",
                                     :complete => visual_effect(:highlight, "message", :duration => 2 )  %>

  </div>
  
  <div class="info">
    <div class="img"><%= image_tag("mooncake/1-chuandi.jpg") %></div>
    <div class="text">
    复制本页地址给<span>QQ/Msn/Gtalk</span>好友<br />
    <input type="text" id="shareurl" value="<%= get_current_page_link %>" onclick="$(this).select(); copy_clip($(this).getValue());" style="backgroud:#F8F8F8; border:1px solid #D9D9D9; font-size:11px; padding:3px; width:240px;" /><br />
    <p style="margin-top:1em;">下载 <%= link_to "时光之秋公益月饼项目介绍.pdf", "/images/mooncake/mooncake_project_intro.pdf" %></p>
    <%= render :partial => "/shared/share_by_widget" %>
    </div>
  </div>
  

</div>
</div>
<%= render :partial => "partner" %>
<% end %>