<% @page_title = "时光之秋公益月饼" %>

<% content_for :heads do -%>
<%= render :partial => "head" %>
<% end -%>


<% content_for :fullsize do -%>
<div class="lcolumn">
  <div><%= image_tag("mooncake/1-1-text.jpg") %></div><!-- picture -->
  <%= render :partial => "intro" %>
</div>

<div class="rcolumn">
  <div id="slogan"><%= image_tag("mooncake/slogan_mooncake.png") %></div>
  <div id="buy" class="center">
    <%= link_to image_tag("mooncake/buy_mooncake.png"), "http://item.taobao.com/auction/item_detail-0db1-20154c9afa360f98f7a09c065d864b92.jhtml?cm_cat=0", :target => "_blank" %>
  </div>
  <div class="passwordInput">
    <% form_tag minisite_mooncake_password_url do -%>
      输入爱心密码 <%= text_field_tag "password" %> <%= submit_tag "提 交", :class => "submit" %>
    <% end -%>
  </div>
  <div class="info">
    <div class="img"><%= image_tag("mooncake/1-chuandi.jpg") %></div>
    <div class="text">
    复制本页地址给<span>QQ/Msn/Gtalk</span>好友<br />
    <input type="text" id="shareurl" value="<%= get_current_page_link %>" onclick="$(this).select(); copy_clip($(this).getValue());" style="backgroud:#F8F8F8; border:1px solid #D9D9D9; font-size:11px; padding:3px; width:240px;" /><br />
    <p style="margin-top:1em;">下载 <%= link_to "时光之秋公益月饼项目介绍.pdf", "/images/mooncake/mooncake_project_intro.pdf" %></p>
    <%= render :partial => "/shared/share_by_widget" %>
    </div>
  </div>
</div>

<%= render :partial => "partner" %>
<% end %>