<% @page_title = "写爱心留言 - 时光之秋公益月饼" %>

<% content_for :heads do -%>
<%= render :partial => "head" %>
<% end -%>

<div>
  <div class="contents">
    <% form_tag minisite_mooncake_comment_url(:token => @stuff.code) do -%>
    <%= hidden_field_tag :status, "login" %>
    <% if not logged_in? %>
      <div id="login">
        <h3>填写用户信息</h3>
        <div class="boxinter">
        <p><label for="email" class="label">邮箱</label> <%= text_field_tag 'login_email' %> <span class="require">*</span></p>
        <p><label for="password" class="label">密码</label> <%= password_field_tag 'login_password' %> <span class="require">*</span></p>        
        </div>  
     </div>
 
    <div id="signup">
      <h3>快速注册新用户</h3>
      <div class="boxinter">
      <p><label for="email" class="label">邮箱</label> <%= text_field_tag :email %> <span class="require">*</span> <%= error_message_on(:user, :email, :tag => 'span') %></p>
      <div style="color:#555;text-align:center">只需填入您的邮箱即可完成注册</div>
      <div style="color:#555;text-align:center">我们会给您发送一份确认邮件</div>
      <%= hidden_field_tag :login, "匿名用户" %>
      <%= hidden_field_tag :password, "12345" %>
      <%= hidden_field_tag :password_confirmation, "12345" %>
      </div>
    </div>
    <img src="/images/mooncake/flow.png" alt="flow" style="margin-left:268px;"/>
      <% end %>
    <div id="commendbox">
    <h3>写爱心留言</h3>
    <div class="boxinter">
      <p><label></label><%= text_area_tag "comment", nil, :cols => 40, :rows => 4 ,:style => "width:500px;"%></p>
      
      <% if group = Group.find_by_slug('mooncake') %>
      <p class="rememberMe">
        <%= check_box_tag 'join', 1, true %> 
        <label for="join_group">加入“<%= link_to "时光之秋 公益月饼小组", group_url(group), :target => "_blank",:tabindex  => -1 %>”。</label>
      </p>
      <% end %>
      <p><label>&nbsp;</label><%= submit_tag "写好了，保存" %></p>
      </div>
    </div>
    <% end -%>
   <script type="text/javascript">
   jQuery(document).ready(function(){
    jQuery("form").submit(function ()
                          {if(jQuery('#email').val()!='' ){jQuery('#status').val('signup')} else{jQuery('#status').val('login')};});})
    </script>
  </div>
    
</div>