<table class="tableList">
  <thead>
    <tr>
      <th>标题</th>
      <th class="author">作者</th>
      <th class="replies">回复</th>
      <th class="lastPost">最后回复</th>
    </tr>
  </thead>
  <tbody>  
  <% topics.each do |t| -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td>
      <%= image_tag("/images/stick.gif", :alt => "置顶帖", :title => "置顶帖") if t.sticky? %>
      <%= link_to t.title,topic_url(t) %>
    </td>
    <td><%= link_to t.user.login, user_url(t.user), :class => "link" %></td>
    <td><%= t.comments_count %></td>
    <td><%= link_to "#{t.last_replied_datetime.to_date} by #{t.last_replied_user.login}", topic_url(t, :anchor => (t.comments.last.id if t.comments.last)), :class => "link" %></td>
  </tr>
  <% end -%>
  </tbody>
</table>
