<%
if @board.talkable.class == CityBoard
  @page_title = "#{@board.talkable.geo.name}同城话题"
end
%>

<% content_for :sidebar do -%>
  <% if @board.talkable.class == CityBoard -%>
    <p>&raquo; <%= link_to "返回#{@board.talkable.geo.name}同城", board_url(@board) %></p>
  <% elsif @board.talkable.class == SchoolBoard -%>
    <p>&raquo; <%= link_to "返回#{@board.talkable.school.title}", school_url(@board.talkable.school) %></p>
  <% end -%>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= @page_title %></h2>
      <div class="contents">
        
        <%= render :partial => "topics", :locals => {:board => @board, :topics => @topics} %>
        <%= customize_paginate @topics %>
      </div>
    </div>
  </div>
</div>
