<% @page_title = @title = "写新话题" -%>

<% content_for :sidebar do -%>
<% end -%>

  <% form_for @topic, :url => board_topics_url(@board) do |f| -%>
  <%= render :partial => "/topics/form", :object => f %>
  <% if current_user.topics.size == 0%>
        <p>
   请黄色输入框输入下面图片中显示的两个单词，<br/>如果看不清请点击输入框边上的 <%= image_tag "/images/icon/recaptcha.png",:style=>"position:relative;top:3px"%> 刷新单词
   <%= recaptcha_tags %>
        </p>
   <% end %>
   
  <p style="margin-left:70px"><%= f.submit "发布" ,:class => "surebutton"%> <%= f.submit "取消" ,:class => "surebutton",:onclick =>"javascript:window.location='#{((@board.talkable.class == Team) ? team_path(@board.talkable) : board_path(@board) )}';return false" %></p>
  <% end -%>
