<% content_for :heads do -%>
  <style type="text/css">.school_list_meta{width:160px;}</style>
  <meta name="description" content="来自多背一公斤的话题： <%= summary(@topic ,60)-%>...">
<%end%>

<% @page_title = h(@topic.title) -%>

<% content_for :crumb do -%>
  <p style="display:none">来自多背一公斤的话题： <%= summary(@topic ,60)-%>...</p>
  <% if @topic.board.talkable.class == PublicBoard -%>
    <li><%= link_to @topic.board.talkable.title, board_url(@topic.board) %></li>
  <% end -%>

  <ul><li><%= @topic.title %></li></ul>
<% end -%>

<% content_for :sidebar do -%>
  <div class="clearfix"  style="height:20px"></div>
  <div class="contents">
        <% if @topic.board.talkable.class == GroupBoard -%>
          <p>&raquo; <%= link_to "返回 #{@topic.board.talkable.group.title}小组", group_url(@topic.board.talkable.group) %></p>
          <p>&raquo; <%= link_to "返回 #{@topic.board.talkable.group.title}小组讨论区", board_url(@topic.board_id) %></p>
        <% elsif @topic.board.talkable.class == SchoolBoard -%>  
          <p>&raquo; <%= link_to "返回 #{@topic.board.talkable.school.title}", school_url(@topic.board.talkable.school) %></p>
          <p>&raquo; <%= link_to "返回 #{@topic.board.talkable.school.title}讨论区", board_url(@topic.board_id) %></p>
        <% else -%>
          <p>&raquo; <%= link_to "返回讨论区", board_url(@topic.board_id) %></p>
        <% end -%>
  </div>
  
  <% unless @others.empty?%>
  <div class="cleanfix" style="height:30px"></div>
  <div class="newbox">
    <span class="span_title">
      <% if @topic.board.talkable.class == GroupBoard -%>小组的<% elsif @topic.board.talkable.class == SchoolBoard -%>学校的<% end %>其他话题</span>
    <div class="cleanfix" style="height:10px"></div>
    <div class="contents">
      <%= render :partial => "/shared/stopic", :collection => @others %>
    </div>
    <div class="cleanfix" style="height:20px"></div>
  </div>
  <%end%>

  
  
<% end -%>

  <div class="newbox" id="topicSingle">
        <div class="metadata" style="border-bottom:1px #ccc solid;padding-bottom:4px">
            <h2 style="font-size:20px;font-weight:bold;padding-bottom:4px"><%= @topic.title %></h2>
            <span class="gary_span"><%= link_to @topic.user.login, user_url(@topic.user)  %> 写于 <%= @topic.created_at.to_date %></span>
            <% if @topic.moderatable_by? current_user -%>
              <%= link_to (@topic.sticky? ? "取消置顶" : "置顶"), stick_board_topic_url(@topic.board_id, @topic), :method => :put %> |
              <%= link_to (@topic.block? ? "允许回复" : "禁止回复"), close_board_topic_url(@topic.board_id, @topic), :method => :put %> |
            <% end -%>
            
            <% if @topic.editable_by? current_user -%>
              <%= link_to "编辑", edit_board_topic_url(@topic.board_id, @topic) %> |
              <%= link_to "删除", board_topic_url(@topic.board_id, @topic), :method => :delete, :confirm => "确定删除么?" %>
            <% end -%>
        </div>
        <div id="entry">
          
          <%= @topic.html %>
          <p style="color:gray; text-align:right;">
            <% if @topic.last_modified_user -%>
              本帖由 <%= @topic.last_modified_user.login %> 最后修改于 <%= @topic.last_modified_at.to_date %>
            <% end -%>
          </p>
       
        <%= share_link(summary(@topic ,60),(@page_title.to_s + " - 多背一公斤"))%>
        </div>
  </div>

<% unless @posts.blank? -%>
  <div class="newbox" id="topicCommentsList">
        <h3>回复</h3>
        <ol class="clearfix">
          <% @posts.each do |p| -%>
          <li>
            <div class="avatar"><%= avatar_for p.user, "large" %></div>
            <div class="content">
              <p class="meta">
                <%= link_to p.user.login, user_url(p.user) %> 写于 <%= p.created_at.to_date %>
                
                <%= link_to "回复", '#', :onclick => 'reply_comment(this); return false;' %>
                <% if p.editable_by current_user -%>
                    | <%= link_to "编辑", edit_board_topic_post_url(@board, @topic, p) %>
                  <% if p.deleted_at.blank? -%>
                    | <%= link_to "删除", board_topic_post_url(@board, @topic, p), :method => :delete, :confirm => "确定要删除么?" %>
                  <% end -%>
                <% end -%>
              </p>
              <%= p.html %>
            </div>
            
            <div style="clear:both;height:10px"></div>
            
            <div class="reply" style="display:none;">
              <%= render :partial => "/comments/form", :locals => {:commentable => p,:cancal => true} %>
            </div>
            
            <%= render :partial => "/comments/replys", :object => p.comments.paginate(:page => 1, :per_page => 100) %>
          </li>
          
          <% end -%>
        </ol>
  </div>
<% end %>


  <div class="newbox" id="topicCommentForm">
        <h3 id="reply">回帖</h3>
        <% if logged_in? -%>
        
          <% if @topic.block? -%>
          
            <div class="contents">本帖不能回复</div>
          
          <% else -%>
            <% if @board.talkable.class == GroupBoard && ! @board.talkable.group.members.include?(current_user) -%>
            
              <div class="contents">只有小组成员可以回复话题，现在就<%= link_to "加入小组", join_group_url(@topic.board.talkable.group, :to => CGI.escape(request.request_uri)), :class => "buttonlink" %>。
              </div>
            
            <% else -%>
            
              <% form_for :post, :url => board_topic_posts_url(@board, @topic, :type => "fast") do |f| -%>
              <p><%= f.text_area :body_html, :cols => 60, :rows => 15 %></p>
              <p class="submit"><%= submit_tag "发 布" %></p>
              <% end -%>
          
            <% end -%>
          <% end -%>
        <% else -%>

          <div class="contents"><%= link_to "登录", ajax_login_url(:iframe => true, :width => 550, :height => 480, :alt => "登录"), :rel => 'prettyPhoto[iframes]' %>以后可以回复话题</div>

        <% end -%>
  </div>