<% content_for :heads do -%>
  <style type="text/css">.school_list_meta{width:160px;}</style>
  <meta name="description" content="来自多背一公斤的话题： <%= summary(@topic ,60)-%>...">
<%end%>

<% @page_title = h(@topic.title) -%>



<% content_for :sidebar do -%>
  <div class="clearfix"  style="height:20px"></div>
  
  <%= render :partial => '/public/introable', :object => @topic.boardable %>

  <div class="box">
  <div class="cleanfix" style="height:20px"></div>
     <h4>推荐此话题的用户</h4>
      <div class="clearfix" style="height:10px"></div>
      <%= render :partial => "/public/user_list", :locals => {:users => @topic.votes.map(&:user)} %>
  </div>
  
  <% unless @others.empty?%>
  <div class="cleanfix" style="height:20px"></div>
  <div class="box">
    <h4>其他话题</h4>
    <div class="contents">
      <%= render :partial => "/public/stopic", :collection => @others %>
    </div>
    <div class="cleanfix" style="height:20px"></div>
  </div>
  <%end%>
<% end -%>

  <div class="box" id="topicSingle">
        <div class="metadata" style="border-bottom:1px #ccc solid;padding-bottom:4px">
            <h2 style="font-size:20px;font-weight:bold;padding-bottom:4px"><%= @topic.title %></h2>
            <span class="gary_span"><%= link_to @topic.user.login, user_url(@topic.user)  %> 写于 <%= @topic.created_at.to_date %></span>
            <% if @topic.boardable.managed_by? current_user -%>
              <%= link_to (@topic.sticky? ? "取消置顶" : "置顶"), stick_topic_url(@topic), :method => :put %> |
              <%= link_to (@topic.block? ? "允许回复" : "禁止回复"), close_topic_url(@topic), :method => :put %> |
            <% end -%>
            
            <% if @topic.owned_by? current_user -%>
              <%= link_to "编辑", edit_topic_url(@topic) %> |
              <%= link_to "删除", topic_url(@topic), :method => :delete, :confirm => "确定删除么?" %>
            <% end -%>
        </div>
        <div id="entry">
          <%= @topic.html %>
        </div>
        
        <div style="text-align:right">
          <p style="color:gray; text-align:right;">
            <% if @topic.last_modified_user -%>
              本帖由 <%= @topic.last_modified_user.login %> 最后修改于 <%= @topic.last_modified_at.to_date %>
            <% end -%>
          </p>
          <p id ="voting" style="margin:7px 0;">
            <span>已有 <%= @topic.votes.count -%> 人推荐这个话题 </span>
            <% if current_user && current_user.has_voted?(@topic) -%>
              您已推荐了
            <% else -%>
              <%= link_to '我要推荐', votes_path(:voteable_id => @topic.id,:voteable_type => 'Topic'), :method => 'post', :class => 'buttonlink' %>
            <% end -%>
          </p>
        <%= render :partial => "/public/share_to", :locals => {:text => summary(@topic ,60),:title => (@page_title.to_s + " - 多背一公斤")} %>
        </div>
  </div>

<%= render :partial => "/comments/comments", :object => @comments %>

<%= render :partial => "/comments/form", :locals => {:commentable => @topic} %>
