<h1>更新项目执行报告</h1>
<% form_for [@school, @requirement] do |form| %>
  <p><label>执行报告</label><br />
  <%= form.text_area :feedback, :style => 'width:600px;height:500px;', :class => "mceEditor" %>
  <p><label></label><%= submit_tag "更新报告" %></p>
<% end %>

<% content_for :sidebar do -%>
<div class="project_info">
  <div class="title_line"><span class="span_title2">反馈要求</span></div>
  <%= "#{@requirement.requirement_type.feedback_require}<br/>" %><%= "需要在 #{@requirement.requirement_type.feedback_at.to_date} 之前完成反馈" unless @requirement.requirement_type.feedback_at.nil?%>
</div>
  <div class="project_info">
    <div class="title_line"><span class="span_title2">我的执行计划</span></div>
    <%= @requirement.apply_plan %>
  </div>
  
  <% unless @requirement.problem.nil? or @requirement.problem.empty?%>
  <div class="project_info">
    <div class="title_line"><span class="span_title2">可能遇到的问题与我的解决方案</span></div>
    <%= @requirement.problem %>
  </div>
  <% end%>
  
  
  <% unless @requirement.budget.nil? or @requirement.budget.empty?%>
  <div class="project_info">
    <div class="title_line"><span class="span_title2">我的资金预算</span></div>
    <%= @requirement.budget %>
  </div>
  <% end%>
<%end%>