<% @page_title = @title = "为#{h @school.title}申请#{h @project.title}" %>

<% content_for :sidebar do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>项目介绍</h3>
      <p class="postNew"></p>
      <div class="contents">
        <p><label class="class">申请截至时间：</label><%= @project.apply_end_at.to_date %></p>
        <p><label class="class">开始时间：</label><%= @project.start_at.to_date %></p>
        <p><label class="class">结束时间：</label><%= @project.end_at.to_date %></p>
        <%= @project.description_html %>
      </div>
    </div>
  </div>
</div>

<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <p class="postNew"></p>
      <div class="contents">
        <p>申请前请先与学校取得联系，确认学校邮寄地址、联系电话、学生人数、教师人数和班级数。如果与网站上的不一致，请先<%= link_to "更新学校信息", edit_school_url(@school) %>。</p>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>项目反馈要求</h3>
      <p class="postNew"></p>
      <div class="contents">
        TODO：根据项目发布时的选择罗列，用户需要同意协议
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>填写申请表</h3>
      <p class="postNew"></p>
      <div class="contents">
        <% form_for :apply, :url => requirement_type_requirements_url(@project) do |f| -%>
        <%= f.hidden_field :school_id, {:value => @school.id} %>
        <p><label class="label">申请人</label>
          <%= f.hidden_field :applicator_id, {:value => current_user.id} %>
          <%= h current_user.login %>
        </p>
        <p><label class="label">申请者电话</label><%= f.text_field :applicator_telephone %></p>
        <p><label class="label">申请理由</label><%= f.text_area :apply_reason, :cols => 80, :rows => 10 %></p>
        <p><label class="label">实施计划</label><%= f.text_area :apply_plan, :cols => 80, :rows => 10 %></p>
        <p><label class="label">&nbsp;</label>(含物资到达后的分配、使用方案，如有资金申请，请写明预算。)</p>
        <p><label class="label">&nbsp;</label><%= submit_tag "申 请" %></p>
        <% end -%>
      </div>
    </div>
  </div>
</div>
