<% @page_title = "#{@requirement.requirement_type.title} -#{@school.title} " -%>

<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div>
  <span class="span_title2">受益学校</span>
  <%= render :partial => "/shared/school", :object => @requirement.school %>
  <br/>
  <div class="cleanfix" style="clear:both;height:10px"></div>
  <span class="span_title2">项目来源</span>
  <%= render :partial => "/shared/project", :object => @requirement.requirement_type %>
  
<% end %>

<h1><%= @requirement.requirement_type.title %></h1>
<h6 style="color:#666"><%= @requirement.school.title %></h6>

<div class="cleanfix" style="clear:both;height:20px"></div>

<div class="cleanfix" style="clear:both;height:3px"></div>

<div class="newbox">
  <span class="span_title">申请原因</span>
  <div class="cleanfix" style="height:3px"></div>
  <%= @requirement.apply_reason %>
</div>

<div class="newbox">
  <span class="span_title">执行计划</span>
  <div class="cleanfix" style="height:3px"></div>
  <%= @requirement.apply_plan %>
</div>

<div class="cleanfix" style="clear:both;height:5px"></div>

<div class="newbox">
  <span class="span_title">执行报告</span>
  <div class="cleanfix" style="height:3px"></div>
  <%= @requirement.feedback %>
  <% if logged_in? && @requirement.applicator == current_user -%>
  <div id="admins">你是项目申请者，可以更新此项目的执行报告：<br/>
    <%= link_to "更新报告", edit_school_requirement_url(@school, @requirement) ,:class => "adminbutton"%>
  </div>
  <% end -%>
</div>