<% @page_title = "1KG 物资团捐"%>
<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<%end%>


<% content_for :crumb do -%>
    <li><%= link_to "团捐", co_donations_url %></li>
<% end -%>
<div style="padding:10px;margin-bottom:10px;"><%= image_tag "/images/co_donations.png"%></div>

<div style="float:right;position:relative;top:2px"><%= link_to "发起团捐", new_co_donation_url,:class => "buttonjoin" %></div>

<span class="span_title" style="margin-right:8px">正在接受捐赠</span>
<div class="clearfix" style="clear:both;height:10px"></div>
<%= render :partial => "/shared/co_donation", :collection => @co_donations ,:locals => {:detail => true}%>
<div class="clearfix" style="clear:both;height:20px"></div>


<% content_for :sidebar do -%>
  
  <div class="clearfix" style="margin:30px 0 10px"><span class="span_title" style="margin-right:8px">我参与的团捐</span></div>


  <% if logged_in?%>
    <%= "你还没有参与过团捐" if @sub_donations.empty? %>
    <% @sub_donations.each do |sub_donation|%>
      <div class="record">
      <span class="gary_span" style="float:right"><%= link_to "查看捐赠证明",sub_donation.image.url,:rel => "prettyPhoto[gallery]",:description => "#{sub_donation.user.login} 为#{sub_donation.co_donation.school.title}捐赠#{sub_donation.co_donation.goods_name}的证明" unless sub_donation.state == "ordered" %></span>
      <h6><%= link_to sub_donation.co_donation.title,sub_donation.co_donation%></h6>
      <span style="float:right;color:#fff;padding:1px 6px;position:relative;top:8px;font-size:13px;font-weight:bold;background-color:<%= {'ordered'=>'#FFA070','proved'=>'#e98523','received'=>'#EF6A0B','missed'=>'#aaa','refused'=>'#aaa'}[sub_donation.state]%>"><%= {"ordered" => "未寄出","proved" => "已寄出","refused" => "捐赠无效","received" => "捐赠已收到","missed" => "物流失败"}[sub_donation.state] %></span>
      捐赠 <span style="font-size:24px;color:<%= {'ordered'=>'#FFA070','proved'=>'#e98523','received'=>'#EF6A0B','missed'=>'#aaa','refused'=>'#aaa'}[sub_donation.state]%>" class="donation_number"><%= sub_donation.quantity %></span> 件
      </div>
    <% end %>
  <%else%>
    请 <%= link_to "登录", login_path(:to => CGI.escape(request.request_uri)) %>  或 <%= link_to "注册", signup_path(:to => CGI.escape(request.request_uri)) %>
  <% end %>

<% end -%>
