
<% @page_title = @title = @co_donation.title%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
    $(".more").toggle(
      function () {$($(this).attr('name')).animate({ height: 'show' },'fast');$(this).attr('style','background-image:url(/images/less.gif)')},
      function () {$($(this).attr('name')).animate({ height: 'hide' },'fast');$(this).attr('style','background-image:url(/images/more.gif)')}
    );
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<%end%>

<% content_for :crumb do -%>
  
<% end -%>

<% content_for :sidebar do -%>
    
    <% if logged_in? && (y@co_donation.user_id == current_user.id) -%>
    
    <% end -%>
    
    <span class="remark"><%= link_to "&raquo; 回到团捐首页",co_donations_url%></span>
    <div class="cleanfix" style="height:20px"></div>
    <% unless @co_donation.records.empty?%>
    <div class="newbox">
      <span class="span_title2">捐赠记录</span>
        <div class="cleanfix" style="height:10px"></div>
        <%= render :partial => "/shared/sub_donation", :collection => @co_donation.records %>
        <p style="text-align:right;padding:0 15px">已捐赠数量 <span class="donation_number" style="color:#EF6A0B;font-size:28px"><%= @co_donation.number %></span></p>
        <div class="cleanfix" style="height:20px"></div>
    </div>
    <% end -%>
<% end -%>

<div style="margin-top:-10px; margin-bottom:10px"> <%= avatar_for @co_donation.user, 'small' %> <%= link_to @co_donation.user.login, user_url(@co_donation.user.id) %> 在 <%= @co_donation.created_at.to_date %> 发起</div>  
<div>
  <%= main_photo_thumb(@co_donation.school) -%>
  
  <div style="float:left;width:360px;margin-left:10px;padding-right:20px">
    <div style="font-size:14px;font-weight:bold;margin-bottom:4px"><%= " #{@co_donation.school.title}需要#{@co_donation.goods_name}"%></div>    
    <div id="summary" style="height:60px">
      <% short = (@co_donation.description).gsub(/<.*?>/, '').gsub("\n", '<br/>').mb_chars.slice(0..120) %> 
      <%= short[120].nil? ? @co_donation.description  : (short + "...") %>
      <% unless short[120].nil? %> <a href="#" onclick="javascript:$('#summary').hide();$('#reason_detail').show();return false">(展开)</a><% end%>
    </div>
     <div id="reason_detail" style="display:none">
      <%= (@co_donation.description) %>
      <a href="#" onclick="javascript:$('#reason_detail').hide();$('#summary').show();return false">(收起)</a>
    </div>
  </div>
  
    <div id="donation_counter">
      <p style="margin:0"><%= '还' unless @co_donation.number == 0 %>需要 <span style="font-size:28px;font-style:italic;font-family:cursive;position:relative;top:2px"><%= @co_donation.still_need %></span> 件</p>
      <%= progressbar @co_donation.matched_percent, :generate_css => true %>
      <h6><%=  "#{@co_donation.number}/#{@co_donation.goal_number}" %></h6>
      <span class="gary_span">
      <%= @co_donation.end_at.to_date %>截止
      </span>
    </div>
    
</div>
<div style="clear:both;height:20px"></div>  
<%= render :partial => "state" %>
<div style="clear:both;height:26px"></div>  
<div class="project_info" style="display:none">
  <div class="title_line"><h5>捐赠物资的使用计划</h5></div>
  <%= "#{@co_donation.plan}<br/>" %>
</div>
<div style="clear:both;height:20px"></div>  
  <%= render :partial => "/comments/comments", :object => @comments %>
  <%= render :partial => "/comments/form", :locals => {:commentable => @co_donation} %>