
<% @page_title = @title = @co_donation.title%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
    $("#projects_tabs").tabs();
    $(".more").toggle(
      function () {$($(this).attr('name')).animate({ height: 'show' },'fast');$(this).attr('style','background-image:url(/images/less.gif)')},
      function () {$($(this).attr('name')).animate({ height: 'hide' },'fast');$(this).attr('style','background-image:url(/images/more.gif)')}
    );
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<%end%>

<% content_for :crumb do -%>
    <li><%= link_to "团捐", co_donations_url %></li>
<% end -%>

<% content_for :sidebar do -%>

  <% if logged_in? && (@co_donation.user == current_user)%>
        <div id="admins">
          <p><%= (current_user.login)%>，你是团捐发起人，需要做到：</p>
          <p>1. 管理捐赠记录，确认物资的接收情况，以及捐赠证明是否真实有效。
          <br/>2. 当确认物资收到之后，填写反馈报告，让大家知道物资被有效的利用。<%= link_to "编辑报告",feedback_co_donation_url(@co_donation),:class => "adminbutton" %></p>
        </div>
  <% end %>
  
    <%= render :partial => "state" %>
    <div class="cleanfix" style="height:40px"></div>
    
    <div class="newbox">
      <span class="span_title2">捐赠记录</span>
        <div class="cleanfix" style="height:10px"></div>
        <% "还没有获得捐赠" if @co_donation.records.empty?%>
        <%= render :partial => "/shared/sub_donation", :collection => @co_donation.records %>
        <% unless @co_donation.records.empty?%>
        <p style="text-align:right;padding:0 15px">已捐赠数量总计 <span class="donation_number" style="color:#EF6A0B;font-size:28px"><%= @co_donation.number %></span></p>
        <% end -%>
        <div class="cleanfix" style="height:20px"></div>
    </div>
    
<% end -%>

<div class="clearfix">
    <div style="height:120px;width:120px;overflow:hidden;text-align:center;float:left">
      <%= image_tag(@co_donation.image(:thumb), :alt => @co_donation.title,:style => "width:120px;") %>
    </div>

  
  <div style="float:left;width:260px;padding-left:20px;padding-right:20px">
    <p><label>发起人：</label><%= avatar_for @co_donation.user, 'small' %> <%= link_to @co_donation.user.login, user_url(@co_donation.user.id) %> <span class="gary_span">(<%= @co_donation.end_at.to_date %>)</span></p>
    <p><label>受益学校：</label> <%= link_to @co_donation.school.title, school_url(@co_donation.school.id) %></p>
    <p><label>截止日期：</label><%= @co_donation.end_at.to_date %></p>
  </div>
  
    <div id="donation_counter">
      <p style="margin:0 0 5px;text-align:right"><%= '还' unless @co_donation.number == 0 %>需要 <span style="font-size:24px;font-style:italic;font-family:cursive;position:relative;top:2px"><%= @co_donation.still_need %></span> 件<br/>
      <span class="gary_span"><%=  "已捐赠：#{@co_donation.number }<br/>" unless (@co_donation.number == 0)%><%= "目标数量：#{@co_donation.goal_number}" %> </span></p>
      <%= progressbar @co_donation.matched_percent, :generate_css => true%><br/>
      
    </div>
</div>


<div class="cleanfix" style="height:20px"></div>

<div id="projects_tabs">
    <ul class="tab" >
      <li class="tabs_more"><%= link_to '项目细节', "#detail" %></li>
      <li class="tabs_more"><%= link_to '项目反馈', "#report",:id => "report_link" %></li>
    </ul>
    
    <div id="detail">
      <div class="project_info">
        <div class="title_line"><h5>学校故事</h5></div>
        <%= @co_donation.description %>
      </div>
      
      <div class="project_info">
        <div class="title_line"><h5>执行计划</h5></div>
        <%= @co_donation.plan %>
      </div>
    </div>
          
    <div id="report">      
      
    </div>
</div>

<div style="clear:both;height:20px"></div>  
  <%= render :partial => "/comments/comments", :object => @comments %>
  <%= render :partial => "/comments/form", :locals => {:commentable => @co_donation} %>