
<% @page_title = @title = @co_donation.title%>


<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  <%= javascript_include_tag 'swfupload' %>
  <%= javascript_include_tag 'handlers' %>

  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
    $("#donations_tabs").tabs();
    $(".more").toggle(
      function () {$($(this).attr('name')).animate({ height: 'show' },'fast');$(this).attr('style','background-image:url(/images/less.gif)')},
      function () {$($(this).attr('name')).animate({ height: 'hide' },'fast');$(this).attr('style','background-image:url(/images/more.gif)')}
    );
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<%end%>

<% content_for :crumb do -%>
<p style="display:none">来自多背一公斤的捐赠活动： <%= summary(@co_donation ,60)%>...</p>
    <li><%= link_to "团捐", co_donations_url %></li>
<% end -%>

<% content_for :sidebar do -%>

  <% if logged_in? && (@co_donation.user == current_user)%>
        <div id="admins">
          <p><%= (current_user.login)%>，你是团捐发起人，需要做到：</p>
          <p>1. 管理捐赠记录，确认物资的接收情况，以及捐赠证明是否真实有效。
          <br/>2. 当确认物资收到之后，填写反馈报告，上传反馈照片，让大家知道物资被有效的利用。</p>
        </div>
  <% end %>
  
  <%= render :partial => "state" %>
    
    <div class="newbox">
      <span class="span_title2">捐赠记录</span>
        <div class="cleanfix" style="height:10px"></div>
        <% "还没有获得捐赠" if @co_donation.records.empty?%>
        <%= render :partial => "/shared/sub_donation", :collection => @co_donation.records %>
        <% unless @co_donation.records.empty?%>
        <p style="text-align:right;padding:0 15px">捐赠数量总计 <span class="donation_number" style="color:#EF6A0B;font-size:28px"><%= @co_donation.number %></span></p>
        <% end -%>
        <div class="cleanfix" style="height:20px"></div>
    </div>
    
<% end -%>

<div class="clearfix">
    <div style="height:120px;width:120px;overflow:hidden;text-align:center;float:left">
      <%= image_tag(@co_donation.image(:thumb), :alt => @co_donation.title,:style => "width:120px;") %>
    </div>

  
  <div id="donation_meta">
    <p><label>发起人：</label><%= avatar_for @co_donation.user, 'small' %> <%= link_to @co_donation.user.login, user_url(@co_donation.user.id) %> <span class="gary_span">(<%= @co_donation.end_at.to_date %>)</span></p>
    <p><label>受益学校：</label> <%= link_to @co_donation.school.title, school_url(@co_donation.school.id) %></p>
    <p><label>目标：</label><span class="donation_number" style="color:#EF6A0B;font-size:20px;line-height:15px"> <%= @co_donation.goal_number %></span> 件</p>
    <p><label>已捐赠：</label><span class="donation_number" style="color:#EF6A0B;font-size:20px;line-height:15px"><%= @co_donation.number %></span> 件</p>
    <p><label>截止日期：</label><%= @co_donation.end_at.to_date %></p>
  </div>
  
    <div id="donation_counter">
      <br/>
      <%= progressbar @co_donation.matched_percent, :generate_css => true ,:custom_css => true%><br/>
    <p style="position:relative;top:-28px"><%= @co_donation.number%>/<%= @co_donation.goal_number%></p>
    
      <% if [nil,"canceled",'missed','received','proved'].include?(@state) %>
        <div>
          <a href="#" style="background-color:#ff2600;font-size:18px;font-weight:bold;padding:4px 14px;border-radius:6px" onclick="javascript:$(this).toggle();$('#input_number').toggle();return false" class="surebutton">我要捐赠</a>
          <div id="input_number" style="display:none">
          <% form_for [@co_donation, @sub_donation] do |f| %>
              <span class="span_title2">捐赠</span>
              <%= f.text_field :quantity,:id => "donation_quantity"%><span class="span_title2">件</span>
              <%= f.submit '确定',:class => "surebutton" %><br/>
              <%= error_message_on @sub_donation, :quantity %>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
</div>
<p><span class="more" name="#donation_receiver">查看捐赠接收人信息</span></p>
  <div id="donation_receiver" class="caution" style=" <%= 'display:none' unless @state == 'ordered'%>">
    <h6 style="color:#a84300">捐赠接收人信息</h6>
      <span class="gary_span">请在邮寄或快递物资时仔细填写</span>
    <p>地址：<%= @co_donation.address%></p>
    <p>姓名：<%= @co_donation.receiver%>　邮编：<%= @co_donation.zipcode%>　电话：<%= @co_donation.phone_number%></p>
    </p>
  </div>


<div class="cleanfix" style="height:20px"></div>

<div id="donations_tabs">
    <ul class="tab" >
      <li class="tabs_more"><%= link_to '捐赠背景', "#detail" %></li>
      <li class="tabs_more"><%= link_to '捐赠反馈', "#report",:id => "report_link" %></li>
    </ul>
    
    <div id="detail">
      <div class="project_info">
        <div class="title_line"><h5>学校故事</h5></div>
        <%= @co_donation.description %>
      </div>
      
      <div class="project_info">
        <div class="title_line"><h5>反馈计划</h5></div>
        <%= @co_donation.plan %>
      </div>
    </div>
          
    <div id="report">
      
      <div class="project_info">
          <div class="title_line"><span>照片</span>　<%= upload_button('upload_container', photo_upload_path_with_session('co_donation',@co_donation.id)) %></div>
            
            <div class="clearfix" id="photos">
              <div id="upload_container"></div>
              <%= render :partial => "/schools/gallery_photo", :collection => @photos,:locals => {:no_title => true}%>
              <%= "暂无照片" if @photos.empty? %>
              
              <div style="text-align:right;clear:both">
                <%= "共有#{@photos.size}张照片" unless @photos.empty? %>
              </div>
              
              <div style="display:none;" id="upload_tip">
              上传遇到问题？试试 <%= link_to '传统方式', new_photo_path(:co_donation_id => @co_donation.id) %> 上传.
              </div>  
            </div>
        </div>
        
        <div class="project_info">
          <div class="title_line"><span>反馈报告</span> <%= link_to "更新反馈", feedback_co_donation_url(@co_donation) ,:class => "buttonlink" if @co_donation.feedback && logged_in? && @co_donation.user == current_user%></div>
          <% if @co_donation.feedback.nil? %>
            <% if logged_in? && @co_donation.user == current_user -%>
              如果捐赠有了进展，就<%= link_to "填写反馈", feedback_co_donation_url(@co_donation) ,:class => "buttonlink"%> 告诉大家吧。
            <% else %>
              <p>发起人还没有填写</p>
            <% end %>
          <% else %>
            <%= @co_donation.feedback %>
          <% end -%>
        </div>
    </div>
    <%= share_link(summary(@co_donation ,60),(@page_title.to_s + " - 多背一公斤"))%>
</div>

<div style="clear:both;height:20px"></div>  
  <%= render :partial => "/comments/comments", :object => @comments %>
  <%= render :partial => "/comments/form", :locals => {:commentable => @co_donation} %>