
<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/kuailebox.css" media="screen, projection" />

<% end -%>

<% @page_title = "“爱音乐”音乐教室"  -%>

<% content_for :crumb do -%>
<li>“爱音乐”音乐教室</li>
<% end -%>

<% content_for :fullsize do -%>
<div style="position:absolute;top:252px;left:694px;text-align:center"><%= link_to " ",@project,:id => "apply_mcr"%></div>
<img src="/images/musicclassroom/banner.jpg" alt="“爱音乐”音乐教室" style="margin:10px;" />



<div class="lcolumn">
   
  <div class="newbox" style="font-size:13px">
      <div class="title_line"><h5>活动介绍</h5></div>
      
        <p>放飞音乐梦想，传承民族宝藏。广州电信联手多背一公斤于2010年7月至2011年2月，在中国乡村学校开展音乐教室项目，通过互联网为少数民族地区的乡村学校建立互动音乐教室，希望能在帮助孩子们学习音乐知识的同时，孩子们能够从自己的视角去记录当地原生态的民族歌舞。提倡分享，鼓励参与，大家一起行动起来将音乐的种子播撒到乡村学校，让当地的民族歌舞得到传承与发扬。</p>
        <p>现在，就为你关心的学校提出申请吧！</p>
      
     
  </div>
  
  <div class="newbox">
      <div class="title_line"><h5>相册</h5></div>
        <%= render :partial => "/shared/photo", :collection => @photos %>
        <span class="gary_span"><%= "coming soon" if @photos.empty? %></span>
      <div class="clearfix" style="clear:both;height:20px"></div>
  </div>
  
  <div class="newbox">
      
      <div class="title_line"><h5>分享</h5></div>
      <div class="contents">
        <%= render :partial => "/shared/share", :collection => @shares %>
        <span class="gary_span"><%= "coming soon" if @shares.empty? %></span>
      </div>
      <div class="cleanfix" style="height:20px"></div>
  </div>

</div>

<div class="rcolumn">
  <div class="newbox">
    <div class="title_line"><h5>参与学校</h5></div>
     <%= render :partial => "/projects/execution", :collection => @project.executions %>
     <span class="gary_span"><%= "学校大使们，赶紧为你的学校 #{link_to '申请',@project} 吧!" if @project.executions.empty? %></span>
  </div>
  
</div>

<div id="misc" >
  <span style="color:#999;font-weight:bold">活动支持</span><br/>
  <%= link_to image_tag("musicclassroom/imusic.gif"), "http://www.118100.cn" %>
  <%= link_to image_tag("musicclassroom/imusiclub.gif"), "http://www.imusiclub.cn" %>
  <%= link_to image_tag("musicclassroom/yoodoo.png"), "http://yooodo.com" %>
  <%= link_to image_tag("musicclassroom/tianyi.gif"), "http://www.ct10000.com/esurfing/" %>
  <%= link_to image_tag("musicclassroom/telecom.gif"), "http://www.chinatelecom.com.cn/" %>
  <%= link_to image_tag("logo.gif"), root_url %>
</div>

<% end -%>
