<% @page_title = "公益小组" -%>

<% content_for :sidebar do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>申请方法</h3>
      <div class="contents">
        <p>在此添加申请方法</p>
        <p>&raquo; <%= link_to "创建新小组", new_group_url %></p>
      </div>
    </div>
  </div>
</div>

<% if logged_in? -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>我参加的小组</h3>
      <div class="contents">
        <table>
        <% @my_groups.each do |g| -%>
          <tr><td><%= link_to g.title, group_url(g) %></td></tr>
        <% end -%>
        </table>
      </div>
    </div>
  </div>
</div>
<% end -%>
<% end -%>



<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>最新小组</h2>
      <div class="contents">
        <table>
          <tr>
            <th>小组</th>
            <th>组长</th>
            <th>组员</th>
          </tr>
          <% @groups.each do |g| -%>
          <tr>
            <td><%= link_to g.title, group_url(g) %></td>
            <td><%= link_to g.creator.login, user_url(g.creator) %></td>
            <td><%= g.members.count %></td>
          </tr>
          <% end -%>
        </table>
      </div>
    </div>
  </div>
</div>