<% @page_title = "小组" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end %>

<% content_for :crumb do -%>
<li>小组</li>
<% end -%>
<% content_for :sidebar do -%>

<%= render :partial => '/searches/search_box', :locals => {:kind => 'group'} %>

<% if logged_in? -%>
<div class="newbox">
      <span class="span_title">我的小组</span>
      <div class="clearfix" style="height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => "groups", :object => @my_groups %>
      </div>
</div>
<%else%>
<div class="newbox">
      <span class="span_title">新成立的小组</span>
      <div class="clearfix" style="height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => "groups", :object => @groups %>
      </div>
      <p class="remark">&raquo; <%= link_to "所有小组", all_groups_url %></p>
</div>
<% end -%>

<% end -%>

<div class="newbox">
    <span class="span_title">小组话题</span>
    <div style="margin: 8px 10px 0pt 0pt; float: right;"><%= link_to "建立小组", new_group_url,:class => "buttonjoin" %></div>
      <div id="tabs">
        <ul class="tab">
          <% if logged_in? -%>
            <li class="tabs_more"><a href="#my">我参加的小组</a></li>
            <li class="tabs_more"><a href="#submitted">我发起的话题</a></li>
            <li class="tabs_more"><a href="#participated">我参与的话题</a></li>
          <% end -%>
          <li class="tabs_more"><a href="#all">最新话题</a></li>
        </ul>
        <div class="clearfix" style="height:10px"></div>
        <div class="panel setting">
          <% if logged_in? %>
          <div id="my">
            <%= render :partial => "/users/group_topics", :object => @recent_topics %>
            <p class="remark">&raquo; <%= link_to "更多话题", group_topics_user_url(current_user) %></p>
          </div>
          
          <div id="submitted">
            <%= render :partial => "/users/group_topics", :object => @submitted_topics %>
            <p class="remark">&raquo; <%= link_to "更多我发起的话题", submitted_topics_user_url(current_user) %> (<%= current_user.topics.size %>)</p>
          </div>
          
          <div id="participated">
            <%= render :partial => "/users/group_topics", :object => @participated_topics %>
            <p class="remark">&raquo; <%= link_to "更多我参与的话题", participated_topics_user_url(current_user) %> (<%= current_user.participated_topics.size %>)</p>
          </div>
          <% end -%>
          
          <div id="all">
            <%= render :partial => "/users/group_topics", :object => @recent_topics_in_all_groups %>
             <p class="remark">&raquo; <%= link_to "更多话题", topics_url%></p>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          jQuery("#tabs").tabs();
        });
      </script>
</div>