<% @page_title = "#{@group.title}组长管理 - 公益小组" -%>

<% content_for :sidebar do -%>
<p>&raquo; <%= link_to "返回小组", group_url(@group) %></p>
<% end -%>

<h2 class="title">组长设置</h2>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>现任组长</h3>
      <div class="contents clearfix">
        <% @managements.each do |m| %>
        <dl class="obu">
          <dt><%= link_to image_tag(m.user.avatar.url,:alt => m,user.login), user_url(m.user) %></dt>
          <dd><%= link_to m.user.login, user_url(m.user) %><br /> (<%= link_to "X", management_path(m), :method => :delete, :confirm => "确定取消组长资格吗" %>)</dd>
        </dl>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>全部组员</h3>
      <div class="contents clearfix">
        <% @members.each do |c| %>
        <dl class="obu">
          <dt><%= link_to image_tag(c.avatar.url,:alt => c.login), user_url(c) %></dt>
          <dd><%= link_to c.login, user_url(c) %><br />
          <%= link_to "加为组长", managements_path(:manageable_type => 'Group',:manageable_id => @group.id,:user_id => c.id), :method => :post %>
          </dd>
        </dl>
        <% end -%>
      </div>
    </div>
  </div>
</div>
