<% @page_title = @title = "#{h @group.title}小组" -%>

<% content_for :crumb do -%>
<li><%= link_to "小组", groups_url %></li>
<ul>
  <li><%= @title %></li>
</ul>
<% end -%>

<% content_for :sidebar do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>
          &raquo;
          <% if @group.joined?(current_user) -%>
            <%= link_to "退出小组", quit_group_url(@group), :method => :put %>
          <% else -%>
            <%= link_to "加入小组", join_group_url(@group) %>
          <% end -%>
        </h3>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>小组成员</h3>
      <%= render :partial => "/shared/user_list", :locals => {:users => @group.members.find(:all, :limit => 12)} %>
      <p class="remark">&raquo; <%= link_to "查看全部成员", members_group_url(@group) %></p>
    </div>
  </div>
</div>
<% end -%>

<div class="box" id="topicSingle">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <div class="metadata">
        <div class="avatar"><%= avatar_for(@group, "large") %></div>
        <p>
          <label>创建人:</label> <%= link_to @group.creator.login, user_url(@group.creator) %>,
          <label>组长:</label> <%= User.moderators_of(@board).collect {|u| link_to(u.login, user_url(u.id))}.join(", ") %>,
          <% if @group.city -%>
            <label>小组城市:</label> 
            <%= link_to @group.city.parent.name, geo_url(@group.city.parent) if @group.city.parent %> 
            <%= link_to @group.city.name, geo_url(@group.city) %>
          <% end -%>
        </p>
        
      </div>
      <div class="contents">
        <%= @group.body_html %>
      </div>
      <p class="remark">
      <% if @group.joined?(current_user) -%>
        &raquo; <%= link_to "邀请友邻", invite_group_url(@group) %>
      <% end -%>
      
      <% if @group.managed_by? current_user %>
        &raquo; <%= link_to "修改小组介绍", edit_group_url(@group) %>
        &raquo; <%= link_to "设置小组长", manage_group_url(@group) %>
      <% end -%>
      </p>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
  <h3>小组话题</h3>
  <span class="postNew">++ <%= link_to "写新话题", new_topic_group_url(@group) %></span>
  <div class="contents">
    <%= render :partial => "/topics/topics", :locals => {:board => @board, :topics => @topics} %>
  </div>
  <p class="remark">&raquo; <%= link_to "浏览全部话题", board_url(@board) %></p>
    </div>
  </div>
</div>