<% @page_title = @title = "#{h @group.title}小组" -%>

<% content_for :crumb do -%>
<li><%= link_to "小组", groups_url %></li>
<ul>
  <li><%= @title %></li>
</ul>
<% end -%>

<% content_for :sidebar do -%>

<div id="admins">
  <% if @group.joined?(current_user) -%>
    你已经是小组成员，如有必要可以<%= link_to "退出小组", quit_group_url(@group), :method => :put ,:class=>"adminbutton"%>
  <% else -%>
    你不是小组成员，可以 <%= link_to "加入小组", join_group_url(@group) ,:class=>"adminbutton"%>
  <% end -%>
</div>

<div class="newbox">
  <h4>小组长</h4>
  <%= render :partial => "/shared/user_list", :locals => {:users => User.moderators_of(@board)} %>
</div>


<div class="newbox">
    <h4>小组成员</h4>
    <%= render :partial => "/shared/user_list", :locals => {:users => @group.members.find(:all, :limit => 12)} %>
    <p class="remark">&raquo; <%= link_to "查看全部成员", members_group_url(@group) %></p>
</div>
<% end -%>

<div class="box" id="topicSingle">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <div class="metadata">
        <div class="avatar"><%= image_tag(@group.avatar.url,:alt => @group.login) %></div>
        <p>
          <label>创建人:</label> <%= link_to @group.creator.login, user_url(@group.creator) %>,
          <% if @group.city -%>
            <label>小组城市:</label> 
            <%= link_to @group.city.parent.name, geo_url(@group.city.parent) if @group.city.parent %> 
            <%= link_to @group.city.name, geo_url(@group.city) %>
          <% end -%>
        </p>
        
      </div>
      <div class="contents">
        <%= @group.body_html %>
      </div>
      <p class="remark">
      <% if @group.joined?(current_user) -%>
        &raquo; <%= link_to "邀请好友", invite_group_url(@group) %>
      <% end -%>
      
      <% if @group.managed_by? current_user %>
        &raquo; <%= link_to "修改小组介绍", edit_group_url(@group) %>
        &raquo; <%= link_to "设置小组长", manage_group_url(@group) %>
      <% end -%>
      </p>
    </div>
  </div>
</div>

<div class="newbox">
  <div style="float:right"><%= link_to "写新话题", new_topic_path(:boardable_id => @group.id,:boardable_type => 'Group'),:class => "buttonjoin" if @group.joined?(current_user)%></div>
  
 <h3>小组话题</h3>
  <div class="cleanfix" style="height:5px"></div>
  <div class="contents">
    <%= render :partial => "/topics/topics", :locals => {:topics => @topics} %>
  </div>
</div>
 
