<% editing = @controller.action_name == "edit" %>
<div class="newbox">
     <h3>一 确认此项目的反馈要求</h3>
      <div class="contents" style="padding-left:10px">
        <p><%= @project.feedback_require.gsub("\n", '<br />') %>
        <br/><%= "需要在 #{@project.feedback_at.to_date} 之前完成反馈" unless @project.feedback_at.nil?%></p>
        <p style="color:#990000">注意：提交此项目申请表就意味着，你仔细阅读了上述反馈要求，并承诺按要求做到。</p>
      </div>
</div>

<div class="newbox">
     <h3>二 填写申请表</h3>
      <p class="postNew"></p>
      <div class="contents">
        <p><h6>接受申请的学校: <span class="require">*</span></h6>
        <%= editing ? @execution.school.title : form.select(:school_id, (@school.nil? ? [['学校名称','']] : [[@school.title,@school.id]]) + @schools.collect{|s| [s.title, s.id]}, {:include_blank => false},:style => "color:#666")%>
        <% unless editing%>
          <a onclick="javascript:$('#why').toggle()" href="javascript:return false">没找到你想要的学校？</a><%= error_message_on @execution, :school_id %>
        <% end %>
        <br/>
        <span id="why" style="display:none;color:#666">如果下拉菜单里没有你要找的学校，说明你<%= @project.for_envoy? ? "没有去过或关注那所学校，请先到学校页面进行关注。" : "并不是那所学校大使。"%> </span>
        </p>
          
        <div id="school_info" class="caution" style="display:none ">申请前请先与学校取得联系，确认学校邮寄地址、联系电话、学生人数、教师人数和班级数。<br/>如果与网站上的<a id="school_link"> 学校信息 </a>不一致，请先 "更新学校信息"。</div>
            
        <p><h6>你申请该项目的原因： <span class="require">*</span></h6>
          <span>学校目前的情况是怎样的？为什么需要申请这个项目？这个项目能为学校/学生带来什么改变?</span>
          <br/><%= error_message_on @execution, :reason %>
          <%= form.text_area :reason, :cols => 80, :rows => 6 %>
        </p>
          
        <p>
          <h6>你的时间计划：<span class="require">*</span></h6>
          <span>从什么时候开始，到什么时候结束?</span>
          <br/><%= form.text_field :start_at, {:class => "vDateField"} %> 至 <%= form.text_field :end_at, {:class => "vDateField"} %><br/><%= error_message_on @execution, :time %>
        </p>
        
        <p>
          <h6>你的执行计划：<span class="require">*</span></h6>
          <span>以时间为线索，你每个时间段将完成的工作内容</span>
          <br/><%= error_message_on @execution, :plan%><%= form.text_area :plan, :cols => 80, :rows => 6 %>
        </p>
        
        <p>
          <h6>资金预算：</h6>
          <span>如果项目提供资金，你打算怎么使用这笔钱？ 如：交通费、物资采购费等。</span>
          <br/><%= form.text_area :budget, :cols => 80, :rows => 6 %>
        </p>
        
        <p>
          <h6>困难及解决办法：</h6>
          <span>在实际项目中你可能会遇到什么困难？你打算怎么解决？</span>
          <br/><%= form.text_area :problem, :cols => 80, :rows => 6 %>
        </p>
        
      </div>
    
</div>


<div class="newbox">
     <h3>三 申请人信息</h3>
      <div class="contents" style="padding-left:10px">
        <p><label class="label">网站用户名</label>
          <%= form.hidden_field :user_id, {:value => current_user.id} %>
          <%= h current_user.login %>
        </p>
        
        <p><label class="label">电话<span class="require">*</span> </label><%= form.text_field :telephone %><%= error_message_on @execution, :telephone %></p>
      </div>
</div>

