
<% @title = @page_title = "项目执行报告" -%>
<% form_for [@execution.project, @execution] do |form| %>
  <%= form.text_area :feedback, :style => 'width:580px;height:320px;', :class => "mceEditor" %>
  <p><%= check_box_tag :is_finish, 0 %> 声明项目已经完成，通知项目发起人查看反馈。</p>
  <p><%= form.submit "确认" ,:class => "surebutton"%> <%= form.submit "取消" ,:class => "surebutton",:onclick =>"javascript:window.location='#{project_execution_url(@execution.project,@execution)}';return false" %></p>
<% end %>

<% content_for :sidebar do -%>
<div class="project_info">
  <div class="title_line"><h4>反馈要求</h4></div>
  <%= "#{@execution.project.feedback_require}<br/>" %><%= "需要在 #{@execution.project.feedback_at.to_date} 之前完成反馈" unless @execution.project.feedback_at.nil?%>
</div>
  <div class="project_info">
    <div class="title_line"><h4>我的执行计划</h4></div>
    <%= @execution.plan %>
  </div>
  
  <% unless @execution.problem.nil? or @execution.problem.empty?%>
  <div class="project_info">
    <div class="title_line"><h4>可能遇到的问题与我的解决方案</h4></div>
    <%= @execution.problem %>
  </div>
  <% end%>
  
  
  <% unless @execution.budget.nil? or @execution.budget.empty?%>
  <div class="project_info">
    <div class="title_line"><h4>我的资金预算</h4></div>
    <%= @execution.budget %>
  </div>
  <% end%>
<%end%>
