<div class="newbox">
      <div class="cleanfix" style="clear:both;height:10px"></div> 
     <h3><%= h user.login %>的活动</h3>
      <div  id="activity_tabs">
        <ul class="tab">
          <% [["参与的活动", "participated"], ["发起的活动", "launched"]].each do |type| %>
            <li class="tabs_more"><%= "<a href ='##{type[1]}'> #{type[0]} </a>"%></li>
          <% end -%>
        </ul>
        <div class="cleanfix" style="clear:both;height:8px"></div> 
        <div class="panel setting">
          <div id='participated'>
            <%= render :partial => "/shared/activity", :collection => @participated %>
            <div class="cleanfix" style="clear:both;"></div> 
            <span class="remark">
              <%= link_to "&raquo; 查看全部", participated_activities_user_url(user) %>
            </span>
          </div>
          
          <div id='launched'>
            <%= render :partial => "/shared/activity", :collection => @submitted %>
            <div class="cleanfix" style="clear:both;"></div> 
            <span class="remark">
              <%= link_to "&raquo; 查看全部", submitted_activities_user_url(user) %><br />
            </span>
          </div>
        </div>
      </div>
</div>
