<div class="newbox">
  <div class="cleanfix" style="clear:both;height:10px"></div>
  <span class="span_title"><%= h user.login %>的动态</span>
  <div class="panel setting">
    <div id='shares'>
      <% feed_items.each do |item| %>
        <div style="clear:both;margin-bottom:1em;min-height:50px">
          <div style="float:left">
            <%= avatar_for(item.user, "large") %>
          </div>
          
          <div style="margin-left:60px;">
            <% if item.category == "share" %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 在<%= item.item.created_at.to_date %>写了一篇关于<%= link_to h(item.owner.title), item.owner %>的分享： <%= link_to h(item.item.title), share_url(item.item) %>
              </div>
              <div style="color:#999; text-align:right">
                <%= item.item.hits %> 浏览/<%= item.item.comments_count %> 回复
              </div>
            <% elsif item.category == 'photo' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 在<%= item.item.created_at.to_date %>为<%= link_to h(item.owner.title), item.owner %>上传了一张新照片<br />
                <%= link_to image_tag(item.item.public_filename(:thumb)), item.item.public_filename(:medium) %>
              </div>
            <% elsif item.category == 'topic' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 在<%= item.item.created_at.to_date %>发表了一篇关于<%= link_to h(item.owner.title), item.owner %>的新帖子：<%= link_to h(item.item.title), board_topic_url(item.item.board, item.item) %>
              </div>
            <% elsif item.category == 'activity' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 在<%= item.item.created_at.to_date %>为<%= link_to h(item.owner.title), item.owner %>发起了一个新活动：<%= link_to h(item.item.title), activity_url(item.item) %>
              </div>
            <% elsif item.category == 'neighborhood' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 关注了 <%= link_to item.item.neighbor.login, user_url(item.item.neighbor.login) %>
              </div>
            <% elsif item.category == 'create_school' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 在<%= item.item.created_at.to_date %>提交了一所新学校：<%= link_to h(item.item.title), item.item %>
              </div>
            <% elsif item.category == 'visit' %>
              <div>
                <% visit = item.item %>
                <%= link_to item.user.login, user_url(item.user) %>
                <% if visit.status == 1 %>
                  在<%= l(visit.visited_at.to_date) %>去了
                <% elsif visit.status == 2 %>
                  关注了
                <% else %>
                  要在<%= l(visit.visited_at.to_date) %>去
                <% end %>
                <%= link_to h(visit.school.title), school_path(visit.school)%>
              </div>
            <% elsif item.category == 'create_group' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 创建了一个新小组：<%= link_to h(item.item.title), group_path(item.item)%>
              </div>
            <% elsif item.category == 'join_group' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 加入了小组： <%= link_to h(item.item.title), group_path(item.item)%>
              </div>
            <% elsif item.category == 'quit_group' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 退出了小组：<%= link_to h(item.item.title), group_path(item.item)%>
              </div>
            <% elsif item.category == 'create_codonation' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %>为<%= link_to h(item.item.school.title), school_path(item.item.school) %>发起了一个新团捐：<%= link_to h(item.item.title), group_path(item.item)%>
              </div>
            <% elsif item.category == 'join_activity' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 决定参加 <%= link_to h(item.item.title), activity_path(item.item)%>
              </div>
            <% elsif item.category == 'quit_activity' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 不参加 <%= link_to h(item.item.title), activity_path(item.item)%> 了
              </div>
            <% elsif item.category == 'sub_donation' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 为 <%= link_to h(item.owner.title), school_path(item.owner) %> 捐赠了 <%= link_to "#{item.item.quantity}件#{item.item.co_donation.goods_name}", co_donation_path(item.item)%>
              </div>
            <% elsif item.category == 'project' %>
              <div>
                <%= link_to item.user.login, user_url(item.user) %> 为 <%= link_to h(item.owner.title), school_path(item.owner) %> 申请了公益项目： <%= link_to item.item.requirement_type.title, requirement_type_path(item.item.requirement_type)%>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      
      <div class="cleanfix" style="clear:both;"></div> 
      <div class="remark"><%= link_to "&raquo; 查看全部", shares_user_url(user) %></div>
    </div>
  </div>
</div>
