<table class="tableList">
  <tr>
    <th style="width:35%;">话题</th>
    <th style="width:20%;">小组</th>
    <th style="width:15%">作者</th>
    <th style="width:7%;">回复</th>
    <th style="width:23%;">最后回复</th>
  </tr>
  <% group_topics.each do |t| -%>
  <tr>
    <td><%= link_to t.title, topic_url(t) %></td>
    <td><%= link_to t.boardable.name,t.boardable%></td>
    <td><%= t.user.login %></td>
    <td><%= t.comments_count %></td>
    <td><%= link_to "#{ date_for_short t.last_replied_datetime} by #{t.last_replied_user.login}", topic_url(t, :anchor => (t.comments.last.id if t.comments.last)), :class => "link" %></td>
  </tr>
  <% end -%>
</table>
