<% profile = user.profile -%>
<div class="newbox" id="uti">
      
      <div class="record">
	<div style="float:left" style="margin-top:4px">
	  <%= avatar_for(user, "large") %>
	</div>
	<div style="margin-left:56px;">
	  <p style="margin:0">用户: <%= link_to user.login, user_url(user) %><br/>
	  住在： <% if user.geo -%><%= link_to user.geo.name, geo_url(user.geo) %><% else -%>未知<% end -%>
	  <br/><% if profile -%>博客：<%= link_to profile.blog_url, profile.blog_url unless profile.blog_url.blank? %><% end -%>
	  </p>
	</div>
      </div>
      <% if profile &&current_user&&current_user.school_moderator? -%>
	  <%= profile.bio_html %>
      <%end%>
      <div clear="clearfix" style="clear:both;height:10px"></div>
      <p class="remark" style="text-align:right">
  	  <% unless @user == current_user -%>
        &raquo; <%= link_to "给#{@user.login}发站内消息", new_user_sent_url(@user) %>
        
        <% if @user.neighbor_addable_by?(current_user) -%>
          <br />&raquo; <%= link_to "加#{@user.login}为友邻", user_neighbors_url(@user, :my => current_user), :method => :post %>
        <% elsif @user.neighbor_removeable_by?(current_user) -%>
          <br /><span class="tipText">&raquo; <%= @user.login %>是我的友邻 (<%= link_to "删掉", user_neighbor_url(@user, current_user), :confirm => "确定删掉?", :method => :delete %>)</span>
        <% end -%>
      <% else -%>
        <span class="tipText">&raquo; 我在看自己的空间</span>
      <% end -%>
      </p>
       
</div>