<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>分享&攻略</h3>
      
      <div class="tabbedPanel" id="share_tabs">
        <ul class="tab">
          <% [["分享", "shares"], ["攻略", "guides"]].each do |type| %>
            <li><%= link_to type[0], "##{type[1]}" %></li>
          <% end -%>
        </ul>

        <div class="panel setting">
          <div id='shares'>
            <% if shares.blank? -%>
              <div class="contents">
                <p>参加过<%= user.participated_activities.size %>个活动, 但还没有活动分享</p>
                <% if user == current_user -%>
                  <p>++ <%= link_to "写分享", new_share_url %></p>
                <% end -%>
              </div>
            <% else -%>
              <%= render :partial => "shares", :object => shares %>
            <% end -%>
            <p class="remark">&raquo; <%= link_to "查看#{user.login}的全部分享", shares_user_url(user) %> (<%= user.shares.size %>)</p>
          </div>
          
          <div id="guides">
            <% if guides.blank? -%>
              <div class="contents">
                <p>还没有活动攻略</p>
              </div>
            <% else -%>
              <%= render :partial => "/schools/guides", :object => guides %>
            <% end -%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  jQuery("#share_tabs").tabs();
</script>