<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>分享</h3>
        <div class="panel setting">
          <div id='shares'>
            <% if shares.blank? -%>
              <div class="contents">
                <p>参加过<%= user.participated_activities.size %>个活动, 但还没有活动分享</p>
                <% if user == current_user -%>
                  <p>++ <%= link_to "写分享", new_share_url %></p>
                <% end -%>
              </div>
            <% else -%>
              <table class="tableList">
                <thead>
                  <tr>
                    <th width="50%">标题</th>
                    <th>浏览</th>
                    <th>留言</th>
                    <th>写于</th>
                  </tr>
                </thead>
                <tbody>
                  <% shares.each do |s| -%>
                  <tr>
                    <td><%= link_to s.title, share_url(s) %></td>
                    <td><%= s.hits %></td>
                    <td><%= s.comments_count %></td>
                    <td><%= s.created_at.to_date %></td>
                  </tr>
                  <% end -%>
                </tbody>
              </table>
            <% end -%>
            <p class="remark">&raquo; <%= link_to "查看#{user.login}的全部分享", shares_user_url(user) %> (<%= user.shares.size %>)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>