<div class="newbox">
      <span class="span_title"><%= @user.login %>的话题</span>
      
      <div id="topics_tabs">
        <ul class="tab">
          <% [["参与的话题", "participated_t"],["发起的话题", "submitted"]].each do |type| %>
            <li><%= link_to type[0], "##{type[1]}" %></li>
          <% end -%>
        </ul>

        <div class="panel setting">
          
          <div id="participated_t">
            <%= render :partial => "/shared/topic", :collection => participated_topics %>
            <p style="text-align:right;margin-right:20px;">&raquo; <%= link_to "更多我参与的话题", participated_topics_user_url(user) %> (<%= user.posts.size %>)</p>
          </div>

          <div id="submitted">
            <%= render :partial => "/shared/topic", :collection => submitted_topics %>
            <p style="text-align:right;margin-right:20px;">&raquo; <%= link_to "更多我发起的话题", submitted_topics_user_url(user) %> (<%= user.topics.size %>)</p>
          </div>
        </div>
      </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    jQuery("#topics_tabs").tabs();
  });
</script>