<div class="newbox">
     <h3><%= @user.login %>的话题</h3>
      
      <div id="topics_tabs">
        <ul class="tab">
          <% [["参与的话题", "participated_t"],["发起的话题", "submitted"]].each do |type| %>
            <li class="tabs_more"><%= "<a href ='##{type[1]}'> #{type[0]} </a>"%></li>
          <% end -%>
        </ul>
        <div class="cleanfix" style="clear:both;height:8px"></div> 
        <div class="panel setting">
          
          <div id="participated_t">
            <%= render :partial => "/topics/topics", :locals => {:topics => participated_topics} unless participated_topics.blank? %>
            <div class="cleanfix" style="clear:both;height:10px"></div> 
            <div class="remark"><%= link_to raw("&raquo; 查看全部"), participated_topics_user_url(user) %></div>
          </div>

          <div id="submitted">
            <%= render :partial => "/topics/topics", :locals => {:topics => submitted_topics} unless submitted_topics.blank? %>
            <div class="cleanfix" style="clear:both;height:10px"></div>
            <div class="remark"><%= link_to raw("&raquo; 查看全部"), submitted_topics_user_url(user) %></div>
          </div>
        </div>
      </div>
</div>
