<%= @user.errors %>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>编辑个人信息</h2>
      <div class="tabbedPanel">
        <%= render :partial => "setting_tabmenu" %>
        <div class="panel setting">
          <div class="block">
            <% form_for @user,:html => {:method => 'put', :multipart => true}  do |f| %>
              <%= render :partial => "setting_#{@type}",:locals => {:f => f} %>
              <%= hidden_field_tag :type ,@type%>
              <p><label>&nbsp;</label><%= submit_tag "保 存" %></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
