
<% content_for :sidebar do -%>
  <h2>小贴士 <%= title_suffix %></h2>
  <p class="tip">选择你居住的城市，可以加入同城活动，认识身边的朋友</p>
<% end -%>

<div class="tabbedPanel">
  <ul class="tab">
    <li class="<%= params[:type] == "personal" ||  %>"><%= link_to "个人信息", setting_url(:type => 'personal') %></li>
    <li class="<%= params[:type] == "account" %>"><%= link_to "帐号设置", setting_url(:type => 'account') %></li>

  </ul>
  <div class="panel setting">
    <div class="block">
      <h3>用户名</h3>
      <% form_for :user, :url => user_path(:id => @user, :for => 'login'), :html => {:method => 'put'} do |f| %>
        <p><label>用户名</label> <%= f.text_field :login, :size => 20, :class => 'text' %></p>
        <p><label>&nbsp;</label><%= submit_tag "修改用户名" %></p>
      <% end -%>
    </div>
    <div class="block">
      <h3>密码</h3>
      <% form_for :user, :url => user_path(:id => @user, :for => 'password'), :html => {:method => 'put'} do |f| %>
        <p><label>新密码</label><%= f.password_field :password, :size => 20, :class => "text" %></p>
        <p><label>密码确认</label><%= f.password_field :password_confirmation, :size => 20, :class => "text" %></p>
        <p><label>&nbsp;</label><%= submit_tag "修改密码" %></p>
      <% end -%>
    </div>
  </div>
</div>