<% @page_title = @title = "#{@user.login}的小组" -%>

<% content_for :crumb do -%>
    <li><%= link_to @user.login, user_url(@user) %></li>
    <ul>
      <li><%= @user.login %>的小组</li>
    </ul>
<% end -%>

<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
  <span class="remark"><%= link_to "&raquo; 回到#{@user.login}的空间",user_url(@user)%></span>
<% end %>
<div class="newbox">
<%= render :partial => "/groups/groups", :object => @groups %>
<%= customize_paginate @groups %>

</div>