<% @page_title = "注 册" %>
<% @body_class = "signinup" %>

<% content_for :fullsize do -%>

<div class="box" id="signup">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>注册成为新会员</h3>
      
<% form_for :user, :url => users_path do |f| -%>
<%= hidden_field_tag :to, params[:to] if params[:to] %>
<p><label for="email" class="label">邮件地址</label>
<%= f.text_field :email, :size => 20 %><%= error_message_on(:user, :email, :tag => 'span') %> <span class="notice">推荐使用<a href="http://www.gmail.com" target="_blank">Gmail</a>，不推荐使用QQ邮箱</span></p>


<p><label for="login" class="label">用户名</label>
<%= f.text_field :login, :size => 20 %><%= error_message_on(:user, :login, :tag => 'span') %>
<span class="tip">中英文均可，以后可以改的</span></p>

<p><label for="password" class="label">密码</label>
<%= f.password_field :password, :size => 20 %><%= error_message_on(:user, :password, :tag => 'span') %></p>

<p><label for="password_confirmation" class="label">密码确认</label>
<%= f.password_field :password_confirmation, :size => 20 %><%= error_message_on(:user, :password_confirmation, :tag => 'span') %></p>
<p class="rememberMe"><%= check_box_tag 'terms', 1, true %> <label for="terms">我已认真阅读<a href="/misc/terms" target ="_blank">免责声明</a>, 并同意其中的条款</label></p>
<p class="submit"><%= submit_tag '注 册' %></p>
<% end -%>

<!--
<div class="tips">
  <h4>注册小贴士</h4>
  <p class="tip">如果收不到确认邮件，请发邮件联系 <a href="mailto:feedback@1kg.org">feedback@1kg.org</a>，我们会帮您激活帐户。</p>
</div>
-->
<p class="login">&raquo; 我已经是会员了，现在<%= link_to "登录", login_url %></p>

    </div>
  </div>
</div>
<% end -%>