<% @page_title = "所有#{@user.login}参与的活动" %>

<% content_for :crumb do -%>
<ul>
  <li>所有<%=@user.login-%>参与的活动</li>
</ul>
<% end -%>

<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
<span class="remark"><%= link_to "&raquo; 回到#{@user.login}的空间",user_url(@user)%></span>
<% end %>

<div class="newbox">
      <span class="span_title">所有<%=@user.login-%>参与的活动</span>
      <div class="contents">
      <%= render :partial => "shared/activity", :collection => @activities%>
      <%= customize_paginate @activities %>
      </div>
</div>
