<% content_for :sidebar do -%>
  <%= render :partial => "setting_sidebar" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>编辑个人信息</h2>
<div class="tabbedPanel">
  <%= render :partial => "setting_tabmenu" %>
  
  <div class="panel setting">
    <div class="block">
      <h3>个人设置</h3>
      <% form_for :user, :url => user_path(:id => @user, :for => 'account'), :html => {:method => 'put'} do |f| %>
        <p><label>用户名</label> <%= f.text_field :login, :size => 20, :class => 'text' %></p>
        <p><label>居住地</label><%= geo_select "user", "geo",[], @user.geo_id %></p>
        <p><label>邮件提醒</label><%= f.check_box :email_notify %>（收到站内信时发送邮件通知）</p>
        <p><label>&nbsp;</label><%= submit_tag "保存" %></p>
      <% end -%>
    </div>
    <div class="block">
      <h3>密码</h3>
      <% form_for :user, :url => user_path(:id => @user, :for => 'password'), :html => {:method => 'put'} do |f| %>
        <p><label>新密码</label><%= f.password_field :password, :size => 20, :class => "text" %></p>
        <p><label>密码确认</label><%= f.password_field :password_confirmation, :size => 20, :class => "text" %></p>
        <p><label>&nbsp;</label><%= submit_tag "修改密码" %></p>
      <% end -%>
    </div>
  </div>
</div>
    </div>
  </div>
</div>