<% content_for :sidebar do -%>
  <p>> <%= link_to "返回个人信息设置", setting_url(:type => "personal") %></p>
  <%= render :partial => "setting_sidebar" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>编辑个人信息</h2>
<div class="tabbedPanel">
  <%= render :partial => "setting_tabmenu" %>
  
  <div class="panel setting">
    <div class="block">
      <h3>选择我住的城市</h3>
      <form>
      <% unless @current_geo.blank? -%>
        <p><label>当前浏览到</label><%= @current_geo.ancestors.collect{|g| link_to g.name, edit_user_path(:type => "live", :live => g.id)}.join(" > ") %> &raquo; <%= @current_geo.name %></p>
      <% end -%>
      
      <% if @current_geo -%>
      
        <% unless @next_level_geos.blank? -%>
        
          <p><label><%= @current_geo.name %> 的下属地区</label><span style="display:block;margin-left:37%"><%= @next_level_geos.collect{|g| link_to g.name, edit_user_path(:type => "live", :live => g.id)}.join(", ") %></span></p>
          
        <% else -%>
        
          <p class="center clearfix" style="padding-left: 150px"><span class="btnWrap"><%= link_to "我住在 #{@current_geo.name}", user_path(current_user, :for => "live", :geo => @current_geo.id), :method => :put %></span></p>
          
        <% end -%>
      
      <% end -%>
      <p><label>平级的地区</label><span class="district"><%= @same_level_geos.collect{|g| link_to g.name, setting_url(:type => "live", :live => g.id)}.join(", ") %></span></p>
      <p><label>我现在的居住城市</label><%= @live_geo ? @live_geo.name : "还没选择" %></p>
      </form>
    </div>
  </div>
</div>
    </div>
  </div>
</div>