<% @page_title = @user.login + " 的全部分享"-%>

<% content_for :crumb do -%>
    <li><%= link_to @user.login, user_url(@user) %></li>
    <ul>
      <li>全部分享</li>
    </ul>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "profile", :locals => {:user => @user} %>
  
  <%= render :partial => "activities", :locals => {:user => @user, :activities => @activities} %>
  
  <%= render :partial => "schools", :locals => {:user => @user, :schools => @schools} %>
<% end -%>

<%= render :partial => "shares", :object => @shares, :locals => {:user => @user} %>
