<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end %>

<% @page_title = "#{@user.login}的个人空间" -%>

<% content_for :crumb do -%>
<li>用户</li>
<ul>
  <li><%= h @user.login %></li>
</ul>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "profile", :locals => {:user => @user} %>

<% unless @wannas.blank? %>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>要去的学校</h3>
        <div class="contents">
        <%@wannas.each do |visit|%>
        <div class="school_list">
          <% if visit.school.main_photo -%>
          <%= image_tag(visit.school.main_photo.public_filename(:thumb), :alt => visit.school.main_photo.title ,:class => "school_list_photo" ) %>
          <%else%>
          <img class="school_list_photo" src="/images/school_main_thumb.png"/>
          <%end%>        
          <div class="school_list_meta" style="width:142px;height:80px">
          <p><% unless visit.wanna_at.blank? %>计划在<%= l(visit.wanna_at.to_date, :format => :short) %><%end%>去</p>
          <h5><%= link_to h(visit.school.title), school_path(visit.school)%></h5>
          <span>活跃度</span>
          <%= karma_star(visit.school.last_month_karma)-%>
          </div>
        </div>
        <%end%>
        </div>
        <div class="clear" style="height:20px"></div>
      </div>
     </div>  
  </div>
  <%end%>

  <% unless @visits.blank? %>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>去过的学校</h3>
        <div class="contents">
        <%@visits.each do |visit|%>
        <div class="school_list">
          <% if visit.school.main_photo -%>
          <%= image_tag(visit.school.main_photo.public_filename(:thumb), :alt => visit.school.main_photo.title ,:class => "school_list_photo" ) %>
          <%else%>
          <img class="school_list_photo" src="/images/school_main_thumb.png"/>
          <%end%>        
          <div class="school_list_meta" style="width:142px">
          <p><% unless visit.visited_at.blank? %>在<%= l(visit.visited_at.to_date, :format => :short) %><%end%>去过</p>
          <h5><%= link_to h(visit.school.title), school_path(visit.school)%></h5>
          <span>活跃度</span><%= karma_star(visit.school.last_month_karma)-%>
          </div>
        </div>
        <%end%>
        </div>
        <div class="clear" style="height:20px"></div>
      </div>
     </div>  
  </div>
  <%end%>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3><%= h @user.login %>的公益贺卡</h3>
        <div class="contents">
          <p><strong>买过<%= @stuffs.count %>张，分别捐给：</strong></p>
          <table>
            <% @stuffs.each do |s| -%>
            <% next if s.school.nil? %>
            <tr><td><%= link_to s.school.title, school_url(s.school) %> <span style="color:#CCC">[<%= s.matched_at.to_date %>]</span></td></tr>
            <% end -%>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3><%= h @user.login %>的友邻</h3>
        <%= render :partial => "/shared/user_list", :locals => {:users => @neighbors} %>
        <p class="remark">&raquo; <%= link_to "#{@user.login}的全部友邻(#{@user.neighbors.count})", neighbors_user_url(@user) %></p>
      </div>
    </div>
  </div>
  <%= render :partial => "groups", :locals => {:user => @user, :groups => @groups } %>

<% end -%>


<h2 class="title"><%= h @user.login %></h2>

<% if logged_in? && current_user.school_moderator? %>
<div class="moderators tipText"><strong>
  [ <%= link_to '封锁此用户', block_admin_user_path(@user), :method => 'put', :confirm => '确定要封锁此用户吗？' %> ]
</strong></div>
<% end %>

<% if @user == current_user -%>
<div class="moderators tipText"><strong>
  [ <%= link_to "写分享", new_share_url %> | <%= link_to "发起活动", new_activity_url %> | <%= link_to "提交新学校", new_school_url %> ]
</strong></div>
<% end -%>

<%= render :partial => "activities", :locals => {:user => @user, :activities => @activities} %>
<%= render :partial => "user_topics", :locals => {:user => @user, :submitted_topics => @submitted_topics, :participated_topics => @participated_topics} %>
<%= render :partial => "shares_and_guides", :locals => {:user => @user, :shares => @shares, :guides => @guides} %>
<script type="text/javascript">
  jQuery("#tabs").tabs();
</script>
<%= render :partial => "schools", :locals => {:user => @user, :schools => @schools} %>


