<% @page_title = "#{@user.login}的个人空间" -%>

<% content_for :crumb do -%>
<li>用户</li>
<ul>
  <li><%= h @user.login %></li>
</ul>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "profile", :locals => {:user => @user} %>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3><%= h @user.login %>的公益贺卡</h3>
        <div class="contents">
          <p><strong>买过<%= @stuffs.count %>张，分别捐给：</strong></p>
          <table>
            <% @stuffs.each do |s| -%>
            <tr><td><%= link_to s.school.title, school_url(s.school) %> <span style="color:#CCC">[<%= s.matched_at.to_date %>]</span></td></tr>
            <% end -%>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3><%= h @user.login %>的友邻</h3>
        <%= render :partial => "/shared/user_list", :locals => {:users => @neighbors} %>
        <p class="remark">&raquo; <%= link_to "#{@user.login}的全部友邻(#{@user.neighbors.count})", neighbors_user_url(@user) %></p>
      </div>
    </div>
  </div>
  <%= render :partial => "groups", :locals => {:user => @user, :groups => @groups } %>

<% end -%>


<h2 class="title"><%= h @user.login %></h2>

<% if @user == current_user -%>
<div class="moderators tipText"><strong>
  [ <%= link_to "写分享", new_share_url %> | <%= link_to "发起活动", new_activity_url %> | <%= link_to "提交新学校", new_school_url %> ]
</strong></div>
<% end -%>

<% if @shares.blank? -%>

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>参加过<%= @user.participated_activities.size %>个活动, 但还没有活动分享</h3>
        <div class="contents">
          <% if @user == current_user -%>
          <p>++ <%= link_to "写分享", new_share_url %></p>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
<% else -%>

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>分享</h3>
        <div class="contents">
          <%= render :partial => "shares", :object => @shares %>
        </div>
        <p class="remark">&raquo; <%= link_to "查看#{@user.login}的全部分享", shares_user_url(@user) %> (<%= @user.shares.size %>)</p>
      </div>
    </div>
  </div>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3><%= @user.login %>提交的攻略</h3>
      <div class="contents">
        <%= render :partial => "/schools/guides", :object => @guides %>
      </div>
      <p class="remark">&raquo; <%= link_to "查看#{@user.login}的全部攻略", guides_user_url(@user) %> (<%= @user.guides.count %>)</p>
    </div>
  </div>
</div>

<%= render :partial => "activities", :locals => {:user => @user, :activities => @activities} %>

<%= render :partial => "schools", :locals => {:user => @user, :schools => @schools} %>
