<% content_for :heads do -%>
  <style type="text/css">.school_list_photo{width:80px;height:60px;margin-top:4px}
         .school_list_photo img{width:80px;height:60px}
         .school_list_meta{width:180px;}
         </style>
<% end %>

<% @page_title = @title = "#{@user.login}的个人空间" -%>

<% content_for :crumb do -%>
<li>用户</li>
<ul>
  <li><%= h @user.login %></li>
</ul>
<% end -%>

<% content_for :sidebar do -%>
  <% if false and logged_in? and current_user.admin? -%>
  测试功能：<%= link_to "创建新公益项目", new_requirement_type_url %> | <%= link_to "所有项目", requirement_types_url %>
  <% end -%>
  
  <% if logged_in? -%>
      <div id="admins"><%= "你是管理员，" if current_user.admin? -%>
      <%= "#{@user.login}是你的友邻，" if current_user.neighbors.include?(@user)%>
      <%= @user == current_user ?  "这是你自己的空间。" :"你可以对#{@user.login}使用以下功能："   -%><br/>      
        <% unless @user == current_user -%>
       <%= link_to "发站内信", new_user_sent_url(@user) ,:class => "adminbutton"%>
        <% if @user.neighbor_addable_by?(current_user) -%>
          <%= link_to "加为友邻", user_neighbors_url(@user, :my => current_user), :method => :post ,:class => "adminbutton"%>
        <% elsif @user.neighbor_removeable_by?(current_user) -%>
          <%= link_to "取消友邻", user_neighbor_url(@user, current_user), :confirm => "确定取消和#{@user.login}的友邻关系吗？", :method => :delete,:class => "adminbutton" %></span>
        <% end -%>
        <%= link_to '封锁用户', block_admin_user_path(@user), :method => 'put', :confirm => '确定要封锁此用户吗？',:class => "adminbutton" if current_user.admin?%>
      <% end -%>      
      </div>

  <%end%>
  <%= render :partial => "profile", :locals => {:user => @user} %>
  
  <%unless @envoys.empty?%>
  <div class="school_frame">
    <span class="span_title2">管理的学校</span>  <span><%= link_to "查看全部", "/users/#{@user.id}/envoy"%></span>
    <div class="clearfix" style="height:10px"></div>
    <div class="contents">
    <%= render :partial => "/shared/school", :collection => @envoys %>
      <div class="clearfix"></div>
    </div>
  </div>
  <%end%>
  
  <% unless @visiteds.blank? %>
  <div class="school_frame">
        <span class="span_title2">去过/要去/关注的学校</span>  <span><%= link_to "查看全部", "/users/#{@user.id}/visited"%></span>
        <div class="clearfix" style="height:10px"></div>
        <div class="contents">
          <%= render :partial => "visit", :collection => @visiteds,:locals => {:school => nil} %>          
          <div class="clearfix"></div>
        </div>
  </div>
  <%end%>
  
  <% unless @fellowings.blank? %>
  <div class="school_frame">
        <span class="span_title2">订阅的学校</span>  <span><%= link_to "查看全部", "#"%></span>
        <div class="clearfix" style="height:10px"></div>
        <div class="contents">
          <%= render :partial => "/shared/school", :collection => @fellowings %>
          <div class="clearfix"></div>
        </div>
  </div>
  <%end%>
  
  <div class="clearfix" style="height:10px;clear:both"></div>

  <%unless @donations.empty?%>

  <div class="newbox">
        <span class="span_title"><%= h @user.login %>的公益贺卡</span>
        <div class="contents">
          <p><strong>买过<%= @donations.count %>张，分别捐给：</strong></p>
          <table>
            <% @donations.each do |s| -%>
            <% next if s.school.nil? %>
            <tr><td><%= link_to s.school.title, school_url(s.school) %> <span style="color:#CCC">[<%= s.matched_at.to_date %>]</span></td></tr>
            <% end -%>
          </table>
        </div>
  </div>
  <%end%>
  <div class="clearfix" style="height:10px;clear:both"></div>
  <div class="newbox">
        <span class="span_title2"><%= h @user.login %>的友邻</span> <%= link_to "查看全部", friends_user_url(@user) %>
        <div class="clearfix" style="height:12px"></div>
        <%= render :partial => "/shared/user_list", :locals => {:users => @neighbors} %>
        
  </div>
  <%= render :partial => "groups", :locals => {:user => @user, :groups => @groups } %>

<% end -%>

<%= render :partial => "activities", :locals => {:user => @user, :activities => @activities} %>
<%= render :partial => "user_topics", :locals => {:user => @user, :submitted_topics => @submitted_topics, :participated_topics => @participated_topics} %>
<%= render :partial => "shares", :object => @shares, :locals => {:user => @user} %>

<script type="text/javascript">
  $(document).ready(function(){
      jQuery("#topics_tabs").tabs();
      jQuery("#activity_tabs").tabs();
  });
</script>
