<% content_for :fullsize do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3><%= h @user.login %>发布的活动</h3>
      <span class="postNew"><%= link_to "查看全部#{@user.login}参与过的活动(#{@user.participated_activities.size})", participated_activities_user_url(@user) %></span>
      <div class="contents">
      <table>
        <tr>
          <th>活动</th>
          <th>出发地</th>
          <th>目的地</th>
          <th>发布时间</th>
          <th>最后更新</th>
        </tr>
        <% @activities.each do |a| -%>
        <tr>
          <td><%= link_to a.title, activity_url(a) %></td>
          <td><%= activity_departure_name(a) %></td>
          <td><%= activity_arrival_name(a) %></td>
          <td><%= a.created_at.to_date %></td>
          <td><%= activity_last_update(a) %></td>
        </tr>
        <% end -%>
      </table>
      <%= will_paginate @activities %>
      </div>
    </div>
  </div>
</div>
<% end -%>