<% @page_title = "#{@user.login} 提交的学校" -%>
<% content_for :fullsize do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3><%= @user.login %>提交的学校</h3>
      <div class="contents">
      <table>
        <tr>
          <th>校名</th>
          <th>所在地</th>
          <th>提交时间</th>
          <th>最后更新</th>
        </tr>
        <% @schools.each do |s| -%>
        <tr class="tipText">
          <td><%= link_to s.title, school_url(s) %></td>
          <td><%= s.geo.name %></td>
          <td><%= s.created_at.to_date %></td>
          <td><%= school_last_update(s) %></td>
        </tr>
        <% end -%>
      </table>
      <%= will_paginate @schools %>
      </div>
    </div>
  </div>
</div>
<% end -%>