
<% @page_title = "和 #{@user.login} 有关的学校" -%>

<% content_for :crumb do -%>
<li>用户</li>
<ul>
  <li><%= h @user.login %></li>
</ul>
<% end -%>
<% content_for :fullsize do -%>

<h2 class="title"><%= " 和 #{@user.login} 有关的学校" %></h2>
<div class="clearfix"></div>
<div>
<% unless @wannas.blank? %>
  <div class="school_frame">
        <h3>要去的学校</h3>
        <div class="contents">
        <%@wannas.each do |visit|%>
        <div class="school_list">
          <% if visit.school.main_photo -%>
          <div class="school_list_photo"><%= image_tag(visit.school.main_photo.public_filename(:thumb), :alt => visit.school.main_photo.title ) %></div>
          <%else%>
          <img class="school_list_photo" src="/images/school_main_thumb.png"/>
          <%end%>        
          <div class="school_list_meta" style="width:190px;">
          <p><% unless visit.wanna_at.blank? %>计划在<%= l(visit.wanna_at.to_date, :format => :short) %><%end%>去</p>
          <h5><%= link_to h(visit.school.title), school_path(visit.school)%></h5>
          <span>活跃度</span>
          <%= karma_star(visit.school.last_month_karma)-%>
          </div>
          <div class="clearfix"></div>
        </div>
        <%end%>
        </div>
        <div class="clearfix" style="height:20px"></div>  
  </div>
  <%end%>
  <div class="clearfix"></div>
  <% unless @visits.blank? %>
  <div class="school_frame">
        <h3>去过的学校</h3>
        <div class="contents">
        <%@visits.each do |visit|%>
        <div class="school_list">
          <% if visit.school.main_photo -%>
          <div class="school_list_photo"><%= image_tag(visit.school.main_photo.public_filename(:thumb), :alt => visit.school.main_photo.title) %></div>
          <%else%>
          <img class="school_list_photo" src="/images/school_main_thumb.png"/>
          <%end%>        
          <div class="school_list_meta" style="width:190px">
          <p><% unless visit.visited_at.blank? %>在<%= l(visit.visited_at.to_date, :format => :short) %><%end%>去过</p>
          <h5><%= link_to h(visit.school.title), school_path(visit.school)%></h5>
          <span>活跃度</span><%= karma_star(visit.school.last_month_karma)-%>
          </div>
          <div class="clearfix"></div>
        </div>
        <%end%>
        </div>
  </div>
  <%end%>
  <div class="clearfix"></div>
  <% unless @interests.blank? %>
  <div class="school_frame">
        <h3>关注的学校</h3>
        <%@interests.each do |visit|%>
        <div class="school_list">
          <% if visit.school.main_photo -%>
          <div class="school_list_photo"><%= image_tag(visit.school.main_photo.public_filename(:thumb), :alt => visit.school.main_photo.title ) %></div>
          <%else%>
          <img class="school_list_photo" src="/images/school_main_thumb.png"/>
          <%end%>        
          <div class="school_list_meta" style="width:190px;">
          <p>正在关注</p>
          <h5><%= link_to h(visit.school.title), school_path(visit.school)%></h5>
          <span>活跃度</span>
          <%= karma_star(visit.school.last_month_karma)-%>
          </div>
          <div class="clearfix"></div>
        </div>
        <%end%>
        <div class="clearfix" style="height:20px"></div>  
  </div>
  <%end%>
</div>
<%end%>