
<% @page_title = "和 #{@user.login} 有关的学校" -%>

<% content_for :crumb do -%>
<li>用户</li>
<ul>
  <li><%= h @user.login %></li>
</ul>
<% end -%>
<% content_for :fullsize do -%>

<h2 class="title"><%= " 和#{@user.login}有关的学校" %></h2>
<div class="clearfix"></div>
<div>
<% unless @wannas.blank? %>
  <div class="school_frame">
        <span class="span_title" >要去的学校</span>
        <span style="color:#999"><%= @wannas.size %>所学校</span>
        <div class="clearfix" style="height:20px"> </div>
        <%= render :partial => "visit", :collection => @wannas,:locals => {:school => nil} %>
        <div class="clearfix" style="height:20px"></div>  
  </div>
  <%end%>
  <div class="clearfix"></div>
  <% unless @visits.blank? %>
  <div class="school_frame">
        <span class="span_title">去过的学校</span>
        <span style="color:#999"><%= @visits.size %>所学校</span>
        <div class="clearfix" style="height:20px"> </div>
        <%= render :partial => "visit", :collection => @visits,:locals => {:school => nil} %>  
        <div class="clearfix" style="height:20px"></div>  
  </div>
  <%end%>
    <div class="clearfix"></div>
  <% unless @interests.blank? %>
  <div class="school_frame">
        <span class="span_title">关注的学校</span>
        <span style="color:#999"><%= @interests.size %>所学校</span>
        <div class="clearfix" style="height:20px"> </div>
        <%= render :partial => "visit", :collection => @interests,:locals => {:school => nil} %>  
        <div class="clearfix" style="height:20px"></div>  
  </div>
  <%end%>
</div>
 <style type="text/css">.school_list_meta{width:190px;}</style>
<%end%>