<% @page_title = '一公斤盒子' %>
<% content_for :fullsize do -%>
  <%= image_tag('/images/boxes/box_banner.jpg',:style => 'margin:10px')%>
  <div style="position:absolute;top:170px;left:740px;text-align:right">
    <%= link_to ' ',apply_boxes_path,:id => 'apply' %>
    <p style="color:#fff;font-weight:bold">
      共有 <%= link_to "#{@executions.count}份申请",executions_boxes_path,:style => 'color:#9d4' %> 已通过
      <%= link_to "立即查看",executions_boxes_path,:style => 'color:#9d4' %> 
    </p>
  </div>
<% end %>

<div class="newbox">
  <h3>关于一公斤盒子：</h3>
  <p>一个一公斤盒子能让一个志愿者或老师和36个学生展开一节主题课。 盒子里的内容包括这节课所需的材料和一个简单易懂的使用指南，让每个人都可以轻松的把课堂变得丰富多彩。使用一公斤盒子的课堂强调的是给孩子们提供自我发现和相互学习的空间。</p>
  <p>如果你是一名活跃在一线的志愿者或老师，只要填写一份表格说明你的计划并承诺反馈，就可以申请一公斤盒子。我们将把盒子邮寄到你注明的地址。一公斤盒子项目受到社会各界爱心资助而成长，获得支持的志愿者和老师有向公众提供使用反馈的义务。</p>
  <p>
    更多精彩在一公斤盒子的：
    <%= link_to '官方微博','http://weibo.com/2431048800',:target => '_blank'%>　
    <%= link_to '优酷空间','http://u.youku.com/user_show/uid_%E4%B8%80%E5%85%AC%E6%96%A4%E7%9B%92%E5%AD%90.html',:target => '_blank'%>　
    <%= link_to '公益淘宝店','http://shop68413730.taobao.com/',:target => '_blank'%>
  </p>
</div>

<div class="newbox">
  <h3>可以申请的盒子：</h3>
  <%= render :partial => "/public/box", :collection => @boxes %>
  <div class="cleanfix" style="clear:both;"></div>
</div>

<div class="newbox" >
  <h5>盒子设计讨论区</h5>
  <%= render :partial => "/topics/topics", :locals => {:topics => @group.topics } %>
  <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
</div>

<% content_for :sidebar do -%>
  <% if logged_in? && @my_executions.present?%>
    <div class="newbox">
      <h3>我的申请:</h3>
      <%= render :partial => "/public/execution", :collection => @my_executions %>
    </div>
  <% end %>

  <div class="newbox">
    <h3>最新反馈： <%= link_to '写新反馈',feedback_boxes_path(:feedback_type => 'share'),:class => 'buttonlink'%></h3>
    <%= render :partial => "/public/share", :collection => @topics %>
    <div class="cleanfix" style="clear:both;"></div>
    <%= link_to '查看全部',topics_boxes_path  %>
  </div>

  <div class="newbox">
    <h3>活动相册： <%= link_to '添加照片',feedback_boxes_path(:feedback_type => 'photo'),:class => 'buttonlink'%></h3> 
    <%= render :partial => "/photos/gallery", :collection => @photos,:locals => {:no_title => true}%>
    <div class="cleanfix" style="clear:both;"></div>
    <%= link_to '查看全部',photos_boxes_path %>
  </div>


  <div class="newbox">
    <h3>常见问题FAQ:</h3>
    <p>
      <b>问：申请一公斤盒子需要什么条件？</b>
    <br/>
      答：只要有计划到乡村或打工子弟学校做课堂活动，并同意使用反馈要求都可以申请一公斤盒子。
    </p>
    <p>
      <b>问：使用盒子的反馈要求是什么？</b>
    <br/>
     答：1、在完成使用一个盒子后，在本网页下面的“使用反馈”提交活动的照片，文字介绍及盒子内附有的“使用反馈表格”的照片（必须）。2、通过新浪微博与大家分享盒子的使用，并@一公斤盒子 （建议）。盒子的使用指南里有更详细的反馈要求。
    </p>
    <p>
      <b>问：填写申请后多久能收到盒子？</b>
    <br/>
      答：在每月的15日前（含15日）提交申请可以在下月初收到盒子。举例：9月15日申请在10月初收到盒子，9月16日申请在11月初收到盒子。
    </p>
    <p>
      <b>更多问题请致邮件给：box@1kg.org</b>
    </p>
  </div>
<% end %>
