<% @page_title = '一公斤盒子' %>
<% content_for :fullsize do -%>
  <%= image_tag('/images/boxes/box_banner.jpg',:style => 'margin:10px')%>
  <div style="position:absolute;top:170px;left:740px;text-align:right">
    <%= link_to ' ',apply_boxes_path,:id => 'apply' %>
    <p style="color:#fff;font-weight:bold">
      共有 <%= link_to "#{@executions.count}份申请",executions_boxes_path,:style => 'color:#9d4' %> 已通过
      <%= link_to "立即查看",executions_boxes_path,:style => 'color:#9d4' %> 
    </p>
  </div>
<% end %>

<div class="newbox">
  <%= render :text => Page.find_by_slug('boxes_board').body %>
</div>

<div class="newbox">
  <h3>可以申请的盒子：</h3>
  <%= render :partial => "/public/box", :collection => @boxes %>
  <div class="cleanfix" style="clear:both;"></div>
</div>

<div class="newbox" >
  <h5>盒子设计讨论区</h5>
  <%= render :partial => "/topics/topics", :locals => {:topics => @group.topics } %>
  <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
</div>

<% content_for :sidebar do -%>
  <% if logged_in? && @my_executions.present?%>
    <div class="newbox">
      <h3>我的申请:</h3>
      <%= render :partial => "/public/execution", :collection => @my_executions %>
    </div>
  <% end %>

  <div class="newbox">
    <h3>最新反馈： <%= link_to '写新反馈',feedback_boxes_path(:feedback_type => 'topic'),:class => 'buttonlink'%></h3>
    <%= render :partial => "/public/topic", :collection => @topics %>
    <div class="cleanfix" style="clear:both;"></div>
    <%= link_to '查看全部',topics_boxes_path  %>
  </div>

  <div class="newbox">
    <h3>活动相册： <%= link_to '添加照片',feedback_boxes_path(:feedback_type => 'photo'),:class => 'buttonlink'%></h3> 
    <%= render :partial => "/photos/gallery", :collection => @photos,:locals => {:no_title => true}%>
    <div class="cleanfix" style="clear:both;"></div>
    <%= link_to '查看全部',photos_boxes_path %>
  </div>

  <div class="newbox">
    <%= render :text => Page.find_by_slug('boxes_faq').body %>
  </div>
<% end %>
