<% @page_title = @box.name %>
<div style="margin-bottom:20px">
  <div style="float:left;text-align:center;width:150px">
    <%= image_tag(@box.image(:box_avatar)) %>
    <p>
      <%= link_to '立即申请',apply_boxes_path,:class => 'buttonlink' %>
      <%= link_to '指南下载',@box.guide.url,:class => 'buttonlink' if @box.guide_file_name %>
    </p>
  </div>
  <div style="margin-left:165px">
    <h1><%= @page_title%></h1>
    <h5>盒子简介</h5>
    <pre><%= @box.intro %></pre>
    <h5>盒子内容</h5>
    <pre><%= @box.content %></pre>
    <% if @box.video %>
      <h5>盒子视频</h5>
      <%= @box.video %>
    <% end %>
  </div>
</div>
  
<%= render :partial => "/comments/comments", :object => @comments %>
<%= render :partial => "/comments/form", :locals => {:commentable => @box,:cancel => true} %>

<% content_for :sidebar do -%>
  <span class="remark"><%= link_to "&raquo;  回到一公斤盒子",boxes_path %></span>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
  <div> 
    <h5>其他盒子</h5>
    <%= render :partial => "/shared/box", :collection => @boxes %>
  </div>
<% end -%>
