<div class=<%= (defined? detail) ? "donantion_detail" : "activity_list"%>
    <div class="project_image_frame">
        <img class="project_image" src="<%= co_donation.image.url %>"/>
    </div>
    
    <div style="float:left;margin-left:10px;<%= (defined? detail) ? 'width:196px' : 'width:176px'%>">
    <h5 style="font-size:13px"><%= link_to co_donation.title, co_donation %></h5>
    <span class="gary_span"><%= co_donation.end_at.to_date %>截止捐赠</span>
    <br/>
    <div style="float:right;margin-top:12px"><%= link_to "立即捐赠", co_donation_path(co_donation) + '#donation' ,:class => "buttonjoin2"%></div>
    <p style="margin:0">还差 <span style="font-size:28px;font-style:italic;font-family:cursive;position:relative;top:2px"><%= [co_donation.still_need] %></span> 件</p>
    </div>
          
    <div style="clear:both"></div>
    <% if (defined? detail) %>
    <div class="project_info">
            <div class="title_line"><span class="gary_span">发起人的物资使用计划</span></div>
            <%= co_donation.plan %>
          </div>
    <% end %>
</div>
