<div class="goods_list">
    <a href="#" class="goods_photo_frame"><img src="<%= goods.image.url(:thumb) %>"/></a>
    <% requirement = goods.requirements.find(:first,:conditions => {:school_id => school.id}) rescue goods.requirements.find(:first,:conditions => "matched_count < quantity") %>
    <div class="goods_meta">
      <span>接收学校：</span>
      <h6><%= link_to requirement.school.title, school_url(requirement.school), :target => "_blank" %>
      </h6>
      <div style="margin-top:8px">完成度：<span class="right_span"><a href="#">捐赠名单</a></span><br/>
      <%= progressbar (requirement.matched_count/requirement.quantity), :generate_css => true %><span class="right_span"><%= h requirement.matched_count %>/<%= h requirement.quantity %></span></div>
      </div>
    <div class="goods_description"><%= goods.description_html %></div>
</div>