<table>
  <tr>
    <th>学校</th>
    <th>需求物资</th>
    <th>需求数量</th>
    <th>已捐赠</th>
    <th>&nbsp;</th>
  </tr>
  <% requirements.each do |r| -%>
  <tr>
    <td>
      <%= link_to r.school.title, school_url(r.school), :target => "_blank" %>
      <%= "<br />#{r.for_team_tip}" if r.for_team? %>
    </td>
    <td><%= h r.requirement_type.title %></td>
    <td><%= h r.quantity %></td>
    <td><%= h r.matched_count %></td>
    <td>
    </td>
  </tr>
  <% end -%>
</table>