<div class="share">
  <div style="float:left">
    <%= avatar_for(share.user, "large") %>
    <br/>
  </div>
  <div style="margin-left:60px;">
    <h6><%= link_to h(share.title), topic_url(share) %></h6>
    <small style="color:#999">
      by <%= link_to share.user.login, user_url(share.user) %>
      <%= share.votes.count %> 推荐/<%= share.comments_count %> 回复
       <% unless share.tags.blank?%> 标签:
        <% share.tags.each do |tag| %>
          <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
        <% end %>
      <% end %>
    </small>
  </div>
</div>
