<div class="share">
  <div style="float:left">
    <%= avatar_for(share.user, "large") %>
  </div>
  <div style="margin-left:60px;width:580px">
  <div class="sharetitle"><%= link_to share.user.login, user_url(share.user) %> 写的 <%= link_to h(share.title), share_url(share) %></div>
    <div class="summary">“<%= summary(share,40) %>……”</div>
    <small style="color:#999">
      <%= share.votes.count %> 推荐/<%= share.comments_count %> 回复
       <% unless share.tags.blank?%> 标签:
        <% share.tags.each do |tag| %>
          <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
        <% end %>
      <% end %>
    </small>
  </div>
</div>