<div class="share">
  <div style="float:left">
    <%= avatar_for(vote.voteable.user, "large") %>
  </div>
  <div style="margin-left:60px;">
  <div class="sharetitle">
    <%= link_to vote.voteable.user.login, user_url(vote.voteable.user) %>
    
    <% if vote.voteable.is_a?(Share) %>
    的分享
      <%= link_to vote.voteable.title, share_path(vote.voteable) %>
    <% elsif vote.voteable.is_a?(Topic) %>
    的话题
      <%= link_to vote.voteable.title, board_topic_path(vote.voteable.board, vote.voteable) %>
    <% end %>
    
  </div>
    <div class="summary">“<%= summary(vote.voteable,40) %>……”</div>
    <small style="color:#999">
      <% voters = vote.voteable.voted_by %>
      <% first_voter = voters.pop %>
      来自 <%= voters.map{ |user| link_to "#{user.login}、", user_url(user)} %><%= link_to first_voter.login,user_url(first_voter)%> <%= "...等#{vote.voteable.votes.count}人" if voters[1]%>的推荐　 
    </small>
  </div>
</div>