<% @page_title = "编辑开放讨论区" -%>

<% content_for :sidebar do -%>
  <p>> <%= link_to "返回开放讨论区管理", admin_boards_url %></p>
  <p>> <%= link_to "返回管理界面", admin_url %></p>
  <%= render :partial => "/admin/public/operation_list" %>
<% end -%>

<div class="setting">
  <div class="block">
    <h3>编辑开放讨论区</h3>
    <% form_for [:admin,@theme],:html => {:method => :put} do |f| -%>
    <%= render :partial => "/admin/boards/public_form", :object => f %>
    <p><label>&nbsp;</label><%= submit_tag "修 改" %> 或 <%= link_to "取消", admin_boards_url %></p>
    <% end -%>
  </div>
  
  <div class="block">
    <h3>增加版主</h3>
    <p class="note">先搜索用户，再设置版主</p>
    <% form_tag search_admin_users_path(:type => "public"), :method => :get do -%>
      <p>
        <label>现任版主</label>
        <%= theme.managers.collect {|u| link_to(u.login, user_url(u.id))+"("+ link_to("X", admin_user_url(u.id, :board => @theme.board.id, :remove => 'public'), :confirm => "确定要取消版主权限？", :method => :put, :title => "取消#{u.login}的版主权限") +")"}.join(", ") %>
      </p>
      
      <%= hidden_field_tag "type", "public" %>
      <%= hidden_field_tag "board", @theme.id %>
      <p><label>邮件或用户名:</label><%= text_field_tag 't' %> <%= submit_tag "搜 索" %></p>
    <% end -%>
    
    <% if @users -%>
    <table border="0" cellspacing="5" cellpadding="5">
      <tr>
        <th>用户名</th>
        <th>操作</th>
      </tr>
      <% @users.each do |user| -%>
      <tr>
        <td><%= user.login %></td>
        <td>
          <% unless theme.managed_by(user)-%>
            <%= link_to "设为版主", admin_user_path(user, :add => "public", :board => @theme.board), :method => :put %>
          <% else -%>
            <%= link_to "取消版主", admin_user_path(user, :remove => "public", :board => @theme.board), :method => :put %>
          <% end -%>
        </td>
      </tr>
      <% end -%>
    </table>
    <% else -%>
      <p class="center">没有搜索结果</p>
    <% end -%>
  </div>
</div>