
<% content_for :heads do -%>
<link type="text/css" rel="stylesheet" href="/stylesheets/cnbloggercon09.css" media="screen, projection" />
<style type="text/css"> 
body {background:white;}
</style>
<% end -%>

<% @page_title = "2009 中文网志年会"  -%>

<% content_for :crumb do -%>
<li>2009 中文网志年会</li>
<% end -%>

<% content_for :fullsize do -%>

<div class="lcolumn">
   <img src="/images/cnbloggercon09/banner.jpg" alt="2009 中文网志年会" style="margin-left:30px;margin-bottom:10px" />
   <div class="boxouter">
     <h3>年会介绍</h3>
     <div class="boxinter">
       <p>中文网志年会（Chinese Blogger Conference）是非传统意义上的会议， 是一年一度博客们的大聚会，这将为您提供一个非常特殊的公共展示机会。</p>
       <p>年会是覆盖中文网络空间的创新、技术、创业 和文化的交流会议，是由最早引领中文网志文化发源的和推动草根创新文化的群智基金会共同发起的线上线下综合性活动。这个会议的宗旨是建立广泛平等的交流方式，促进中文空间的个人出版、草根文化和创新技术的发展。</p>
       <p>会议采用现场和网络同步 的参与方式，并鼓励人人都成为参与者，共同“撰写”和已经成为了“报道”中文网络空间的发展历史。有关此会议的应用中广泛采纳的通用标签，并成为连接中文网络空间和全球网络空间的紧密纽带。</p>
    </div>
  </div>
  
  <div class="boxouter">
    <h3>志愿者招募</h3>
    <div class="boxinter">
      <p><a href="http://www.1kg.org/activities/100676" target="_blank">2009寻找中文网志年会的1KGer</a></p>
      <p><a href="http://www.1kg.org/activities/100677" target="_blank">2009寻找多背一公斤的Blogger-乡村教育主题论坛</a></p>
    </div>
  </div>
  
  <div class="boxouter">
    <h3>小组讨论</h3>
    <div class="boxinter">
      <%= render :partial => "/topics/topics", :locals => { :board => @board, 
                                                            :topics => @board.latest_topics } %>
      <p style="text-align:right"><%= link_to "进入小组",group_url(@group), :target => "_blank",:class => "buttonlink" %></p>
    </div>
  </div>
</div>

<div class="rcolumn">
  
  <div class="boxouter center">
    <img src="/images/cnbloggercon09/cobranding.png" alt="多背网络一公斤" />
    <img src="/images/cnbloggercon09/slogan.png" alt="公益旅行，网络聚会，一举两得" />
    <a href="http://item.taobao.com/auction/item_detail.jhtml?x_id=0db1&item_id=7130449ea3d3b02d12c6d52e03dd0550" id="register" title="马上报名"><img src="/images/cnbloggercon09/register.png" alt="马上报名"></a>
    <img style="margin-bottom:4px;" src="/images/cnbloggercon09/taobao.png" alt="通过淘宝网" />
  </div>
  
  <div class="boxouter">
     <h3>参会须知</h3>
     <div class="boxinter">
      <p style="font-size:1.1em;">
            报名费用：<br/>
      100元/人 (包含一件Tee，两顿午餐，资料等)<br/>
      <br/>预定住宿请填写：<a href="http://spreadsheets.google.com/formResponse?formkey=dEV1RkRBRFg3c0dzMmhna25aYTRibmc6MA&ifq" class="buttonlink">住宿登记</a><br/>
      标准间：110元/间/晚　一人费用：55元/晚<br/>住宿统一安排收费。</p>
      <br/>
      年会巴士：<br/>
   11月6日  中午 13：30 ＆  晚上19：00 两个时间<br/>
      均从
   <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=zh-CN&msa=0&msid=106753365061946344349.000476e7a260a59f903a8&ll=23.389531,113.327751&spn=0.178668,0.308647&z=12">白云机场停车场</a>
      和
   <a href="http://maps.google.com/maps/ms?ie=UTF8&hl=zh-CN&msa=0&msid=106753365061946344349.000476e7a260a59f903a8&ll=23.125205,113.307152&spn=0.179022,0.308647&z=12">烈士陵园正门</a>
     同时发车
   <p>

     </div>
  </div>

  <div class="boxouter">
    <h3>年会影像</h3>
    <div style="padding-top:4px;">
      <script src="http://www.flickr.com/badge_code_v2.gne?show_name=1&count=12&display=random&size=s&layout=h&source=all_tag&tag=cnbloggercon" type="text/javascript"></script>
      <a href="http://www.flickr.com/groups/cnbloggercon/"><img src="/images/cnbloggercon09/more.png" style="margin-left:46px"></a>
    </div>
  </div>
  <div class="boxouter">
      <h3>小组成员</h3>
      <div class="boxinter">
      <%= render :partial => "/shared/user_list", :locals => {:users => @group.members.find(:all,:order => "created_at desc", :limit => 12)} %>
      <p class="remark">&raquo; <%= link_to "查看全部成员", members_group_url(@group) %></p>
      </div>  
   </div>
</div>

<div id="misc" >
  <%= link_to image_tag("/images/logo.gif"), root_url %>
</div>
<script type="text/javascript" charset="utf-8">
$('#register img').hover(
  function () {
    $(this).attr("src","/images/cnbloggercon09/register_hover.png");
  },
  function () {
    $(this).attr("src","/images/cnbloggercon09/register.png");
  }
); 
</script>
<% end -%>
