<p><label>项目名称/产品名称</label><%= form.text_field :title, :size => 40, :class => "text" %>(为了保证显示正常请不要超过12个字)</p>
<p><label>是否为积分兑换项目</label><%= form.check_box :exchangable%></p>
<p><label>图片</label><%= form.file_field :image %></p>
<div class="for_project">
<p><label>申请截止时间</label><%= form.text_field :apply_end_at, {:class => "vDateField"} %></p>
<p><label>项目开始时间</label><%= form.text_field :start_at, {:class => "vDateField"} %></p>
<p><label>项目结束时间</label><%= form.text_field :end_at, {:class => "vDateField"} %> （可选）</p>
</div>
<p><label>项目背景介绍（产品介绍）</label><br /><%= fckeditor_textarea("project", "description_html", :toolbarSet => 'OneLine', :width => 500,:height =>300) %></p>
<div id="for_vendor" style="display:none">
  <p><label>商家链接</label><br /><%= fckeditor_textarea("project", "vendor_link", :toolbarSet => 'Image', :width => 500,:height =>200) %></p>
</div>

<script type="text/javascript">
$("#project_exchangable").delayedObserver(0.25, function(element, value) { $("#for_vendor").toggle();$(".for_project").toggle() });
</script>
<div class="for_project">
<p><label>项目征集要求</label><br /><%= form.text_area :condition_html, :size => "76x6" %></p>
<p><label>参与学校/志愿者可获得的支持</label><br /><%= form.text_area :support_html, :size => "76x6" %></p>
<p>-----------------------------------------------------------------------------------------------------------</p>
<p><h6>反馈时间和内容要求</h6>
  <p><label>反馈截止时间</label><%= form.text_field :feedback_at, {:class => "vDateField"} %></p>
  <%= feedbacks_check_box(form,:feedback_require,@project.feedback_require) %>
</p>
<p>-----------------------------------------------------------------------------------------------------------</p>
<p><label>必须是学校大使才能申请？</label><%= form.check_box :must%></p>
</div>
<p><label>slug</label><%= form.text_field :slug %></p>
<script type="text/javascript" charset="utf-8">$(document).ready(DateTimeShortcuts.init)</script>