<p><label>项目名称/产品名称</label><%= form.text_field :title, :size => 40, :class => "text" %></p>
<p><label>图片</label><%= form.file_field :image %></p>
<p><label>是否为积分兑换项目</label><%= form.check_box :exchangable%></p>
<p><label>项目背景介绍（产品介绍）</label><br /><%= form.text_area :description_html, :style => 'width:500px;height:300px;', :class => "mceEditor" %>

<p id="vendor" style="display:none"><label>商家链接</label><br /><%= form.text_area :vendor_link, :style => 'width:500px;height:200px;', :class => "mceEditor" %>
<script type="text/javascript">
$("#project_exchangable").delayedObserver(0.25, function(element, value) { $("#vendor").toggle();$("#for_project").toggle() });
</script>
<div id="for_project">
<p><label>项目征集要求</label><br /><%= form.text_area :condition_html, :size => "76x6" %></p>
<p><label>参与学校/志愿者可获得的支持</label><br /><%= form.text_area :support_html, :size => "76x6" %></p>
<p><label>申请截止时间</label><%= form.text_field :apply_end_at, {:class => "vDateField"} %></p>
<p><label>项目开始时间</label><%= form.text_field :start_at, {:class => "vDateField"} %></p>
<p><label>项目结束时间</label><%= form.text_field :end_at, {:class => "vDateField"} %> （可选）</p>
<p>-----------------------------------------------------------------------------------------------------------</p>
<p><h6>反馈时间和内容要求</h6>
  <p><label>反馈要求时间</label><%= form.text_field :feedback_at, {:class => "vDateField"} %></p>
  <%= feedbacks_check_box(form,:feedback_require,@project.feedback_require) %>
</p>
<p>-----------------------------------------------------------------------------------------------------------</p>
<p><label>必须是学校大使才能申请？</label><%= form.check_box :must%></p>
</div>
<p><label>slug</label><%= form.text_field :slug %></p>
<script type="text/javascript" charset="utf-8">$(document).ready(DateTimeShortcuts.init)</script>