<% @page_title = @project.title %>
<% content_for :heads do -%>
  <style type="text/css">.school_list_photo{width:80px;height:60px;margin-top:4px}
         .school_list_photo img{width:80px;height:60px}
         .school_list_meta{width:170px;padding:4px 0}
  </style>
<% end %>

<% content_for :sidebar do -%>
<%= render :partial => '/searches/search_box', :locals => {:kind => 'activity'} %>
  <div class="cleanfix" style="clear:both;height:20px"></div>
  <span class="remark"><%= link_to "&raquo; 回到公益项目首页",requirement_types_url%></span>
  <div class="cleanfix" style="clear:both;height:20px"></div>


    <span class="span_title2">参与的学校</span>
    <div style="margin:6px 0">
      <%= render :partial => "requirement", :collection => @project.requirements %>
    </div>
  
  <% unless @others.empty?%>
  <div>
      <span class="span_title2">其他项目</span>
      <div style="margin:6px 0">
        <%= render :partial => "/shared/project", :collection => @others %>
      </div>
  </div>
  <%end%>
<%end%>


<% if false -%>      
  <div class="cleanfix" style="clear:both;height:20px"></div>
  <span class="remark"><%= link_to "&raquo; 回到公益项目首页",requirement_types_url%></span>
  <div class="cleanfix" style="clear:both;height:20px"></div>
  
  <div>
    <span class="span_title2">参与的学校</span>
    <div style="margin:6px 0">
      <%= render :partial => "requirement", :collection => @project.requirements %>
      <div style="clear:both;"></div>
    </div>
  </div>
  
  <% unless @others.empty?%>
  <div>
      <span class="span_title2">其他项目</span>
      <div style="margin:6px 0">
        <%= render :partial => "/shared/project", :collection => @others %>
      </div>
  </div>
  <%end%>
<% end -%>

<div class="newbox">
      <div style="height:160px;width:160px;overflow:hidden;text-align:center;float:left">
            <%= image_tag(@project.image(:thumb), :alt => @project.title,:style => "height:160px;width:160px;") %>
      </div>
      <div style="float:right;text-align:right;margin:4px 0 0">
        <%if @project.apply_end? -%>
          <p style="color:#666;margin:6px 0">项目申请已结束</p>
        <%else%>
          <%= link_to "立即申请",new_requirement_type_requirement_url(@project, :school_id => params[:school_id]),:class => "buttonjoin2"%>
          <p style="color:#666;margin:6px 0"><%=  "此项目只有学校大使才可以申请" if @project.must%></p>
        <% end %>
      </div>
      <div id="activitiesInfo">
        <span class="span_title"><%= @project.title %></span>
        <p><label>申请截止时间：</label><%= @project.apply_end_at.to_date %></p>
        <p><label>开始时间：</label><%= @project.start_at.to_date %></p>
        <p><label>结束时间：</label><%= @project.end_at.nil? ? '未要求' : @project.end_at.to_date %></p>
      </div>
</div>

<div class="cleanfix" style="height:20px;clear:both"></div>
<div class="newbox" style="color:#666">
      <div class="project_info">
        <div class="title_line"><span class="span_title2">项目背景</span></div>
        <%= @project.description_html %>
      </div>
      <div class="project_info">
        <div class="title_line"><span class="span_title2">征集要求</span></div>
        <%= @project.condition_html.gsub("\r\n", '<br/>') %>
      </div>
      <div class="project_info">  
        <div class="title_line"><span class="span_title2">参与学校或志愿者可获得的支持</span></div>
        <%= @project.support_html.gsub("\r\n", '<br/>') %>
      </div>
      <div class="project_info">
        <div class="title_line"><span class="span_title2">反馈要求</span></div>
        <%= "#{@project.feedback_require}<br/>" %><%= "需要在 #{@project.feedback_at.to_date} 之前完成反馈" unless @project.feedback_at.nil?%>
      </div>
        
</div>
<%= share_link(summary(@project ,60),(@page_title.to_s + " - 多背一公斤"))%>
<div class="cleanfix" style="height:20px;clear:both"></div>

<%= render :partial => "/comments/comments", :object => @comments %>
<%= render :partial => "/comments/form", :locals => {:commentable => @project} %>
