<% @page_title = @title = @project.title %>

<% content_for :sidebar do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>如何参与？</h3>
      <p class="postNew"></p>
      <div class="contents">
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>其他项目</h3>
      <p class="postNew"></p>
      <div class="contents">
        <% @others.each do |p| -%>
          <p><%= link_to h(p.title), requirement_type_url(p) %></p>
        <% end -%>
      </div>
      <span class="remark">&raquo; <%= link_to "所有项目", requirement_types_url %></span>
    </div>
  </div>
</div>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>项目介绍</h3>
      <p class="postNew"></p>
      <div class="contents">
        <%= @project.description_html %>
        
        <p style="font:14px bold;">
          <% if @project.validated? %> 
            <% if params[:school_id].nil? %>
              <%= link_to "如何申请？", "#" %>
            <% else -%>
              <%= link_to "申请项目", new_requirement_type_requirement_url(@project, :school_id => params[:school_id]) %>
            <% end -%>
          <% else -%>
            "未通过审核，不能申请"
          <% end -%>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>申请成功的学校</h3>
      <p class="postNew"></p>
      <div class="contents">
        <%= render :partial => "requirements", :object => @project.requirements.confirmed %>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>提交申请的学校</h3>
      <p class="postNew"></p>
      <div class="contents">
        <%= render :partial => "requirements", :object => @project.requirements.unconfirmed %>
        <div style="clear:both;"></div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "/comments/comments", :object => @comments %>
<%= render :partial => "/comments/form", :locals => {:commentable => @project} %>