<% @page_title = @project.title %>

<% content_for :sidebar do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>如何参与？</h3>
      <p class="postNew"></p>
      <div class="contents">
      </div>
    </div>
  </div>
</div>

        <div id="admins">
          <% if @project.validated? %> 
            <% if params[:school_id].nil? %>
              <%= link_to "如何申请？", "#" %>
            <% else -%>
              为<%= School.find(params[:school_id]).title -%><%= link_to "申请项目", new_requirement_type_requirement_url(@project, :school_id => params[:school_id]) %>
            <% end -%>
          <% else -%>
            "未通过审核，不能申请"
          <% end -%>
        </div>
      

  <div class="newbox">
      <h3>其他项目</h3>
      
        <%= render :partial => "/shared/project", :collection => @others %>
      
      <span class="remark">&raquo; <%= link_to "所有项目", requirement_types_url %></span>
  </div>
<% end -%>

<div class="newbox">
      <div style="height:160px;width:160px;overflow:hidden;text-align:center;float:left">
            <%= link_to image_tag(@project.image(:thumb), :alt => @project.title,:style => "height:160px;width:160px;")%>
      </div>   
      <div id="activitiesInfo">
        <span class="span_title2">项目介绍</span>
        <%= @project.description_html %>
        </div>
</div>

<div class="cleanfix" style="height:3px;clear:both"></div>
<div class="newbox">
    <h3>参与的学校</h3>
    
    <p class="postNew"></p>
    <div class="contents">
      <%= render :partial => "requirements", :object => @project.requirements %>
      <div style="clear:both;"></div>
    </div>
</div>


<% if false%>
<%= render :partial => "/comments/comments", :object => @comments %>
<%= render :partial => "/comments/form", :locals => {:commentable => @project} %>
<% end%>