<% content_for :heads do -%>
<style type="text/css">
  .goods_list{margin-right:30px}
  .school_list_photo img{height:68px;}
  .school_list_photo{width:92px}
  .school_meta{width:170px}
</style>
<% end -%>

<% @page_title = "积分献爱，举手之劳！" -%>

<% content_for :crumb do -%>
<li>积分献爱</li>
<% end -%>

<% content_for :sidebar do -%>

<img src="/images/point/logo.png" />

<div class="newbox">
  <span class="span_title">合作商家</span>
  <div class="clearfix" style="height:5px"></div>
  <%= link_to image_tag("/images/partners/elong.gif"),"http://www.elong.com"%>
  <%= link_to image_tag("/images/partners/i-part.gif"),"http://www.i-part.com"%>
  <%= link_to image_tag("/images/partners/etpass.gif"),"http://www.etpass.com"%>
</div>


<div class="newbox">
  <span class="span_title">项目支持</span>
  <div class="clearfix" style="height:5px"></div>
  <%= link_to image_tag("/images/partners/fupin.jpg"),"http://www.fupin.org.cn"%>
</div>

<% end %>


  <img src="/images/point/title.png" />
  <div class="clearfix" style="clear:both;height:40px"></div>
  <div class="newbox">
  <span class="span_title">公益物资</span>
      <div class="clearfix" style="height:5px"></div>
      <%= render :partial => "/shared/goods", :collection => RequirementType.exchangable.last5,:locals => {:with_list => true} %>
  </div>
      
  <div class="clearfix" style="clear:both;height:20px"></div>