<% @game.comment = '' %>
<p>
  <label class="label">游戏名称<span style="color:red;">＊</span></label>
  <%= form.text_field :name, :size => 40, :class => "formText" %> <%= error_message_on @game, :name %>
</p>

<p>
  <label class="label">主题图<span style="color:red;">＊</span></label>
  <%= form.file_field :photo %>
</p>

<p>
  <label class="label">游戏信息<span style="color:red;">＊</span></label>
  <%= form.select :level, [['适合年级',''], '学前班', '1-3年级', '4-6年级', '7-9年级'] %> <%= error_message_on @game, :level %>
  <%= form.select :length, [['游戏时间',''], '<20', '20-60', '60-90', '>90'] %> <%= error_message_on @game, :length %>
  <%= form.select :size, [['游戏人数',''], '1-5人', '5-10人', '10-20人', '20人以上'] %> <%= error_message_on @game, :size %>
</p>

  <input style="display:none" type="text" name="game[category]" value="<%= params[:tag]%>"/>
<p>
  <label class="label">游戏介绍<span style="color:red;">＊</span></label>
  <%= fckeditor_textarea("game", "content", :toolbarSet => 'OneLine',:width => '640px',:height => '480px') %><%= error_message_on @game, :content %>
</p>

<p>
  <label class="label" >附加标签</label>
  <%= form.text_field :tag_list, :size => 40, :class => "formText" %>
  <span>（以空格分隔不同标签）</span>
</p>

<% unless @game.new_record? %>
<p>
  <label class="label" >修订说明</label>
  <%= form.text_field :comment, :size => 40, :class => "formText" %>
  <span>（说明这次改动的内容）</span>
</p>
<% end %>