<table>
  <tr>
    <th style="width:35%;">名称</th>
    <th style="width:15%;">游戏人数</th>
    <th style="width:15%">游戏时间</th>
    <th style="width:15%;">适合年级</th>
    <th style="width:20%;">最后修改</th>
  </tr>
  <% games.each do |g| -%>
  <tr>
    <td>
      <%= link_to g.name, g %>
      <% unless g.tags.blank?%><br/><small style="color:#aaa">标签：
        <% g.tags.each do |tag| %>
          <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
        <% end %>
        </small>
      <% end %>
    </td>
    <td><%= g.size %></td>
    <td><%= g.length %></td>
    <td><%= g.level %></td>
    <td><%= link_to g.user.login, g.user %> 于 <%= l(g.updated_at, :format => 'short') %></td>
  </tr>
  <% end -%>
</table>