<% @page_title = "#{h @game.name}" -%>

<% content_for :crumb do -%>
<p style="display:none"><%= summary(@game ,60)%>...</p>
<li><%= link_to '课程', games_path %></li>
<li><%= @game.name %></li>
<% end -%>

<% content_for :sidebar do -%>
  
  <div style="clear:both;height:10px"></div>
  <% if logged_in? && current_user == @game.user %>
  <div id="admins">
    <p>
      你是课程的创建者，你可以:<br/>
      <%= link_to "管理版本", versions_game_path(@game),:class => "adminbutton"%>
      <%= link_to "删除课程", game_path(@game), :class => "adminbutton", :method => 'delete', :confirm => '确定要删除吗？' %>
    </p>
  </div>
  <% end %>
  <span class="remark"><%= link_to " &raquo; 回到#{@game.game_category.name}类课程",category_games_path(@game.game_category.slug) %></span>

<% end -%>

<span class="span_title" style="font-size:20px"><%= h @game.name %></span>
<span style="font-weight:bold"> <%= link_to "[#{@game.game_category.name}]",category_games_path(@game.game_category.slug) %></span>

<div class="newbox" >
  <div class="contents">
    <div style="width:120px;float:right;text-align:right">
      <%= link_to "我要补充", edit_game_path(@game),:class => "buttonjoin2"%> 
    </div>
        
    <div style="height:160px;width:160px;overflow:hidden;text-align:center;float:left">
      <%= image_tag(@game.photo.url(:game_image), :alt => '课程主题图',:class => "activity_main") %>
    </div>   
        
    <div id="module_meta">
      <p>课程人数: <%= @game.size %></p>
      <p>课程时间: <%= @game.length %>分钟</p>
      <p>适合年龄: <%= @game.level %></p>
      <p>最后修订: <%= link_to @game.user.login, @game.user %> 于 <%= @game.updated_at.to_date %></p>      
      <p>课程标签: <% @game.tags.each do |tag| %>
        <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
      <% end %>
      <%= '无' unless @game.tags.empty?%>
      </p>        
    </div>
    <div style="clear:both;height:10px"></div>
    <div class="entry">
      <span class="span_title">课程介绍</span>
      <%= @game.content %>
      <span class="span_title">参考资料</span>
      <ol>
        <% @game.references.each do |r| %>
          <li><%= r.name %>:<%= link_to r.link, r.link %></li>
        <% end %>
      </ol>
      
    <span class="more" name="#version_history">查看版本记录</span>
    <div style="clear:both;height:10px"></div>
    <div id="version_history" style="text-align:right;display:none">
      <% @game.versions.reverse.each do |v| %>
        <p><a href="<%= game_path(@game, :version => v.version) %>"><%= v.user.login %> 修改于 <%= v.created_at.to_date %>:<%= (v.comment.blank? ? '未说明' : v.comment ) %></a></p>
      <% end %>
    </div>

      
      <%= share_link(summary(@game ,60),(@page_title.to_s + " - 多背一公斤"))%>

    </div>
  </div>
</div>

  <%= render :partial => "/comments/comments", :object => @comments %>
  <%= render :partial => "/comments/form", :locals => {:commentable => @game} %>
  
<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    $(".more").toggle(
      function () {$($(this).attr('name')).animate({ height: 'show' },'fast');$(this).attr('style','background-image:url(/images/less.gif)')},
      function () {$($(this).attr('name')).animate({ height: 'hide' },'fast');$(this).attr('style','background-image:url(/images/more.gif)')}
    );
  });   
</script>
