<% @page_title = "#{h @game.name}" -%>

<% content_for :crumb do -%>
<li><%= link_to '游戏', games_path %></li>
<li><%= @game.name %></li>
<% end -%>

<% content_for :sidebar do -%>
  <span class="remark"><%= link_to " &raquo; 回到#{@game.category}类游戏",category_games_path(@game.category) %></span>
  <div style="clear:both;height:10px"></div>
  <% if logged_in? && current_user == @game.user %>
  <div id="admins">
    <p>
      你是游戏的创建者，你可以:<br/>
      <%= link_to "管理版本", edit_game_path(@game),:class => "adminbutton"%> <%= link_to "删除游戏", '#',:class => "adminbutton"%>
    </p>
  </div>
  <% end %>
  
  <div class="newbox">
    <span class="span_title2">修订记录</span>
    <div class="clearfix" style="height:5px"></div>
    <div class="contents">
      <% @game.versions.reverse.each do |v| %>
        <p><%= link_to v.user.login, v.user %> 修订于 <%= v.created_at.to_date %>:
        <%= link_to v.comment, game_path(@game, :version => v.version) %></p>
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>

<% end -%>

<span class="span_title" style="font-size:20px"><%= h @game.name %></span> <span style="font-weight:bold"> <%= link_to "[#{@game.category}]",category_games_path(@game.category) %></span>

<div class="newbox" id="activityInfo">
  <div class="contents">
    <div style="width:120px;float:right;text-align:right">
      <%= link_to "我要补充", edit_game_path(@game),:class => "buttonjoin2"%> 
    </div>
        
    <div style="height:160px;width:160px;overflow:hidden;text-align:center;float:left">
      <%= image_tag(@game.photo.url(:medium), :alt => '游戏主题图',:class => "activity_main") %>
    </div>   
        
    <div id="activitiesInfo">
      <p>游戏人数: <%= @game.size %></p>
      <p>游戏时间: <%= @game.length %>分钟</p>
      <p>适合年龄: <%= @game.level %></p>
      <p>最后修订: <%= link_to @game.user.login, @game.user %> 于 <%= @game.updated_at.to_date %></p>      
      <p>游戏标签: <% @game.tags.each do |tag| %>
        <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
      <% end %>
      <%= '无' unless @game.tags.empty?%>
      </p>        
    </div>
    <div style="clear:both;height:10px"></div>
    <div class="entry">
      <span class="span_title">游戏介绍</span>
      <%= @game.content %>

    </div>
  </div>
</div>

  <%= render :partial => "/comments/comments", :object => @comments %>
  <%= render :partial => "/comments/form", :locals => {:commentable => @game} %>