<% @page_title = "查看版本历史" %>

<% content_for :crumb do -%>
<li>版本历史</li>
<% end -%>

<div class="newbox" >
  <span class="span_title">游戏版本历史</span>
  <div class="clearfix" style="height:10px"></div>
  <% @game.versions.reverse.each do |v| %>
    <p><a href="<%= game_path(@game, :version => v.version) %>" target="_blank"><%= v.user.login %> 修改于 <%= v.created_at.to_date %>:<%= (v.comment.blank? ? '未说明' : v.comment ) %></a> <%= link_to '回滚', revert_game_path(@game, :version => v.version), :class => 'adminbutton', :method => :put, :confirm => '确定回滚到此版本吗？' %></p>
  <% end %>
</div>
