<script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>
<%= javascript_include_tag 'jquery','application.js' %>
<% @page_title = @title = "所有参与#{@project.title}的学校" %></h4>

<div id="map_div" style="width: 640px; height: 480px;"></div>

<% content_for :sidebar do -%>
    <span class="remark"><%= link_to "&raquo; 回到#{@project.title}",@project%></span>
<%end%>



<script type="text/javascript">
    function openInfoWindow(latlng, id)
    {
    GDownloadUrl("/executions/info_window/" + id, function(data, responseCode) {
    map.openInfoWindowHtml(latlng, data);
     });
    }

  var schools = <%= @json.to_json %>;
  var map;
  function initialize() {
    if (GBrowserIsCompatible()) {
      map = new GMap2(document.getElementById("map_div"));
      map.setCenter(new GLatLng(<%= @map_center[0].to_f %>, <%= @map_center[1].to_f %>), <%= @map_center[2] %>);
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());
      map.addControl(new GScaleControl());
      
      school_icon = new GIcon(); 
      school_icon.image = "/images/m0.png"; 
      school_icon.shadow = null;
      school_icon.iconSize = new GSize(16, 20);
      school_icon.shadowSize = null;
      school_icon.iconAnchor =  new GPoint(8,10 );
      school_icon.infoWindowAnchor = new GPoint(8, 6);
        
        var markers = [];
 
        for (var i = 0; i < schools.length; ++i) {
          var point = new GLatLng(schools[i].a, schools[i].o)
          var marker = new GMarker(point, {icon: school_icon, title: schools[i].n});
          GEvent.addListener(marker, "click", markerClickFn(point, schools[i].i)); 
          markers.push(marker);
          map.addOverlay(marker);
        }  
      
      
    }
  };
  window.onload = function(){initialize();}
</script>

  <span class="span_title2">学校列表</span>
  <div class="cleanfix" style="clear:both;height:10px"></div>
    <%= render :partial => '/projects/execution',:collection => @executions%>
  <div class="cleanfix" style="clear:both;height:20px"></div>
