<% content_for :heads do %>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
<% end %>

<% @page_title = @title = "#{h @project.title}的全部照片" -%>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>全部照片</h3>
      
      <span class="postNew"><%= link_to image_tag("upload_photo.png"), new_photo_url(:project => @project.id) %></span>
      <div class="contents clearfix">
        <%= render :partial => "/schools/gallery_photo", :collection => @photos %>
      </div>
      
      <div class="contents"><p><%= will_paginate @photos %></p></div>
    </div>
  </div>
</div>

<% content_for :sidebar do -%>
  <p>&raquo; <%= link_to "返回项目页面", project_url(@project) %></p>
<% end -%>
