<% @page_title = @project.title %>
<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>

  <style type="text/css">.school_list_photo{width:80px;height:60px;margin-top:4px}
         .school_list_photo img{width:80px;height:60px}
         .school_list_meta{width:170px;padding:4px 0}
  </style>
  
  <script type="text/javascript" charset="utf-8">
    jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
    });
  </script>
<% end %>



<% content_for :sidebar do -%>
  <% if current_user && (@project.user == current_user || current_user.admin?)%>
  <div id="admins">
    你是项目的管理员，可以：<br/>
    <%= link_to "编辑项目", edit_project_url(@project) ,:class=>"adminbutton"%> <%= link_to "管理项目", manage_project_url(@project) ,:class=>"adminbutton"%>
  </div>
<%end%>
  
  <div class="cleanfix" style="clear:both;height:20px"></div>
  <% unless @my_executions.blank?%>
    <span class="span_title2">我的项目</span>
    <%= render :partial => '/projects/execution',:collection => @my_executions%>
    <div class="cleanfix" style="clear:both;height:20px"></div>
  <%end%>

  <span class="span_title2">参与<%= (@project.id == 6) ? '村庄' : '学校' %></span><br/>
  <% @executions.each do |e|%>
            <div class="small_school">
                <%= link_to image_tag((e.community.main_photo.blank?  ? '/images/school_main_thumb.png' : e.community.main_photo.public_filename(:thumb)), :alt => e.community.title,:style => "width:80px;height:60px"),project_execution_url(e.project,e)%>
                <p><%= link_to short_title(e.community,10),project_execution_url(e.project,e)%><br/>[<%= e.community.geo.parent.name.to_s if e.community.geo.parent%><%= e.community.geo.name.to_s%>]</p>  
            </div>          
  <% end %>

  <div class="cleanfix" style="height:20px;clear:both"></div>
  <span class="remark"><%= link_to "&raquo; 回到公益项目首页",projects_url%></span>

<%end%>

<div>
      <div style="height:160px;width:160px;overflow:hidden;text-align:center;float:left">
        <%= image_tag(@project.image.url(:project_logo), :alt => @project.title,:style => "width:160px;") %>
      </div>
      <div style="float:right;text-align:right;margin:4px 0 0">
        <%if @project.no_need_apply%>
        <% elsif @project.apply_end? -%>
          <p style="color:#666;margin:6px 0">项目申请已结束</p>
        <%else%>
          <%= link_to "立即申请",new_project_execution_url(@project),:class => "buttonjoin2"%>
          <p style="color:#666;margin:6px 0"><%=  "此项目只有学校大使才可以申请" if @project.for_envoy%></p>
        <% end %>
      </div>
      <div id="module_meta">
        <span class="span_title"><%= @project.title %></span><br/>
        <span class="gary_span">申请截止：<%= month_and_day @project.apply_end_at %>　
        项目进行：<%= month_and_day@project.start_at %> 至 <%= @project.end_at.nil? ? '未要求' : month_and_day(@project.end_at) %></span>
        <div id="summary">
          <div class="project_info">
            <p>
              <%= (@project.description).gsub(/<.*?>/, '').gsub("\n", '<br/>').mb_chars.slice(0..180) %>...
              <a href="#" onclick="javascript:$('#summary').hide();$('#project_detail').show();return false">(更多)</a>
            </p>
          </div>
        </div>
        
        <div id="project_detail" style="display:none">
          <div class="project_info">
          <%= (@project.description) %> 
          </div>
          
          <div class="project_info">
            <div class="title_line"><span class="span_title2">征集要求</span></div>
            <%= simple_format(@project.condition) %>
          </div>
          
          <div class="project_info">  
            <div class="title_line"><span class="span_title2">参与学校或志愿者可获得的支持</span></div>
            <%= simple_format(@project.support) %>
          </div>
          
          <div class="project_info">
            <div class="title_line"><span class="span_title2">反馈要求</span></div>
            <%= "#{@project.feedback_require}<br/>" %><%= "需要在 #{@project.feedback_at.to_date} 之前完成反馈" unless @project.feedback_at.nil?%>
          </div>
          <a href="#" onclick="javascript:$('#project_detail').hide();$('#summary').show();return false">(收起)</a>
        </div>  
      </div>
</div>
<div class="cleanfix" style="height:10px;clear:both"></div>
      <%= render :partial => 'school_map'%>

<%= render :partial => "/shared/share_to", :locals => {:text => summary(@project ,60),:title => (@page_title.to_s + " - 多背一公斤")} %>
<div class="cleanfix" style="height:20px;clear:both"></div>

  <div class="school_box">
    <span class="span_title2" >项目照片</span> <span class="gary_span"><%= @photos.blank? ? "还没有项目照片" : link_to("共有#{@school.photos.size}张照片 >",photos_school_path(@school)) %></span>
    <div class="contents clearfix" style="padding-top:16px;">
      <div id="photos" class="clearfix">
      <%= render :partial => "gallery_photo", :collection => @photos[0..3],:locals => {:no_title => true} %>
      </div>
    </div>  
  </div>
    
  <div>
    <span class="span_title2" >项目分享</span> <span class="gary_span"><%= @shares.blank? ? "还没有项目分享" : "共有#{@shares.size}篇分享" %></span>
    <div class="contents clearfix">
      <%= render :partial => "/shared/share", :collection => @shares[0,4] %>
    </div>
  </div>

<%= render :partial => "/comments/comments", :object => @comments%>
<%= render :partial => "/comments/form", :locals => {:commentable => @project}%>
