
<% @page_title = @title = "编辑村庄信息" %>
<% @body_class = "schools" -%>
<% content_for :crumb do -%>
<li>编辑村庄信息</li>
<% end -%>

<% content_for :sidebar do -%>

<% end -%>

<div class="newbox" >
  <div class="clearfix" style="height:10px"></div>
  <% form_for :village, :url => village_path(@village), :html => {:multipart => true,:method => :put}  do |f| -%>

    <fieldset>
      <legend>标记村庄位置</legend>
      <%= @village.geo.ancestors[0].name if @village.geo.child? %> <%= @village.geo.name %>
      <%= @village.basic.address %>（<strong>拖动红色标记更新村庄位置</stron>）
      <% content_for :tail do -%>
        <script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>
      <script type="text/javascript">
        var map;
        function initialize() {
          if (GBrowserIsCompatible()) {
            map = new GMap2(document.getElementById("map_div"));
            map.setCenter(new GLatLng(<%= @village.basic.latitude.to_f %>, <%= @village.basic.longitude.to_f %>), 7);
            map.addControl(new GLargeMapControl());
            map.addControl(new GMapTypeControl());

            var point = new GLatLng(<%= @village.basic.latitude.to_f %>, <%= @village.basic.longitude.to_f %>);
            marker = new GMarker(point, {draggable: <%= logged_in? ? 'true' : 'false' %>});

            <% if logged_in? %>
            GEvent.addListener(marker, "dragend", function() {
              jQuery.ajax({
                type: 'PUT',
                url: '<%= village_path(@village) %>',
                data: 'longitude=' + marker.getPoint().lng() + '&latitude=' + marker.getPoint().lat(),
                dataType: "script"
              });
            });
            <% end %>
            map.addOverlay(marker);
          }
        }
        jQuery(function(){
          initialize();
        })
      </script>
      <% end -%>
      <div id="map_div" style="width: 600px; height: 400px; margin: 10px;"></div>
    </fieldset>

    <p>
      <%= f.submit "确认" ,:class => "surebutton",:onclick =>"javascript:window.location='#{village_path(@village)}';return false" %>
      <span class="gary_span">带<span class="require">*</span>号的是必填项</span>
    </p>
  <% end -%>
  <div class="clearfix" style="height:20px"></div>
</div>
        