<% @page_title = "学校管理" -%>

<% content_for :sidebar do -%>
  <h4>> <%= link_to "返回管理首页", admin_url %></h4>
  <%= render :partial => "/admin/shared/operation_list" %>
<% end -%>

<div class="tabbedPanel">
  <%= render :partial => "tab_index" %>
  
  <% if @type == "validated" -%>
  <div class="setting panel">
    <div class="block">
      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
          <th>校名</th>
          <th>验证</th>
        </tr>
        <% @schools.each do |s| -%>
        <tr>
          <td>
            <%= link_to s.title, school_url(s), :target => "_blank" %><br />
            <%= s.created_at.to_date %> by <%= link_to s.user.login, user_url(s.user) %>
          </td>
          <td>
            <%= link_to "取消验证", validate_school_url(s, :t => "remove"), :method => :put %> |
            <%= link_to "更多", admin_school_url(s) %>
          </td>
        </tr>
        <% end -%>
      </table>
    </div>
  </div>
  
  <% elsif @type == "suspend" -%>
  <div class="setting panel">
    <div class="block">
      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
          <th>校名</th>
          <th>验证</th>
        </tr>
        <% @schools.each do |s| -%>
        <tr>
          <td>
            <%= link_to s.title, school_url(s), :target => "_blank" %><br />
            <%= s.created_at.to_date %> by <%= link_to s.user.login, user_url(s.user) %>
          </td>
          <td>
            <%= link_to "通过验证", validate_school_url(s, :t => "add"), :method => :put %> |
            <%= link_to "更多", admin_school_url(s) %>
          </td>
        </tr>
        <% end -%>
      </table>
    </div>
  </div>
  
  <% elsif @type == "trash" -%>
  <div class="setting panel">
    <div class="block">
      <table border="0" cellspacing="5" cellpadding="5">
        <tr>
          <th>校名</th>
          <th>删除时间</th>
        </tr>
        <% @schools.each do |s| -%>
        <tr>
          <td>
            <%= link_to s.title, school_url(s), :target => "_blank" %><br />
            <%= s.created_at.to_date %> by <%= link_to s.user.login, user_url(s.user) %>
          </td>
          <td>
            <%= s.deleted_at.to_date %><br /> 
            <%= link_to "恢复", active_admin_school_url(s), :method => :put %> |
            <%= link_to "彻底删除", admin_school_url(s), :method => :delete, :confirm => "不能撤销，相关讨论区也同时被删除，确定？" %> |
            <%= link_to "更多", admin_school_url(s) %>
          </td>
        </tr>
        <% end -%>
      </table>
    </div>
  </div>
  
  <% end -%>
  
</div>
