<% @page_title = "学校管理" -%>

<% content_for :sidebar do -%>
<% end -%>

<h3><%= @school.title %></h3>
<p>验证: <span class="notice"><%= validate_for_human(@school) %></span></p>
<div class="operations">
  <% if @school.validated? -%>
    <%= link_to "取消验证", validate_school_url(@school, :t => 'remove'), :method => :put %>
  <% else -%>
    <%= link_to "通过验证", validate_school_url(@school, :t => 'add'), :method => :put %>
  <% end -%> | 
  <%= link_to "创建讨论区", new_admin_board_url(:type => 'school', :school => @school) %>
</div>