<% @page_title = "我收到的消息" %>

<% content_for :crumb do -%>
  <li><%= link_to "我的空间", user_url(current_user) %></li>
  <ul>
    <li><%= link_to "我的收件箱", user_received_index_path(current_user) %></li>
    <ul>
      <li>我收到的消息</li>
    </ul>
  </ul>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "/sent/toolbox" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= h @copy.subject %></h2>
      <p class="remark">
        <%= link_to '&laquo;新一封', user_received_path(current_user, @prev) unless @prev.nil?  %>
        <%= link_to '旧一封&raquo;', user_received_path(current_user, @next) unless @next.nil? %>
      </p>
      <div class="contents">
        <p class="tipText"><strong>来自: </strong>
          <% unless @copy.author.nil? -%>
            <%= link_to h(@copy.author.login), user_url(@copy.author) %>
          <% else -%>
            系统发送
          <% end -%>
        </p>
        <p class="tipText"><strong>时间: </strong><%=h @copy.created_at.to_s(:db) %></p>
        <p class="tipText">
        	<strong>内容:</strong>
        </p>
        <%= @copy.html_content %>
        
      </div>
      <p class="remark">
        <% unless @copy.author.nil? -%>
          &raquo; <%= link_to '回复', reply_user_received_path(current_user, @copy) -%> 
        <% else -%>
          <span class="tip">系统消息不能回复</span>
        <% end -%>
          &raquo; <%= link_to '删除', user_received_path(current_user, @copy),
                              :confirm => '您确定要删除这条站内信息么?',
                              :method => :delete -%>
        </p>
      </p>
    </div>
  </div>
</div>
