<% @page_title = @title = "标签：#{@tag}" %>

<% unless @schools.empty? %>
<div class="newbox">
  <span class="span_title">需要<%= @tag %>的学校</span>
  <div class="clearfix" style="height:10px"></div>
  <div class="contents">
    <%= render :partial => '/tags/map' %>
    <% if false %>
    <%= render :partial => '/schools/schools', :object => @schools %>
    <%= customize_paginate(@schools, :param_name => 'school_page') %>
    <% end %>
  </div>
  <div class="clearfix" style="height:10px;clear:both"> </div>
</div>
<% end %>

<% unless @shares.empty? %>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3><%= @tag %>相关的分享</h3>
      <div class="contents">
        <%= render :partial => '/schools/shares', :object => @shares, :locals => {:with_head => true} %>
        <%= customize_paginate(@shares, :param_name => 'share_page') %>
      </div>
    </div>
  </div>
</div>
<% end %>