<% @page_title = @title = "标签：#{@tag}" %>

<% unless @schools.empty? %>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>需要<%= @tag %>的学校</h3>
      <div class="contents">
        <%= render :partial => '/schools/schools', :object => @schools %>
        <%= customize_paginate(@schools, :param_name => 'school_page') %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% unless @guides.empty? %>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3><%= @tag %>相关的攻略</h3>
      <div class="contents">
        <%= render :partial => '/schools/guides', :object => @guides %>
        <%= customize_paginate(@guides, :param_name => 'guide_page') %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% unless @shares.empty? %>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3><%= @tag %>相关的分享</h3>
      <div class="contents">
        <%= render :partial => '/shares/shares', :object => @shares %>
        <%= customize_paginate(@shares, :param_name => 'share_page') %>
      </div>
    </div>
  </div>
</div>
<% end %>