<% @page_title = "#{@activity.title} 活动讨论区" -%>

<% content_for :sidebar do -%>
  <h4><%= link_to "返回活动页面", activity_url(@activity.id) %></h4>
<% end -%>


<h2 class="title"><%= @page_title %></h2>

<div class="moderators">
  版主：<%= User.moderators_of(@activity_board.board).collect {|u| link_to(u.login, user_url(u.id))}.join(", ") %>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>全部话题</h3>
      <span class="postNew">++ <%= link_to "写新帖子", new_board_topic_url(@board) %></span>
      <div class="contents">
      <table>
        <tr>
          <th>帖子</th>
          <th>作者</th>
          <th>回复</th>
          <th>写于</th>
        </tr>
        <% @topics.each do |t| -%>
        <tr class="<%= cycle('odd', 'even') %>">
          <td><%= link_to t.title, board_topic_url(@board, t) %></td>
          <td><%= link_to t.user.login, user_url(t.user) %></td>
          <td><%= t.posts_count %></td>
          <td><%= t.created_at.to_date %></td>
        </tr>
        <% end -%>
      </table>
      <%= will_paginate @topics %>
    </div>
    </div>
  </div>
</div>