<% @page_title = "#{@city.name}" -%>

<% content_for :sidebar do -%>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3></h3>
        <div class="contents">
          <p>&raquo; <%= link_to "写活动分享", new_share_url %></p>
          <p>&raquo; <%= link_to "发起新活动", new_activity_url %></p>
          <p>&raquo; <%= link_to "提交学校信息", new_school_url %></p>
          
          <div style="margin-top:15px;">
          <p><strong>我要去</strong> <span class="tipText">(输入你想去的城市)</span></p>
          <% form_tag search_geos_url, :method => :get do -%>
            <%= text_field_tag 'city' %> <%= submit_tag "查找" %>
          <% end -%>
          <p class="tipText">或 <%= link_to "按省查找城市", all_geos_url %></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>分享</h3>
        <span class="postNew">++ <%= link_to "写活动分享", new_share_url %></span>
        <div class="contents">
          <%= render :partial => "/shares/shares", :object => @shares %>
        </div>
        <p class="remark">&raquo; <%= link_to "更多#{@city.name}居民的分享", shares_board_url(@board) %></p>
      </div>
    </div>
  </div>

  <p>&raquo; <%= link_to "周边的学校", schools_geo_url(@city) %> (<%= School.get_near_schools_at(@city).count %>)</p>
  <p>&raquo; <%= link_to "我要去#{@city.name}旅行", geo_url(@city) %></p>
  <p>&raquo; <%= link_to "浏览其它同城", cities_url %></p>
<% end -%>

<% if logged_in? && current_user.geo.nil? -%>
<p class="clearfix">
  <span class="btnWrap btnHighlight">
  <%= link_to "我住在#{@city.name}!", user_url(current_user, :for => 'live', :geo => @city.id), :method => :put %>
  </span>
  或 <%= link_to "返回城市列表", my_city_url(:geo => (@city.parent.id if @city.parent)) %>
</p>
<% end -%>

<h2 class="title"><%= @page_title.to_s %></h2>

<% if logged_in? && current_user.geo == @city -%>
<div style="float:left; margin:17px; 0 0 1em;"><%= link_to "我不住#{@city.name}了", user_url(current_user.id, :for => "move"), :method => :put %></div>
<% end -%>


<div class="moderators">
  城市版主：<%= User.moderators_of(@board).collect {|u| link_to(u.login, user_url(u.id))}.join(", ") %>
</div>

<div class="posting">

  <div class="box" id="cityActivities">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>最近的活动</h3>
        <span class="postNew">++ <%= link_to "发起新活动", new_activity_url %></span>
        <%= render :partial => "/activities/activity_list" %>
      </div>
      <p class="remark">&raquo; 全部 <%= link_to "进行中的活动", ongoing_activities_url %> &middot; <%= link_to "已结束的活动", over_activities_url %></p>
    </div>
  </div>
  
  
  <%= render :partial => "/topics/latest_topics", :locals => {:title => "同城话题", :board => @board, :topics => @topics} %>
  
  
  <div class="box" id="cityLatestMembers">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>居民</h3>
        <%= render :partial => "/shared/user_list", :locals => {:users => @citizens} %>
      </div>
      <p class="remark">&raquo; <%= link_to "查看全部#{@all_citizens.size}位居民", users_board_url(@board) %></p>
    </div>
  </div>
</div>
