<% @page_title = "社区" -%>

<% content_for :sidebar do -%>
<% end -%>

<h3>同城热帖 <%= title_suffix %></h3>
<p>
  <% if logged_in? %>
    <% if current_user.geo -%>
    <p>我住在: <%= link_to "#{current_user.geo.ancestors[0]}&middot;#{current_user.geo.name}", geo_url(current_user.geo) %> [<%= link_to "我搬家了", setting_url %>]</p>
    <% else -%>
    <p><%= link_to "设置我的居住地", setting_url %></p>
    <% end -%>
  <% else -%>
    <p><%= link_to "登录", login_url %>后可以找同城的朋友</p>
  <% end -%>
</p>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>城市</th>
    <th>标题</th>
    <th>作者</th>
    <th>回复</th>
    <th>最后更新</th>
  </tr>
  <% @city_topics.each do |t| -%>
  <tr>
    <td><%= link_to t.board.talkable.geo.name, board_url(t.board) %></td>
    <td><%= link_to t.title, board_topic_url(t.board_id, t) %></td>
    <td><%= link_to t.user.login, user_url(t.user) %></td>
    <td><%= t.posts_count %></td>
    <td><%= link_to "#{t.last_replied_datetime.to_date} by #{t.last_replied_user.login}", board_topic_url(t.board_id, t.id, :anchor => (t.last_post.id if t.last_post)) %></td>
  </tr>
  <% end -%>
</table>
<p><%= @cities.collect {|c| link_to "#{c.talkable.geo_name}(#{User.count(:all, :conditions => ["geo_id=? ", c.talkable.geo_id])})", board_url(c.id)}.join(", ") -%></p>

<h3 style="margin-top:20px">站务 & 专题区 <%= title_suffix %></h3>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>名称</th>
    <th width="50%" style="overflow:hidden">最新帖子</th>
    <th>帖子数</th>
    <th>最后更新</th>
  </tr>
  <% @publics.each do |p| -%>
  <tr>
    <td><%= link_to p.talkable.title, board_url(p.id) %></td>
    <td><%= link_to p.last_topic.title, board_topic_url(p.last_topic.board_id, p.last_topic) if p.last_topic %></td>
    <td><%= p.topics_count %></td>
    <td><%= link_to "#{p.last_topic.last_replied_datetime.to_date} by #{p.last_topic.last_replied_user.login}", board_topic_url(p.last_topic.board_id, p.last_topic, :anchor => (p.last_topic.last_post.id if p.last_topic.last_post)) if p.last_topic %></td>
  </tr>
  <% end -%>
</table>

<h3 style="margin-top:20px;">最新活动帖子 <%= title_suffix %></h3>
<%= render :partial => "/activities/last_10_updated_topics", :object => @latest_activity_topics %>

<h3 style="margin-top:20px;">最新学校帖子 <%= title_suffix %></h3>
<%= render :partial => "/schools/last_10_updated_topics", :object => @latest_school_topics %>
