<% @page_title = "#{h @school_guide.title} - 活动分享" -%>

<% content_for :sidebar do -%>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>Tags</h3>
        <div class="contents">
          <p>目的地城市 &raquo; <%= link_to @school.geo.name, geo_url(@school.geo) if @school.geo %></p>
          <p>探访学校 &raquo; <%= link_to @school_guide.school.title, school_url(@school) if @school %></p>
        </div>
      </div>
    </div>
  </div>
  
  <p>&raquo; <%= link_to "去#{@school_guide.user.login}的空间", user_url(@school_guide.user) %></p>
  
  <%= render :partial => '/shared/voters', :object => @voters %>
<% end -%>

<div class="box shareEntry">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= h @school_guide.title %></h2>
      <small style="margin-left:26px" >标签：
          <% @school_guide.tags.each do |tag| %>
            <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
          <% end %>
      </small>
      <div class="metadata">
        <div class="avatar">
          <%= link_to avatar_for(@school_guide.user, "large"), user_url(@school_guide.user) %>
        </div>
        <span style="margin:5px;"><%= @school_guide.hits %>  次浏览</span>
        <a href="#voting" style="color:#333"><span style="font-size:1.6em;color:#ff6600"><%= @school_guide.votes.count -%></span> 人推荐</span>
      </div>
      
      <div class="entry">
        <%= @school_guide.clean_html %>
        <p style="text-align:right;margin:7px 0;padding-right:5px">
          <%= link_to @school_guide.user.login, user_url(@school_guide.user) %> 写于 <%= @school_guide.created_at.to_date %>
        </p>
        <p id ="voting" style="text-align:right;margin:7px 0;">
        <span>已有 <%= @school_guide.votes.count -%> 人推荐这篇攻略 </span>
        <% if logged_in? -%>
          <% if current_user.voted?(@school_guide) -%>
                        您已推荐了
          <% else -%>
            <%= link_to '我要推荐', vote_school_school_guide_path(@school_guide.school, @school_guide), :method => 'post', :class => 'buttonlink' %>
          <% end -%>
        <% else -%>
            <%= link_to "我要推荐", new_session_path(:to => school_school_guide_path(@school_guide.school, @school_guide)) ,:class => "buttonlink" -%>
        <% end -%>
        </p>
        
      </div>
      
      <% if @school_guide.edited_by? current_user -%>
      <p class="remark">&raquo; <%= link_to "编辑", [:edit, @school, @school_guide] %> | <%= link_to "删除", [@school, @school_guide], :confirm => "确定删除么?", :method => :delete %></p>
      <% end -%>
    </div>
  </div>
</div>


<%= render :partial => "/comments/comments", :object => @comments %>

<%= render :partial => "/comments/form", :locals => {:commentable => @school_guide} %>