<% @kind = kind rescue 'all' %>
<% @advanced = advanced rescue nil %>
<% @search ||= Search.new('kind' => @kind) %>
<% content_for :heads do %>
  <script type="text/javascript">
  $(document).ready(function(){
  search_box_blur();
  $(".more").toggle(
      function () {$($(this).attr('name')).show();$(this).attr('style','background-image:url(/images/less.gif)')},
      function () {$($(this).attr('name')).hide();$(this).attr('style','background-image:url(/images/more.gif)')}
    );
  <%unless @kind.nil? %>$(<%="'#advance_#{@kind}'"-%>).show()<% end %>
  });</script>
<% end %>
<div id="admins">
  <div class="cleanfix" style="height:2px"></div>
    <span "gary_span">搜索</span>
    <% form_tag '/search', :method => 'get' do %>
      <input type="text" name="q" style="width:140px" class="form-text" value="<%= @search.q %>" onclick="clear_search_box();" id='query-box' onblur="search_box_blur();" />
      <input type="submit" value="搜索" style="width:50px" class="form-submit" onclick="clear_search_box();" />
      <%= select_tag "kind", options_for_select([['全部','all'],['学校','school'],['活动','activity'],['分享','share'],['小组','group'],['话题','topic'],['用户','user']],:selected => @kind)%>

      <div style="clear:both;height:0px"></div>
      <p style="font-size:12px;text-align:right;margin-right:14px;color:#666"><%= link_to "高级搜索", search_url if @advanced.nil?%></p>
      <div id="advance_box" style="<%= 'display:none;' if @advanced.nil?  %>">
      <div style="clear:both;height:20px"></div>
      
      <p id="advance_common" class="advances" style="<%= 'display:none;' unless @search.need_common? %>">
        <%= label_tag '标题' %> <%= text_field_tag :title, @search.title %><br />
        <%= label_tag '城市' %> <%= text_field_tag :city, @search.city %><br/>
      </p>
      
      <p id="advance_school" class="advances" style="<%= 'display:none;' unless @search.kind == 'school' %>">
        <%= label_tag '地址' %> <%= text_field_tag :address, @search.address %><br />
        <%= label_tag '需求' %> <%= text_field_tag :need, @search.need %><br />
        <%= check_box_tag :has_library, 1, @search.has_library %> <%= label_tag '是否有图书室' %>
        <%= check_box_tag :has_pc, 1, @search.has_pc %> <%= label_tag '是否有电脑' %><br />
      </p>
      <p id="advance_share" class="advances" style="<%= 'display:none;' unless @search.kind == 'share' %>">
        <%= label_tag '学校' %> <%= text_field_tag :school_title, @search.school_title %><br />
        <%= label_tag '正文' %> <%= text_field_tag :content, @search.content, :id => 'search_content' %>
      </p>
      <p id="advance_activity" class="advances" style="<%= 'display:none;' unless @search.kind == 'activity' %>">
        <%= label_tag '类型' %> <%= select_tag :category, options_for_select([''] + Activity.categories, @search.need) %><br />
        <% Search::DATE_RANGE.each do |d| %>
          <%= radio_button_tag :on, d, @search.on == d %><%= d %>
        <% end %><br />
        <%= check_box_tag :include_over, '1', @search.include_over %> 包含已结束活动
        <br />
      </p>
      </div>
    <% end %>
    <script type="text/javascript">
  $('#kind').delayedObserver(0.25, function(element, value) {switch_search_to(value)})</script>
  <div class="cleanfix" style="height:10px"></div>
</div>
