<% @kind = kind rescue '' %>
<% search_titles = {:activity => '活动',:school => '学校', :group => '小组',:topic => '话题',:all => '站内'}%>
<% @search ||= Search.new('kind' => @kind) %>
<% content_for :heads do %>
  <script type="text/javascript">
  $(document).ready(function(){
  search_box_blur();
  $(".more").toggle(
      function () {$($(this).attr('name')).show();$(this).attr('style','background-image:url(/images/less.gif)')},
      function () {$($(this).attr('name')).hide();$(this).attr('style','background-image:url(/images/more.gif)')}
    );
  <%unless @kind.empty? %>$(<%="'#advance_#{@kind}'"-%>).show()<% end %>
  });</script>
<% end %>
<div id="admins">
  <div class="cleanfix" style="height:2px"></div>
    <span "gary_span"><%= @kind.empty? ? '站内' : search_titles[@kind.to_sym]%>搜索</span>
    <% form_tag '/search', :method => 'get' do %>
      <input type="text" name="q" style="width:214px" class="form-text" value="<%= @search.q %>" onclick="clear_search_box();" id='query-box' onblur="search_box_blur();" />
      <input type="submit" value="搜索" class="form-submit" onclick="clear_search_box();" />
      
      <p style="clear:both;width:280px;*margin:2px 0;font-size:12px;line-height:18px"><%= link_to_function '高级选项','',:class => "more",:name => "#advance_box"%></p>
      <div style="clear:both"></div>
      <div id="advance_box" style="<%= 'display:none;' unless @search.advanced? %>">
      <div class="small"  style="margin:4px 0;">
        <%= radio_button_tag :kind, 'all', @search.kind == 'all', :onclick => 'switch_search_to("all");' %>全部
        <%= radio_button_tag :kind, 'school', @search.kind == 'school', :onclick => 'switch_search_to("school");' %>学校
        <%= radio_button_tag :kind, 'activity', @search.kind == 'activity', :onclick => 'switch_search_to("activity");' %>活动
        <%= radio_button_tag :kind, 'share', @search.kind == 'share', :onclick => 'switch_search_to("share");' %>分享
        <%= radio_button_tag :kind, 'group', @search.kind == 'group', :onclick => 'switch_search_to("group");' %>小组
        <%= radio_button_tag :kind, 'topic', @search.kind == 'topic', :onclick => 'switch_search_to("topic");' %>话题
        <%= radio_button_tag :kind, 'user', @search.kind == 'user', :onclick => 'switch_search_to("user");' %>用户
      </div>
      
      <p id="advance_common" class="advances" style="<%= 'display:none;' unless @search.need_common? %>">
        <%= label_tag '标题' %> <%= text_field_tag :title, @search.title %><br />
        <%= label_tag '城市' %> <%= text_field_tag :city, @search.city %><br/>
      </p>
      
      <p id="advance_school" class="advances" style="<%= 'display:none;' unless @search.kind == 'school' %>">
        <%= label_tag '地址' %> <%= text_field_tag :address, @search.address %><br />
        <%= label_tag '需求' %> <%= text_field_tag :need, @search.need %><br />
        <%= check_box_tag :has_library, 1, @search.has_library %> <%= label_tag '是否有图书室' %>
        <%= check_box_tag :has_pc, 1, @search.has_pc %> <%= label_tag '是否有电脑' %><br />
      </p>
      <p id="advance_share" class="advances" style="<%= 'display:none;' unless @search.kind == 'share' %>">
        <%= label_tag '学校' %> <%= text_field_tag :school_title, @search.school_title %><br />
        <%= label_tag '正文' %> <%= text_field_tag :content, @search.content, :id => 'search_content' %>
      </p>
      <p id="advance_activity" class="advances" style="<%= 'display:none;' unless @search.kind == 'activity' %>">
        <%= label_tag '类型' %> <%= select_tag :category, options_for_select([''] + Activity.categories, @search.need) %><br />
        <% Search::DATE_RANGE.each do |d| %>
          <%= radio_button_tag :on, d, @search.on == d %><%= d %>
        <% end %><br />
        <%= check_box_tag :include_over, '1', @search.include_over %> 包含已结束活动
        <br />
      </p>
      </div>
    <% end %>
  <div class="cleanfix" style="height:10px"></div>
</div>
