<% @page_title = @title = "搜索" %>

<% content_for :sidebar do -%>
  <%= render :partial => '/shared/search_box' %>
  <%= render :partial => "/shared/ad" %>
<% end %>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <% if !@schools.empty? %>
      <h3><%= "所有包含 #{@keywords} 的学校" %></h3>
      <div class="contents">
        <%= render :partial => '/schools/schools', :object => @schools %>
        <%= customize_paginate(@schools) %>
      </div>
      <% else %>
      <h3><%= "对不起，没有找到符合您的搜索条件的学校" %></h3>
      <% end %>
    </div>
  </div>
</div>
