<% @page_title = @title = "搜索" %>

<% @page_title = @title = "搜索" %>

<% content_for :sidebar do -%>
  <%= render :partial => '/searches/search_box' %>
<% end %>

<div class="newbox">
  <span class="span-title">&nbsp;</span>
  <div class="contents">
    <%= render :partial => '/geos/school_maps' %>
  </div>
</div>

<% unless @schools.empty? %>
<div class="newbox">
  <span class="span-title">&nbsp;</span>
  <div class="contents">
    <%= render :partial => '/schools/schools', :object => @schools %>
    <%= customize_paginate(@schools) %>
  </div>
</div>
<% end %>

<% if false %>
<% unless @groups.empty? %>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3><%= "包含 #{@keywords} 的小组" %></h3>
      <div class="contents clearfix">
        <%= render :partial => '/groups/groups', :object => @groups %>
        <%= customize_paginate(@groups) %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>