<% @page_title = "团捐审核"%>

<% content_for :sidebar do -%>
  <h4>> <%= link_to "返回管理后台", admin_url %></h4>
  <%= render :partial => "/admin/shared/operation_list" %>
<% end -%>


<p style="text-align:right">累计受益人数： 暂不显示</p>

<table>
  <tbody>
      <tr>
        <th>团捐</th>
        <th>发起人</th>
        <th>发起日期</th>
        <th>状态</th>
        <th>详细</th>
      </tr>
    <% @co_donations.each_with_index do |d,n|%>
      <tr>
        <td><%= d.validated? ? (link_to d.title,co_donation_path(d)) : d.title %></td>
        <td><%= link_to "#{d.user.login}",user_path(d.user)%></td>
        <td><%= d.created_at.to_date %></td>
        <td>
          <%if  d.validated?%><span style="color:#3333cc">已验证</span>
          <%else%><span style="color:#999">未验证</span>
          <%end%>
        </td>
        <td><a class="more" href="#" onclick="javascript:$('.detail_n').not($('#detail_<%= n %>')).hide();$('#detail_<%= n %>').toggle();return false;">查看</a></td>
        
      </tr>
      <tr>
        <td  class="detail_n" colspan="5"  id='<%= "detail_#{n}" %>' style="display:none">
          捐赠目标: <%= "#{d.goods_name} #{d.goal_number}件"%>
          <p>受益人数: <%= "#{d.beneficiary_number}人"%></p>
          <p><h5>学校故事</h5>
          <%= d.description %>
          </p>      
          <p><h5>物资要求</h5>
          <%= d.goods_requirements %>
          </p>
          <p><h5>反馈计划</h5>
          <%= d.plan %>
          </p>
          <p><h5>接收人：</h5>
              地址：<%= d.address%><br/>
          姓名：<%= d.receiver%>　　邮编：<%= d.zipcode%>　　电话：<%= d.phone_number%>
          </p>
          <div style="float:right">
            <div style="float:right"><%=  d.validated? ? (link_to "取消审核",cancel_admin_co_donation_path(d),:class => "adminbutton",:method => :put) : (link_to "通过审核",validate_admin_co_donation_path(d),:class => "adminbutton",:method => :put)%></div>
          </div>
        </td>
      </tr>
    <%end%>
    <tr><td></td></tr>
  </tbody>
</table>
            