    <%= f.hidden_field :id %>
    
    <% f.fields_for :traffic_attributes, @school.traffic do |t| -%>
    <%= t.hidden_field :id %>
    <p><label class="label" for="school_school_traffic_sight">学校附近景点</label>
    <%= t.text_field :sight, :size => 30, :class => 'formText' %>
    </p>
    <p><label class="label" for="school_school_traffic_description">交通指南<span class="require">*</span></label>
            <span>（从学校所在县/市到达该学校的路线、乘车地点、交通工具、价钱、时间）</span><br/>
    <%= t.text_area  :description, :cols => 64, :rows => 4 %>
    </p>
    <% end -%>
    
    <p>
      <label class="label" for="school_school_traffic_description">学校地理位置</label>
      <%= @school.geo.ancestors[0].name if @school.geo.child? %> <%= @school.geo.name %>
      <%= @school.basic.address %>（<strong>拖动红色标记更新学校位置</strong>）
      <% content_for :tail do -%>
        <script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>
      <script type="text/javascript">
        var map;
        function initialize() {
          if (GBrowserIsCompatible()) {
            map = new GMap2(document.getElementById("map_div"));
            map.setCenter(new GLatLng(<%= @school.basic.latitude.to_f %>, <%= @school.basic.longitude.to_f %>), 7);
            map.addControl(new GLargeMapControl());
            map.addControl(new GMapTypeControl());

            var point = new GLatLng(<%= @school.basic.latitude.to_f %>, <%= @school.basic.longitude.to_f %>);
            marker = new GMarker(point, {draggable: <%= logged_in? ? 'true' : 'false' %>});

            <% if logged_in? %>
            GEvent.addListener(marker, "dragend", function() {
              jQuery.ajax({
                type: 'PUT',
                url: '<%= school_path(@school) %>',
                data: 'longitude=' + marker.getPoint().lng() + '&latitude=' + marker.getPoint().lat(),
                dataType: "script"
              });
            });
            <% end %>
            map.addOverlay(marker);
          }
        }
        jQuery(function(){
          initialize();
        })
      </script>
      <% end -%>
      <div id="map_div" style="width: 600px; height: 400px; margin: 10px;"></div>
    </p>