<table id="guide">
  <tbody>
  <tr>
    <th width="48%" class="leftalign">标题</th>
    <th width="8%">浏览</th>
    <th width="8%">推荐</th>
    <th width="8%">留言</th>
    <th width="14%">作者</th>
    <th width="14%">最后更新</th>
  </tr>
  <% guides.each do |guide| -%>
  <tr>
    <td class="leftalign">
      <% unless guide.class == Topic%>
      <%= link_to h(guide.title), [guide.school, guide], :class => 'link' %>
      <% else %>
      <%= link_to h(guide.title), [guide], :class => 'link'%>
      <% end %>
      <br/><small>标签：
      <% guide.tags.each do |tag| %>
       <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
      <% end %>
      </small>
    </td>
    <td><%= guide.hits %></td>
    <td><%= guide.votes.count %></td>
    <td><%= guide.comments_count %></td>
    <td><%= link_to h(guide.user.login), user_url(guide.user), :class => "link" %></td>
    <td><%= l(guide.updated_at.to_date, :format => :short) %></td>
  </tr>
  <% end -%>
  </tbody>
</table>
