<table id="guide">
  <tbody>
  <tr>
    <th width="45%" class="leftalign">标题</th>
    <th width="10%">浏览</th>
    <td width="10%">留言</td>
    <th width="15%">作者</th>
    <th width="20%">最后更新</th>
  </tr>
  <% guides.each do |guide| -%>
  <tr>
    <td class="leftalign">
      <%= link_to h(guide.title), school_guide_path(guide.school, guide), :class => 'link' %>
      <br/><small>标签：
      <% guide.tags.each do |tag| %>
       <%= link_to h(tag.name), tag_path(:tag => tag.name) %>
      <% end %>
      </small>
    </td>
    <td><%= guide.hits %></td>
    <td><%= guide.comments_count %></td>
    <td><%= link_to h(guide.user.login), user_url(guide.user), :class => "link" %></td>
    <td><%= guide.updated_at.to_date %></td>
  </tr>
  <% end -%>
  </tbody>
</table>