<% content_for :tail do -%>
  <script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>

  <script type="text/javascript">
    var map;
    function initialize() {
      if (GBrowserIsCompatible()) {
        map = new GMap2(document.getElementById("map_div"));
        map.setCenter(new GLatLng(<%= school.basic.latitude.to_f %>, <%= school.basic.longitude.to_f %>), 7);
        map.addControl(new GSmallMapControl());
      
        var point = new GLatLng(<%= school.basic.latitude.to_f %>, <%= school.basic.longitude.to_f %>);
        marker = new GMarker(point, {draggable: <%= logged_in? ? 'true' : 'false' %>});
      
        map.addOverlay(marker);
      }
    }
    jQuery(function(){
      initialize();
    })
  </script>
<% end %>

<div id="map_div" style="width: 250px; height: 150px; margin: 0;float:left" onclick="$('#school_large_map').click();"></div>

<div id="map_info">
<p class="remark">
  <%= "地图位置由#{link_to school.basic.marked_by.login, user_url(school.basic.marked_by)}确认<br />" unless school.basic.marked_at.blank? %>
  &raquo; <%= link_to_function "更正学校位置", "$('#school_large_map').click();" %>
  <% if school.basic.marked_at.blank? -%>
  | <%= link_to "是正确位置", marked_school_path, :method => :put %>
  <% end -%>
  <br />
  &raquo; <%= link_to "在大地图中查看", large_map_school_url(:iframe => true, :width => 550, :height => 450, :alt => @school.title), :rel => 'prettyPhoto[iframes]', :description => (logged_in? ? '拖动红色标记修改学校位置' : '要修改学校位置，<a href="/sessions/new">请先登录</a>'), :id => 'school_large_map' %>
</p>
</div>