<div class="school-steps">
  <ol class="clearfix">
    <li <%if @step != 'basic' %>onclick="javascript:window.location='/schools/<%=@school.id%>/edit?step=basic'" style="cursor:pointer"<%end%> class="first <%= 'current' if step == 'basic' %>"> 学校基本信息</li>
    <li <%if @step != 'traffic' %>onclick="javascript:window.location='/schools/<%=@school.id%>/edit?step=traffic'" style="cursor:pointer"<%end%> class="middle <%= 'current' if step == 'traffic' %>"> 学校交通信息</li>
    <li <%if @step != 'need' %>onclick="javascript:window.location='/schools/<%=@school.id%>/edit?step=need'" style="cursor:pointer"<%end%> class="middle <%= 'current' if step == 'need' %>"> 学校需求</li>
    <li <%if @step != 'other' %>onclick="javascript:window.location='/schools/<%=@school.id%>/edit?step=other'" style="cursor:pointer"<%end%> class="middle <%= 'current' if step == 'other' %>"> 收集人信息</li>
    <li <%if @step != 'mainphoto' %>onclick="javascript:window.location='/schools/<%=@school.id%>/edit?step=mainphoto'" style="cursor:pointer"<%end%> class="last <%= 'current' if step == 'mainphoto' %>"> 学校主照片<span class="hook"></span></li>
  </ol>
</div>