<% content_for :heads do -%>
  <script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>
<% end -%>

<script type="text/javascript">
  var map;
  function initialize() {
    if (GBrowserIsCompatible()) {
      map = new GMap2(document.getElementById("map_div"));
      map.setCenter(new GLatLng(<%= school.basic.latitude.to_f %>, <%= school.basic.longitude.to_f %>), 7);

      var point = new GLatLng(<%= school.basic.latitude.to_f %>, <%= school.basic.longitude.to_f %>);
      marker = new GMarker(point, {draggable: <%= logged_in? ? 'true' : 'false' %>});
      
      map.addOverlay(marker);
    }
  }
  jQuery(function(){
    initialize();
  })
</script>

<div id="map_div" style="width: 250px; height: 150px; margin: 0 20px;"></div>
<br />
<p class="remark">
  <%= "地图位置由#{link_to school.basic.marked_by.login, user_url(school.basic.marked_by)}确认<br />" unless school.basic.marked_at.blank? %>
  &raquo; <%= link_to "更正学校位置", edit_school_position_path(school) %>
  <% if school.basic.marked_at.blank? -%>
  | <%= link_to "是正确位置", marked_school_path, :method => :put %>
  <% end -%>
  <br />
  &raquo; <%= link_to "在大地图中查看", geo_path(school.geo, :school_id => school.id) %>
</p>

