<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery-1.2.6.pack' %>
  <script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
  </script>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end -%>

<script src="http://ditu.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA"
            type="text/javascript"></script>
<script type="text/javascript">
  var map;
  function initialize() {
    if (GBrowserIsCompatible()) {
      map = new GMap2(document.getElementById("map_div"));
      map.setCenter(new GLatLng(<%= school.basic.latitude.to_f %>, <%= school.basic.longitude.to_f %>), 7);
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());

      var point = new GLatLng(<%= school.basic.latitude.to_f %>, <%= school.basic.longitude.to_f %>);
      marker = new GMarker(point, {draggable: <%= logged_in? ? 'true' : 'false' %>});

      function markerClickFn(point, id) {
        return function() {
          GDownloadUrl("/schools/info_window/" + id, function(data, responseCode) {
            map.openInfoWindowHtml(point, data);
          });
        }
      }
      
      GEvent.addListener(marker, "click", markerClickFn(point, <%= school.id %>));
      
      <% if logged_in? %>
      GEvent.addListener(marker, "dragend", function() {
        jQuery.ajax({
          type: 'PUT',
          url:  '<%= school_path(school) %>',
          data: 'longitude=' + marker.getPoint().lng() + '&latitude=' + marker.getPoint().lat(),
          dataType: "script"
        });
      });
      <% end %>
      
      map.addOverlay(marker);
    }
  }
  jQuery(function(){
    initialize();
  })
</script>

<div id="map_div" style="width: 600px; height: 600px"></div>

