<% @page_title = "全部学校" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery-1.2.6.pack' %>
  <script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
  </script>
<% end %>

<% content_for :crumb do -%>
<li><%= link_to "学校", schools_url %></li>
<ul>
  <li>全部学校信息</li>
</ul>
<% end -%>

<% content_for :sidebar do -%>
  <%= render :partial => "submit" %>
  <%= render :partial => "map_provinces", :locals => {:provinces => @cities} %>
  <%= render :partial => "schools", :object => @schools %>
  
  <p>&raquo; <%= link_to "浏览待验证学校信息", unconfirm_schools_url %></p>
<% end -%>


<div class="box" id="cityList">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>全部学校</h2>
      <div class="contents">
        <%= render :partial => '/geos/all_schools' %>
      </div>
    </div>
  </div>
</div>