<% @page_title = "申请学校大使" %> 

<% content_for :crumb do -%>
  <ul>
    <li>申请学校大使</li>
  </ul>
<% end -%>

<% content_for :sidebar do -%>
<div class="newbox">
      <span class="span_title2">学校大使说明</span>
      <div style="font-size:13px">
        <p style="color: rgb(153, 51, 0);font-size:14px;padding:4px 0"> 1、什么是学校大使？   </p>
        <p>学校大使是指关心具体某所学校，有爱心，并能长期关注学校的用户。   </p>
        <p style="color: rgb(153, 51, 0);font-size:14px;padding:4px 0">2、如何才能成为学校大使？</p>
        <div>提交完整学校信息的用户，系统会自动默认该用户为该学校大使；</div>
        <div>去过学校，并有学校活动分享的用户，可在学校页面话题中申请成为该学校的大使，该学校大使或学校信息管理员将添加学校大使。 </div>
        <p style="color: rgb(153, 51, 0);font-size:14px;padding:4px 0">3、学校大使可以做什么？ </p>
    <ul>
    <li>编辑、更新学校信息；</li>
    <li>添加其他关注学校的用户为学校大使；</li>
    <li>为学校申请1kg.org公益项目，解决学校的需求问题；  </li>
    </ul>
     <p style="color: rgb(153, 51, 0);font-size:14px;padding:4px 0">4、为吸引更多的用户关注学校，获取更多的资源解决学校需求，学校大使可以通过以下几种方法来提高学校活跃度:</p>
    <ul>
    <li>鼓励更多的用户写活动分享，上传学校相片；</li>
    <li>为学校发起活动； </li>
    <li>与关心学校的用户互动，在学校页面发起话题、留言；</li>
    </ul>
      </div>
    </div>
<%end%>
<div class="newbox">
      <span class="span_title">申请学校</span>
      <div class="clearfix" style="margin-buttom:10px"><%= render :partial => "/shared/school",:object => @school%></div>
      <span class="span_title">申请信</span>
      <div class="contents">
        <% form_for :message, :url => {:controller => "schools", :action => "sent_apply"} do |form| %>
          <p>
          <strong><%= form.label :subject, "主题:" -%></strong>
          <%= form.text_field :subject, :size => 40 ,:value => "申请成为 #{@school.title} 的学校大使"-%> <%= error_message_on @message, :subject %>
          </p>
          <p>
          <strong><%= form.label :content, "内容:" -%></strong><%= error_message_on @message, :content %>
          <br />
          <%= form.text_area :content, :cols => 80,:value => "申请人姓名：\r\r联系方式(qq/msn/电话):\r\r去过学校的时间：\r\r申请加入学校大使的原因："%>
          </p>
          <p><%=submit_tag "写好了，发出去" -%> 或 <%= link_to "取消", schools_url(@school.id) %></p>
        <% end %>
      </div>
</div>

