<% @page_title = "编辑学校信息" -%>
<% @body_class = "schools" -%>

<% content_for :sidebar do -%>
<% end -%>

<% content_for :fullsize do -%>
  <div class="box" id="schoolsPostTraffic">
    <div class="boxOuter">
      <div class="boxInner">
        <h2><!-- --></h2>
        <div class="contents">
          
          <%= render :partial => 'school_steps' %>
          
          <% form_for :school, :url => school_url(@school.id, :step => 'traffic'), :html => {:method => :put, :id => "schoolsPostTraffic"} do |f| -%>
          <%= f.hidden_field :id %>
          <p><label class="label">学校所在省市</label><%= @school.geo.ancestors[0].name if @school.geo.child? %> <%= @school.geo.name %></p>
          
          <% unless @school.geo.counties.size == 0 -%>
          <p><label class="label">学校所属县</label><%= f.select :county_id, @school.geo.counties.collect {|c| [c.name, c.id]} %></p>
          <% end -%>
          
          <% f.fields_for :traffic_attributes, @school.traffic do |t| -%>
          <%= t.hidden_field :id %>
          <p><label class="label" for="school_school_traffic_sight">附近景点</label>
          <%= t.text_field :sight, :size => 30, :class => 'formText' %>
          </p>
          <p><label class="label" for="school_school_traffic_description">交通指南</label>（从学校所在县/市到达该学校的路线、乘车地点、交通工具、价钱、时间）
          <%= t.text_area  :description, :cols => 75, :rows => 12 %>
          </p>
          <% end -%>
          
          <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "保存修改，下一步" %></span></p>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
<% end -%>