<% @page_title = "编辑学校信息" -%>
<% @body_class = "schools" -%>

<% content_for :sidebar do -%>
<% end -%>

<% content_for :fullsize do -%>          
  <%= render :partial => 'school_steps', :locals => {:step => 'other'} %>
  <div style="padding:10px 20px">  
    <% form_for :school, :url => school_url(@school.id, :step => 'other'), :html => {:method => :put} do |f| -%>
    <%= f.hidden_field :id %>
    
    <fieldset>
      <legend>信息收集人</legend>
      <p>电话和电子邮件将只对管理员公开</p>
      <% f.fields_for :finder_attributes, @school.finder do |r| -%>
      <%= r.hidden_field :id %>
      <p><label class="label">姓名</label><%= r.text_field :name, :size => 10, :class => 'formText' %></p>
      <p><label class="label">邮件</label><%= r.text_field :email, :size => 30, :class => 'formText' %></p>
      <p><label class="label">QQ</label><%= r.text_field :qq, :size => 30, :class => 'formText' %></p>
      <p><label class="label">MSN</label><%= r.text_field :msn, :size => 30, :class => 'formText' %></p>
      <p><label class="label">电话</label><%= r.text_field :phone_number, :size => 30, :class => 'formText' %></p>
      <p><label class="label">收集时间</label>
      <%= r.text_field :survey_at, :size => 30, :class => 'vDateField' %>
      </p>
      <p><label class="label">活动建议</label><%= r.text_area :note, :size => '60x10' %></p>
      <% end -%>
      <script type="text/javascript" charset="utf-8">$(document).ready(DateTimeShortcuts.init)</script>
    </fieldset>
    
    <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "完成" %></span></p>
    <% end -%>
  </div>
<% end -%>