<% @page_title = "编辑学校信息" -%>
<% @body_class = "schools" -%>

<% content_for :sidebar do -%>
<% end -%>

<% content_for :fullsize do -%>
  <div class="box" id="schoolsPostOther">
    <div class="boxOuter">
      <div class="boxInner">
        <h2><!-- --></h2>
        <div class="contents">
          
          <%= render :partial => 'school_steps' %>
    
    <% form_for :school, :url => school_url(@school.id, :step => 'other'), :html => {:method => :put} do |f| -%>
    <%= f.hidden_field :id %>
    
    <fieldset>
      <legend>学校联系人</legend>
      <% f.fields_for :contact_attributes, @school.contact do |c| -%>
      <%= c.hidden_field :id %>
      <p><label class="label">姓名</label><%= c.text_field :name, :size => 10, :class => 'formText' %></p>
      <p><label class="label">职务</label><%= c.text_field :role, :size => 10, :class => 'formText' %></p>
      <p><label class="label">电话</label><%= c.text_field :telephone, :size => 15, :class => 'formText' %></p>
      <p><label class="label">电子邮箱</label><%= c.text_field :email, :size => 15, :class => 'formText' %></p>
      <p><label class="label">QQ</label><%= c.text_field :qq, :size => 15, :class => 'formText' %></p>
      <% end -%>
    </fieldset>
    
    <fieldset>
      <legend>当地情况</legend>
      <% f.fields_for :local_attributes, @school.local do |l| -%>
      <%= l.hidden_field :id %>
      <p><label class="label">收入来源</label><%= l.text_field :incoming_from, :size => 20, :class => 'formText' %></p>
      <p><label class="label">平均收入</label><%= l.text_field :incoming_average, :size => 20, :class => 'formText' %> 元 / 年</p>
      <p class="radioBtn"><label class="label">公益组织资助</label><%= radio_choice l, :ngo_support %></p>
      <p><label class="label">组织名称</label><%= l.text_field :ngo_name, :size => 10, :class => 'formText' %></p>
      <p><label class="label">开始时间</label>
      <%= l.text_field :ngo_start_at, :size => 15, :class => "vDateField" %>  
      </p>
      <p><label class="label">已开展项目</label><%= l.text_field :ngo_projects, :size => 40, :class => "formText" %></p>
      <p><label class="label">联系人</label><%= l.text_field :ngo_contact, :size => 10, :class => 'formText' %></p>
      <p><label class="label">联系方式</label><%= l.text_field :ngo_contact_via, :sizze => 15, :class => 'formText' %></p>
      <p><label class="label">建议</label><%= l.text_area :advice, :cols => 40, :rows => 10 %></p>
      <% end -%>
    </fieldset>
    
    <fieldset>
      <legend>信息收集人</legend>
      <p>电话和电子邮件将只对管理员公开</p>
      <% f.fields_for :finder_attributes, @school.finder do |r| -%>
      <%= r.hidden_field :id %>
      <p><label class="label">姓名</label><%= r.text_field :name, :size => 10, :class => 'formText' %></p>
      <p><label class="label">邮件</label><%= r.text_field :email, :size => 30, :class => 'formText' %></p>
      <p><label class="label">QQ</label><%= r.text_field :qq, :size => 30, :class => 'formText' %></p>
      <p><label class="label">MSN</label><%= r.text_field :msn, :size => 30, :class => 'formText' %></p>
      <p><label class="label">电话</label><%= r.text_field :phone_number, :size => 30, :class => 'formText' %></p>
      <p><label class="label">收集时间</label>
      <%= r.text_field :survey_at, :size => 30, :class => 'vDateField' %>
      </p>
      <p><label class="label">备注</label><%= r.text_area :note, :size => '60x10' %></p>
      <% end -%>
    </fieldset>
    
    <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "完成" %></span></p>
    <% end -%>
        </div>
      </div>
    </div>
  </div>
<% end -%>