<% @page_title = "学校" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  <style type="text/css">
  .school_list_meta{width:190px;-width:180px}
  .school_list{width:310px}
  .project{margin-right:20px;-margin-right:30px;}</style>
<% end %>
<% content_for :crumb do -%>
<li>学校</li>
<% end -%>

<% content_for :sidebar do -%>

<div class="newbox"><%= render :partial => '/searches/search_box', :locals => {:kind => 'school'} %></div>
<div class="newbox">
      <span class="span_title">和学校相关的活动</span>
      <div class="clearfix" style="height:10px"> </div>
      <div class="contents">
          <%= render :partial => "/shared/activity", :collection => @activities_for_school,:locals => {:school => true} unless @activities_for_school.nil? %>
          <div class="remark"><%= link_to '&raquo; 查看更多',with_school_activities_url,:target => "_blank" %></div>
      </div>
      <div class="clearfix" style="height:10px;clear:both"> </div>
</div>

<%= render :partial => 'need_tag_cloud', :locals => {:tags => @tags} %>

<% end -%>

<div class="newbox" >
      <div style="float:right"><%= link_to "提交学校", new_school_url,:class => "buttonjoin" %></div>
      <span class="span_title">地图查询学校</span> <%=link_to "全国地图","/geos"%>
      <div class="clearfix" style="clear:both;height:20px"> </div>
      <div class="zone">
        <h6>华北地区</h6>
        <%= link_to "北京","/geos/1" %>
        <%= link_to "天津","/geos/2" %>
        <%= link_to "河北","/geos/3" %>
        <%= link_to "山西","/geos/15" %>
        <%= link_to "内蒙古","/geos/27" %>
      </div>
        
      <div class="zone" style="width:180px;">
        <h6>东北地区</h6>  
        <%= link_to "辽宁","/geos/40" %>
        <%= link_to "吉林","/geos/55" %>
        <%= link_to "黑龙江","/geos/65" %>
      </div>
      
      <div class="zone" style="width:240px;">
        <h6>华东地区</h6>
        <%= link_to "上海","/geos/79" %>
        <%= link_to "江苏","/geos/80" %>
        <%= link_to "浙江","/geos/94" %>
        <%= link_to "安徽","/geos/106" %>
        <%= link_to "福建","/geos/124" %>
        <%= link_to "江西","/geos/134" %>
        <%= link_to "山东","/geos/146" %>
      </div>
      <div class="clearfix" style="clear:both;"> </div>
      <div class="zone">
        <h6>华中地区</h6>
        <%= link_to "河南","/geos/164" %>
        <%= link_to "湖北","/geos/183" %>
        <%= link_to "湖南","/geos/201" %>
      </div>
      
      <div class="zone" style="width:180px;">
        <h6>华南地区</h6>
        <%= link_to "广东","/geos/216" %>
        <%= link_to "广西","/geos/238" %>
        <%= link_to "海南","/geos/253" %>
      </div>
      
      <div class="zone" style="width:240px">
        <h6>西南地区</h6>
        <%= link_to "重庆","/geos/273" %>
        <%= link_to "四川","/geos/274" %>
        <%= link_to "贵州","/geos/296" %>
        <%= link_to "云南","/geos/306" %>
        <%= link_to "西藏","/geos/323" %>
      </div>
      <div class="clearfix" style="clear:both;"> </div>
      <div class="zone">
        <h6>西北地区</h6>
        <%= link_to "陕西","/geos/331" %>
        <%= link_to "甘肃","/geos/342" %>
        <%= link_to "青海","/geos/357" %>
        <%= link_to "宁夏","/geos/366" %>
        <%= link_to "新疆","/geos/372" %>
      </div>
      
      <div class="zone" style="width:180px;">
        <h6>港澳台地区</h6>
        <%= link_to "香港","/geos/391" %>
        <%= link_to "澳门","/geos/392" %>
        <%= link_to "台湾","/geos/393" %>
      </div>
      
      <div  style="width:220px;height:40px;float:left;background-color:#f0f0f0;padding:6px 0 10px 15px">
      <span style="font-size:12px;color:#666;font-weight:bold">城市快速搜索</span>
        <% form_tag search_geos_url, :method => :get do -%>
          <%= text_field_tag 'city', "", {:size => "16", :class => "form-text",:style => "width:160px"} %> <%= submit_tag "查找", :class => "form-submit" %>
        <% end -%>
      </div>
      <div class="clearfix" style="clear:both;"> </div>
      <div><span class="gary_span">&raquo;  去学校别忘了带上一份</span> <a href="/school_info.xls">学校信息收集表</a></div>
</div>

<div class="clearfix" style="clear:both;"> </div>

<div class="newbox">
      <div class="clearfix"></div>
      <span class="span_title">可为学校申请的项目</span>
      <div class="clearfix" style="height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => '/shared/project', :collection => @projects %>
      </div>
     <% if @projects.size == 2%><div class="remark"><%= link_to "&raquo; 查看全部公益项目 ", requirement_types_url %></div><%end%>
</div>

<div class="newbox">
  <span class="span_title">学校分享</span>
  <div class="cleanfix" style="height:10px"></div>
  <div class="contents">
    <%= render :partial => "/shared/share", :collection => @shares %>
  </div>
  <div class="remark"><%= link_to "&raquo; 更多学校分享", total_shares_schools_url %></div>
  <div class="cleanfix" style="height:20px"></div>
</div>

<div class="newbox">
      <div class="clearfix"></div>
      <span class="span_title">学校话题</span>  <a href="#" onclick="javascript:show_feed();return false"><%= image_tag(image_path("rss.png"),:style => "position:relative;top:2px") %></a>
      <%= render :partial => '/shared/atom', :locals => {:name => '订阅最新学校话题'} %>
      <div class="clearfix" style="height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => '/shared/topic', :collection => @recent_school_comments %>
      </div>
      <div class="remark"><%= link_to "&raquo; 更多学校话题", comments_schools_url %></div>
</div>

<div class="newbox">
      <span class="span_title">最新学校照片</span>
      <div class="cleanfix" style="clear:both;height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => "/shared/photo", :collection => @photos %>
      </div>
</div>

<div class="newbox">
      <span class="span_title">最活跃的学校</span>
      <div class="clearfix" style="height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => '/shared/school', :collection => School.top10_popular.include([:main_photo]) %>
      </div>
</div>

<div class="cleanfix" style="clear:both;height:20px"></div>