<% @page_title = "学校" -%>

<% content_for :crumb do -%>
<li>学校</li>
<% end -%>

<% content_for :sidebar do -%>
<%= render :partial => "submit" %>

<%= render :partial => "provinces", :object => Geo.roots %>
<p>&raquo; <%= link_to "浏览待验证学校信息", unconfirm_schools_url %></p>
<p>&raquo; <%= link_to "每月新增学校统计", archives_schools_url %></p>

<% end -%>

<h2 class="title">学校信息</h2>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新学校照片</h3>
      <div class="contents clearfix">
        <%= render :partial => "photos", :object => @photos %>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新添加的学校</h3>
      <span class="postNew"><%= link_to image_tag("/images/json.png"), formatted_schools_url(:json) %></span>
      <div class="contents">
        <%= render :partial => "recent_upload", :object => @schools %>
      </div>
      <p class="remark">&raquo; <%= link_to "查看全部#{School.validated.count}所学校", all_schools_url %></p>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新学校帖子</h3>
      <div class="contents">
      <%= render :partial => "last_10_updated_topics", :object => @topics %>
      </div>
    </div>
  </div>
</div>