<% @page_title = @title = "学校" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  <style type="text/css">
  .school_list_meta{width:190px;-width:180px}
  .school_list{width:310px}</style>
<% end %>
<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>
<% content_for :crumb do -%>
<li>学校</li>
<% end -%>

<% content_for :sidebar do -%>


<div class="newbox">
      <span class="span_title">和学校相关的活动</span>
      <span class="postNew"><%= link_for_new_activity %></span>
      <div class="clearfix" style="height:10px"> </div>
      <div class="contents">
          <%= render :partial => "/shared/activity", :collection => @activities_for_school,:locals => {:school => true} unless @activities_for_school.nil? %>
          <div class="activity_more"><%= link_to '查看更多',with_school_activities_url,:target => "_blank" %></div>
      </div>
      
      <div class="clearfix" style="height:10px;clear:both"> </div>
</div>


<%= render :partial => 'need_tag_cloud', :locals => {:tags => @tags} %>

<%= render :partial => "submit" %>

<% end -%>

<div class="newbox" >
      <span class="postNew" style="margin-right:30px"><%= link_for_new_school %></span>
      <span class="span_title">地图查询</span> <%=link_to "全国地图","/geos"%>
      <div class="clearfix" style="height:20px"> </div>
      <div class="zone">
        <h6>华北地区</h6>
        <%= link_to "北京","/geos?province=1" %>
        <%= link_to "天津","/geos?province=2" %>
        <%= link_to "河北","/geos?province=3" %>
        <%= link_to "山西","/geos?province=15" %>
        <%= link_to "内蒙古","/geos?province=27" %>
      </div>
        
      <div class="zone" style="width:160px;">
        <h6>东北地区</h6>  
        <%= link_to "辽宁","/geos?province=40" %>
        <%= link_to "吉林","/geos?province=55" %>
        <%= link_to "黑龙江","/geos?province=65" %>
      </div>
      
      <div class="zone" style="width:240px;">
        <h6>华东地区</h6>
        <%= link_to "上海","/geos?province=79" %>
        <%= link_to "江苏","/geos?province=80" %>
        <%= link_to "浙江","/geos?province=94" %>
        <%= link_to "安徽","/geos?province=106" %>
        <%= link_to "福建","/geos?province=124" %>
        <%= link_to "江西","/geos?province=134" %>
        <%= link_to "山东","/geos?province=146" %>
      </div>
      
      <div class="zone">
        <h6>华中地区</h6>
        <%= link_to "河南","/geos?province=164" %>
        <%= link_to "湖北","/geos?province=183" %>
        <%= link_to "湖南","/geos?province=201" %>
      </div>
      
      <div class="zone" style="width:160px;">
        <h6>华南地区</h6>
        <%= link_to "广东","/geos?province=216" %>
        <%= link_to "广西","/geos?province=238" %>
        <%= link_to "海南","/geos?province=253" %>
      </div>
      
      <div class="zone">
        <h6>西南地区</h6>
        <%= link_to "重庆","/geos?province=273" %>
        <%= link_to "四川","/geos?province=274" %>
        <%= link_to "贵州","/geos?province=296" %>
        <%= link_to "云南","/geos?province=306" %>
        <%= link_to "西藏","/geos?province=323" %>
      </div>
      
      <div class="zone">
        <h6>西北地区</h6>
        <%= link_to "陕西","/geos?province=331" %>
        <%= link_to "甘肃","/geos?province=342" %>
        <%= link_to "青海","/geos?province=357" %>
        <%= link_to "宁夏","/geos?province=366" %>
        <%= link_to "新疆","/geos?province=372" %>
      </div>
      
      <div class="zone" style="width:160px;">
        <h6>港澳台地区</h6>
        <%= link_to "香港","/geos?province=391" %>
        <%= link_to "澳门","/geos?province=392" %>
        <%= link_to "台湾","/geos?province=393" %>
      </div>
      
      <div  style="width:200px;height:40px;float:left;background-color:#e0e0e0;padding:6px 0 10px 15px">
      <span style="font-size:12px;color:#666;font-weight:bold">城市快速搜索</span>
        <% form_tag search_geos_url, :method => :get do -%>
          <%= text_field_tag 'city', "", {:size => "16", :class => "form-text",:style => "width:140px"} %> <%= submit_tag "查找", :class => "form-submit" %>
        <% end -%>
      </div>
      <div class="clearfix"></div>
</div>


<div class="newbox">
      <div class="clearfix"></div>
      <span class="span_title">本月最活跃的学校</span>
      <div class="clearfix" style="height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => '/shared/school', :collection => School.top10_popular.include([:main_photo]) %>
      </div>

</div>


<div class="newbox">
      <span class="span_title">最新学校照片</span>
      <div class="cleanfix" style="clear:both;height:10px"></div>           
      <div class="contents clearfix">
        <%= render :partial => "/shared/photo", :collection => @photos %>
      </div>
</div>
<div class="cleanfix" style="clear:both;height:20px"></div>