<% @page_title = "学校" -%>

<% content_for :crumb do -%>
<li>学校</li>
<% end -%>

<% content_for :sidebar do -%>
<%= render :partial => "submit" %>

<%= render :partial => "provinces", :object => Geo.roots %>
<p>&raquo; <%= link_to "浏览待验证学校信息", unconfirm_schools_url %></p>
<p>&raquo; <%= link_to "每月新增学校统计", archives_schools_url %></p>

<% end -%>

<h2 class="title">学校信息</h2>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新学校照片</h3>
      <div class="contents clearfix">
        <%= render :partial => "photos", :object => @photos %>
      </div>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新添加的学校</h3>
      <div class="contents">
        <table id="schoolsLatest">
          <thead>
            <tr>
              <th>校名</th>
              <th>省份</th>
            </tr>
          </thead>
          <tbody>
            <% @schools.each do |s| -%>
            <tr class="<%= cycle('odd', 'even') %>">
              <td><%= link_to s.title, school_url(s.id) %></td>
              <td><%= s.geo.ancestors[0].name if s.geo.ancestors[0] %> <%= s.geo.name %></td>
            </tr>
            <% end -%>
          </tbody>
        </table>
      </div>
      <p class="remark">&raquo; <%= link_to "查看全部#{School.count(:all, :conditions => ["meta=? and deleted_at is NULL", false])}所学校", all_schools_url %></p>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新学校帖子</h3>
      <%= render :partial => "last_10_updated_topics", :object => @topics %>
    </div>
  </div>
</div>