<% @page_title = @title = "学校" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end %>

<% content_for :crumb do -%>
<li>学校</li>
<% end -%>

<% content_for :sidebar do -%>

<%= render :partial => "/geos/city_search" %>
<%= render :partial => "provinces", :object => Geo.roots %>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最近的出行活动</h3>
      <span class="postNew"><%= link_for_new_activity %></span>
      <div class="contents">
        <table>
          <% @activities_for_travel.each do |a| -%>
          <tr>
            <td><%= link_to a.title, activity_url(a) %> <span class="tipText">[<%= month_and_day(a.start_at) %>]</span></td>
          </tr>
          <% end -%>
        </table>
      </div>
      <%= render :partial => "/activities/all_activities" %>
    </div>
  </div>
</div>

<%= render :partial => "submit" %>

<% end -%>


<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3></h3>
      <span class="postNew"><%= link_for_new_school %></span>
      <div class="tabbedPanel" id="tabs">
        <ul class="tab">
          <li><a href="#comments">新留言</a></li>
          <li><a href="#upload">新上传</a></li>
        </ul>
        <div class="panel setting">
          <div id="upload">
            <%= render :partial => "/schools/recent_upload", :object => @recent_schools %>
          </div>
          <div id="comments">
            <%= render :partial => "/schools/last_10_updated_topics", :object => @recent_school_comments %>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        jQuery("#tabs").tabs();
      </script>
      <p class="remark">&raquo; <%= link_to "浏览全部学校", all_schools_url %></p>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新学校照片</h3>
      <div class="contents clearfix">
        <%= render :partial => "photos", :object => @photos %>
      </div>
    </div>
  </div>
</div>
