<% @page_title = "学校" -%>

<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  <style type="text/css">
  .school_list_meta{width:190px;-width:180px}
  .school_list{width:310px}
  .project{margin-right:20px;-margin-right:30px;}</style>
<% end %>
<% content_for :crumb do -%>
<li>学校</li>
<% end -%>

<% content_for :sidebar do -%>

  <div class="newbox">
    <%= render :partial => '/searches/search_box', :locals => {:kind => 'school'} %>
  </div>  
  
  <div id="records" class="newbox">
    <div id="record_tabs">
          <span class="span_title" style="margin-right:8px">学校动态</span>
          <ul class="tab">
              <li class="tabs_more"><a href="#by_karma">最活跃</a></li>
              <li class="tabs_more"><a href="#by_update">最新</a></li>
          </ul>
          <div class="clearfix" style="height:10px;clear:both"> </div>
          <div id="by_karma">
            <%= render :partial => '/schools/school', :collection => School.top10_popular.include([:main_photo,:geo]) %>
          </div>
          <div id="by_update">
             <%= render :partial => '/schools/school', :collection => School.recent_upload.include([:main_photo,:geo])%>             
          </div>
          <div class="cleanfix" style="clear:both;height:20px"></div>
    </div>
    <%= render :partial => 'need_tag_cloud', :locals => {:tags => @tags} %>
    <script type="text/javascript">
            jQuery("#record_tabs").tabs()
    </script>
<% end -%>

<div class="newbox">
      <div style="float:right"><%= link_to "提交学校", new_school_url,:class => "buttonjoin" %></div>
      <span class="span_title">学校</span> <%=link_to "按省市查询","/geos"%>
       <%= render :partial => '/geos/school_maps' %>
      <div class="clearfix" style="clear:both;"> </div>
      <div style="text-align:right"><span class="gary_span">&raquo;  去学校别忘了带上一份</span> <a href="/school_info.xls">学校信息收集表</a></div>
</div>

<div class="clearfix" style="clear:both;"> </div>

<div class="newbox">
      <div class="clearfix"></div>
      <span class="span_title">学校公益项目</span>
      <div class="clearfix" style="height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => '/shared/project', :collection => @projects %>
      </div>
     <% if @projects.size == 2%><div class="remark"><%= link_to "&raquo; 查看全部公益项目 ",projects_url %></div><%end%>
</div>

<div class="newbox">
  <span class="span_title">学校论坛</span>
  <div class="cleanfix" style="height:10px"></div>
  <div class="contents">
    <%= render :partial => "/shared/share", :collection => @shares %>
  </div>
  <div class="remark"><%= link_to "&raquo; 查看更多", total_shares_schools_url %></div>
  <div class="cleanfix" style="height:20px"></div>
</div>

<div class="cleanfix" style="clear:both;height:20px"></div>