<script src="http://ditu.google.cn/maps?file=api&amp;v=2&amp;key=ABQIAAAAJod3rJ1UD4NbyqMUYncq8hSJzhnW5idwQnMkpN3KtraAW36MXhQfv15HR27S30pNBsaozzpDAHB-QA" type="text/javascript"></script>
<%= javascript_include_tag 'jQuery/jquery.min' %>
<h4><%= @school.title %></h4>
<script type="text/javascript">
  var map;
  function initializeBig() {
    if (GBrowserIsCompatible()) {
      map = new GMap2(document.getElementById("map_div"));
      map.setCenter(new GLatLng(<%= @school.basic.latitude.to_f %>, <%= @school.basic.longitude.to_f %>), 7);
      map.addControl(new GLargeMapControl());
      map.addControl(new GMapTypeControl());
      map.addControl(new GScaleControl());
      var point = new GLatLng(<%= @school.basic.latitude.to_f %>, <%= @school.basic.longitude.to_f %>);
      var green = new GIcon(G_DEFAULT_ICON, "http://maps.gstatic.cn/intl/zh-CN_cn/mapfiles/marker_green.png");
      bigmarker = new GMarker(point);
      greenmarker = new GMarker(point, {icon:green,draggable: 'true'});
      
      <% if !current_user.blank? && @school.edited_by(current_user)%>
      GEvent.addListener(greenmarker, "dragend", function() {
        jQuery.ajax({
          type: 'PUT',
          url: '<%= school_path(@school) %>',
          data: 'longitude=' + greenmarker.getPoint().lng() + '&latitude=' + greenmarker.getPoint().lat(),
          dataType: "script"
        });
      });
      <% end %>

      map.addOverlay(bigmarker);
    }
  };
  window.onload = function(){initializeBig(); bigmarker.disableDragging();}
 
</script>

<div id="map_div" style="width: 500px; height: 380px;"></div>
<% if !current_user.blank? && @school.edited_by(current_user)%><p class="content_lei" ><span id="drag">你是学校大使，可以点击 <a class="adminbutton" onclick="bigmarker.remove();map.addOverlay(greenmarker);$('#drag').hide();$('#sure').show(); return false;" href="#">更正位置</a> 。</span><span id="sure" style="display:none"> 拖拽绿色地标到正确位置， <a class="adminbutton" onclick="location.reload(); return false;" href="#">修改完了</a>。</spam></p><%end%>
<style type="text/css">.adminbutton{background:url(/images/adminbutton.gif) no-repeat;
color:#fff;padding:1px 6px 3px;-padding:3px 6px 1px;width:60px;font-size:13px;text-decoration:none}
.adminbutton:hover{background-position:0 -21px;color:#fff;} .content_lei{font-size:14px;color:#444;padding:0 5px;margin:10px 0 0}
</style>