<% @page_title = @title = @school.title + " 大使管理"-%>

<% content_for :heads do -%>
  <style type="text/css">
  .candidate{margin-bottom:1em;height:80px;width:300px;float:left}
  .hidebutton{position:relative;display:none}
  .candidate:hover .hidebutton{display:block;}
  </style>
<% end %>

<% content_for :sidebar do -%>
<p>&raquo; <%= link_to "返回学校页面", school_url(@school) %></p>
<% end -%>

<div class="newbox">
     <h3>现有的学校大使</h3>
      <div class="clearfix" style="height:10px"></div> 
      <div class="contents clearfix">
        <% @managements.each do |management| %>
          <div class="candidate">
          <div style="float:left">
            <%= image_tag(management.user.avatar.url,:alt => management.user.login) %>
          </div>
          <div style="margin-left:56px;">
            <p style="margin:3px 0"><%= link_to management.user.login, user_url(management.user) %>
            <%= link_to "删除大使",management_path(management),:confirm => "你确认取消他的学校大使么?", :method => :delete %>
            </p>
          </div>          
        </div> 
        <% end -%>
      </div>
</div>

<div class="newbox">
     <h3>所有去过学校的候选用户</h3>
      <div class="clearfix" style="height:10px"></div> 
      <div class="contents clearfix">
        <% @candidates.each do |user| %>
        <div class="candidate">
          <div style="float:left">
            <%= image_tag(user.avatar.url,:alt => user.login) %>
          </div>
          <div style="margin-left:56px;">
            <p style="margin:3px 0">
            <%= link_to user.login, user_url(user) %>
            <%= link_to "添加大使", managements_path(:manageable_type => 'School',:manageable_id => @school.id,:user_id => user.id), :method => :post %>
            <% if user.visiteds.find_by_school_id(@school.id).visited_at.nil?%>去过这所学校<%else%><%= "<br/>在 #{user.visiteds.find_by_school_id(@school.id).visited_at.to_date} 去过这所学校" %><%end%><br/>
            </p>
          </div>
        </div>  
        <% end -%>
      </div>
</div>
