<% @page_title = @title = @school.title + " 的学校大使"-%>

<% content_for :heads do -%>
  
  <style type="text/css">
  
  .candidate{margin-bottom:1em;height:80px;width:210px;float:left}
  .hidebutton{position:relative;display:none}
  .candidate:hover .hidebutton{display:block;}
  </style>
<% end %>


<% content_for :sidebar do -%>
<p>&raquo; <%= link_to "返回学校页面", school_url(@school) %></p>
<% end -%>

<div class="newbox">
      <span class="span_title">学校大使</span>
      <div class="clearfix" style="height:10px"></div> 
      <div class="contents clearfix">
        <% @moderators.each do |user| %>
          <div class="candidate">
          <div style="float:left">
            <%= avatar_for(user, "large") %>
          </div>
          <div style="margin-left:56px;">
            <p style="margin:3px 0"><%= link_to user.login, user_url(user) %><br/>现在是学校大使
            </p>
            <div class="hidebutton"><%= link_to "取消大使", manage_school_url(@school, :type => "remove", :user => user), :method => :put ,:class => "adminbutton" %></div>
          </div>          
        </div> 
        <% end -%>
      </div>
</div>

<div class="newbox">
      <span class="span_title">所有去过学校的候选用户</span>
      <div class="clearfix" style="height:10px"></div> 
      <div class="contents clearfix">
        <% @candidates.each do |user| %>
        <div class="candidate">
          <div style="float:left">
            <%= avatar_for(user, "large") %>
          </div>
          <div style="margin-left:56px;">
            <p style="margin:3px 0"><%= link_to user.login, user_url(user) %> <% if user.visiteds.find_by_school_id(@school.id).visited_at.nil?%>去过这所学校<%else%><%= "<br/>在 #{user.visiteds.find_by_school_id(@school.id).visited_at.to_date} <br/>去过这所学校" %><%end%><br/>
            </p>
            <div class="hidebutton"><%= link_to "设为大使", manage_school_url(@school, :type => "add", :user => user), :method => :put ,:class => "adminbutton" %></div>
          </div>
          
        </div>  
        <% end -%>
      </div>
</div>