<% content_for :heads do %>
  <%= javascript_include_tag 'jquery.validate' %>
<% end %>

<% @page_title = "提交学校信息" -%>

<% @body_class = "schools" -%>
<% content_for :fullsize do -%>

<%= render :partial => 'school_steps', :locals => {:step => @step,:new => true} %>

  <div id="school_form">  
    <% form_for :school, :url =>(@school.id.nil? ? schools_url( :step => @step ,:new => true) : school_url(@school, :step => @step,:new => true)), :html => {:method => (@step == 'basic'?  :post : :put), :id => "schoolsPostBasic",:multipart => true} do |f| -%>
    <%= render :partial => "form_#{@step}", :locals => {:f => f}%>     
    <p><%= f.submit "下一步" ,:class => "surebutton"%> <%= f.submit "取消" ,:class => "surebutton",:onclick =>"javascript:window.location='/schools/#{@school.id}';return false" %></p>
    <span class="gary_span">带<span class="require">*</span>号的是必填项</span>
    <% end -%>
  </div>

<% end -%>

<script type="text/javascript" charset="utf-8">
  

  $().ready(function(){
    $.validator.addMethod('title', function(value){
      var geo_id = $('#school_geo_id').val();
      if(geo_id != '' && value != '') {
        $.get('/schools/check', {
                  geo_id: geo_id,
                  title: value},
                  function(data){
                    if(data != '0')
                      validator.showErrors({"school[title]": data}); 
                  });
        return true;
      } else {
        return true;
      }
    }, '学校已存在');
    
    var validator = $('#schoolsPostBasic').validate({
      onsubmit: false,
      rules: {
        'school[title]': 'title',
      }
    });
  });
</script>