<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  <%= stylesheet_link_tag 'lei' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end %>

<% @page_title = "#{h @school.title}" -%>
<% @body_class = "schools" -%>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    $(".more").toggle(
  function () {$($(this).attr('name')).animate({ height: 'show' },'fast');$(this).attr('style','background-image:url(/images/less.gif)')},
  function () {$($(this).attr('name')).animate({ height: 'hide' },'fast');$(this).attr('style','background-image:url(/images/more.gif)')}
  ); 
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
  });
   
</script>

<% content_for :subtitle do -%>  
<% end -%>

  <div id="meta">
    <div class="meta_left">
      <% if @school.main_photo -%>
      <%= link_to image_tag(@school.main_photo.public_filename(:small), :alt => @school.main_photo.title), @school.main_photo.public_filename(:medium),:class => "school_main" %>
      <%else%>
      <img class="school_main" src="/images/school_main.png"/>
      <%end%>
      <% if false -%>
      <%= link_to image_tag(photo.public_filename(:thumb), :alt => photo.title), photo.public_filename(:medium), 
        :rel => "prettyPhoto[gallery]", :description => photo_meta(photo, current_user), :title => photo.title,:class => "photo_small" %>
      <%end%>
    </div>
    <div class="meta_right">
      <%= render :partial => "status" %>
      <h1><%= h @school.title -%></h1>
      <% unless @basic.has_internet==0 %><img src="/images/icon/online.png" title="这个学校可以上网"><% end %>
      <div class="meta_info">
        <h5 style="font-size:14px;">活跃度</h5><%= karma_star(@school.last_month_average_karma)-%>
        <p>地址　<% if @school.geo.parent %><%= link_to @school.geo.parent.name.to_s,'/geos/'+@school.geo.parent.id.to_s %> > <% end %><%= link_to @school.geo.name.to_s,'/geos/'+@school.geo.id.to_s %> <%= h @basic.address %></p>
        <% unless @basic.zipcode.blank? %><p>邮编　<%= h @basic.zipcode %></p><%end-%>        
      </div>
    </div>
  </div>
  
  <div class="school_box">
    <a class="more" name='#morecontact'>查看学校联系方式</a>
    <div id="morecontact" style="display:none">
    <h3 class="label_lei">联系学校</h3>
    <% unless @basic.master.blank? %><p class="content_lei">学校的校长是 <%= h @basic.master %><% unless @basic.telephone.blank? %>，学校电话是<%= h @basic.telephone %><%end-%>。</p><%end-%>
    <% unless @contact.name.blank? %><p class="content_lei">学校的联系人是 <%= h @contact.name %><% unless @contact.role.blank? %>(<%= h @contact.role %>)<%end-%>
    <% unless @contact.telephone.blank? %>，电话 <%= h @contact.telephone %><%end-%>
    <% unless @contact.email.blank? %>，邮箱 <%= h @contact.email %><%end-%>
    <% unless @contact.qq.blank? %>，QQ <%= h @contact.qq %><%end-%>。
    </p><%end-%>
    <% if @finder -%>
      <%unless @finder.name.blank? %><p class="content_lei">信息收集人是 <%= h @finder.name %><%end%>
      <% if logged_in? && current_user.admin? %>
      <%unless @finder.email.blank? %>，邮件<%= h @finder.email %><%end%>
      <%unless @finder.phone_number.blank? %>，电话<%= h @finder.phone_number %><%end%>
      <% end %>
      <%unless @finder.qq.blank? %>，QQ <%= h @finder.qq %><%end%>
      <%unless @finder.msn.blank? %>，MSN <%= h @finder.msn %><%end%>
           。</p>
      <% if @finder.survey_at %><p class="content_lei">收集人是在 <%= h @finder.survey_at.to_date %> 收集的学校信息</p><%end%>
      <%unless @finder.note.blank? %><p class="content_lei"style="clear:both">收集人的活动建议 <%= h @finder.note %></p><%end%>
    <% end -%>
    </div>
  </div>
    
  <div class="school_box">
    <h3 class="label_lei">学校情况</h3>
  <%if @need -%>
    <% unless  @need.urgency.blank? -%>
    <p class="content_lei">学校非常需要 <span class="important"><%= link_to_needs @need.urgency %><span></p><% end -%>
    <div style="margin-bottom:-10px">
      <p class="content_lei" style="float:left">学校<%="还" unless @need.urgency.blank?%>需要</p>
      <p style="float:left;width:520px;font-size:15px;">
    <%= link_to_needs @need.book unless @need.book.blank?%>
    <%= link_to_needs @need.medicine unless @need.medicine.blank?%>
    <%= link_to_needs @need.stationary unless @need.stationary.blank?%>
    <%= link_to_needs @need.sport unless @need.sport.blank?%>
    <%= link_to_needs @need.cloth unless @need.cloth.blank?%>
    <%= link_to_needs @need.accessory unless @need.accessory.blank?%>
    <%= link_to_needs @need.course unless @need.course.blank?%>
    <%= link_to_needs @need.teacher unless @needteacher.blank?%>
    <%= link_to_needs @need.other unless @need.other.blank?%>
    </p>
    <div class="clearfix"></div>
    </div>
  <%end%>
  <p class="content_lei">学校<%= radio_value @basic.has_library %><%= "#{@basic.book_amount}本" if ! @basic.book_amount == 0 %>图书，<%= radio_value @basic.has_pc %><%= "#{@basic.pc_amount}台" if ! @basic.pc_amount == 0 %>电脑，<%= '不' if @basic.has_internet == 0 %>可以上网。</p>
  <p class="content_lei">学校有<%unless @basic.level_amount.blank?%><%= h @basic.level_amount %>个年级，<%end-%>
  <%unless @basic.class_amount.blank?%><%= h @basic.class_amount %>个班，<%end-%>
  <%unless @basic.student_amount.blank?%><%= h @basic.student_amount %>名学生，<%end-%>
  <%unless @basic.teacher_amount.blank?%><%= h @basic.teacher_amount %>名老师。<%end-%></p>
  
  <% unless @local.ngo_support == 2%>
  <p class="content_lei">
  <% if @local.ngo_support == 0 -%>目前没有<% end %><%= '有' unless @local.ngo_projects.blank? and @local.ngo_support == 1 %>公益团队<%= h @local.ngo_name if @local.ngo_support == 1%>给这所学校提供<%unless @local.ngo_projects.blank?%><%= h @local.ngo_projects %><%end-%>支持。</p>
  </p>
  <%end%>
</div>

  <div class="school_box">
    <h3 class="label_lei" >学校相册</h3>
    <div class="contents clearfix">
      <% if @photos.blank? %><p class="content_lei">学校还没有照片，你可以<a class="buttonlink" href="<%=new_photo_url(:school => @school.id)-%>">上传照片</a>让大家更直观的了解学校情况。</p>
      <%else%>
      <p class="content_lei">你还有更多的学校照片吗？<a class="buttonlink" href="<%=new_photo_url(:school => @school.id)-%>">上传照片</a>分享给大家吧。</p>
      <% end %>
      <div class="clearfix">
      <%= render :partial => "gallery_photo", :collection => @photos %>
      </div>
      <%unless @photos.length < 8%><%= link_to "全部照片", photos_school_path(@school) %><%end%>
      
    </div>  
  </div>
   
  <div class="school_box">
    <h3 class="label_lei" >路线攻略</h3>
    <div class="contents clearfix">
      <%unless @school.guides.blank?%>
      <%= render :partial => 'guides', :object => @school.guides %>
      
      <p class="remark">&raquo; <%= link_to '提交攻略', new_school_school_guide_path(@school) %></p>
      <%else%>
      <p class="content_lei">学校还没有线路攻略，如果你去过学校的话，可以<%= link_to '写篇攻略', new_school_school_guide_path(@school),:class => "buttonlink"%>给大家提供方便。</p>
      <%end%>
    </div>
  </div>


  <div class="school_box">
    <h3 class="label_lei">用户分享</h3>
    <div class="contents clearfix">
    <%if @shares.blank?%>
    <p class="content_lei">学校还没有分享，<%= link_to "写篇分享", new_share_url,:class=>"buttonlink"%>让大家了解你和学校的小故事。</p>
    <%else%>
    <p><%= link_to "写篇分享", new_share_url,:class =>"buttonlink"%></p>
      <% @shares.each do |s| -%>
      <div style="clear:both;margin-bottom:1em;min-height:50px">
        <div style="float:left">
          <%= avatar_for(s.user, "large") %>
        </div>
        <div style="margin-left:60px;">
          <div><%= link_to s.user.login, user_url(s.user) %> 写了 <%= link_to h(s.title), share_url(s) %></div>
          <span style="color:#999; text-align:right">
            <%= s.hits %> 浏览/<%= s.comments_count %> 回复
          </span>
          <div class="summary">"<%= summary(s,36) %>……"</div>
        </div>
      </div>
      <% end -%>
    
    <%end%>
    </div>
  </div>

<div class="school_box">
  <h3 class="label_lei" >学校话题</h3>
  <div class="contents">
    <%= render :partial => "/topics/topics", :locals => {:board => @board, :topics => @topics} unless @topics.blank? %>
    <% if @topics.blank? %><p class="content_lei">学校还没有话题，你可以<%= link_to "写新话题", new_board_topic_url(@board),:class => "buttonlink" %></p><% end %>
    <%= link_to "浏览全部话题", board_topics_url(@board) if @topics.size > 5%>

  </div>
</div>  
  
<% content_for :sidebar do -%>
    
  <div class="school_sidebar">
    <h3 class="label_lei">地理位置</h3>
    <%= render :partial => 'map_lei', :locals => {:school => @school} %>
    <div class="clear"></div>
  </div>
  
  <div class="school_sidebar">
    <% unless @traffic.description_html.blank? %><a name='#moretraffic' class="more" style="">查看学校交通指南</a><%end%>
    <div id="moretraffic" style="display:none">
      <h3 class="label_lei">交通指南</h3>
      <div class="content_lei" style="margin-top:5px">
      <%=@traffic.description_html %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  
  <div class="school_sidebar" id="cityLatestMembers">
      <h3 class="label_lei">学校大使</h3>
      <div class="sidebar_inter">
        <% if @school.validated? -%>
          <%= render :partial => "/shared/user_list", :locals => {:users => @moderators} %>
        <% else -%>
          <div class="contents">
            <p>学校通过验证后才有学校大使</p>
          </div>
        <% end -%>
        
        <div style="margin:10px">
          <% if logged_in? && current_user.school_moderator? -%>
          <span>学校管理员功能</span>
            <% if @school.validated? -%>
              <%= link_to "取消验证", validate_school_url(@school, :t => 'remove'), :method => :put %>
            <% else -%>
              <%= link_to "通过验证", validate_school_url(@school, :t => 'add'), :method => :put %>
            <% end -%>| 
          <% end -%>
          <% if logged_in? && @school.edited_by(current_user) -%>
          <span>学校大使功能</span>
            <%= link_to "编辑学校", edit_school_url(@school) %>
          <% end -%>
          <% if logged_in? && @school.destroyed_by(current_user) -%>
            <%= link_to "删除学校", school_url(@school), :confirm => "确定删除这所学校?", :method => :delete %>
          <% end -%>
        </div>
      </div>
  </div>

  <div class="school_sidebar">
    <h3 class="label_lei">学校活动</h3>
    <div class="sidebar_inter">
      <p class="content_lei"><%= link_to '发起活动','/activities/new?school='+@school.id.to_s, :class => 'buttonlink'%></p>
    <% @activity.each do |a| -%>
    <p class="content_lei"><%= link_for_activity(a,false) %></p>
    <p>开始时间 <%= a.start_at.to_date%><span style="float:right">发起人<%= link_to a.user.login, user_url(a.user) %></span></p>
    
    <% end %>  
    </div>  
  </div>

  <% unless @wannas.blank? %>
  <div class="school_sidebar">
    <h3 class="label_lei">要去的用户</h3>
    <div class="sidebar_inter">
    <%= render :partial => "/shared/wanna", :collection => @wannas ,:locals =>{:school => '这所学校'}%>
    </div>  
  </div>
  <%end%>

  <% unless @visits.blank? %>
  <div class="school_sidebar">
    <h3 class="label_lei">去过的用户</h3>
    <div class="sidebar_inter">
    <%= render :partial => "/shared/visit", :collection => @visits ,:locals =>{:school => '这所学校'}%>
    </div>  
  </div>
  <%end%>
  
  <% unless @followers.blank? %>
  <div class="school_sidebar">
    <h3 class="label_lei">关注的用户</h3>
    <div class="sidebar_inter">
    <%= render :partial => "/shared/user_list", :locals => {:users => @followers} %>
    </div>
  </div>
  <% end %>
<% end -%>