<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end %>

<% @page_title = @title = "#{h @school.title}" -%>
<% @body_class = "schools" -%>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>

<% content_for :crumb do -%>
<li><%= link_to "学校", schools_url %></li>
<ul>
  <li><%= h @school.title %></li>  
</ul>
<% end -%>

<% content_for :subtitle do -%>
  <div class="subtitle">
    访问量：<%= @school.hits %><span style="color:#CCC">（自09.8.22）</span>, 活跃度：<%= @school.karma %>
  </div>
  <span class="postNew tipText">
<% if @school.visited?(current_user) == 'visited' -%>
  我去过
  <a href="javascript:void(0);" onclick="jQuery('#visit_date').show()">修改时间</a>
  <%= link_to "我没去过", novisited_school_url(@school), :method => :put %>

  <% elsif @school.visited?(current_user) == 'interesting' -%>
  <a href="javascript:void(0);" onclick="jQuery('#visit_date').show()">我去过</a>
  <%= link_to "不关注了", novisited_school_url(@school), :method => :put %>

  <% elsif @school.visited?(current_user) == false -%>
  <a href="javascript:void(0);" onclick="jQuery('#visit_date').show()">我去过</a>
  <%= link_to "我关注", interest_school_url(@school), :method => :put %>

  <% end -%>        
  </span>
  <div id="what_time">
  <% form_for :visited, :url => visited_school_url(@school), :html => {:method => 'put'} do |f| -%>
  <div id="visit_date" style="display:none">
    什么时间去的？<input id="visited_visited_at" name="visited[visited_at]" type="text" value="<%= @visited.visited_at.to_date if @visited && @visited.visited_at %>" class="vDateField" />
    <%= submit_tag "确定" %>
  </div>
  <% end -%>
  </div>
    
<% end -%>


<% content_for :sidebar do -%>
  <%= render :partial => "/shared/ad" %>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>地理位置</h3>
        <%= render :partial => 'school_map', :locals => {:school => @school} %>
      </div>
    </div>
  </div>
  
  
  <div class="box" id="cityLatestMembers">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>学校大使</h3>
        <span class="postNew"><a href="http://www.1kg.org/misc/school-moderator-guide" target="_blank" title="什么是学校大使？">什么是学校大使？</a></span>
        <% if @school.validated? -%>
          <%= render :partial => "/shared/user_list", :locals => {:users => @moderators} %>
        <% else -%>
          <div class="contents">
            <p>学校通过验证后才有学校大使</p>
          </div>
        <% end -%>
        <p class="remark">
          <%= link_to "我添加新大使了么？", moderator_school_url(@school) if @school.has_moderator?(current_user) %>
        </p>
      </div>
    </div>
  </div>

  <div class="box" id="cityLatestMembers">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>去过的用户</h3>
        <%= render :partial => "/shared/user_list", :locals => {:users => @visitors} %>
      </div>
    </div>
  </div>
  
  <div class="box" id="cityLatestMembers">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>关注的用户</h3>
        <%= render :partial => "/shared/user_list", :locals => {:users => @followers} %>
      </div>
    </div>
  </div>
  
  <p>&raquo; <%= link_to "前往#{@school.geo.name}", geo_url(@school.geo) %></p>
  
<% end -%>

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>学校信息<span style="position:relative;text-align:right;margin-left:10px;font-size:12px;font-weight:normal;color:#666" ><%= @school.created_at.to_date %>由<%= link_to @school.user.login, user_url(@school.user) %>提交, <%= validate_for_human @school %></span></h3>
        <div class="tabbedPanel" id="tabs">
          <%= render :partial => "show_tabmenu" %>
          <div class="panel setting">
            <div id='basic'>
              <form>
              <% if @basic -%>
              <p><label>地　　区</label><% if @school.geo.parent %><%= link_to @school.geo.parent.name.to_s,'/geos/'+@school.geo.parent.id.to_s %> > <% end %><%= link_to @school.geo.name.to_s,'/geos/'+@school.geo.id.to_s %></p>
              <p><label>地　　址</label><%= h @basic.address %>　　邮编： <% unless @basic.zipcode.blank? %><%= h @basic.zipcode %><%else%><span class="unknow">未知</span><%end-%> </p>
              
              <p><label>校　　长</label><% unless @basic.master.blank? %><%= h @basic.master %><%else%><span class="unknow">未知</span><%end-%>　　 电话：
              <% unless @basic.telephone.blank? %><%= h @basic.telephone %></p><%else%><span class="unknow">未知</span><%end-%>
              <% if @contact -%>
                <p><label>联&nbsp;&nbsp;系&nbsp;&nbsp;人</label><% unless @contact.name.blank? %><%= h @contact.name %><%else%><span class="unknow">未知</span><%end-%>
                                　　职务： <% unless @contact.role.blank? %><%= h @contact.role %><%else%><span class="unknow">未知</span><%end-%></p>
                <p><label>联系方式</label>
                <% unless @contact.telephone.blank? %>电话： <%= h @contact.telephone %>　<%end-%>
                <% unless @contact.email.blank? %>邮箱：<%= h @contact.email %>　<%end-%>
                <% unless @contact.qq.blank? %>QQ：<%= h @contact.qq %>　<%end-%>　</p>
              <% else -%>
                <p class="incomplete">没有联系人信息</p>
              <% end -%>
              <p><label>学校规模</label>年制：<%unless @basic.level_amount.blank?%><%= h @basic.level_amount %><%else%><span class="unknow">未知</span><%end-%>
              　　班级：<%unless @basic.class_amount.blank?%><%= h @basic.class_amount %><%else%><span class="unknow">未知</span><%end-%>
              　　学生：<%unless @basic.student_amount.blank?%><%= h @basic.student_amount %><%else%><span class="unknow">未知</span><%end-%>
              　　老师：<%unless @basic.teacher_amount.blank?%><%= h @basic.teacher_amount %><%else%><span class="unknow">未知</span><%end-%></p>
              <p><label>学校资源</label>图书：<%= radio_value @basic.has_library %> <%= "#{@basic.book_amount}本书，" if ! @basic.book_amount.blank? %>
                                                                             　　电脑：<%= radio_value @basic.has_pc %> <%= "#{@basic.pc_amount}台电脑" if ! @basic.pc_amount.blank? %>，上网 <%= radio_value @basic.has_internet %></p>  
              <% else -%>
              <p class="incomplete">没有学校基本信息</p>
              <% end -%>
              
              <% if @local %>
                <% if @local.ngo_support == 0 -%>
                <p><label>公益团队</label>没有</p>
                <% elsif @local.ngo_support == 2 -%>
                <p><label>公益团队</label>未知</p>
                <% elsif @local.ngo_support == 1 -%>
                <p><label>公益团队</label><%= h @local.ngo_name %> 　　公益项目：
                <%unless @local.ngo_projects.blank?%><%= h @local.ngo_projects %><%else%><span class="unknow">未知</span><%end-%></p>
                <% end -%>
              <% end %>
              </form>
            </div>

            <div id="guides">
              <form>
              <% if @school.county -%>
                <p><label>学校位于</label><%= @school.county.name %></p>
              <% end -%>
              <% if @traffic -%>
                <p><label>周边景点</label><%= h @traffic.sight %>　</p>
                <p><label>交通指南</label>
                  <div style="position:relative;top:-20px;left:83px;width:500px"><%=@traffic.description_html %></div>
                </p>
                <p>&nbsp;</p>
              <% else -%>
                <p class="incomplete">没有交通信息</p>
              <% end -%>
              </form>
            </div>

            <div id="need">
              <form>
              <% if @need -%>
              <% unless  @need.urgency.blank? -%><p><label>紧急需求</label><%= link_to_needs(@need.urgency) %></p><% end -%>
              <% unless  @need.book.blank? -%><p><label>图　　书</label><%= link_to_needs(@need.book) %></p><% end -%>
              <% unless  @need.stationary.blank? -%><p><label>文　　具</label><%= link_to_needs(@need.stationary) %></p><% end -%>
              <% unless  @need.sport.blank? -%><p><label>文体用品</label><%= link_to_needs(@need.sport) %></p><% end -%>
              <% unless  @need.cloth.blank? -%><p><label>衣　　物</label><%= link_to_needs(@need.cloth) %></p><% end -%>
              <% unless  @need.accessory.blank? -%><p><label>教　　具</label><%= link_to_needs(@need.accessory) %></p><% end -%>
              <% unless  @need.course.blank? -%><p><label>课　　程</label><%= link_to_needs(@need.course) %></p><% end -%>
              <% unless  @need.teacher.blank? -%><p><label>支教老师</label><%= link_to_needs(@need.teacher) %></p><% end -%>
              <% unless  @need.other.blank? -%><p><label>其它需求</label><%= link_to_needs(@need.other) %></p><% end -%>
              <% else -%>
              <p class="incomplete">没有学校需求信息</p>
              <% end -%>
              </form>
            </div>

            <div id="contact">
              <div style="clear:both"></div>
              <form>
              <% if @finder -%>
                <%unless @finder.name.blank? %><p><label>姓　　名</label><%= h @finder.name %>　</p><%end-%>
                <% if logged_in? && current_user.admin? %>
                <%unless @finder.email.blank? %><p><label>邮　　件</label><%= h @finder.email %>　</p><%end-%>
                <%unless @finder.phone_number.blank? %><p><label>联系电话</label><%= h @finder.phone_number %>　</p><%end-%>
                <% end %>
                <%unless @finder.qq.blank? and @finder.msn.blank?%><p><label>QQ/MSN</label><%= h @finder.qq %>/<%= h @finder.msn %>　</p><%end-%>
                <%unless @finder.survey_at.blank? %><p><label>收集时间</label><%= h @finder.survey_at.to_date if @finder.survey_at %>　</p><%end-%>
                <%unless @finder.note.blank? %><p style="clear:both"><label> 活动建议</label><%= h @finder.note %>　</p><%end-%>
              <% else -%>

                <p class="incomplete">没有收集人信息</p>

              <% end -%>
              </form>
            </div>
          </div>
        </div>
        <p class="remark">
          &raquo;
          <% if logged_in? && current_user.school_moderator? -%>
            <% if @school.validated? -%>
              <%= link_to "取消验证", validate_school_url(@school, :t => 'remove'), :method => :put %>
            <% else -%>
              <%= link_to "通过验证", validate_school_url(@school, :t => 'add'), :method => :put %>
            <% end -%>| 
          <% end -%>
          
          <% if logged_in? && @school.edited_by(current_user) -%>
            <%= link_to "编辑", edit_school_url(@school) %>
          <% end -%>

          <% if logged_in? && @school.destroyed_by(current_user) -%>
            | <%= link_to "删除", school_url(@school), :confirm => "确定删除这所学校?", :method => :delete %>
          <% end -%>
        </p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    jQuery("#tabs").tabs();
  </script>
  
  <% if false %>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>学校活跃度</h3>
        <div class="contents clearfix">
          <% render_chart_html '/swfs/FCF_Column3D.swf', '', @school.karma_chart,
              'myNextHTML', 600, 300, false do-%>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>路线攻略</h3>
        <div class="contents clearfix">
          <%= render :partial => 'guides', :object => @school.guides %>
        </div>
        <p class="remark">&raquo; <%= link_to '提交攻略', new_school_school_guide_path(@school) %></p>
      </div>
    </div>
  </div>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>学校照片</h3>
        <span class="postNew"><%= link_to image_tag("upload_photo.png"), new_photo_url(:school => @school.id) %></span>
        <div class="contents clearfix">
          <%= render :partial => "gallery_photo", :collection => @photos %>
        </div>
        <p class="remark">&raquo; <%= link_to "全部图片", photos_school_path(@school) %></p>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>用户分享</h3>
        <span class="postNew"><%= link_to image_tag("submit_share.png"), new_share_url %></span>
        <div class="contents">
          <%= render :partial => '/shares/shares' %>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => "/topics/latest_topics", :locals => {:title => "学校话题", :board => @board, :topics => @topics} %>