<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery-1.2.6.pack' %>
  <script type="text/javascript" charset="utf-8">
    jQuery.noConflict();
  </script>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end %>

<% @page_title = @title = "#{h @school.title}" -%>
<% @body_class = "schools" -%>

<% content_for :crumb do -%>
<li><%= link_to "学校", schools_url %></li>
<ul>
  <li><%= h @school.title %></li>  
</ul>
<% end -%>

<% content_for :subtitle do -%>
  <div class="subtitle">
    访问量：<%= @school.hits %><span style="color:#CCC">（自09.8.22）</span>, 活跃度：<%= @school.karma %>
  </div>
<% end -%>

<% content_for :sidebar do -%>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>地理位置</h3>
        <%= render :partial => 'school_map', :locals => {:school => @school} %>
      </div>
    </div>
  </div>
  
  
  <div class="box" id="cityLatestMembers">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>学校大使</h3>
        <span class="postNew"><a href="http://www.1kg.org/misc/school-moderator-guide" target="_blank" title="什么是学校大使？">什么是学校大使？</a></span>
        <% if @school.validated? -%>
          <%= render :partial => "/shared/user_list", :locals => {:users => @moderators} %>
        <% else -%>
          <div class="contents">
            <p>学校通过验证后才有学校大使</p>
          </div>
        <% end -%>
        <p class="remark">
          <%= link_to "我添加新大使了么？", moderator_school_url(@school) if @school.has_moderator?(current_user) %>
        </p>
      </div>
    </div>
  </div>
  
  <div class="box" id="cityLatestMembers">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>去过的用户</h3>
        <%= render :partial => "/shared/user_list", :locals => {:users => @visitors} %>
      </div>
    </div>
  </div>
  
  <div class="box" id="cityLatestMembers">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>关注的用户</h3>
        <%= render :partial => "/shared/user_list", :locals => {:users => @followers} %>
      </div>
    </div>
  </div>
  
  <p>&raquo; <%= link_to "前往#{@school.geo.name}", geo_url(@school.geo) %></p>
  
<% end -%>

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>学校信息</h3>
        <span class="postNew tipText">
          <% if @school.visited?(current_user) == 'visited' -%>
            我去过
            <a href="javascript:void(0);" onclick="$('visit_date').show()">修改时间</a>
            <%= link_to "我没去过", novisited_school_url(@school), :method => :put %>

          <% elsif @school.visited?(current_user) == 'interesting' -%>
            <a href="javascript:void(0);" onclick="$('visit_date').show()">我去过</a>
            <%= link_to "不关注了", novisited_school_url(@school), :method => :put %>

          <% elsif @school.visited?(current_user) == false -%>
            <a href="javascript:void(0);" onclick="$('visit_date').show()">我去过</a>
            <%= link_to "我关注", interest_school_url(@school), :method => :put %>

          <% end -%>        
        </span>
        <div style="text-align:right">
          <% form_for :visited, :url => visited_school_url(@school), :html => {:method => 'put'} do |f| -%>
          <div id="visit_date" style="display:none">
            什么时间去的？<input id="visited_visited_at" name="visited[visited_at]" type="text" value="<%= @visited.visited_at.to_date if @visited && @visited.visited_at %>" class="formText calendar" /> <img alt="Calendar" onclick="new CalendarDateSelect( $(this).previous(), {year_range:10} );" src="/images/calendar_date_select/calendar.gif?1225768469" class="calendar" />
            <%= submit_tag "确定" %>
          </div>
          <% end -%>
        </div>
        <div class="tabbedPanel" id="tabs">
          <%= render :partial => "show_tabmenu" %>
          <div class="panel setting">
            <div id='basic'>
              <form>
              <p><label>贡献</label><%= @school.created_at.to_date %>由<%= link_to @school.user.login, user_url(@school.user) %>提交, <%= validate_for_human @school %></p>
              <p><label>位置</label>
                <% if @school.geo.parent %>
                  <%= h @school.geo.parent.name %> > 
                <% end %>
                <%= h @school.geo.name %>
              </p>
              <% if @basic -%>

              <p><label>地址</label><%= h @basic.address %>，<%= h @basic.zipcode %> (电话：<%= h @basic.telephone %>)</p>
              <p><label>校长</label><%= h @basic.master %></p>
              <p><label>图书室</label><%= radio_value @basic.has_library %> <%= "#{@basic.book_amount}本书" if ! @basic.book_amount.blank? %></p>
              <p><label>电脑</label><%= radio_value @basic.has_pc %> <%= "#{@basic.pc_amount}台电脑" if ! @basic.pc_amount.blank? %>，上网 <%= radio_value @basic.has_internet %></p>
              <p><label>其他情况</label><%= h @basic.level_amount %>年级，<%= h @basic.class_amount %>班级，<%= h @basic.student_amount %>学生，<%= h @basic.teacher_amount %>老师</p>
              
              <% else -%>

              <p class="incomplete">没有学校基本信息</p>

              <% end -%>
              </form>
            </div>

            <div id="traffic">
              <form>
              <% if @school.county -%>
              <p><label>学校在</label><%= @school.county.name %></p>
              <% end -%>

              <% if @traffic -%>
              <p><label>周边景点</label><%= h @traffic.sight %></p>
              <p><label>交通方式</label><%= h @traffic.transport %></p>
              <p><label>行程时间</label><%= h @traffic.duration %> 小时</p>
              <p><label>费用</label><%= h @traffic.charge %> 元</p>
              <p><label>路程攻略</label><%= @traffic.description_html %></p>
              <% else -%>
              <p class="incomplete">没有交通信息</p>
              <% end -%>
              </form>
            </div>

            <div id="need">
              <form>
              <% if @need -%>
              <p><label>紧急需求</label><%= h @need.urgency %></p>
              <p><label>图书</label><%= h @need.book %></p>
              <p><label>文具</label><%= h @need.stationary %></p>
              <p><label>文体用品</label><%= h @need.sport %></p>
              <p><label>衣物</label><%= h @need.cloth %></p>
              <p><label>教具</label><%= h @need.accessory %></p>
              <p><label>课程</label><%= h @need.course %></p>
              <p><label>支教老师</label><%= h @need.teacher %></p>
              <p><label>其它需求</label><%= h @need.other %></p>
              <% else -%>
              <p class="incomplete">没有学校需求信息</p>
              <% end -%>
              </form>
            </div>

            <div id="local">
              <form>
              <% if @local -%>

                <p><label>当地收入来源</label><%= h @local.incoming_from %></p>
                <p><label>当地平均收入</label><%= h @local.incoming_average %> 元/年</p>

                <% if @local.ngo_support == 0 -%>
                <p><label>公益组织支持</label>没有</p>
                <% elsif @local.ngo_support == 2 -%>
                <p><label>公益组织支持</label>未知</p>
                <% elsif @local.ngo_support == 1 -%>
                <p><label>公益组织支持</label><%= h @local.ngo_name %></p>
                <p><label>开始时间</label><%= h @local.ngo_start_at.to_date if @local.ngo_start_at %></p>
                <p><label>联系人</label><%= h @local.ngo_contact %> <%= h @local.ngo_contact_via %></p>
                <% end -%>

                <div style="clear:both"><label>建议</label><%= @local.advice_html %></div>

              <% else -%>
                <p class="incomplete">没有当地信息</p>
              <% end -%>
              </form>
            </div>

            <div id="contact">
              <h3>学校联系人</h3>
              <form>
              <% if @contact -%>

                <p><label>姓名</label><%= h @contact.name %></p>
                <p><label>职务</label><%= h @contact.role %></p>
                <p><label>电话</label><%= h @contact.telephone %></p>
                <p><label>邮件</label><%= h @contact.email %></p>
                <p><label>QQ</label><%= h @contact.qq %></p>

              <% else -%>

                <p class="incomplete">没有联系人信息</p>

              <% end -%>
              </form>
              <div style="clear:both"></div>
              <h3>信息收集人</h3>
              <form>
              <% if @finder -%>

                <p><label>姓名</label><%= h @finder.name %></p>
                <p><label>邮件</label><%= h @finder.email %></p>
                <p><label>QQ</label><%= h @finder.qq %></p>
                <p><label>MSN</label><%= h @finder.msn %></p>
                <p><label>收集时间</label><%= h @finder.survey_at.to_date if @finder.survey_at %></p>

              <% else -%>

                <p class="incomplete">没有收集人信息</p>

              <% end -%>
              </form>
            </div>
          </div>
        </div>
        <p class="remark">
           &raquo;
          <% if @school.validated_by current_user -%>
            <% if @school.validated? -%>
              <%= link_to "取消验证", validate_school_url(@school, :t => 'remove'), :method => :put %>
            <% else -%>
              <%= link_to "通过验证", validate_school_url(@school, :t => 'add'), :method => :put %>
            <% end -%>
          <% end -%>
          
          <% if logged_in? && @school.edited_by(current_user) -%>
            | <%= link_to "编辑", edit_school_url(@school) %>
          <% end -%>

          <% if logged_in? && @school.destroyed_by(current_user) -%>
            | <%= link_to "删除", school_url(@school), :confirm => "确定删除这所学校?", :method => :delete %>
          <% end -%>
        </p>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    jQuery("#tabs").tabs();
  </script>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>学校照片</h3>
        <span class="postNew"><%= link_to image_tag("upload_photo.png"), new_photo_url(:school => @school.id) %></span>
        <div class="contents clearfix">
          <%= render :partial => "photos", :object => @photos %>
        </div>
      </div>
    </div>
  </div>

  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>用户分享</h3>
        <span class="postNew"><%= link_to image_tag("submit_share.png"), new_share_url %></span>
        <div class="contents">
          <% @shares.each do |s| -%>
          <div style="clear:both;margin-bottom:1em;min-height:50px">
            <div style="float:left">
              <%= avatar_for(s.user, "large") %>
            </div>
            <div style="margin-left:60px;">
              <div><%= link_to s.user.login, user_url(s.user) %> 写了 <%= link_to h(s.title), share_url(s) %></div>
              <div style="color:#999; text-align:right">
                <%= s.hits %> 浏览/<%= s.comments_count %> 回复
              </div>
            </div>
          </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => "/topics/latest_topics", :locals => {:title => "学校话题", :board => @board, :topics => @topics} %>
