<% content_for :heads do -%>
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
  <%= stylesheet_link_tag 'school' %>
  <%= javascript_include_tag 'swfupload' %>
  <%= javascript_include_tag 'handlers' %>
<% end %>

<% @page_title = "#{h @school.title}" -%>
<% @body_class = "schools" -%>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    $(".more").toggle(
      function () {$($(this).attr('name')).animate({ height: 'show' },'fast');$(this).attr('style','background-image:url(/images/less.gif)')},
      function () {$($(this).attr('name')).animate({ height: 'hide' },'fast');$(this).attr('style','background-image:url(/images/more.gif)')}
    );
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
  });

   
</script>

<% content_for :subtitle do -%>
<% end -%>
  <div id="meta">
    <div class="meta_left">
      <% if @school.main_photo -%>
      <%= link_to image_tag(@school.main_photo.public_filename(:small), :alt => @school.title), @school.main_photo.public_filename(:medium),:class => "school_main" %>
      <%else%>
        <% if logged_in? && @school.edited_by(current_user)%>
        <%= link_to image_tag("school_main_set.png"),school_url(@school)+"/edit?step=mainphoto" %>
        <%else%>
        <img class="school_main" src="/images/school_main.png"/>
        <%end%>
      <%end%>
      
    </div>
    <div class="meta_right">
      <%= render :partial => "status" %>
      <h1><%= h @school.title -%></h1>
      <!--<% unless @basic.has_internet==0 %><img src="/images/icon/online.png" title="这个学校能上网"><% end %>-->
      <div class="meta_info">
        <h5 style="font-size:14px;">活跃度</h5> <%= karma_star(@school.karma)-%> <span style="color:#999;font-size:10px">累计活跃度:<%=@school.karma%></span>
        <p>地址　<% if @school.geo.parent %><%= link_to @school.geo.parent.name.to_s,'/geos/'+@school.geo.parent.id.to_s %> > <% end %><%= link_to @school.geo.name.to_s,'/geos/'+@school.geo.id.to_s %> <%= h @basic.address %></p>
        <p><%= "邮编　#{@basic.zipcode}　 " unless @basic.zipcode.blank?%><span style="color:#999">最近更新: <%= @school.last_modified_at.to_date if @school.last_modified_at %></span></p>
        
      </div>
    </div>
    
    <div class="clearfix"></div>
  </div>
  
  <div class="school_box">
    <%if logged_in? && current_user.school_moderator? && @school.intro.nil?%>
    <p><span style="color:red">新条目！</span> 学校简介可以使用了，赶快为你管理的学校写一份简短生动的介绍吧。  <%= link_to "现在就写", edit_school_url(@school) ,:class => "adminbutton"%></p>
                                    
    <% elsif  @school.intro.nil? %>
    <%else%>
      <p class="content_text" style="float:left">学校简介</p>
        <p style="float:left;width:540px;font-size:15px;">
      <%= @school.intro %>
      </p>
      <div class="clearfix" style="clear:both;height:20px"></div>
    <% end %>
    
    <% if @need && !@need.urgency.blank? -%>
      <p class="content_text" style="margin-bottom:0">学校非常需要 <span class="important"><%= link_to_needs @need.urgency %><span></p>
    <% end -%>
    <% unless needlist(@school).blank? %>
    <div style="margin-bottom:-10px">
      <p class="content_text" style="float:left">学校<%="还" unless @need.urgency.blank?%>需要</p>
      <p style="float:left;width:540px;font-size:15px;">
    <%= needlist(@school)%>
    </p>
    <div class="clearfix" style="clear:both;height:20px"></div>
    </div>
    <%end%>
    
      <a class="more" name='#morecontact'>联系方式&更多学校信息</a>
    <div id="morecontact" style="display:none;padding:20px 0 20px 60px">
    
  <p class="content_text">学校<%= radio_value @basic.has_library %><%= "#{@basic.book_amount}本" if ! @basic.book_amount == 0 %>图书，<%= radio_value @basic.has_pc %><%= "#{@basic.pc_amount}台" if ! @basic.pc_amount == 0 %>电脑<% if @basic.has_pc != 0 %>，<%= '不' if @basic.has_internet == 0 %>能上网<%end%>。</p>
  <p class="content_text">学校有<%unless @basic.level_amount.blank?%><%= h @basic.level_amount %>个年级，<%end-%>

  <%unless @basic.class_amount.blank?%><%= h @basic.class_amount %>个班，<%end-%>
  <%unless @basic.student_amount.blank?%><%= h @basic.student_amount %>名学生，<%end-%>
  <%unless @basic.teacher_amount.blank?%><%= h @basic.teacher_amount %>名老师。<%end-%></p>
  
  <% if @local && @local.ngo_support != 2 -%>
  <p class="content_text">
  <% if @local.ngo_support == 0 -%>目前没有<% end %><%= '有' unless @local.ngo_projects.blank? and @local.ngo_support == 1 %>公益团队<%= h @local.ngo_name if @local.ngo_support == 1%>给这所学校提供<%unless @local.ngo_projects.blank?%><%= h @local.ngo_projects %><%end-%>支持。
  </p>
  <%end%>
  <br/>
    <% unless @basic.master.blank? %><p class="content_text">学校的校长是 <%= h @basic.master %><% unless @basic.telephone.blank? %>，学校电话是<%= h @basic.telephone %><%end-%>。</p><%end-%>
    <% if @contact && !@contact.name.blank? %>
      <p class="content_text">学校的联系人是 <%= h @contact.name %>
        <% unless @contact.role.blank? %>(<%= h @contact.role %>)<%end-%>
        <% unless @contact.telephone.blank? %>，电话 <%= h @contact.telephone %><%end-%>
        <% unless @contact.email.blank? %>，邮箱 <%= h @contact.email %><%end-%>
        <% unless @contact.qq.blank? %>，QQ <%= h @contact.qq %><%end-%>。
      </p>
    <%end-%>
    <% if @finder -%>
      <p class="content_text">
      <%unless @finder.name.blank? %>信息收集人是 <%= h @finder.name %><%end%>
      <% if logged_in? && current_user.admin? %>
      <%unless @finder.email.blank? %>，邮件<%= h @finder.email %><%end%>
      <%unless @finder.phone_number.blank? %>，电话<%= h @finder.phone_number %><%end%>
      <% end %>
      <%unless @finder.qq.blank? %>，QQ <%= h @finder.qq %><%end%>
      <%unless @finder.msn.blank? %>，MSN <%= h @finder.msn %><%end%>
           。</p>
      <% if @finder.survey_at %><p class="content_text">收集人是在 <%= h @finder.survey_at.to_date %> 收集的学校信息</p><%end%>
      <%unless @finder.note.blank? %><p class="content_text" style="clear:both">收集人的活动建议 <%= h @finder.note %></p><%end%>
    <% end -%>
    </div>
    
    
  </div>

  <div class="school_box">
    <h3 class="label_lei" >学校相册</h3>
    <div class="contents clearfix" style="padding-top:16px;">
      <div id="photos" class="clearfix">
      <%= render :partial => "gallery_photo", :collection => @photos[0,5] %>
      </div>
      <div id="upload_container"></div>
      <p class="content_text content_gary" style="text-align:right">
          学校有<%= @school.photos.size %>张照片 
        
          <%unless @photos.size < 6%><%= link_to "查看全部", photos_school_path(@school),:class => "buttonlink" %> | <%end%>
        
        <%= upload_button('upload_container', photo_upload_path_with_session('school',@school.id)) %>
        
      </p>
      <p class="content_gray" style="display:none;" id="upload_tip">
        上传遇到问题？试试 <%= link_to '传统方式', new_photo_path(:school_id => @school.id) %> 上传.
      </p>
    </div>  
  </div>
    
  <div class="school_box">
    <h3 class="label_lei">用户分享</h3>
    <div class="contents clearfix">
    <%unless @shares.blank?%>
      <%= render :partial => "/shared/share", :collection => @shares[0,4] %>
    <p class="content_gary"><% if @shares[4] %>查看<%= link_to "更多分享", shares_school_path(@school),:class => "buttonlink" %>，<% end %>去过这所学校吗？<%= link_to "写篇分享", new_share_url+"?school=#{@school.id}",:class =>"buttonlink"%>让大家了解你和学校的小故事。</p>
    <%else%>
    <p class="content_text">学校还没有分享，<%= link_to "写篇分享", new_share_url+"?school=#{@school.id}",:class=>"buttonlink"%>让大家了解你和学校的小故事。</p>
    <%end%>
    </div>
  </div>

  <div class="school_box">
    <h3 class="label_lei" >学校话题</h3>
    <div class="contents">
      <%= render :partial => "/topics/topics", :locals => {:topics => @topics} unless @topics.blank? %>
      <% if @topics.blank? %><p class="content_text">学校还没有话题，你可以<%= link_to "写新话题", new_board_topic_url(@board),:class => "buttonlink" %>。</p>
      <%else%>
      <p class="content_gary">有什么想说的，<%= link_to "写新话题", new_board_topic_url(@board),:class => "buttonlink" %>让大家看到。<%if @topics.size > 5%><%= link_to "全部话题", board_topics_url(@board),:class => "buttonlink" %><% end -%> </p>
      <% end %>
    </div>
  </div>  
  
<% content_for :sidebar do -%>

    <% if logged_in? && current_user.school_moderator? -%>
    <div id="admins">你是学校管理员，可以使用以下功能：<br/>
      <% if @school.validated? -%>
        <%= link_to "取消验证", validate_school_url(@school, :t => 'remove'), :method => :put ,:class => "adminbutton" %>
      <% else -%>
        <%= link_to "通过验证", validate_school_url(@school, :t => 'add'), :method => :put ,:class => "adminbutton"%>
      <% end -%>  
        <%= link_to "更新信息", edit_school_url(@school) ,:class => "adminbutton"%>
        <%= link_to "删除学校", school_url(@school), :confirm => "确定删除这所学校?", :method => :delete ,:class => "adminbutton"%>
        <%= link_to "添加大使", moderator_school_url(@school), :class => "adminbutton"%>
    </div>
    <% end -%>
    <% if logged_in? && @moderators.include?(current_user)&& !current_user.school_moderator?-%>
    <div id="admins">你是学校大使，可以使用以下功能：<br/>
      <%= link_to "更新信息", edit_school_url(@school) ,:class => "adminbutton"%>
      <%= link_to "添加大使", moderator_school_url(@school), :class => "adminbutton"%>
    </div>
    <% end -%>  


  <div class="school_sidebar">
    <%= render :partial => 'map_sidebar', :locals => {:school => @school} %>
    <div class="clear"></div>
  </div>
  
  <div class="school_sidebar">
    <% if @traffic && !@traffic.description_html.blank? %><a name='#moretraffic' class="more" style="">查看学校交通指南</a>
    <div id="moretraffic" style="display:none">
      <h3 class="label_lei">交通指南</h3>
      <div class="content_text" style="margin-top:5px">
      <%=@traffic.description_html %>
      </div>
    </div>
    <div class="clear"></div>
    <%end%>
  </div>

  <div class="school_sidebar">
      <h3 class="label_lei">学校大使</h3>
      <div class="sidebar_inter">
          <% unless @moderators.blank? %>
          <%= render :partial => "/shared/user_list", :locals => {:users => @moderators} %>
          <%else%>
                    学校还没有学校大使
          <%end%>
          <% unless @moderators.include? current_user %>
          <a class="more" name='#moderators_info'>什么是学校大使？如何申请？</a>
          <div style="clear:both;height:5px"></div>
          <div id="moderators_info" style="display:none">
            <!--<p style="color:#444">什么是学校大使？</p>-->
            <p>学校大使是可以为学校更新信息、申请社区资源的用户，<%= link_to "查看详情" ,"/misc/school-moderator-guide"%>。</p>
            <p style="text-align:right">现在就 <%= link_to '申请大使',apply_school_url(@school),:class => "adminbutton"%> </p>
          </div>
          <% end %>
      </div>
      <div class="clearfix"></div>
  </div>
  

     <div class="school_sidebar">
      <h3 class="label_lei">公益项目</h3>
      <div class="sidebar_inter">
        <%= '目前学校还没有公益项目' if @requirements.empty? %>
        <%= render :partial => "/shared/requirement", :collection => @requirements %>
        <div style="clear:both;height:5px"></div>
        <div id="project_info">
          <p>去看看<%= '还' unless @requirements.empty? %>有什么 
            <%= link_to "公益项目", requirement_types_url(:school_id => @school),:class => "adminbutton" %>
            可以申请。
          </p>
        </div>
      </div>
    </div>
    
    <div class="school_sidebar">
      <h3 class="label_lei">团捐</h3>
      <div class="sidebar_inter">
        <%= '目前还没有人为此学校发起团捐' if @co_donations.empty? %>
        <%= render :partial => "/shared/co_donation", :collection => @co_donations %>
        <div style="clear:both;height:5px"></div>
        <% if logged_in? && @moderators.include?(current_user) %>
        <div id="project_info">
          <p>
            您是学校大使，为此学校
            <%= link_to "发起团捐", new_co_donation_path(:school_id => @school), :class => "adminbutton" %>
          </p>
        </div>
        <% end %>
      </div>
    </div>
    
  
  <%if false%>    
  <div class="school_sidebar">
    <div class="sidebar_inter">
      <div id="donations_info">  
      <% if  @donation %>
      <p>这所学校正在参加积分换图书行动！</p>
      <p style="text-align:right"> <%= link_to '查看详情',"/donations"%> </p>
      <%else%>
      <p>为这所学校申请参加积分换图书行动！</p>
      <p style="text-align:right">现在就 <%= link_to '提出申请',"http://www.1kg.org/activities/100945"%> </p>
      <%end%>
      </div>
    </div>
  </div>
  <%end%>
  
  
  <div class="school_sidebar">
    <h3 class="label_lei">学校活动</h3>
    <div class="sidebar_inter">
    <%= render :partial => "/shared/activity", :collection => @activities unless @activities.nil?%>
    <p class="content_text" style="text-align:right"><%= link_to '发起活动','/activities/new?school='+@school.id.to_s, :class => 'buttonlink'%>和更多的人一起去学校。</p>
    </div>  
  </div>

  <% unless @wannas.blank? %>
  <div class="school_sidebar">
    <h3 class="label_lei">要去的用户</h3>
    <div class="sidebar_inter">
    <%= render :partial => "/shared/visit", :collection => @wannas ,:locals =>{:school => '这所学校'}%>
    </div>  
  </div>
  <%end%>

  <% unless @visits.blank? %>
  <div class="school_sidebar">
    <h3 class="label_lei">去过的用户</h3>
    <div class="sidebar_inter">
    <%= render :partial => "/shared/visit", :collection => @visits ,:locals =>{:school => '这所学校'}%>
    </div>  
  </div>
  <%end%>
  
  <% unless @followers.blank? %>
  <div class="school_sidebar">
    <h3 class="label_lei">关注的用户</h3>
    <div class="sidebar_inter">
    <%= render :partial => "/shared/user_list", :locals => {:users => @followers} %>
    </div>
  </div>
  <% end %>
<% end -%>