<% @page_title = "公益商品管理" -%>

<% content_for :sidebar do -%>

  <%= render :partial => "/admin/public/operation_list" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>所有商品</h3>
      <span class="postNew">++ <%#= link_to "添加新厂商", new_admin_product_url %></span>
      <div class="contents">
        <table border="0" cellspacing="5" cellpadding="5">
          <tr>
            <th>商家</th>
            <th>商品名称</th>
            <th>编号</th>
            <th>创建时间</th>
            <th>&nbsp;</th>
          </tr>
          <% @products.each do |product| %>
          <tr>
              <td><%= h product.vendor.title %>(<%= h product.vendor.slug %>)</td>
              <td><%= h product.title %></td>
              <td style="font-family:'Courier'"><%= h product.serial %></td>
              <td><%= h product.created_at.to_date %></td>
              <td>
                <%= link_to "编辑", edit_admin_product_url(product) %> |
                <%= link_to "删除", admin_product_url(product), :method => :delete, :confirm => "确定删除么？此操作不能恢复" %>
              </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>