<% @page_title = "商品管理" -%>

<% content_for :sidebar do -%>
  <h4>> <%= link_to "返回管理首页", admin_url %></h4>
  <%= render :partial => "/admin/shared/operation_list" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>添加商品</h3>
      <div class="contents">
        <% form_for :product, :url => admin_products_url do |f| %>
          <%= render :partial => "form", :object => f %>
          <%= submit_tag "添 加" %> 或 <%= link_to "返回", admin_vendors_url %>
        <% end %>
      </div>
    </div>
  </div>
</div>