<% @page_title = @title = "上传照片" -%>

<% content_for :sidebar do -%>
<% end -%>

<div class="newbox">
  <div class="contents">
    <% form_for @photo,:html => {:multipart => true} do |f| -%>
    <p><label class="label">照片标题</label><%= f.text_field :title, :size => 40, :class => "formText" %></p>
    <p><label class="label">上传照片</label><%= f.file_field :image %></p>
      <span style="margin-left:80px;color:#666">建议图片宽度不要大于580像素，文件大小不超过500kb。</span>
    <%= f.hidden_field :school_id %>
    <%= f.hidden_field :activity_id %>
    <%= f.hidden_field :execution_id %>
    <%= f.hidden_field :co_donation_id %>
    <p class="submit clearfix" style="margin-left:320px"><span class="btnWrap"><%= submit_tag "上 传" %></span></p>
    <% end -%>
  </div>
</div>
