<% @page_title = @title = @photo.title -%>

<% content_for :sidebar do -%>
  <div class="avatar">
    <%= link_to image_tag(@photo.user.avatar.url,:alt => @photo.user.login), user_url(@photo.user) %>
  </div>
  <p>
    <%= link_to @photo.user.login, user_url(@photo.user)  %> 上传于 <%= @photo.created_at.to_date %>
    <% if @photo.owned_by? current_user -%>
      (
      <%= link_to "编辑", edit_photo_url(@photo) %>
      <%= link_to "删除", photo_url(@photo), :method => :delete, :confirm => "此操作不能撤销，确定删除么？" %>
      )
    <% end -%>
  </p>
  <p>
    <%= "上传在 #{link_to(@photo.photoable.name,@photo.photoable)}" unless @photo.photoable.blank? %>
  </p>

  <div class="newbox">
    <h5><%= "#{link_to(@photo.photoable.name,@photo.photoable)}" unless @photo.photoable.blank? %>的其他照片： </h5> 
    <%= render :partial => "/photos/gallery", :collection => @photos,:locals => {:no_title => true}%>
    <div class="cleanfix" style="clear:both;"></div>
  </div>
<% end -%>

<div class="metadata">
</div>

<div class="box">
  <%= image_tag @photo.image.url(:max565x420) %>
  <br/>
  <%= @photo.description_html %>
</div>
