<% @page_title = "写评论" -%>

<% content_for :fullsize do -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>回帖</h3>
      <div class="contents">
      <% form_for :post, :url => board_topic_posts_url(@topic.board_id, @topic) do |f| -%>
        <%= render :partial => "form" %>
        <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "写好了，贴上去" %></span> 或 <%= link_to "返回", board_topic_url(@topic.board_id, @topic) %></p>
      <% end -%>
      </div>
    </div>
  </div>
</div>

<div class="box" id="topicSingle">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>原帖 <%= @topic.title %></h3>
      <div class="metadata">
        <div class="avatar"><%= link_to image_tag(@topic.user.avatar.url,:alt => @topic.user.login), user_url(@topic.user) %></div>
        <p>
          <%= link_to @topic.user.login, user_url(@topic.user)  %> 写于 <%= @topic.created_at.to_date %>
        </p>
      </div>
      <div id="entry">
        <%= @topic.body_html %>
        <p style="color:gray; text-align:right;">
          <% if @topic.last_modified_user -%>
            本帖由 <%= @topic.last_modified_user.login %> 最后修改于 <%= @topic.last_modified_at.to_date %>
          <% end -%>
        </p>
      </div>
    </div>
  </div>
</div>

<% end -%>