<table>
  <tr>
    <th width="50%">标题</th>
    <th class="center">作者</th>
    <th class="center">回复</th>
    <th class="center" width="25%">最后更新</th>
  </tr>
  <% @topics.each do |topic| -%>
  <tr class="<%= cycle("odd", "even") %>">
    <td>[<%= link_to topic.board.name_for_human, board_url(topic.board.id) %>] <%= link_to topic.title, board_topic_url(topic.board, topic) %></td>
    <td class="center"><%= link_to topic.user.login, user_url(topic.user.id) %></td>
    <td class="center"><%= topic.posts_count %></td>
    <td><%= link_to "#{topic.last_replied_datetime.to_date} by #{topic.last_replied_user.login}", board_topic_url(topic.board_id, topic, :anchor => (topic.last_post.id if topic.last_post)) %></td>
  </tr>
  <% end -%>
</table>