<% content_for :heads do -%>
  <style type="text/css">
  .hot{float:left}
  .hot img{height:68px;}
  .hot .school_list_photo{width:92px}
  .hot_box{width:620px;padding:0 10px ;margin-bottom:10px;border-bottom:1px #ccc dashed;color:#888}
  </style>
<% end %>

<% content_for :sidebar do -%>
  <%= render :partial => '/searches/search_box' %>

  <% unless @bulletins.blank? -%>
  <div class="newbox">
    <span class="span_title">公告</span>
    <div class="cleanfix" style="height:10px"></div>
    <% @bulletins.each do |b| %>
      <p style="padding-bottom:4px;margin-bottom:6px;border-bottom:1px #d0d0d0 solid"><%= link_to b.title, bulletin_url(b) %></p>
    <% end %>
    <p class="remark"><%= link_to "&raquo;  查看全部", bulletins_url %></p>
  </div>
  <% end -%>

  <div id="records" class="newbox">
    <div id="record_tabs">
          <span class="span_title" style="margin-right:8px">用户动态</span>
          <ul class="tab">
              <li class="tabs_more"><a href="#wannas">要去</a></li>
              <li class="tabs_more"><a href="#visiteds">去过</a></li>
          </ul>
          <div class="clearfix" style="height:10px;clear:both"> </div>
          <div id="wannas">
            <%= render :partial => "/shared/record", :collection => @wannas,:locals => {:school => nil} %>
          </div>
          <div id="visiteds">
            <%= render :partial => "/shared/record", :collection => @visits,:locals => {:school => nil} %>
          </div>
          <div class="cleanfix"></div>
    </div>
    <script type="text/javascript">
            jQuery("#record_tabs").tabs()
        </script>
  </div>
<% end -%>

<div class="cleanfix" style="clear:both;height:20px"></div>

<div class="hot_box">
  <span class="span_title">新提交学校</span>
  <div class="cleanfix" style="height:3px"></div>
  <% @new_schools.each do |school|%>
  <div class="hot">
    <%= main_photo_thumb(school) -%>       
    <div class="school_list_meta" style="width:155px;height:80px">
      <h5><%= link_to short_title(school,10), school_path(school)%></h5>
      <span><% if school.geo.parent %><%= link_to school.geo.parent.name.to_s,'/geos/'+school.geo.parent.id.to_s %> > <% end %><%= link_to school.geo.name.to_s,'/geos/'+school.geo.id.to_s %></span>
      <br/><span>学校需要: <%= school.need.tag_list.sort_by{rand}[0,3].join(' ')%> ...</span>
    </div>  
  </div>
  <%end%>
  <div class="hot" style="float:right">
    <div class="channel">
        <%= link_to "&raquo; 学校频道",schools_url,:style=> "font-size:14px;font-weight:bold" %>
        <br/>　共有<%= @school_count%>所学校</div>
  </div>
  <div  style="clear:both"></div>
</div> 

<div class="hot_box" style="height:210px">
  <span class="span_title">最受欢迎活动</span>
  <div class="cleanfix" style="height:3px"></div>
    <% @hot_activities.each do |activity|%>
      <div class="activity_list">
    <%= topic_photo_thumb(activity) -%>       
    <div class="activity_list_meta" style="width:172px;height:90px">
    <h5><%= link_to short_title(activity), activity_path(activity)%></h5>
    <span><%= %w(公益旅游 物资募捐 支教活动 其他活动 同城活动 网上活动)[activity.category] %></span><br/>
    <span><%= "#{activity.start_at.to_date} 至 #{activity.end_at.to_date}" %></span><br/>
    </div>
  </div>
  <%end%> 
  <div class="hot" style="float:right">
    <div class="channel">
        <%= link_to "&raquo; 活动频道",activities_url,:style=> "font-size:14px;font-weight:bold" %>
        <br/><%= @activity_count%>个活动在进行</div>
  </div>
  <div  style="clear:both"></div>
</div> 


<div class="cleanfix" style="height:20px"></div>
<div class="newbox">
  <div style="float:right"><span class="gary_span">&raquo; <%= link_to "进入团捐频道", co_donations_url%></span></div>
  <span class="span_title">物资团捐 <span style="color:#f09023;font-size:10px;position:relative;top:-8px">新功能!</span></span  
  <div class="cleanfix" style="height:20px"></div>
  <%= render :partial => "/shared/co_donation", :collection => @co_donations%>
  <div  style="clear:both"></div>
</div>


<div class="cleanfix" style="height:20px"></div>

<div class="newbox">
      <div style="float:right"><%= link_to "写篇分享", new_share_url,:class => "buttonjoin" %></div>
      <span class="span_title">热门分享</span> <a href="#" onclick="javascript:show_feed();return false"><%= image_tag(image_path("rss.png"),:style => "position:relative;top:2px") %></a>
      <%= render :partial => '/shared/atom', :locals => {:name => '订阅最新分享'} %>
      <div class="cleanfix" style="height:10px"></div>
      <div class="contents">
        <%= render :partial => "/shared/share", :collection => @recent_shares %>
      </div>
      <div class="remark"><%= link_to "&raquo; 更多分享", shares_url %></div>
      <div class="cleanfix" style="height:20px"></div>
</div>
