<% content_for :heads do -%>
  <style type="text/css">
  .hot{float:left}
  .hot img{height:68px;}
  .hot .school_list_photo{width:92px}
  .hot_box{width:620px;padding:0 10px ;margin-bottom:10px;border-bottom:1px #ccc dashed;color:#888}
  </style>
<% end %>

<% content_for :sidebar do -%>
  <%= render :partial => '/searches/search_box' %>

  <% unless @bulletins.blank? -%>
  <div class="newbox">
    <span class="span_title">公告</span>
    <div class="cleanfix" style="height:10px"></div>
    <% @bulletins.each do |b| %>
      <p style="padding-bottom:4px;margin-bottom:6px;border-bottom:1px #d0d0d0 solid"><%= link_to b.title, bulletin_url(b) %></p>
    <% end %>
    <p class="remark"><%= link_to "&raquo;  查看全部", bulletins_url %></p>
  </div>
  <% end -%>

  <div class="newbox">
    <a href="/minisite/mangexingdong"><img src='/images/mangexingdong/sidebar.jpg'/></a>
  </div>
  <div class="newbox">
    <span class="span_title">公益团队</span>
    <div class="cleanfix" style="height:10px"></div>
      <%= render :partial => "/shared/team", :collection => @teams %>
    <p class="remark"><%= link_to "&raquo;  查看全部", teams_url %></p>
  </div>

  <div id="records" class="newbox">
    <div id="record_tabs">
          <span class="span_title" style="margin-right:8px">用户动态</span>
          <ul class="tab">
              <li class="tabs_more"><a href="#wannas">要去</a></li>
              <li class="tabs_more"><a href="#visiteds">去过</a></li>
          </ul>
          <div class="clearfix" style="height:10px;clear:both"> </div>
          <div id="wannas">
            <%= render :partial => "/shared/record", :collection => @wannas,:locals => {:school => nil} %>
          </div>
          <div id="visiteds">
            <%= render :partial => "/shared/record", :collection => @visits,:locals => {:school => nil} %>
          </div>
          <div class="cleanfix"></div>
    </div>
    <script type="text/javascript">
            jQuery("#record_tabs").tabs()
        </script>
  </div>
<% end -%>

<div class="cleanfix" style="clear:both;height:20px"></div>

<div class="hot_box" style="height:210px">
  <span class="span_title">最受欢迎活动</span>
  <div class="cleanfix" style="height:3px"></div>
    <% @hot_activities.each do |activity|%>
    <div style="width:120px;height:160px;padding:5px;float:left">
      <div class="hot_activity_frame">
        <div class="hot_activity_image">
          <%= link_to image_tag(activity.main_photo.public_filename(:small), :alt => activity.title,:style => "height:110px"),activity_url(activity) if activity.main_photo%>
          <%= image_tag("activity_#{activity.category}.png", :alt => activity.title,:style => "height:110px")  unless activity.main_photo%>
        </div>
    </div>
      <p class="hot_activity_title"><%= link_to short_title(activity,15), activity_path(activity)%></p>
    </div>
  <%end%> 
  <div class="hot" style="float:right">
    <div class="channel">
      <%= link_to "&raquo; 活动频道",activities_url,:style=> "font-size:14px;font-weight:bold" %>
      <br/><%= @activity_count%>个活动在进行</div>
  </div>
  <div  style="clear:both"></div>
</div> 

<div class="newbox">
      <div class="clearfix"></div>
      <span class="span_title">公益项目</span>
      <div class="clearfix" style="height:10px"></div>
      <div class="contents clearfix">
        <%= render :partial => '/shared/project', :collection => @projects %>
      </div>
     <div class="remark"><%= link_to "&raquo; 查看全部公益项目 ",projects_url %></div>
</div>



<div class="cleanfix" style="height:20px"></div>
<div class="newbox">
  <div style="float:right"><span class="gary_span">&raquo;</span></div>
  <span class="span_title">物资团捐 <span style="color:#f09023;font-size:10px;position:relative;top:-8px">新功能!</span></span>
  <div class="cleanfix" style="height:20px"></div>
  <%= render :partial => "/shared/co_donation", :collection => @co_donations%>
  <div class="remark"><%= link_to "&raquo; 查看全部物资团捐 ",co_donations_url %></div>
  <div  style="clear:both"></div>
</div>

<div class="cleanfix" style="height:20px"></div>

<div class="newbox">
  <span class="span_title">最新推荐</span>
  <div class="cleanfix" style="height:10px"></div>
  <div class="contents">
    <%= render :partial => "/shared/vote", :collection => @voteds %>
  </div>
  <div class="cleanfix" style="height:20px"></div>
</div>
