<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
  <style type="text/css">#new_school img{height:68px}#new_school .school_list_photo{width:96px}</style>
<% end %>

<% content_for :sidebar do -%>

<%= render :partial => '/shared/search_box' %>

<% unless @bulletins.blank? -%>
<div class="newbox">
  <span class="span_title">公告</span>
  <div class="cleanfix" style="height:10px"></div>
  <% @bulletins.each do |b| %>
    <p style="padding-bottom:4px;margin-bottom:6px;border-bottom:1px #d0d0d0 solid"><%= link_to b.title, bulletin_url(b) %></p>
  <% end %>
  <p class="remark"><%= link_to "&raquo;  查看全部", bulletins_url %></p>
</div>
<% end -%>


  
<div id="records" class="newbox">
        <div class="clearfix" style="height:10px;clear:both"> </div>
        <span class="span_title2">要去学校的用户</span>
        <div class="clearfix" style="height:10px;clear:both"> </div>
        <div id="wannas">
          <%= render :partial => "/shared/visit", :collection => @wannas,:locals => {:school => nil} %>
        </div>
        <span class="span_title2">去过学校的用户</span>
        <div class="clearfix" style="height:10px;clear:both"> </div>
        <div id="visiteds">
          <%= render :partial => "/shared/visit", :collection => @visits,:locals => {:school => nil} %>
        </div>
        <div class="cleanfix"></div>
      </div>
</div>

<% end -%>



<div class="newbox">
  <span class="span_title">新被发现的学校</span>
<div class="cleanfix" style="clear:both;height:10px"></div>           
   <% @new_schools.each do |school|%>
  <div class="school_list">
    <%= main_photo_thumb(school) -%>
    <div class="school_list_meta" style="width:160px;">
      <h5><%= link_to h(school.title), school_path(school)%></h5>
      <span class="gary_span"><% if school.geo.parent %><%= school.geo.parent.name.to_s %> > <% end %><%=  school.geo.name.to_s %></span><br/>
      <span class="gary_span">学校需要: <%= school.need.tag_list[0,5]%> ...</span>
    </div>
  </div>
   <%end%>
   <p class="remark">还有</p>
   <div class="cleanfix" style="clear:both;height:10px"></div>           
</div>

<div class="newbox">
      <span class="span_title">热门分享</span> 
      <div style="margin: 8px 10px 0pt 0pt; float: right;"><%= link_to "写篇分享", new_share_url,:class => "buttonjoin" %></div>
      <div class="contents">
        <%= render :partial => "/shared/share", :collection => @recent_shares %>
      </div>
      <div class="remark"><%= link_to "&raquo; 更多分享", shares_url %></div>
      <div class="cleanfix" style="height:20px"></div>
</div>


<div class="newbox">
    <span class="span_title">热门话题</span>
    <div class="cleanfix" style="height:10px"></div>
    <div class="contents">
      <%= render :partial => "/shared/topic", :collection => @recent_topics %>
    </div>
    <div class="remark"><%= link_to "&raquo; 更多话题", topics_url %></div>
    <div class="cleanfix" style="height:20px"></div>
</div>
