<% content_for :sidebar do -%>
<div class="box" id="cityList">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>我要去</h3>
      <div class="contents">
        <% form_tag search_geos_url, :method => :get do -%>
          <%= text_field_tag 'city', "输入你想去的城市" %> <%= submit_tag "GO" %>
        <% end -%>
        <h3 style="background:none; padding:20px 0 0;"><strong>热门城市</strong></h3>
        <ul class="clearfix tipText"><%= @hot_cities.collect {|c| "<li>#{link_to c.name, geo_url(c)}</li>"} %><li>...</li></ul>
      </div>
      <p class="remark">&raquo; <%= link_to "所有城市", all_geos_url %></p>
    </div>
  </div>
</div>

<%= render :partial => "/shared/warmfund" %>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新活动</h3>
      <span class="postNew"><%= link_to image_tag("submit_activity.png"), new_activity_url %></span>
      <div class="contents">
        <table>
          <% @recent_activities.each do |a| %>
          <tr class="<%= cycle('odd', 'even') %>">
            <td>
              <%= image_tag("/images/stick.gif", :alt => "置顶活动", :title => "置顶活动") if a.sticky? %> <%= link_to h(a.title), activity_url(a) %> <span class="tipText">[<%= date_for_short a.start_at %>]</span>
            </td>
          </tr>
          <% end -%>
        </table>
        
      </div>
      <p class="remark">&raquo; <%= link_to "进行中的活动", ongoing_activities_url %> &raquo; <%= link_to "结束的活动", over_activities_url %></p>
    </div>
  </div>
</div>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>新居民</h3>
      <%= render :partial => "/shared/user_list", :locals => {:users => @recent_citizens } %>
    </div>
  </div>
</div>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>学校更新</h3>
      <span class="postNew"><%= link_to image_tag("submit_school.png"), new_school_url %></span>
      <div class="tabbedPanel">
        <ul class="tab">
          
          <li id="li-comments"><a href="javascript:void(0);" onclick="status_switch('comments')">新留言</a></li>
          <li id="li-upload"><a href="javascript:void(0);" onclick="status_switch('upload')">新上传</a></li>
          
        </ul>
        <div class="panel setting">
          <div id="list-upload" style="display:none">
            <%= render :partial => "/schools/recent_upload", :object => @recent_schools %>
          </div>
          <div id="list-comments" style="display:none">
            <%= render :partial => "/schools/last_10_updated_topics", :object => @recent_school_comments %>
          </div>
        </div>
      </div>
      <p class="remark">&raquo; <%= link_to "浏览全部学校", all_schools_url %></p>
    </div>
  </div>
</div>
           
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>最新活动分享</h3>
      <span class="postNew"><%= link_to image_tag("submit_share.png"), new_share_url %></span>
      <div class="contents">
        <%= render :partial => "/shares/shares", :object => @recent_shares %>
      </div>
      <p class="remark">&raquo; <%= link_to "浏览全部分享", shares_url %></p>
    </div>
  </div>
</div>

<script type="text/javascript">
$('li-comments').addClassName('current');
$('list-comments').setStyle('display:block');

function status_switch(status) {
  $('li-upload').removeClassName('current');
  $('li-comments').removeClassName('current');
  
  $('list-upload').setStyle('display:none');
  $('list-comments').setStyle('display:none');
  
  $('li-'+status).addClassName('current');
  $('list-'+status).setStyle('display:block');
}
</script>
