<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end %>

<% content_for :sidebar do -%>

<%= render :partial => '/shared/search_box' %>

<% unless @bulletins.blank? -%>
<div class="newbox">
  <span class="span_title">公告</span>
  <div class="cleanfix" style="height:10px"></div>
  <% @bulletins.each do |b| %>
    <p style="list-style:none;margin-bottom:4px"><%= link_to b.title, bulletin_url(b) %><span style="color:#666">[<%= b.created_at.to_formatted_s(:month_and_day) %>]</span></p>
  <% end %>
  <p class="remark"><%= link_to "&raquo;  查看全部", bulletins_url %></p>
</div>
<% end -%>
  
<div class="newbox">
  <span class="span_title">人气小组</span>
  <div class="cleanfix" style="height:10px"></div>
  <%= render :partial => "/groups/groups", :object => @hot_groups %>
  <p class="remark">&raquo; <%= link_to "更多小组", groups_url %></p>
</div>
<% end -%>

<div class="cleanfix" style="clear:both;height:20px"></div>           

<div class="newbox">
      <span class="span_title">最新用户分享</span> <span><%= link_to "全部分享", shares_url %></span>
      <div style="margin: 8px 10px 0pt 0pt; float: right;"><%= link_to "写篇分享", new_share_url,:class => "buttonjoin" %></div>
      <div class="contents">
        <%= render :partial => "/shared/share", :collection => @recent_shares %>
      </div>
      <div class="cleanfix" style="height:20px"></div>
</div>


<div class="newbox">
    <span class="span_title">热门话题</span> <span><%= link_to "全部话题", shares_url %></span>
    <div class="cleanfix" style="height:10px"></div>
    <div class="contents">
      <%= render :partial => "/shared/topic", :collection => @recent_topics %>      </div>
    <div class="cleanfix" style="height:20px"></div>
</div>
