<% content_for :heads do -%>
  <%= javascript_include_tag 'jQuery/jquery.ui.core.min' %>
  <%= javascript_include_tag 'jQuery/jquery.ui.tabs.min' %>
<% end %>

<% content_for :sidebar do -%>
<% unless @bulletins.blank? -%>
<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>公告</h3>
      <div class="contents">
        <ul>
          <% @bulletins.each do |b| %>
            <li style="list-style:none;margin-bottom:4px"><%= link_to b.title, bulletin_url(b) %><span style="color:#666">[<%= b.created_at.to_formatted_s(:month_and_day) %>]<span></li>
          <% end %>
        </ul>
      </div>
      <p class="remark"><%= link_to "&raquo;  查看全部", bulletins_url if @bulletins.length > 5%></p>
    </div>
  </div>
</div>
<% end -%>
  
<%= render :partial => '/shared/search_box' %>
<%= render :partial => "/shared/ad" %>

<% @page = Page.find_by_slug('special') -%>
<%if @page%>
<div class="box" id="search-front">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>专题活动</h3>
      <div class="contents"">
      <%= render :text => @page.body %>
      </div>
    </div>
  </div>
</div>

<%end%>


<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>人气小组</h3>
      <div class="contents clearfix">
        <%= render :partial => "/groups/groups", :object => @hot_groups %>
      </div>
      <p class="remark">&raquo; <%= link_to "更多小组", groups_url %></p>
    </div>
  </div>
</div>
<% end -%>

<div class="newbox">
      <span class="span_title">最近的活动</span> <a>全部活动</a>
      <span class="postNew"><%= link_for_new_activity %></span>
      <div class="cleanfix" style="clear:both;height:10px"></div>
      <div id = "activity_ajax">
      <%= render :partial => "/shared/activity", :collection => @activitys %>
      </div>
</div>
<div class="cleanfix" style="clear:both;height:20px"></div>           
<div class="newbox">
      <span class="span_title">最新用户分享</span> <span><%= link_to "全部分享", shares_url %></span>
      <span class="postNew"><%= link_to image_tag("submit_share.png"), new_share_url %></span>
      <div class="contents">
        <%= render :partial => "/shared/share", :collection => @recent_shares %>
      </div>
      <div class="cleanfix" style="height:20px"></div>
</div>

<div id="records" class="newbox">
      <span class="span_title">最新用户动态</span>
      
      <div class="clearfix">
        <p style="font-size:14px;color:#666">要去学校的用户</p>
        <%= render :partial => "/shared/visit", :collection => @wannas,:locals => {:school => nil} %>
      </div>
      
      <div class="clearfix">
      <p style="font-size:14px;color:#666">去过学校的用户</p>
        <%= render :partial => "/shared/visit", :collection => @visits,:locals => {:school => nil} %>
      </div>

      <div class="cleanfix"></div>
</div>