<% content_for :sidebar do -%>
  <%= render :partial => "/shared/current_user_profile" %>
  <%= render :partial => '/searches/search_box' %>
<% end -%>

<% content_for :tail do %>
  <script type="text/javascript" src="/javascripts/jQuery/jquery.cycle.pack.js"></script>
  <script type="text/javascript" src="/javascripts/jQuery/addLoad.js"></script>
<% end %>

<div id="headline">
  <ul style="overflow:hidden">
    <li><%= link_to image_tag("/images/announce/festcard09.jpg", :alt => "让爱继续 - 公益贺卡"), minisite_festcard09_index_url %></li>
    <li><%= link_to image_tag("/images/announce/kuailebox.jpg", :alt => "快乐盒子 - 爱心图书室"), minisite_kuailebox_index_url %></li>
    <li><%= link_to image_tag("/images/announce/lightenschool.jpg", :alt => "点亮学校－公益旅行攻略大赛"), minisite_lightenschool_index_url %></li>    
  </ul>
</div>

<div id="siteIntro" style="font-size:14px;">

  <p>多背一公斤是一种旅行方式。它以一种轻松快乐的方式，让旅行者在旅途中探访乡村学校，传递爱心和知识，同时为自己的旅程增添意义。</p>
  
  <p>多背一公斤由"传递—交流—分享"三个步骤组成：</p>
  <ul><li><strong>传递</strong> － 出行时多背一公斤，为乡村学校带去需要的物资。</li>
  <li><strong>交流</strong> － 在学校中与孩子们共同游戏和活动，传播知识，分享快乐。</li>
  <li><strong>分享</strong> － 归来后在1KG.org网站分享信息，方便更多人参与。</li></ul>
  
  <p><%= link_to "&raquo; 随便转转, 更多了解多背一公斤", public_look_url %></p>
  <p style="font-size:0.8em; margin-left:20px;">and if you're English speaker, please visit the <%= link_to "English introduction", "/misc/en-intro" %>.</p>
</div>
