<% content_for :sidebar do -%>

<div style="margin-left:-30px;-margin-left:0;width:290px">
  <%= render :partial => "/shared/login" %>
  <%= render :partial => '/searches/search_box' %>
</div>
  
<div class="remark"><%= link_to "English introduction", "/misc/en-intro" %></div>

<% end -%>

<div id="headline">
  <a href="/public"><img src="/images/title.jpg" alt="多背一公斤"></a>
</div>
<p style="text-align:center">
  <span class="gary_span">
    <%= link_to "<span class='counter'>#{@school_count.to_s}</span> 所学校信息", schools_url%> 被收录，
    <%= link_to "<span class='counter'>#{@activity_count.to_s}</span> 项公益活动", activities_url%> 正在进行
  </span>
</p>

<div class="siteIntro" style="width:190px;text-align:center">
  <a href="<%= schools_url %>"><img src="/images/school_channel.png" alt="学校频道"/></a>
<h6 style="font-size:15px;line-height:24px;">旅行中探访乡村学校</h6>
</div>

<div class="siteIntro" style="width:190px;text-align:center">
  <a href="<%= activities_url %>"><img src="/images/activity_channel.png" alt="活动频道"/></a>
  <h6 style="font-size:15px;line-height:24px;">发起和参与公益活动</h6>
</div>

<div class="siteIntro" style="width:190px;text-align:center">
  <a href="<%= activities_url %>"><img src="/images/group_channel.png" alt="小组频道"/></a>
  <h6 style="font-size:15px;line-height:24px;">认识志同道合的朋友</h6>
</div>
<div style="height:20px;clear:both"></div>
