<% content_for :sidebar do -%>
<div style="margin-left:-30px;-margin-left:0;width:290px">
  <%= render :partial => "/shared/login" %>
  <div class="newbox"><%= render :partial => '/shared/search_box' %><div>
<div style="clear:both;height:30px"></div>
</div>
<% end -%>

<div id="headline">
  <a href="/public"><img src="/images/title.jpg" alt="多背一公斤"></a>
</div>

<div class="siteIntro" style="width:260px">
  <h6 style="font-size:16px;line-height:38px">“发现+探访” <%= link_to "乡村学校",schools_url,:class=>"channel"%></h6>
  <div> 旅行中走访途径的学校，收集学校需求信息<br/>
  我们相信了解乡村学校真正的需求，才能给予他们更有效的帮助。
  </div>
  <p style="text-align:right;margin:5px">    <span class="gary_span">已收录 <%= link_to @school_count.to_s, schools_url,:style => "font-family:sans-serif;font-size:16px"%> 所学校信息</span>
  </p>
  
</div>

<div class="siteIntro" style="width:280px">
  <h6 style="font-size:16px;line-height:38px">“发起+参与” <%= link_to "公益活动",activities_url,:class=>"channel"%></h6>
  <div>哎呀呀 这段文字怎么写呢？
  </div>
<p style="text-align:right;margin:5px"><span class="gary_span"><%= link_to @activity_count.to_s, activities_url,:style => "font-family:sans-serif;font-size:16px"%> 项公益活动正在进行</span></p>
  
</div>
