<% @page_title = "公益小组管理" -%>

<% content_for :sidebar do -%>

  <%= render :partial => "/admin/shared/operation_list" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h2>公益小组</h2>
      <span class="postNew">++ <%= link_to "创建小组", new_admin_group_url %></span>
      <div class="contents">
        <table class="tableList">
          <tr>
            <th>名称</th>
            <th>城市</th>
            <th>创始人</th>
            <th>操作</th>
          </tr>
          <% @groups.each do |g| -%>
          <tr>
            <td><%= link_to g.title, group_url(g) %></td>
            <td><%= g.city.parent.name if g.city && g.city.parent %> <%= g.city.name if g.city %></td>
            <td><%= link_to g.creator.login, user_url(g.creator) %></td>
            <td>
              <%= link_to "编辑", edit_admin_group_url(g) %>
              <%= link_to "删除", admin_group_url(g), :method => :delete, :confirm => "确认删除么？" %>
            </td>
          </tr>
          <% end -%>
        </table>
      </div>
    </div>
  </div>
</div>