<% content_for :sidebar do -%>
  <%= render :partial => "user_sidebar" %>
<% end -%>

<div class="tabbedPanel">
  <%= render :partial => "user_menu" %>
  
  <div class="panel setting">
    <div class="block">
      <h3>城市讨论区</h3>
      <% @geo_roots.each do |g| -%>
        <div>
          <% if g.city_board -%>
            <%= link_to g.name, board_url(g.city_board.id) %>
          <% else -%>
            <%= g.name %>
          <% end -%>
          
          <% g.children.each do |c| -%>
            <div style="margin-left:10px;">
                <%= 
                    c.name
                %>
                ()
            </div>
          <% end -%>
        </div>
      <% end -%>
    </div>
  </div>
</div>