<p><label class="label">名称</label><%= form.text_field :title, :size => 30, :class => "formText" %> <%= error_message_on @activity, :title %></p>

<p><label class="label">地点</label><%= form.text_field :location, :size => 30, :class => "formText" %></p>
<p><label class="label">开始时间</label>
  <input id="activity_start_at" name="activity[start_at]" type="text" value="<%= @activity.start_at.to_date unless @activity.start_at.blank? %>" class="vDateField" /><%= error_message_on @activity, :start_at %></p>
  
<p><label class="label">结束时间</label>
  <input id="activity_end_at" name="activity[end_at]" type="text" value="<%= @activity.end_at.to_date unless @activity.end_at.blank? %>" class="vDateField" /> <%= error_message_on @activity, :end_at %></p>
  
<p><label class="label">报名截止</label>
  <input id="activity_register_over_at" name="activity[register_over_at]" type="text" value="<%= @activity.register_over_at.to_date unless @activity.register_over_at.blank? %>" class="vDateField" /></p>
  
<p><label class="label">人均费用</label><%= form.text_field :expense_per_head, :size => 10, :class => "formText" %> 元</p>
<p><label class="label">预期人数</label><%= form.text_field :expect_strength, :size => 10, :class => "formText" %> 人</p>
<p><label class="label">活动介绍</label><%= fckeditor_textarea("activity", "description_html", :toolbarSet => 'OneLine', :width => '90%', :height => '400px') %></p>
