<% if activities.size == 0 -%>
  <p style="text-align:center">暂时没有活动, <%= link_to "我要发起活动", new_activity_url %></p>
<% else -%>
  <table class="tableList">
    <thead>
      <tr>
        <th style="width:250px;">活动</th>
        <th>开始</th>
        <th>发起</th>
        <th>报名</th>
        <th>留言</th>
      </tr>
    </thead>
    <tbody>
      <% activities.each do |a| -%>
      <tr class="<%= cycle("odd", "even") %>">
        <td><%= link_for_activity a, true %>
        </td>
        <td><%= date_for_short(a.start_at) %></td>
        <td style="overflow:hidden"><%= link_to a.user.login, user_url(a.user), :class => "link" %></td>
        <td><%= a.participations.size %></td>
        <td><%= a.comments_count %></td>
      </tr>
      <% end -%>
    </tbody>
  </table>
<% end -%>
