<% @page_title = "所有进行中的活动" %>

<% content_for :crumb do -%>
<ul>
  <li>所有进行中的活动</li>
</ul>
<% end -%>


<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
  <span class="remark"><%= link_to "&raquo; 回到活动首页",activities_url%></span>
<%end%>



<div class="newbox">
      <div id="activity_tabs">
        
        <ul class="tab" >
          <% [["所有类别", "all"], ["公益旅行", 0],["支教", 2],["募捐", 1],['网络', 5],['同城', 4],['其他', 3]].each do |type| %>
            <li class="tabs_more"><%= link_to type[0], "##{type[1]}" %></li>
          <% end -%>
        </ul>
        <div class="cleanfix" style="clear:both;height:10px"></div>
        <div id = "all">
          <%= render :partial => "/shared/activity", :collection => @activities[0..7] %>
          <div class="remark"><%= link_to "&raquo; 查看更多",ongoing_activities_url,:target => "_blank" %>　<%= link_to '&raquo; 以往活动回顾',over_activities_url%></div>
        </div>
        
        <% [["公益旅行", 0],["募捐", 1],["支教", 2],['其他', 3],['同城', 4],['网络', 5]].each do |type| %>
        <div id ="<%= type[1]%>">
          <%= render :partial => "/shared/activity", :collection => @activities_hash[type[1]][0..7] %>
           <div style="color:#666;margin-right:20px;clear:both;text-align:right;">&raquo; 查看更多(<%= link_to "进行中",category_activities_url+"?c=#{type[1]}",:target => "_blank" %>/<%= link_to "已结束",category_activities_url+"?c=#{type[1]}&&over=true",:target => "_blank" %>)</div>
        </div>
        <% end -%>
      </div>
<script type="text/javascript">
  jQuery("#activity_tabs").tabs();
</script>
</div>
