<% @page_title = "发布新活动" -%>


<% content_for :crumb do -%>
<li>发布新活动</li>
<% end -%>

<% content_for :sidebar do -%>
<% end -%>

<% content_for :fullsize do -%>
  <div class="box" id="activitiesPostNew">
    <div class="boxOuter">
      <div class="boxInner">
        <h2>发布新活动</h2>
        <% form_for :activity, :url => activities_url do |f| -%>
        <p><label for="activity_category" class="label">类型</label>
          <select id="activity_category" name="activity[category]">
            <% Activity.categories.each_with_index do |p,i| -%>
              <option value="<%= i %>" <%= "selected=\"selected\"" if @activity.category==i %>><%= p %></option>
            <% end -%>
          </select>
        </p>
        <p><label for="departure_root" class="label">出发地</label><%= geo_select "activity", "departure", ["不限地域", "0"] %> <%= error_message_on @activity, :departure_id %></p>
        <p><label for="arrival_root" class="label">目的地</label><%= geo_select "activity", "arrival", ["不限地域", "0"] %> <%= error_message_on @activity, :arrival_id %></p>
        
        <%= render :partial => "form", :object => f %>  
        
        <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "发 布" %></span> <span class="btnWrap"><%= link_to "取 消", root_url %></span></p>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>