<% @page_title = "发布新活动" -%>

<% content_for :crumb do -%>
<li>发布新活动</li>
<% end -%>

<% content_for :sidebar do -%>
<% @page = Page.find_by_slug('activity-guide') -%>
  <%if @page%>
  <div class="newbox">
     <span class="span_title">活动编辑指南</span>
      <div class="clearfix" style="margin-bottom:10px"></div>
     <%= render :text => @page.body %>
  </div>
  <%end%>
<% end -%>


  <div class="newbox" id="activitiesPostNew">
        <span class="span_title">发布新活动</span>
        <div class="clearfix" style="height:10px"></div>
        <div class="clearfix" style="height:10px"></div>
        <% form_for :activity, :url => activities_url do |f| -%>
        <%= render :partial => "form", :object => f %>
 
        <p>
   请黄色输入框输入下面图片中显示的两个单词，<br/>如果看不清请点击输入框边上的 <%= image_tag "/images/icon/recaptcha.png",:style=>"position:relative;top:3px"%> 刷新单词
   <%= recaptcha_tags %>
        </p>
 
        <p class="submit clearfix"><span class="btnWrap"><%= submit_tag "发 布" %></span>
        <span><%= link_to "取 消 ", activities_url,:style => "width:100px"%></span> 带<span class="require">*</span>号的是必填项
        </p>
        <% end -%>
  </div>
