<% @page_title = "活动回顾" -%>



<% content_for :sidebar do -%>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
<span class="remark"><%= link_to raw("&raquo; 回到活动首页"),activities_url%></span>
<%end%>


<div class="newbox">
  <div id="activity_tabs">
  <h3>活动回顾</h3>
        <ul class="tab" >
          <% years = @archives.map{|a| a[:year]}.uniq%>
          <% years.each do |year|%>
          <li class="tabs_more"><%= link_to "#{year}年", "#months_of_#{year}",:id => "#{year}_year"%></li>
          <% end %>
        </ul>
         <% years.each do |year|%>
         <div class="cleanfix" style="clear:both;"></div>
         <div id = <%="months_of_#{year}"%> >
            <% @archives.find_all{|a| a[:year]==year}.each do |month|%>
            <%=link_to "#{month[:month]}月",(over_activities_url + "?date=#{year}-#{month[:month]}"),:id => "#{year}-#{month[:month]}",:class => "tabs_month"%>
            <% end %>
         </div>
         <%end%>
        <div class="cleanfix" style="clear:both;height:10px"></div>
    <script type="text/javascript">
    $("#activity_tabs").tabs();
    $(<%="'##{@date.year}-#{@date.month}'"%>).attr("style","color:#E98523");
    $(<%="'##{@date.year}_year'"%>).click();
    </script>
  </div>
 
  <div class="cleanfix" style="height:10px;clear:both"></div>
  <div class="contents">
  <%= render :partial => "public/activity", :collection => @activities%>
  <div class="cleanfix" style="height:10px;clear:both"></div>
  <%= customize_paginate @activities %>
  </div>
</div>
