<%if @photos%>

<% content_for :heads do -%>  
  <%= javascript_include_tag 'jquery.prettyPhoto' %>
  <%= stylesheet_link_tag 'prettyPhoto' %>
<% end %>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    jQuery("a[rel^='prettyPhoto']").prettyPhoto();
  });
</script>
<%end%>
<% @page_title = @title = @activity.title -%>

<% content_for :crumb do -%>
  <li>活动
    <ul>
      <li><%= @activity.title %></li>
    </ul>
  </li>
<% end -%>

<% content_for :sidebar do -%>
  <div class="newbox">
        <h3>
            &raquo;
            <% if @activity.join_closed? %>
              报名已结束            

            <% else -%>

              <% if @activity.joined?(current_user) -%>
                <%= link_to "我不去了", quit_activity_url(@activity), :method => :put %>
              <% else -%>
                <%= link_to "我要参加", join_activity_url(@activity) %>
              <% end -%>
            <% end -%>
        </h3>
  </div>

    <div class="newbox">
      <span class="span_title">参加活动的用户</span>
        <div class="cleanfix" style="height:10px"></div>
        <%= render :partial => "/shared/user_list", :locals => {:users => @activity.participators} %>
        <div class="cleanfix" style="height:20px"></div>
    </div>
  
  <div class="newbox">
      <span class="span_title">活动分享</span>
      <span class="postNew"><%= link_to image_tag("submit_share.png"),new_share_url + "?activity=#{@activity.id}" %></span>
      <div class="contents">
        <%= render :partial => "/shared/share", :collection => @shares %>
      </div>
      <div class="cleanfix" style="height:20px"></div>
  </div>
  
  <div class="newbox">
      <span class="span_title">活动相册</span>
      <span class="postNew"><%= link_to image_tag("upload_photo.png"),new_photo_url + "?activity=#{@activity.id}" %></span>
      <div class="contents clearfix" style="padding-top:16px;">
      <div class="clearfix">
      <%= render :partial => "/schools/gallery_photo", :collection => @photos%>
      </div>     
      </div>  
      <div class="cleanfix" style="height:20px"></div>
  </div>
<% end -%>

  <div class="box" id="activityInfo">
    <div class="boxOuter">
      <div class="boxInner">
        <h3></h3>
        <span class="postNew"></span>
        
        <div class="contents">
          <div style="text-align:right">
            <%= link_to "邀请友邻", invite_activity_url(@activity) %> | <a href="#topicCommentsList">查看留言</a>
            <% if @activity.edited_by current_user -%>
              | <%= link_to "编辑", edit_activity_url(@activity.id) %>
              | <%= link_to "删除", activity_url(@activity.id), :confirm => "确定要删除这个活动?", :method => :delete %>
            <% end -%>
            
            <% if @activity.sticky_by? current_user -%>
              | <%= link_to (@activity.sticky? ? "取消置顶" : "置顶"), stick_activity_url(@activity), :method => :put %>
            <% end -%>
          </div>
          
          <table id="activitiesInfo">
            <tr>
              <th>发起</th><td><%= avatar_for @activity.user, 'small' %> <%= link_to @activity.user.login, user_url(@activity.user.id) %> @ <%= @activity.created_at.to_date %></td>
              <th>类型</th><td><%= @activity.category_name %></td>
            </tr>
            <tr>
              <th>行程</th>
              <td>
              出发地: <%= @activity.departure_id==0 ? "不限" : @activity.departure.name %> /
              目的地: <%= @activity.arrival_id==0 ? "不限" : @activity.arrival.name %>
              </td>
              <th>时间</th><td><%= @activity.start_at.to_date %> 至 <%= @activity.end_at.to_date %></td>
            </tr>
            <% if @activity.school_id%>
            <tr>
              <th>相关学校</th><td colspan="3"><%= link_to School.find(@activity.school_id).title,school_url(School.find @activity.school_id) %></td>
            </tr>
            <%end%>        
            <tr>
            <%unless @activity.location.blank? %><th>地点</th><td colspan="3"><%= @activity.location %></td><%end%>
            </tr>
            <tr>
              <%unless @activity.expense_per_head.blank? %><th>人均消费</th><td><%= @activity.expense_per_head %> 元</td><%end%>
              <%unless @activity.expect_strength.blank? %><th>预期人数</th><td><%= @activity.expect_strength %> 人</td><%end%>
            </tr>
          </table>
          <%= @activity.description_html %>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => "/comments/comments", :object => @comments %>
  <%= render :partial => "/comments/form", :locals => {:commentable => @activity} %>