<% @page_title = @activity.title -%>

<% content_for :crumb do -%>
  <li>活动
    <ul>
      <li><%= @activity.title %></li>
    </ul>
  </li>
<% end -%>

<% content_for :sidebar do -%>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>

            &raquo;
            <% if (@activity.register_over_at && @activity.register_over_at < Time.now) || @activity.done? || @activity.end_at < Time.now %>
              报名已结束            

            <% else -%>

              <% if @activity.joined?(current_user) -%>
                <%= link_to "我不去了", quit_activity_url(@activity), :method => :put %>
              <% else -%>
                <%= link_to "我要参加", join_activity_url(@activity) %>
              <% end -%>
            <% end -%>
          </h3>
      </div>
    </div>
  </div>

  <div class="box" id="cityLatestMembers">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>参加这个活动的用户</h3>
        <%= render :partial => "/shared/user_list", :locals => {:users => @activity.participators} %>
      </div>
    </div>
  </div>
  
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>活动分享</h3>
        <span class="postNew"><%= link_for_new_share %></span>
        <div class="contents">
          <%= render :partial => "/shares/shares", :object => @shares %>
        </div>
      </div>
    </div>
  </div>
<% end -%>

  <div class="box" id="activityInfo">
    <div class="boxOuter">
      <div class="boxInner">
        <h2><%= @activity.title %></h2>
        
        
        <div class="contents">
          <div style="text-align:right">
            <a href="#topicCommentsList">查看留言</a> | 发布时间：<%= @activity.created_at.to_date %>
            <% if @activity.edited_by current_user -%>
              (<%= link_to "修改活动信息", edit_activity_url(@activity.id) %> | 
              <%= link_to "删除活动", activity_url(@activity.id), :confirm => "确定要删除这个活动?", :method => :delete %>)
            <% end -%>
            
            <% if @activity.sticky_by? current_user -%>
              <%= link_to (@activity.sticky? ? "取消置顶" : "置顶"), stick_activity_url(@activity), :method => :put %>
            <% end -%>
          </div>
          
          <table id="activitiesInfo">
            <tr>
              <th>发起人</th><td><%= avatar_for @activity.user, 'small' %> <%= link_to @activity.user.login, user_url(@activity.user.id) %></td>
              <th>类型</th><td><%= @activity.category_name %></td>
            </tr>
            <tr>
              <th>行程</th>
              <td colspan="3">
              出发地: <%= @activity.departure_id==0 ? "不限" : @activity.departure.name %> /
              目的地: <%= @activity.arrival_id==0 ? "不限" : @activity.arrival.name %>
              </td>
            </tr>
            <tr>
              <th>地点</th><td colspan="3"><%= @activity.location %></td>
            </tr>
            <tr>
              <th>时间</th><td><%= @activity.start_at.to_date %> 至 <%= @activity.end_at.to_date %></td>
              <th>报名截止</th><td><%= @activity.register_over_at.to_date unless @activity.register_over_at.blank?  %></td>
            </tr>
            <tr>
              <th>人均消费</th><td><%= @activity.expense_per_head %> 元</td>
              <th>预期人数</th><td><%= @activity.expect_strength %> 人</td>
            </tr>
          </table>

          <%= @activity.description_html %>
        </div>
      </div>
    </div>
  </div>

  <%= render :partial => "/comments/comments", :object => @comments %>
  
  <%= render :partial => "/comments/write", :locals => {:type => "activity", :value => @activity.id} %>
  
  <% if session[:from_activity_join] == true -%>
  <!-- Google Code for Participated Conversion Page --> <script language="JavaScript" type="text/javascript"> <!-- var google_conversion_id = 1048548952; var google_conversion_language = "zh_CN"; var google_conversion_format = "3"; var google_conversion_color = "ffffff"; var google_conversion_label = "M4laCLz6jwEQ2Kz-8wM"; //--> </script> <script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js"> </script> <noscript> <img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1048548952/?label=M4laCLz6jwEQ2Kz-8wM&amp;guid=ON&amp;script=0"/> </noscript>
  <% session[:from_activity_join] = nil %>
  <% end -%>