<% content_for :heads do -%>
  <%if @photos%>
    <%= javascript_include_tag 'jquery.prettyPhoto' %>
    <%= stylesheet_link_tag 'prettyPhoto' %>
    <script type="text/javascript" charset="utf-8">
      jQuery(document).ready(function(){
      jQuery("a[rel^='prettyPhoto']").prettyPhoto();
      $("#toggle_image").toggle(
        function(){$(this).text("隐藏图片？");$("#hide_image img").hide();return false;},
        function(){$(this).text("显示所有图片？");$("#hide_image img").show();return false;});
      });
    </script>
  <% end %>
  <%= javascript_include_tag 'swfupload' %>
  <%= javascript_include_tag 'handlers' %>
  <style type="text/css">
    .school_list_meta{width:160px;}
    #hide_image img{display:none}
    #hide_image img:first{display:inherit}
  </style>
  <meta name="description" content="来自多背一公斤的活动： <%= summary(@activity ,60)%>...">
<%end%>

<% @page_title = @title = @activity.title -%>

<% content_for :crumb do -%>
<p style="display:none">来自多背一公斤的活动： <%= summary(@activity ,60)%>...</p>
  <li>活动
    <ul>
      <li><%= @activity.title %></li>
    </ul>
  </li>
<% end -%>

<% content_for :sidebar do -%>
    <% if @activity.edited_by current_user -%>
    <div id="admins">
        你是<%= current_user.admin? ? '网站管理员' :'活动发起人' %>，可以使用以下功能：<br/>
       <%= link_to "邀请用户", invite_activity_url(@activity),:class => "adminbutton"%>
       <%= link_to "编辑活动", edit_activity_url(@activity.id),:class => "adminbutton" %>
       <%= link_to "删除活动", activity_url(@activity.id), :confirm => "确定要删除这个活动?", :method => :delete,:class => "adminbutton" %>
       <% if nil && (@activity.sticky_by? current_user) -%>
       <%= link_to (@activity.sticky? ? "取消置顶" : "置顶活动"), stick_activity_url(@activity), :method => :put ,:class => "adminbutton"%>
       <% end -%>
    </div>
    <% elsif current_user%>
    <div id="admins">
               你可以 <%= link_to "邀请好友", invite_activity_url(@activity),:class => "adminbutton"%> 来参加这个活动。
    </div>
    <% end -%>

    <div class="newbox">
      <span class="span_title">参加活动的用户</span> <span class="gary_span">有 <%= @activity.participators.size %> 人参加</span>
        <div class="cleanfix" style="height:10px"></div>
        <%= render :partial => "/shared/user_list", :locals => {:users => @activity.participators} %>
        <div class="cleanfix" style="height:20px"></div>
    </div>
  
  <% if @activity.school%>
  <div class="newbox">
    <span class="span_title">相关学校</span>
    <div class="cleanfix" style="height:10px"></div>
    <%= render :partial => "/shared/school", :collection => [@activity.school] %>
  </div>
  <%end%>
  
  <div class="newbox">
      <div style="float:right;"><%= link_to '写新贴子',new_share_url + "?activity=#{@activity.id}",:class => "buttonlink" %></div>
      <span class="span_title">活动贴子</span>
      <div class="contents">
        <%= render :partial => "/shared/share", :collection => @shares %>
      </div>
      <div class="cleanfix" style="height:20px"></div>
  </div>
<% end -%>

  <div class="newbox" >
        <div class="contents">        
          <div style="width:120px;float:right;text-align:right">
            <% if @activity.join_closed? %>
            <span class="gary_span">报名已结束 </span>
            <% else -%>
              <% if @activity.joined?(current_user) -%>
                <%= link_to "不参加了", quit_activity_path(@activity), :method => :put,:class => "buttonjoin" %>
                <div class="clearfix" style="height:4px"></div>
                <span class="gary_span">你参加了这个活动</span>
              <% else -%>
                <%= link_to "我要参加", join_activity_path(@activity) ,:class => "buttonjoin2" %>
                <div class="clearfix" style="height:4px"></div>
                <span class="gary_span">报名截止日期<br/><%= @activity.register_over_at.nil?? @activity.end_at.to_date : @activity.register_over_at.to_date%></span>
              <% end -%>
            <% end -%>
          </div>
          
          <div style="height:160px;width:160px;overflow:hidden;text-align:center;float:left">
            <%= link_to image_tag(@activity.main_photo.public_filename(:small), :alt => '活动主题图',:class => "activity_main"), @activity.main_photo.public_filename(:medium) if @activity.main_photo%>
            <%= image_tag("activity_#{@activity.category}.png", :alt => '活动主题图')  unless @activity.main_photo%>
          </div>   
          
          <div id="module_meta">
            <p>发起人: <%= avatar_for @activity.organizer, 'small' %> <%= link_to @activity.organizer.login, @activity.organizer %> <%= "[团队]" if @activity.by_team%>　在 <%= @activity.created_at.to_date %></p>
            <p>类型: <%= @activity.category_name %></p>
            <p>开始日期: <%= @activity.start_at.to_date %>  结束日期：  <%= @activity.end_at.to_date %></p>
            <p>出发地: <%= link_to @activity.departure_id==0 ? "不限" : @activity.departure.name,"/geos/#{@activity.departure_id?? @activity.departure.id : ''}" %> =>
              目的地: <%= link_to @activity.arrival_id==0 ? "不限" : @activity.arrival.name,"/geos/#{@activity.arrival_id?? @activity.arrival_id : ''}" %></p>
              <% if @activity.school%>
            <p>相关学校： <%= link_to @activity.school.title,school_url(@activity.school) %></p> 
              <%end%>
          </div>
          
          <div class="clearfix" style="margin-bottom:20px;"></div>

          <span class="span_title">活动介绍</span>
          <div class="clearfix" style="margin-bottom:5px;"></div>

          <div id="entry">
            <% if @activity.description_html.match '<img ' %>
              <div style="background-color:#eee;padding:4px">
                <span class="gary_span">为了便于阅读，默认只显示活动介绍中的一张图片，<a href="#"  id="toggle_image">显示全部？</a></span>
              </div>
            <% end %>
            <div id="hide_image">
            <%= (@activity.description_html) %>
            </div>
          </div>
          <%= render :partial => "/shared/share_to", :locals => {:text => summary(@activity ,60),:title => (@page_title.to_s + " - 多背一公斤")} %>
        </div>
  </div>
  
  <div class="newbox">
      <div style="float:right;">
        <%= upload_button('upload_container', photo_upload_path_with_session('activity',@activity.id)) %>
        <p class="content_gray" style="display:none;" id="upload_tip">
        上传遇到问题？试试 <%= link_to '传统方式', new_photo_path(:activity_id => @activity.id) %> 上传.
        </p>
      </div>
      <span class="span_title">活动相册</span>
      <div class="contents clearfix" style="padding-top:16px;">
      <div id="upload_container"></div>
      <div class="clearfix" id="photos">
      <%= render :partial => "/schools/gallery_photo", :collection => @photos%>
      </div>     
      </div>  
      <div class="cleanfix" style="height:20px"></div>
  </div>

  <%= render :partial => "/comments/comments", :object => @comments %>
  <%= render :partial => "/comments/form", :locals => {:commentable => @activity} %>