<p><label class="label">标题</label>
  <%= form.text_field :title, :size => 40, :class => "formText" %> <%= error_message_on @blog, :title %>
</p>

<p><label class="label">分类</label>
  <%= form.text_field :category, :size => 40, :class => "formText" %> <%= error_message_on @blog, :category %>
</p>


<p><label class="label">正文</label>
<%= fckeditor_textarea("blog", "body_html", :toolbarSet => 'OneLine', :width => '80%', :height => '400px') %>
</p>

