<% @page_title = "团队管理"%>

<% content_for :sidebar do -%>
  <h6>> <%= link_to "返回管理后台", admin_url %></h6>
  <%= render :partial => "/admin/public/operation_list" %>
<% end -%>

<table>
  <tbody>
      <tr>
        <th>团队</th>
        <th>申请人</th>
        <th>申请日期</th>
        <th>状态</th>
        <th width="10%">详细</th>
      </tr>
      <% @teams.each_with_index do |team,n|%>
      <tr>
        <td><%= team.validated? ? (link_to team.name,team_path(team)) : team.name %></td>
        <td><%= link_to "#{team.user.login}",user_path(team.user)%></td>
        <td><%= team.created_at.to_date %></td>
        <td>
          <% if team.validated?%><span style="color:#3333cc">已验证</span>
          <%else%><span style="color:#999">未通过</span> 
          <%end%>
        </td>
        <td><a class="more" href="#" onclick="javascript:$('.detail_n').not($('#detail_<%= n %>')).hide();$('#detail_<%= n %>').toggle();return false;"> 查看</a></td>
        
      </tr>
      <tr>
        <td  class="detail_n" colspan="5"  id='<%= "detail_#{n}" %>' style="display:none">
          <div style="float:right"><%= image_tag(team.avatar.url,:alt => team.login) %> </div>
          <h5>基本信息</h5>
          <p>
            类型： <%= team.category%>　　　
            所在位置： <%= "#{link_to team.geo.parent.name,team.geo.parent} >" if team.geo.parent%> <%= link_to team.geo.name,team.geo %>
          </p>
          <p>
            网址： <%= link_to team.website,team.website if team.website%>　　　
            人数： <%= team.member_number %> 
          </p>
          
          <h5>申请人</h5>
          <p>
          姓名：<%= team.applicant_name%>　　团队职位：<%= team.applicant_role%>　　电话：<%= team.applicant_phone%>　　邮箱： <%= team.applicant_email%>
          </p>
          
          <h5>团队介绍</h5>
          <p>
          <%= team.description %>
          </p>
          
          <% if team.validated? %>
          <h5>团队管理员</h5>
          共<%= team.managers.size%>人
          <p>
          <% team.managers.each do |manager| %>
            <%= link_to manager.login,manager%>
          <% end %>
          </p>
          <%end%>
          <div style="float:right"><%=  team.validated? ? (link_to "取消审核",cancel_admin_team_path(team),:class => "adminbutton",:method => :put) : (link_to "通过审核",validate_admin_team_path(team),:class => "adminbutton",:method => :put)%></div>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
            