<% @page_title = "添加商品 - 商城管理" -%>

<% content_for :sidebar do -%>

  <%= render :partial => "/admin/public/operation_list" %>
<% end -%>

<div class="box">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>添加商品</h3>
      <span class="postNew">++ <%= link_to "添加新商品", new_admin_good_url %></span>
      <div class="contents">
        <table border="0" cellspacing="5" cellpadding="5">
          <tr>
            <th>名字</th>
            <th>编号</th>
            <th>推荐</th>
            <th>单价</th>
            <th>操作</th>
          </tr>
          <% @goods.each do |g| %>
          <tr>
            <td><%= g.title %></td>
            <td><%= g.serial %></td>
            <td><%= image_tag("/images/accept.gif") if g.recommend? %></td>
            <td><%= g.price %></td>
            <td>
              <%= link_to "查看产品照片", admin_good_photos_url(g) %> | 
              <%= link_to (g.recommend? ? "取消推荐" : "推荐"), recommend_admin_good_url(g), :method => :put %> |
              <%= link_to "编辑", edit_admin_good_url(g) %>
            </td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>