<% @page_title = "#{h @school_guide.title} - 活动分享" -%>

<% content_for :sidebar do -%>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>Tags</h3>
        <div class="contents">
          <p>目的地城市 &raquo; <%= link_to @school.geo.name, geo_url(@school.geo) if @school.geo %></p>
          <p>探访学校 &raquo; <%= link_to @school_guide.school.title, school_url(@school) if @school %></p>
        </div>
      </div>
    </div>
  </div>
  
  <p>&raquo; <%= link_to "去#{@school_guide.user.login}的空间", user_url(@school_guide.user) %></p>
<% end -%>

<div class="box shareEntry">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= h @school_guide.title %></h2>
      <div class="metadata">
        <div class="avatar"><%= link_to avatar_for(@school_guide.user, "large"), user_url(@school_guide.user) %></div>
        <p>
          <%= link_to @school_guide.user.login, user_url(@school_guide.user) %> 写于 <%= @school_guide.created_at.to_date %> ...
          <%= @school_guide.hits %> 浏览
          <small>标签：
          <% @school_guide.tags.each do |tag| %>
            <%= link_to tag, '#' %>
          <% end %>
          </small>
        </p>
      </div>
      
      <div class="entry">
        <%= white_list(@school_guide.content) %>
      </div>
      
      <% if @school_guide.user == current_user -%>
      <p class="remark">&raquo; <%= link_to "编辑", edit_school_guide_url(@school, @school_guide) %> | <%= link_to "删除", school_guide_url(@school, @school_guide), :confirm => "确定删除么?", :method => :delete %></p>
      <% end -%>
    </div>
  </div>
</div>

<%= render :partial => "/comments/comments", :object => @comments %>

<%= render :partial => "/comments/write", :locals => {:type => "guide", :value => @school_guide.id} %>