<% @page_title = "#{h @school_guide.title} - 活动分享" -%>

<% content_for :sidebar do -%>
  <div class="box">
    <div class="boxOuter">
      <div class="boxInner">
        <h3>Tags</h3>
        <div class="contents">
          <p>目的地城市 &raquo; <%= link_to @school.geo.name, geo_url(@school.geo) if @school.geo %></p>
          <p>探访学校 &raquo; <%= link_to @school_guide.school.title, school_url(@school) if @school %></p>
        </div>
      </div>
    </div>
  </div>
  
  <p>&raquo; <%= link_to "去#{@school_guide.user.login}的空间", user_url(@school_guide.user) %></p>
  
  
<div class="box" id="vote_list">
  <div class="boxOuter">
    <div class="boxInner">
      <h3>推荐此攻略的用户</h3>
      <%= render :partial => "/shared/user_list", :locals => {:users => @voters} %>
    </div>
  </div>
</div>
<% end -%>

<div class="box shareEntry">
  <div class="boxOuter">
    <div class="boxInner">
      <h2><%= h @school_guide.title %></h2>
      <small style="margin-left:26px" >标签：
          <% @school_guide.tags.each do |tag| %>
            <%= link_to tag, tag_path(:tag => tag) %>
          <% end %>
      </small>
      <div class="metadata">
        <div class="avatar" style="margin:5px;padding:5px;border:1px #ffba8c dashed;"><p style="margin:0;padding:0;text-align:center"><a href="#vote_list" style="font-size:2.6em;color:#ff6600"><%= @school_guide.votes.count -%></a>次推荐</p> <% if logged_in? -%>
            <% if current_user.voted?(@school_guide) -%>
            您已推荐了
            <% else -%>
              <%= link_to '推荐攻略', vote_school_guide_path(@school_guide.school, @school_guide), :class => 'buttonlink' %>
            <% end -%>
          <% else -%>
            <%= link_to "登录推荐", new_session_path ,:class => "buttonlink" -%>
          <% end -%></div>
        <p>
          <%= @school_guide.hits %>  次浏览
        </p>
        
      </div>
      
      <div class="entry">
        <%= white_list(@school_guide.content) %>
        <p>
          
          <%= link_to @school_guide.user.login, user_url(@school_guide.user) %> 写于 <%= @school_guide.created_at.to_date %>
          
        </p>
      </div>
      
      <% if @school_guide.user == current_user -%>
      <p class="remark">&raquo; <%= link_to "编辑", edit_school_guide_url(@school, @school_guide) %> | <%= link_to "删除", school_guide_url(@school, @school_guide), :confirm => "确定删除么?", :method => :delete %></p>
      <% end -%>
    </div>
  </div>
</div>


<%= render :partial => "/comments/comments", :object => @comments %>

<%= render :partial => "/comments/write", :locals => {:type => "guide", :value => @school_guide.id} %>