<h2>操作列表 <%= title_suffix %></h2>
<ul>
  <li><%= link_to "管理员&版主设置", admin_users_path %> | <%= link_to "角色", admin_roles_path %> | <%= link_to "权限", admin_permissions_path %></li>
  <li><%= link_to "地区管理", admin_geos_path %></li>
</ul>