<% @page_title = @title = "申请项目:#{h @project.title}" %>

<% content_for :sidebar do -%>

<span class="remark"><%= link_to "&raquo; 回到#{@project.title}项目",requirement_type_url(@project)%></span>
  <div class="cleanfix" style="clear:both;height:20px"></div> 
<% end -%>

<% form_for :sub_project, :url => project_sub_projects_url(@project) do |f| -%>

<div class="newbox">
      <span class="span_title">一 确认此项目的反馈要求</span>
      <div class="contents" style="padding-left:10px">
        <p><%= @project.feedback_require.gsub("\n", '<br />') %>
        <br/><%= "需要在 #{@project.feedback_at.to_date} 之前完成反馈" unless @project.feedback_at.nil?%></p>
        <p><%= f.check_box :agree_feedback_terms %> 我承诺按照以上要求进行项目反馈 <%= error_message_on @sub_project, :agree_feedback_terms %></p>
      </div>
</div>

<div class="newbox">
      <span class="span_title">二 填写申请表</span>
      <p class="postNew"></p>
      <div class="contents">
        <p><h6>接受申请的学校学校: <span class="require">*</span></h6>
        <%= f.select :school_id, (@school.nil? ? [['学校名称','']] : [[@school.title,@school.id]]) + @schools.collect{|s| [s.title, s.id]}, {:include_blank => false},:style => "color:#666"%>
        <a onclick="javascript:$('#why').toggle()" href="javascript:return false">没找到你想要的学校？</a><%= error_message_on @sub_project, :school_id %>
        <br/>
        <span id="why" style="display:none;color:#666">如果下拉菜单里没有你要找的学校，说明你<%= @project.for_envoy? ? "没有去过或关注那所学校，请先到学校页面进行关注。" : "并不是那所学校大使。"%> </span>
        </p>
          
        <div id="school_info" class="caution" style="display:none ">申请前请先与学校取得联系，确认学校邮寄地址、联系电话、学生人数、教师人数和班级数。<br/>如果与网站上的<a id="school_link"> 学校信息 </a>不一致，请先 "更新学校信息"。</div>
            
        <p><h6>你申请该项目的原因：<span class="require">*</span></h6>
          <span>学校目前的情况是怎样的？为什么需要申请这个项目？这个项目能为学校/学生带来什么改变?</span>
          <br/><%= error_message_on @sub_project, :reason %>
          <%= f.text_area :reason, :cols => 80, :rows => 6 %>
        </p>
          
        <p>
          <h6>你的时间计划：<span class="require">*</span></h6>
          <span>从什么时候开始，到什么时候结束?</span>
          <br/><%= f.text_field :start_at, {:class => "vDateField"} %> 至 <%= f.text_field :end_at, {:class => "vDateField"} %><br/><%= error_message_on @sub_project, :time %>
        </p>
        
        <p>
          <h6>你的计划：<span class="require">*</span></h6>
          <span>以时间为线索，请告诉我们，你每个时间段将完成的工作内容</span>
          <br/><%= error_message_on @sub_project, :plan%><%= f.text_area :plan, :cols => 80, :rows => 6 %>
        </p>
        
        <p>
          <h6>资金预算：</h6>
          <span>如果项目提供资金，请告诉我们你们打算怎么使用这笔钱？ 如：交通费、物资采购费等。</span>
          <br/><%= f.text_area :budget, :cols => 80, :rows => 6 %>
        </p>
        
        <p>
          <h6>困难及解决办法：</h6>
          <span>在实际项目中你可能会遇到什么困难？你打算怎么解决？</span>
          <br/><%= f.text_area :problem, :cols => 80, :rows => 6 %>
        </p>
        
      </div>
    
</div>


<div class="newbox">
      <span class="span_title">三 申请人信息</span>
      <div class="contents" style="padding-left:10px">
        <p><label class="label">网站用户名</label>
          <%= f.hidden_field :user_id, {:value => current_user.id} %>
          <%= h current_user.login %>
        </p>
        
        <p><label class="label">电话<span class="require">*</span> </label><%= f.text_field :telephone %><%= error_message_on @sub_project, :telephone %></p>
      </div>
</div>
<br/>
<p style="margin-left:40px"><%= submit_tag "申 请" %>  <%= link_to "取 消 ", project_url(@project)%></p>
                                                    
        <script type="text/javascript">
        $(document).ready(DateTimeShortcuts.init)
        //根据申请学校调整更新信息提示的学校连接
        $('#apply_school_id').delayedObserver(0.25, function(element, value){$("#school_info").hide();$("#school_link").attr("href",("/schools/" + value));if (value != ''){$("#school_info").show()} })
        </script>    
        
<% end -%>
