<% @page_title = "发送新的消息" %> 

<% content_for :crumb do -%>
  <li><%= link_to @recipient.login, user_url(@recipient) %></li>
  <ul>
    <li>给<%= @recipient.login %>发站内消息</li>
  </ul>
<% end -%>

<div class="newbox">
      <h3>发送站内消息</h3>
      <div class="contents">
        <% form_for :message, :url =>  {:controller => "sent", :action => "create"} ,:html => {:method => :put} do |form| %>
          <p>
            <strong><%= form.label :to, "发给:" -%> <%= h @recipient.login %></strong>
            <%= form.hidden_field :to, :value => @recipient.id %>
          </p>
    
          <p>
            <strong><%= form.label :subject, "主题:" -%></strong>
            <%= form.text_field :subject, :size => 40 ,:value => "你的公益项目申请被拒绝了" -%> <%= error_message_on @message, :subject %>
          </p>
    
          <p>
            <strong><%= form.label :content, "内容:" -%></strong><%= error_message_on @message, :content %>
            <br />
            <%= form.text_area :content, :cols => 60 ,:rows => 16,:value => "#{@recipient.login}，你好：\n\n感谢你为#{@sub_project.school.title}申请了公益项目“#{@sub_project.project.title}”。\n但是很遗憾，我们没有通过你的申请，原因是：\n" %>
          </p>
          <input name="back_url" type="hidden" value="<%= manage_project_url(@sub_project.project)%>">
          <p><%= form.submit "发送" ,:class => "surebutton" -%></p>
        <% end %>
      </div>
</div>

