<div id="show_feed" style="display:none">
  <link rel="alternate" href="<%= url_for(:format => :atom) %>" type="application/atom+xml" title="atom">
  <a href="#" style="float:right" onclick="javascript:show_feed();return false;">关闭</a>
  <span><%= name %>： </span>
  <a href="<%= url_for(:host => 'www.1kg.org', :format => :atom) %>" style="position:relative;top:3px"><%= image_tag(image_path("atom.gif")) %></a> 
  <a href="http://fusion.google.com/add?feedurl=<%= url_for(:host => 'www.1kg.org', :format => :atom) %>"><img alt="google reader" src="/images/google.gif" style="position:relative;top:3px"></a><br>
  
</div>