<dl class="card">
  <dt><%= link_to image_tag(card.image.url(:max240x180), :alt => card.title), photo_url(card), 
        :rel => "prettyPhoto[card]",:title => card.title %></dt>
  <% unless defined?(no_title)%>
  <dd>
    <span id="photo_title_<%= card.id %>"><%= short_title(card,16) %></span>
    <% if logged_in? && card.owned_by?(current_user) %>
      <%= text_field_tag :title, card.title, 
          :onkeydown => "return photo_edit_key_down(event, '#{card.id}');",
          :style => "display:none;", :id => "title_edit_#{card.id}", :size => 15  %>
      (<%= link_to_function '编辑', "switch_photo_edit('#{card.id}'); return false;", :id => "edit_button_#{card.id}" %>|<%= link_to '删除', card, :confirm => "确定要删除吗？", :method => 'delete' %>)
    <% end %>
  </dd>
  <%end%>
</dl>
