<div class="school item">
  <% managers = school.managers %>
  <div class="item-left">
    <%= image_tag school.image.url -%>       
  </div>
  <div class="item-right">
    <h6><%= link_to h(school.title), school_path(school)%></h6>
    <span class="gary_span">活跃度</span>
    <%= raw(karma_star(school.last_month_karma)) -%>
  <% unless managers.nil? %><br/><span class="gary_span">学校大使:<% managers[0,2].each do |u| %><%= link_to u.login, user_url(u)  %> <%end%><%= "..." if managers[2]%></span><%end-%>
  </div>
</div>
