<div class="topic">
    <h6><%= link_to h(topic.title), topic_url(topic) %></h6>
    <div class="summary">“<%= summary(topic,38) %>……”</div>
    <% if topic.comments_count == 0%>
    <small style="color:#999"> <%= link_to topic.user.login, user_url(topic.user) %> 写于 <%= topic.created_at.to_date %> </small>
    <% else %>
    <small style="color:#999"> 共 <%= topic.comments_count %> 篇回复　 <%= link_to User.find(topic.last_replied_by_id).login, user_url(User.find(topic.last_replied_at)) %>  最后回复于 <%= topic.last_replied_at.to_date %> </small>
    <%end%>
</div>
