<div class="share">
  <div style="float:left">
    <%= image_tag(vote.user.avatar.url,:alt => vote.user.login) %>
  </div>
  <div style="margin-left:60px;">
  <div class="sharetitle">
    <%= link_to vote.user.login, user_url(vote.user) %>
    
    <% if vote.is_a?(Topic) %>
    的帖子
      <%= link_to vote.title, share_path(vote) %>
    <% elsif vote.is_a?(Topic) %>
    的话题
      <%= link_to vote.title,topic_path(vote) %>
    <% end %>
    
  </div>
    <div class="summary">“<%= summary(vote,40) %>……”</div>
    <small style="color:#999">
      <% voters = vote.voted_by %>
      <% first_voter = voters.pop %>
      来自 <%= voters.map{ |user| link_to "#{user.login}、", user_url(user)} %><%= link_to first_voter.login,user_url(first_voter)%> <%= "...等#{vote.votes.count}人" if voters[1]%>的推荐　 
    </small>
  </div>
</div>