<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="utf-8">
  <head>
    <title><%= @page_title.to_s + " - 多背一公斤" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
 		<link type="text/css" rel="stylesheet" href="/stylesheets/screen.css" media="screen, projection" />
    <!--[if lt IE 7]>
    <link type="text/css" rel="stylesheet" href="/stylesheets/patches/win-ie6-below.css" media="screen, projection" />
    <![endif]-->
    <!--[if gte IE 7]>
    <link type="text/css" rel="stylesheet" href="/stylesheets/patches/win-ie7-up.css" media="screen, projection" />
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="/stylesheets/temp.css" media="screen, projection" />
    
    <%= javascript_include_tag :defaults %>
    <%= calendar_date_select_includes "red", :locale => "zh" %>
    <%= javascript_include_tag :fckeditor %>
    <%= javascript_include_tag 'jQuery/jquery-1.2.6.pack' %>
    <script type="text/javascript" charset="utf-8">
      jQuery.noConflict();
    </script>
    <%= yield :heads %>
  </head>
  <body id="org-1kg" class="<%= @body_class.to_s %>">
		<div id="header">
			<div class="wrapper">
        <h1 id="logo" class="span-15">
          <a href="/"><span><!-- for logo --></span>多背一公斤</a>
        </h1>
      </div>
    </div>
    
<div id="navWrap">
  <div id="nav">
    <ul>
      <li class="home"><%= link_to "首页", root_url %></li>
      <li class="home"><%= link_to "小组", groups_url %></li>
      <li class="home"><%= link_to "同城", my_city_url %></li>
      <li class="home"><%= link_to "学校", schools_url %></li>
      <li class="home"><%= link_to "公益贺卡", "/minisite/postcard" %></li>
      <li class="home"><%= link_to "公益月饼", minisite_mooncake_index_url %></li>
      <li class="home"><a href="/misc/community-guide" target="_blank">帮助</a></li>
    </ul>
    <p style="float:right">
    <% if logged_in? -%>
    欢迎 <%= link_to current_user.login, user_url(current_user) %>，<%= inbox_link("消息") %> | <%= link_to "设置", setting_url %> | <%= link_to "注销", logout_url %>
    <% else -%>
    <%= link_to "登录", login_path(:to => CGI.escape(request.request_uri)) %> | <%= link_to "注册", signup_path(:to => CGI.escape(request.request_uri)) %>
    <% end -%>
    </p>
    
  </div>
  
  <div id="breadcrumb">
    <h3>你在这里:</h3>
    <ul>
      <li><a href="/">首页</a>
        <ul>
          <%= yield :crumb %>
        </ul>
      </li>
    </ul>
  </div>
</div>
			
<div class="wrapper">
	<div id="content">
	  <div id="content-layout" class="clearfix">
	    <% if flash[:notice] -%>
					<div class="flashNotice notice"><%= flash[:notice] %></div>
			<% end -%>
			
      <div id="page-title" class="clearfix">
        <h1><%= @title.to_s %></h1>
        <%= yield :subtitle %>
      </div>
      
      <%= yield :fullsize %>
      
	    <div id="content-primary-wrap">
	      <div id="content-primary">
   					<%= yield :layout %>
	      </div><!-- end #content-primary -->
	    </div><!-- end #content-primary-wrap -->

      <div id="content-secondary">

		   <%= yield :sidebar %>

	   </div><!-- end #content-secondary -->
	</div><!-- end #content-layout -->

</div><!-- end #content -->
<div class="clear"></div>
	
</div><!-- end #wrapper -->

<%= render :partial => "/shared/footer" %>
<% if session[:signup_recent] == true -%>		
<!-- Google Code for Registered Conversion Page --> <script language="JavaScript" type="text/javascript"> <!-- var google_conversion_id = 1048548952; var google_conversion_language = "zh_CN"; var google_conversion_format = "3"; var google_conversion_color = "ffffff"; var google_conversion_label = "Up9ZCJb7jwEQ2Kz-8wM"; //--> </script> <script language="JavaScript" src="http://www.googleadservices.com/pagead/conversion.js"> </script> <noscript> <img height="1" width="1" border="0" src="http://www.googleadservices.com/pagead/conversion/1048548952/?label=Up9ZCJb7jwEQ2Kz-8wM&amp;guid=ON&amp;script=0"/> </noscript>
<% session[:signup_recent] = nil %>
<% end -%>
</body>
</html>