<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"  xml:lang="utf-8">
  <head>
    <title><%= @page_title.to_s + " - 多背一公斤" %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <%= stylesheet_link_tag "core", "calendar","temp", :cache => "all.cache" %>
    <%= javascript_include_tag 'jquery', 'jrails', 'jquery-ui', 'calendar.js', 'application.js', "search", :cache => 'all.cache' %>
    <%= yield :heads %>
  </head>
  <body>
    <div id="header">
      <div class="wrapper">
        <%= link_to image_tag('/images/logo-1kg-org.gif'),root_path,:id => 'logo'%>
        <div id="nav">
          <ul>
            <li><%= link_to "首页", root_path %></li>
            <li><%= link_to "学校", schools_path %></li>
            <li><%= link_to "活动", activities_path %></li>
            <li><%= link_to "小组", groups_path %></li>
            <li><%= link_to "盒子", boxes_path %></li>
            <li><a href="/misc/community-guide" target="_blank">帮助</a></li>
          </ul>
          <div style="float:right">
          <% if logged_in? -%>
            欢迎，<%= link_to current_user.login, user_path(current_user) %> | 
            <%= link_to("站内信(#{current_user.unread_messages.size})", messages_path)  %> | 
            <%= link_to "帐号设置", setting_url %> | 
            <%= link_to "退出", logout_path %> 
          <% else -%>
            <%= link_to "登录", login_path  %> | <%= link_to "注册", signup_path %>
          <% end -%>
          </div>
        </div>
      </div>
    </div>
    
    <div id="content">
      <div class="wrapper">
        <%= yield :fullsize %>
        <table>
          <tr>
            <td id="main">
            <% if flash[:msg] -%>
              <div id="msg_flash"><%= raw flash[:msg]%></div>
            <% end -%>
            <% if flash[:dialog] -%>
              <div id="dialog_flash"><%= raw flash[:dialog] %></div>
            <% end -%>
            <% if flash[:error] -%>
              <p class="error"><%= flash[:error] %></p>
            <% end -%>
              <%= yield %>
            </td>
            <td id="sidebar">
              <%= yield :sidebar %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <div id="footer">
      <div class="wrapper">
        <br/>
        © 2004-2011&nbsp;<a href="/about">关于</a> - <a href="/report">媒体报道</a> - <a href="/terms">免责声明</a>&nbsp;- <a href="http://www.tudou.com/home/1kgmore" target="_blank">视频</a> - <a href="http://1kg.blogbus.com/" target="_blank">博客</a> - &nbsp;[<a href="http://www.miibeian.gov.cn" target="_blank">京ICP备09055637号</a>]
      </div>
    </div>
  </body>
  <%= yield :tail %>
</html>
